<template>
  <v-layout justify-center>
      <v-form 
              ref="form"
              v-model="valid"
              lazy-validation>
        <v-card>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4 offset-md1>
                  <v-text-field label="Tên dịch vụ" 
                                v-model='form.name'
                                :rules="nameRules"
                                name='name'
                                v-validate="'required'"
                                :counter="30">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                  <v-text-field label="Mã dịch vụ"
                                v-model='form.code'
                                :rules="[v => !!v || 'Item is required']"
                                name='address'
                                v-validate="'required'"
                                type="text"
                                required>
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                  <v-autocomplete
                    v-model='form.category_id'
                    label="Loại dịch vụ"
                    :items="listCategory"
                    item-text="name"
                    item-value="id"
                    :rules="[v => !!v || 'Item is required']"
                    name='category_id'
                    v-validate="'required'"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                  <v-text-field label="Giá nhập" 
                                name='cost_price'
                                v-model='form.cost_price'
                                :rules="[v => !!v || 'Item is required']"
                                v-validate="'required'"
                                type="text">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                  <v-text-field
                                label="Giá bán"
                                v-model='form.sale_price'
                                :rules="[v => !!v || 'Item is required']"
                                v-validate="'required'"
                                type="text"
                                name='sale_price'

                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                  <v-text-field label="Giá giảm" 
                                v-model='form.minus_price'
                                :rules="[v => !!v || 'Item is required']"
                                v-validate="'required'"
                                name='minus_price'
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                  <v-textarea
                      name="input-7-1"
                      label="Mô tả"
                      :rules="[v => !!v || 'Item is required']"
                      v-validate="'required'"
                      hint="Hint text"
                      v-model='form.description'
                    ></v-textarea>
                </v-flex>
              </v-layout>
            </v-container>
            <!-- <small>*indicates required field</small> -->
          </v-card-text>
            <v-layout justify-center>
              <v-flex xs6 class="text-xs-right">
                  <v-btn
                    color="success"
                    small
                    @click="update">
                    Cập nhật
                  </v-btn>
              </v-flex>
              <v-flex xs6>
                  <v-btn 
                    color="error"
                    small
                    @click="back">
                    Hủy bỏ
                  </v-btn>
              </v-flex>
            </v-layout>
        </v-card>
      </v-form>
  </v-layout>
</template>
<script>
  import { mapGetters,mapActions } from 'vuex'
  export default {
    data: () => ({
      valid: true,
      nameRules: [
      v => !!v || 'Name is required',
        // v => v.length > 10 || 'Name must be less than 10 characters',
        ],
        emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
        menu1: false,
        menu2: false,
        form:{
          name:'',
          code:'',
          category_id:'',
          cost_price:'',
          sale_price:'',
          minus_price:'',
          description:'',
        },
      }),
    computed: {
      ...mapGetters(['listCategory']),
    },
    methods: {
      ...mapActions(['updateService','getListCategory','getService']),
      update () {
        this.$validator.validateAll().then((result) => {
          if (!result) {
            this.$warning();
          } else {
            this.updateService(this.form).then(response => {
                this.$success();
            }).catch(error => {
                this.$error('Dữ liệu thêm mới không hợp lệ!');
            })
          }
        });

        if (this.$refs.form.validate()) {
           this.snackbar = true
          // this.$warning();
        }
        // this.$validator.validateAll();
        
      },
      back(){
        this.$router.push('/services');
      },
      getList(){
        this.getService(this.$route.params.id).then(response => {
          this.form = response.data.success;
        }).catch(error => {
            this.$error('Dữ liệu thêm mới không hợp lệ!');
        })
      }
    },
    created(){
      this.getListCategory();
      this.getList();
    }
  }
</script>