<template>
    <div class="list-table">
        <v-container grid-list-xl fluid pa-0>
            <v-layout row wrap>
                <v-flex lg12>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click.stop="$set(dialogNote,1, true)"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Thêm gói lẻ</span>
                            </v-tooltip>

                            <div class="text-center">
                                <v-dialog persistent v-model="dialogNote[1]"
                                          width="1000">
                                    <template>
                                        <v-layout justify-center>
                                            <v-form
                                                    ref="form"
                                                    v-model="valid"
                                                    lazy-validation>
                                                <v-card>
                                                    <v-card-text>
                                                        <v-container grid-list-md>
                                                            <v-layout wrap>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-text-field label="Tên dịch vụ"
                                                                                  v-model='form.name'
                                                                                  :rules="[v => !!v || 'Nhập tên dịch vụ']"
                                                                                  name='name'
                                                                                  v-validate="'required'"
                                                                                  :counter="30">
                                                                    </v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-text-field label="Mã dịch vụ"
                                                                                  v-model='form.code'
                                                                                  :rules="[v => !!v || 'Nhập mã dịch vụ']"
                                                                                  name='address'
                                                                                  v-validate="'required'"
                                                                                  type="text"
                                                                                  required>
                                                                    </v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-autocomplete
                                                                            v-model='form.category_id'
                                                                            label="Loại gói lẻ"
                                                                            :items="listCategory"
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :rules="[v => !!v || 'Nhập loại gói lẻ']"
                                                                            name='category_id'
                                                                            v-validate="'required'"
                                                                    ></v-autocomplete>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-text-field label="Giá nhập"
                                                                                  name='cost_price'
                                                                                  v-model='form.cost_price'
                                                                                  :rules="[v => !!v || 'Nhập vào giá nhập']"
                                                                                  v-validate="'required'"
                                                                                  type="number">
                                                                    </v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-text-field
                                                                            label="Giá bán"
                                                                            v-model='form.sale_price'
                                                                            :rules="[v => !!v || 'Nhập giá bán']"
                                                                            v-validate="'required'"
                                                                            name='sale_price'
                                                                            type="number"

                                                                    ></v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-text-field label="Giá giảm"
                                                                                  v-model='form.minus_price'
                                                                                  :rules="[v => !!v || 'Nhập giá giảm']"
                                                                                  v-validate="'required'"
                                                                                  name='minus_price'
                                                                                  type="number"
                                                                    ></v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-textarea
                                                                            name="input-7-1"
                                                                            label="Mô tả"
                                                                            hint="Hint text"
                                                                            v-model='form.description'
                                                                    ></v-textarea>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-autocomplete
                                                                            v-model='form.department_id'
                                                                            label="Phòng ban"
                                                                            :items="department"
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :rules="[v => !!v || 'Nhập phòng ban']"
                                                                            name='department'
                                                                            v-validate="'required'"
                                                                    ></v-autocomplete>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-container>
                                                    </v-card-text>
                                                    <v-divider></v-divider>
                                                    <v-layout class="pb-1" justify-center>
                                                        <v-flex xs6 class="text-xs-right">
                                                            <v-btn
                                                                    color="success"
                                                                    small
                                                                    @click="create">
                                                                Thêm mới
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-flex xs6>
                                                            <v-btn
                                                                    color="error"
                                                                    small
                                                                    @click="$set(dialogNote, 1, false)">
                                                                Hủy bỏ
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-card>
                                            </v-form>
                                        </v-layout>
                                    </template>
                                </v-dialog>
                            </div>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click.stop="dialogs=true"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Thêm loại gói lẻ</span>
                            </v-tooltip>
                            <div class="text-center">
                                <v-dialog persistent v-model="dialogs"
                                          width="500">
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation>
                                        <v-card>
                                            <plain-table
                                                    :check='dialogs'
                                                    @submitSuccess="submitSuccess"
                                                    @callback='dialogs = $event'
                                                    @recheck='dialogs = $event'
                                            >
                                            </plain-table>
                                        </v-card>
                                    </v-form>
                                </v-dialog>
                            </div>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <div class="table_parent ">
                                <v-flex>
                                    <v-data-table
                                            :headers="complex.headers"
                                            :items="complex.items"
                                            hide-default-footer
                                            hide-actions
                                    >
                                    </v-data-table>
                                    <v-divider></v-divider>
                                    <v-expansion-panel class="v-expansion">
                                        <v-expansion-panel-content class="v-expansion"
                                                                   v-for='(e,k) in complex.items '
                                        >
                                            <template v-slot:header class="v-expansion md12">
                                                <v-flex class="pa-0 md12 float-md-left text-center">
                                                    <v-layout>
                                                        <v-flex class=" md2 float-md-left titlea text-md-left pb-2 pt-3  ml-5">
                                                            {{ e.name }}
                                                        </v-flex>
                                                        <v-flex class=" md2 float-md-left titlea"></v-flex>
                                                        <v-flex class=" md2 float-md-left titlea text-md-right red_color pb-0 pt-4 pr-4 mr-1">
                                                            {{ e.total | formatPrice }}
                                                        </v-flex>
                                                        <v-flex class=" md2  float-md-left titlea text-md-right red_color pb-0 pt-4 pr-3 mr-1">
                                                            {{ e.totalSale | formatPrice }}
                                                        </v-flex>
                                                        <v-flex class=" md2 float-md-left titlea  text-md-right red_color ml-5 pt-4 pr-0">
                                                            {{ e.totalMinus | formatPrice }}
                                                        </v-flex>
                                                        <v-flex class="md2 pr-4 float-md-left text-md-right mr-2">

                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn class="ma-0" title="" flat icon
                                                                           @click.stop="$set(dialogN, e.id, true,viewCategory(e.id))"
                                                                           color="grey" v-on="on">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Sửa gói combo</span>
                                                                <v-dialog persistent class="d-none"
                                                                          v-model="dialogN[e.id]"
                                                                          lazy max-width="600" height="800px" :key="1">
                                                                    <v-card>
                                                                        <v-container grid-list-md>
                                                                            <v-flex md10 offset-md1 xs12>
                                                                                <v-form
                                                                                        ref="data1"
                                                                                        v-model="valid">
                                                                                    <v-card-text>
                                                                                        <v-layout wrap>
                                                                                            <v-flex xs12 sm6 offset-md1
                                                                                                    md12>
                                                                                                <v-text-field
                                                                                                        v-model='data1.name'
                                                                                                        name='name'
                                                                                                        :counter="30"
                                                                                                        :rules="[v => !!v || 'Nhập tên loại gói lẻ']"
                                                                                                        label="Tên danh mục combo"
                                                                                                        required>
                                                                                                </v-text-field>
                                                                                            </v-flex>
                                                                                            <v-flex xs12 sm6 offset-md1
                                                                                                    md12>
                                                                                                <v-textarea
                                                                                                        name="description"
                                                                                                        v-model='data1.description'
                                                                                                        label="Mô tả loại gói lẻ"
                                                                                                        value=""
                                                                                                        hint="Hint text">
                                                                                                </v-textarea>
                                                                                            </v-flex>

                                                                                        </v-layout>
                                                                                    </v-card-text>
                                                                                    <br>
                                                                                    <v-divider></v-divider>
                                                                                    <v-layout class="mt-3"
                                                                                              justify-center>
                                                                                        <v-flex xs6
                                                                                                class="text-xs-right">
                                                                                            <v-btn small
                                                                                                   color="success"
                                                                                                   @click="updateCa(data1.id)"
                                                                                            >
                                                                                                Update
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                        <v-flex xs6>
                                                                                            <v-btn small
                                                                                                   color="error"
                                                                                                   @click.stop="$set(dialogN, e.id, false)">
                                                                                                Hủy bỏ
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                    </v-layout>
                                                                                </v-form>
                                                                            </v-flex>
                                                                        </v-container>
                                                                    </v-card>
                                                                </v-dialog>
                                                            </v-tooltip>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn class="ma-0" title="" flat icon
                                                                           @click.stop="deleteSup( e.id )"
                                                                           color="grey" v-on="on">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Xóa gói combo</span>
                                                            </v-tooltip>

                                                        </v-flex>
                                                    </v-layout>

                                                </v-flex>
                                            </template>
                                            <v-card>
                                                <v-card-text class="pt-0">
                                                    <v-divider></v-divider>
                                                    <v-flex md12 class=" pa-0 md12 float-md-left text-center"
                                                            v-for='(c,i) in e.services'>
                                                        <v-divider></v-divider>
                                                        <v-layout>
                                                            <v-flex class="float-md-left pl-5 pt-3 md2 xs2"
                                                                    style="text-align: left;"> {{ c.name }}
                                                            </v-flex>
                                                            <v-flex class="float-md-left pt-3 md2 xs2 ">{{ c.code }}
                                                            </v-flex>
                                                            <v-flex class="float-md-left  text-xs-right  red_color pt-3 pr-5 md2 xs2">
                                                                {{ c.cost_price | formatPrice }}
                                                            </v-flex>
                                                            <v-flex class="float-md-left  red_color text-xs-right pt-3 pr-5 md2 xs2">
                                                                {{ c.sale_price | formatPrice }}
                                                            </v-flex>
                                                            <v-flex class="float-md-left red_color text-xs-right pt-3 pr-0 md2 xs2">
                                                                {{ c.minus_price | formatPrice }}
                                                            </v-flex>
                                                            <v-flex class="float-md-left pl-4  md2 xs2">
                                                                <v-tooltip bottom>
                                                                    <template v-slot:activator="{ on }">
                                                                        <v-btn class="ma-0" title="" flat icon
                                                                               @click.stop="$set(dialogNo, c.id, true,view(c.id))"
                                                                               color="grey" v-on="on">
                                                                            <i class="fa fa-pencil"
                                                                               aria-hidden="true"></i>
                                                                        </v-btn>
                                                                    </template>
                                                                    <span>Sửa gói loại combo</span>
                                                                </v-tooltip>

                                                                <div class="text-center d-none">
                                                                    <v-dialog persistent v-model="dialogNo[c.id]"
                                                                              width="1000">
                                                                        <template>
                                                                            <v-layout justify-center>
                                                                                <v-form
                                                                                        ref="data"
                                                                                        v-model="valid"
                                                                                        lazy-validation>
                                                                                    <v-card>
                                                                                        <v-card-text>
                                                                                            <v-container grid-list-md>
                                                                                                <v-layout wrap>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md1>
                                                                                                        <v-text-field
                                                                                                                label="Tên dịch vụ"
                                                                                                                v-model='data.name'
                                                                                                                :rules="[v => !!v || 'Nhập tên dịch vụ']"
                                                                                                                name='name'
                                                                                                                v-validate="'required'"
                                                                                                                :counter="30">
                                                                                                        </v-text-field>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md2>
                                                                                                        <v-text-field
                                                                                                                label="Mã dịch vụ"
                                                                                                                v-model='data.code'
                                                                                                                :rules="[v => !!v || 'Nhập mã dịch vụ']"
                                                                                                                name='address'
                                                                                                                v-validate="'required'"
                                                                                                                type="text"
                                                                                                                required>
                                                                                                        </v-text-field>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md1>
                                                                                                        <v-autocomplete
                                                                                                                v-model='data.category_id'
                                                                                                                label="Loại gói lẻ"
                                                                                                                :items="listCategory"
                                                                                                                item-text="name"
                                                                                                                item-value="id"
                                                                                                                :rules="[v => !!v || 'Nhập loại gói lẻ']"
                                                                                                                name='category_id'
                                                                                                                v-validate="'required'"
                                                                                                        ></v-autocomplete>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md2>
                                                                                                        <v-text-field
                                                                                                                label="Giá nhập"
                                                                                                                name='cost_price'
                                                                                                                v-model='data.cost_price'
                                                                                                                :rules="[v => !!v || 'Nhập vào giá nhập']"
                                                                                                                v-validate="'required'"
                                                                                                                type="number">
                                                                                                        </v-text-field>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md1>
                                                                                                        <v-text-field
                                                                                                                label="Giá bán"
                                                                                                                v-model='data.sale_price'
                                                                                                                :rules="[v => !!v || 'Nhập giá bán']"
                                                                                                                v-validate="'required'"
                                                                                                                name='sale_price'
                                                                                                                type="number"

                                                                                                        ></v-text-field>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md2>
                                                                                                        <v-text-field
                                                                                                                label="Giá giảm"
                                                                                                                v-model='data.minus_price'
                                                                                                                :rules="[v => !!v || 'Nhập giá giảm']"
                                                                                                                v-validate="'required'"
                                                                                                                name='minus_price'
                                                                                                                type="number"
                                                                                                        ></v-text-field>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md1>
                                                                                                        <v-autocomplete
                                                                                                                v-model='data.department_id'
                                                                                                                label="Phòng ban"
                                                                                                                :items="department"
                                                                                                                item-text="name"
                                                                                                                item-value="id"
                                                                                                                :rules="[v => !!v || 'Nhập phòng ban']"
                                                                                                                name='department_id'
                                                                                                                v-validate="'required'"
                                                                                                        ></v-autocomplete>
                                                                                                    </v-flex>
                                                                                                    <v-flex xs12 sm6 md4
                                                                                                            offset-md2>
                                                                                                        <v-text-field
                                                                                                                label="Mô tả"
                                                                                                                v-model='data.description'
                                                                                                                name='minus_price'
                                                                                                                type="text"
                                                                                                        ></v-text-field>
                                                                                                    </v-flex>
                                                                                                </v-layout>
                                                                                            </v-container>
                                                                                        </v-card-text>
                                                                                        <v-divider></v-divider>
                                                                                        <v-layout class="pb-1"
                                                                                                  justify-center>
                                                                                            <v-flex xs6
                                                                                                    class="text-xs-right">
                                                                                                <v-btn
                                                                                                        color="success"
                                                                                                        small
                                                                                                        @click="update(data.id)">
                                                                                                    Update
                                                                                                </v-btn>
                                                                                            </v-flex>
                                                                                            <v-flex xs6>
                                                                                                <v-btn
                                                                                                        color="error"
                                                                                                        small
                                                                                                        @click="$set(dialogNo, c.id, false)">
                                                                                                    Hủy bỏ
                                                                                                </v-btn>
                                                                                            </v-flex>
                                                                                        </v-layout>
                                                                                    </v-card>
                                                                                </v-form>
                                                                            </v-layout>
                                                                        </template>
                                                                    </v-dialog>
                                                                </div>
                                                                <v-tooltip bottom>
                                                                    <template v-slot:activator="{ on }">
                                                                        <v-btn title="" class="ma-0" flat icon
                                                                               color="grey"
                                                                               @click='deleteSer(c.id)' v-on="on">
                                                                            <i class="fa fa-trash-o"
                                                                               aria-hidden="true"></i>
                                                                        </v-btn>
                                                                    </template>
                                                                    <span>Xóa gói loại combo</span>
                                                                </v-tooltip>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-card-text>
                                            </v-card>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-flex>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import Pagination from "@/views/pagination/pagination.vue";
    import PlainTable from "@/views/category/Create.vue"
    import Url from "@/api/local"


    export default {
        components: {
            Pagination,
            PlainTable
        },
        data() {
            return {
                department: [],
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                activeIndexd: 0,
                offset: 4,
                valid: true,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                dialogNote: [],
                dialogNo: [],
                dialogN: [],
                menu1: false,
                menu2: false,
                data: [],
                data1: [],
                form: {
                    name: '',
                    code: '',
                    category_id: '',
                    cost_price: '',
                    sale_price: '',
                    minus_price: '',
                    description: '',
                    department_id: ''
                },
                dialog: false,
                search: "",
                ids: [],
                dia: false,
                dialogs: false,
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Tên gói dịch vụ",
                            value: "name",
                            align: 'left',
                            sortable: false
                        },
                        {
                            text: "Mã",
                            value: "code",
                            align: 'center',
                            sortable: false
                        },
                        {
                            text: "Giá nhập vào",
                            value: "category_id",
                            align: 'right',
                            sortable: false
                        },
                        {
                            text: "Giá bán ra",
                            value: "sale_price",
                            align: 'right',
                            sortable: false
                        },
                        {
                            text: "Giá trừ khỏi Combo",
                            align: 'right',
                            value: "minus_price",
                            sortable: false
                        },
                        {
                            text: "Hành động",
                            value: "",
                            align: "left",
                            sortable: false
                        }
                    ],
                    items: []
                }
            }

        },
        computed: {
            ...mapGetters(['listCategory']),
        },
        mounted() {
            this.getLists();
        },
        methods: {
            ...mapActions(['deleteService', 'getListCategory', 'getPaginativeCategory', 'createService', 'updateService', 'getPaginativeService', 'getService', 'updateCategory', 'deleteCategory']),

            setActived(index) {
                this.activeIndexd = index
            },
            submitSuccess() {
                this.dialogs = false;
                this.getLists();
            },

            getLists() {

                this.getPaginativeCategory(0)
                    .then(response => {
                        this.complex.items = response.data.success;
                        this.complex.items.forEach(e => {
                            e.total = 0;
                            e.totalSale = 0;
                            e.totalMinus = 0;
                            e.services.forEach(k => {
                                e.total += parseFloat(k.cost_price);
                                e.totalSale += parseFloat(k.sale_price);
                                e.totalMinus += parseFloat(k.minus_price);
                            });

                        });
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },
            update(id) {

                this.getListCategory();
                this.updateService(this.data).then(response => {
                    this.$success();
                    this.$set(this.dialogNo, id, false);
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },

            create() {
                this.getListCategory();
                this.createService(this.form).then(response => {
                    this.$success();
                    this.$set(this.dialogNote, 1, false);
                    this.form = [];
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            view(id) {
                this.data = [];
                this.getListCategory();
                this.getService(id).then(response => {
                    this.data = response.data.success;
                })
                    .catch(error => {
                        return reject(error);
                    })
            },
            viewCategory(id) {
                this.data1 = [];
                var vie = Url.url + '/api/category/';
                return new Promise((resolve, reject) => {
                    axios.get(vie + id)
                        .then(response => {
                            this.data1 = response.data.success;
                        })
                        .catch(error => {
                            return reject(error);
                        })
                })
            },

            deleteSup(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa loại gói lẻ!', '')
                    .then(response => {
                        this.getListCategory();
                        this.deleteCategory(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.getLists();
                                this.data = [];
                            } else {
                                this.$error('Không xóa được!');
                                this.data = [];
                                this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            updateCa(id) {
                this.updateCategory(this.data1).then(response => {
                    this.$success();
                    this.$set(this.dialogN, id, false);
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            deleteSer(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa loại gói lẻ!', '')
                    .then(response => {
                        this.deleteService(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.getLists();
                            } else {
                                this.$error('Không xóa được!');
                                this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    })
                    .catch(error => {
                        this.$error('Xóa không thành công!');
                    })
            },
            getListsDepartment() {
                let list = Url.url + '/api/user/department';
                return new Promise((resolve, reject) => {
                    axios.get(list)
                        .then(response => {
                            this.department = response.data.success;
                        }).catch(error => {
                        this.$error('Không tải được danh sách phòng ban!');
                    })
                })
            },
        },
        created() {
            this.getListCategory();
            this.getListsDepartment();
        }
    }
</script>
<style lang="stylus" scoped>
    .v-icon {
        size: 50px;
    }

    .search {
        border-radius: 5px;
        background: #dedcdc;
        height: 40px;
        width: 90%;
    }

    .search1 {
        float: right;
    }

    .icontimkiem {
        width: 40px;
        height: 40px;
        float: left;
    }

    .timkiem {
        height: 40px;
        float: left;
        width: 75%;
    }

    .searchtimkiem {
        height: 40px;
        width: 100%;
        outline: none;
        text-align: center;
    }

    .icon1 {
        font-size: 20px;
        color: gray;
    }

    .icon2 {
        font-size: 28px;
        color: gray;
    }

    .img {
        float: left;
    }

    .nut {
        outline: none;
        width: 40px;
        height: 40px
    }

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

    .table__tree {
        border-collapse: collapse;
        width 100%;
        margin: 15px;
    }

    .table__tree td,
    .table__tree th {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .table__tree-view {
        display: block;
        text-decoration none;
    }

    .table__tree-parent > td:nth-child(1) > .table__tree-view {
        font-weight: bold;
    }

    .table__tree-parent .table__tree-view:before,
    .table__tree-parent .table__tree-view:after {
        display: none
    }

    .table__tree-child-1 > td:nth-child(1) > .table__tree-view {
        padding-left: 15px;
    }

    .table__tree-child-2 > td:nth-child(1) > .table__tree-view {
        padding-left: 30px;
    }

    .table__tree-view {
        position: relative;
    }

    .table__tree-view:before,
    .table__tree-view:after {
        content: "";
        position absolute;
        background: #ccc;
        display: none
    }

    .table__tree-view:before {
        height 100%;
        width 1px;
        top: 0;
        left: 0;
    }

    .table__tree-view:after {
        height: 1px;
        left: 0;
        top: 50%
    }

    .table__tree-child-1 .table__tree-view:after {
        width: 10px;
    }

    .table__tree-child-2 .table__tree-view:after {
        width: 25px;
    }

    .titles {
        font-size: 15px;
        font-weight: 500;
    }

    .titlea {
        font-size: 15px;
        font-weight: 500;
    }

    .v-expansion {
        padding: 0px;
    }
</style>

