<template>
  <div id="social">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg6 sm12 xs12>
          <message-list></message-list>
        </v-flex>
        <v-flex lg6 sm12 xs12>
          <notification-list></notification-list>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { getPost } from "@/api/post"
import MessageList from "@/components/widgets/list/MessageList"
import NotificationList from "@/components/widgets/list/NotificationList"
export default {
  components: {
    MessageList,
    NotificationList,
  },
  data() {
    return {}
  },
  computed: {
    posts() {
      return getPost()
    }
  },
  methods: {
    handleClick: e => {
      console.log(e)
    }
  }
}
</script>
