<template>
  <v-layout column align-center>
    <v-container grid-list-md >
      <v-flex md6 offset-md3 xs12 >
        <v-form
          ref="form"
          v-model="valid"
          :lazy-validation="lazy">
          <v-text-field
            v-model="form.name"
            :counter="30"
            name='name'
            :rules="nameRules"
            label="Vé cổng vào phim trường"
            v-validate="'required'" >
          </v-text-field>
          <v-textarea
            label="Mô tả phí phát sinh"
            v-model="form.description"
            hint="Hint text">
          </v-textarea>
          <v-layout justify-center>
            <v-flex xs6 class="text-xs-right">
              <v-btn
                small
                color="success"
                @click="create">
                Thêm mới
              </v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn 
                small
                color="error"
                @click="back">
                Hủy bỏ
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-container>
  </v-layout>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    data: () => ({
      valid: true,
      nameRules: [
      v => !!v || 'Name is required',
      v => (v && v.length >= 5) || 'Name must be less than 5 characters',
      ],
      lazy: false,
      form:{
        name: '',
        description: '',
      }
    }),

    methods: {
      ...mapActions(['createIncurred']),
      create(){
        this.$validator.validateAll().then((result) => {
          if (!result) {
            this.$warning();
          } else {
            this.createIncurred(this.form).then(response => {
                this.$success();
            }).catch(error => {
                this.$error('Dữ liệu thêm mới không hợp lệ!');
            })
          }
        });
        },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
      back(){
        this.$router.push('/incurred');
      },
      },
    }
  </script>
