<template>
    <div class="saralies-create">
        <div class="box">
            <div class="row">
            	<v-flex class="md12 float-left pb-3">
            		<v-layout>
		                <v-flex  class=" md6 float-left">
		                    <v-btn  color="#00d1b2" small  class='mb-3 pt-1' @click="isActive = !isActive"> <span style="color:white" >Nhập nhanh dữ liệu </span></v-btn>
		                </v-flex>
		                <v-flex  class=" md6 float-left ">
		                    <v-btn right small class="right pt-1" color="#00d1b2"  > <span style="color:white" >Tạo bảng lương </span></v-btn>
		                </v-flex>
	                </v-layout>
                </v-flex>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 ">
						<v-flex md6>
							<v-layout v-if='isActive'>
		                        <v-flex xs5 md5 offset-xs1  aria-close-label="Close notification"> 
					                <v-autocomplete pa-0 @change.native="onchange()"
					                   v-model='choice'
					                  label="Các thuộc tính"
					                  :items="dulieu"
					                  item-text="title"
					                  item-value="id"
					                ></v-autocomplete>
				              </v-flex>
				              <v-flex md5 ml-2 mr-2>
				              	<v-text-field v-model='moneyChoice' pa-0  label=""></v-text-field>
				              </v-flex>
				              <v-flex  md2 pt-2><v-btn color="#00d1b2"> <span style="color:white" > Nhập </span> </v-btn></v-flex>
			              </v-layout>
		                </v-flex>                
                </div>
            </div>
            <div class="table-responsive" >
                 <table class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th rowspan='2'  class='header-tb'>Nhân Viên</th>
                            <th rowspan='2'  class='header-tb'>Lương CB</th>
                            <th rowspan='2'  class='header-tb'>Lương NC</th>
                            <th rowspan='2'  class='header-tb'>Ngày Công</th>
                            <th colspan="3"  class='header-tb' >Phụ cấp</th>
                            <th rowspan='2'  class='header-tb'>(%) BH nhân viên</th>
                            <th rowspan='2'  class='header-tb'>BH doanh nghiệp</th>
                            <th rowspan='2'  class='header-tb'>(%) Dự Phòng</th>
                            <th rowspan='2'  class='header-tb'>Thưởng</th>
                            <th rowspan='2'  class='header-tb'>Phạt</th>
                            <th rowspan='2'  class='header-tb'>Tạm Ứng</th>
                            <th rowspan='2'  class='header-tb'>Thực Lĩnh</th>
                            <th rowspan='2'  class='header-tb'>Tổng Lương</th>
                        </tr>
                        <tr>
                            <th class='header-tb'>Điện thoại</th>
                            <th class='header-tb'>Nhà ở</th>
                            <th class='header-tb'>Điện nước</th>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr style="line-height: 30px" >
                            <td>
                                <div  class="text  name text-center ">
                                   Trọng
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                    00000
                                </div>
                            <td>
                                <div   class=" text widthrow   text-center is-right">
                                  4534656
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                   4664
                                </div>
                            </td>
                            <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                              <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                            
                        </tr> <tr style="line-height: 30px" >
                            <td>
                                <div  class="text  name text-center ">
                                   Trọng
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                    00000
                                </div>
                            <td>
                                <div   class=" text widthrow   text-center is-right">
                                  4534656
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                   4664
                                </div>
                            </td>
                            <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                              <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                            
                        </tr>

                         <tr style="line-height: 30px" >
                            <td>
                                <div  class="text  name text-center ">
                                   Trọng
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                    00000
                                </div>
                            <td>
                                <div   class=" text widthrow   text-center is-right">
                                  4534656
                                </div>
                            </td>
                            <td>
                                <div  class=" text widthrow  text-center is-right">
                                   4664
                                </div>
                            </td>
                            <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td> 
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                              <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                             <td>
                                <input type="text" name="" class="input">
                             </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import {Money} from 'v-money';

    const d = new Date();
    export default {
    components: {Money},       
        data() {
            return {
            	data: [],
            	choice:'',
              moneyChoice:0,
            	isActive: false,
            	dulieu: [
                    { 
                        id: 0,
                        title: 'Phụ cấp ',
                        
                    },
                    {
                        id: 1,
                        title: 'Tiền thưởng',
                    }
                ],
            	form:[
                    {
                            id: 1,
                            title: 'phụ cấp điện thoại',
                            money:0,
                    },
                    {
                            id: 2,
                            title: 'phụ cấp nhà ở',
                            money:0,
                    },
                    {
                            id: 3,
                            title: 'phụ cấp điện nước',
                            money:0,
                    },
                    {
                            id: 4,
                            title: '(%) BH nhân viên',
                            money:0,
                    },
                    {
                            id: 5,
                            title: '(%) Dự Phòng',
                            money:0,
                    },
                    {
                            id: 6,
                            title: 'Thưởng',
                            money:0,
                    },
                    {
                            id: 7,
                            title: 'Phạt',
                            money:0,
                    },
                    {
                            id: 8,
                            title: 'Tạm Ứng',
                            money:0,
                    }
                    ],
            	money: {
                    decimal: ',',
                    thousands: '.',
                    precision: 0,
                    masked: false
                },
            };

        },
        methods:{

        	create() {
                // this.$validator.validateAll().then((result) => {
                //     if (!result) {
                //         this.$warning();
                //     } else {
                //         this.data.forEach(e => {
                //             e.date = this.$route.query.date;
                //             e.driver_id = e.id;
                //         });
                //         console.log(this.data);
                //         return new Promise((resolve, reject) => {
                //             axios.post('/api/salaries/create',this.data)
                //             .then(response=> {
                //                 this.$success();
                //                     setTimeout(() => {
                //                         this.$router.push('/salaries');
                //                     }, 1000);
                //             }).catch(error => {
                //                     this.$error(error);
                //                 })
                //         })
                //     }
                // });
            },
            onchange() {
                // this.order.form.driver_id = '';
                this.form.forEach( e => {
                    if(this.choice == e.id){
                       this.moneyChoice = e.money;
                    }
                });
            },
            payroll(){

            },
        }
    }
</script>
<style scoped>
    .table-responsive{
        overflow-x: scroll;
    }
    .rtl{
        text-align: right !important;
    }
    .input{
        text-align: right !important;
        width: 150px !important;
    }
    .header-tb{
        text-align: center;
        border:1px solid #dee2e6;
        padding: 0.5rem !important;
    }
    .name{
        width: 200px !important;
    }
    .widthrow{
        width: 100px !important;
    }
    .is-right{
        text-align: right;
    }
    tr{
        background-color: white !important;
        border:1px solid white !important;
    }
    tr th,td {
        border-left:1px solid white !important;
        border-right:1px solid white !important;  
        border-top:1px solid white !important;  
        /*#f1f1f1*/
    }
    .notification{
        background-color: white;
    }
    .fix-button{
        margin-top: 32px;
        margin-left: 15px;    }
    .input{
    	border: 1px solid #ADD8E6;
    	font-size: 18px;
        }
    .text{
    	font-size: 18px;
    }
</style>