<template>
  <v-container grid-list-xl fluid pa-0>
    <v-layout ml-4 mr-4 mb-1 wrap row>
      <v-tabs
        v-model="tab"
        style="width:30%"
        grow>
        <v-tabs-slider color="red"></v-tabs-slider>
        <v-tab
          v-for="e in tabItems"
          :key="e.id"
          @click="setActive(e)">
          {{ e.name }}
        </v-tab>
      </v-tabs>
    </v-layout>
    <v-layout ml-4 mr-4 wrap row>
      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="e in tabItems"
          :key="e.id"
        >
        </v-tab-item>
      </v-tabs-items>
      <v-card flat v-if="tab==0" style="width:100%;">
        <employee-salary-view></employee-salary-view>
      </v-card>
      <v-card flat v-if="tab==1" width="100%">
        <c-t-v-salary-view></c-t-v-salary-view>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script>
    import {mapActions} from 'vuex'
    import EmployeeSalaryView from "@/views/salary/list/Employee.vue";
    import CTVSalaryView from "@/views/salary/list/CTV.vue";

    import Url from "@/api/local"
    export default {
      components: {
        EmployeeSalaryView,
        CTVSalaryView,
      },
        data() {
            return {
              tab: null,
              tabItems: [
                {id: 1, name: 'Bảng lương'},
                {id: 2, name: 'Bảng kê'},
                ],
            };
        },
        methods: {
          setActive(e) {

          },
        },
        created() {
        },
    }

</script>
<style lang="stylus" scoped>
     
     .v-picker.v-card.v-picker--date.theme--light{ width: 100%; }
     .v-picker__body.theme--light{width: 100% !important }
     .v-date-picker-table.v-date-picker-table--month.theme--light{width: 100%;}
</style>