<template>
  <v-card class="lg12">
    <div>
      <v-data-table :headers="header" :items="items">
        <template v-slot:items="props">
          <tr @click="selectConfig(props.item)" :class="[currentConfig.id && props.item.id==currentConfig.id ? 'active' : '']">
            <td>{{ props.item.excu_date }}</td>
            <td>{{ props.item.basic_salary | formatPrice }}</td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.sale_seasonal">
                <v-flex class="left" md4 pa-0>Tháng {{cb.from }} - {{cb.to }}</v-flex>
                <v-flex class="left" md5 ml-4 pa-0>KPI: {{cb.total | formatPrice}}</v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.percentage_of_sales">
                <v-flex class="left" md6 pa-0>Từ {{cb.from | formatPrice}} - {{cb.to | formatPrice}}</v-flex>
                <v-flex class="left" md5 ml-4 pa-0>Hoa hồng: {{cb.total}}%</v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.takecare">
                <v-flex class="left" md6 pa-0>Từ {{cb.from | formatPrice}} - {{cb.to | formatPrice}}</v-flex>
                <v-flex class="left" md5 ml-4 pa-0>Thưởng: {{cb.total | formatPrice}}</v-flex>
              </div>
            </td>
            <td>
              <v-btn class="float-left ma-0" flat icon color="grey" @click="editConfig(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>
<script>
import {mapActions} from 'vuex'

export default {
    props: ['currentUser'],
    data() {
        return {
            header: [
                {
                    text: "Ngày hiệu lực",
                    value: "date",
                    sortable: false
                },
                {
                    text: "Lương cơ bản",
                    value: "status",
                    sortable: false
                },

                {
                    text: "Gói chụp",
                    value: "status",
                    sortable: false
                },
                {
                    text: "Gói lẻ",
                    value: "status",
                    sortable: false
                }
            ],
            items: [],
            total: 0,
            count: 0
        }
    },
    watch: {
      currentUser(newVal, oldVal) {
        this.getListConfig(this.currentConfig.user_id);
      }
    },
    methods: {
      ...mapActions(['getConfigSalaryOfUser']),
      getListConfig(userId) {
        this.items = [];
        if(userId){
          this.getConfigSalaryOfUser(userId)
            .then(response => {
              this.items = response.data.success.data;
              if(this.items.length>0)
                this.currentConfig=this.items[0];
            }).catch(error => {
            this.$error('Dữ liệu gặp sự cố!');
          })
        }else{
          this.items = [];
        }
      },
      selectConfig(config, e) {
        this.currentConfig = config;
      },
      editConfig(config, e){
        this.currentConfig = config;
        this.$emit('salaryConfigSelected', this.currentConfig);
      }
    }
}
</script>