<template>
  <v-card class="lg12 float-md-left">
    <div class="float-left">

      <v-data-table :headers="headers" :items="items">
        <template slot="headers"
                  slot-scope="props">
          <template v-for="(headers, i) in [processTableHeaders(props.headers)]">
            <tr :key="i">
              <th v-for="header in headers.parents"
                  :key="header.value"
                  :rowspan="header.rowspan"
                  :colspan="header.colspan"
                  :width="header.width"
                  :class="header.align ? `text-xs-${header.align}` : ''">
                {{ header.text }}
              </th>
            </tr>
            <tr v-if="headers.children"
                :key="i">
              <th v-for="header in headers.children"
                  :key="header.value"
                  :width="header.width"
                  :class="header.align ? `text-xs-${header.align}` : ''">
                {{ header.text }}
              </th>
            </tr>
          </template>
        </template>
        <template v-slot:items="props">
          <tr @click="selectConfig(props.item)" :class="[currentConfig.id && props.item.id==currentConfig.id ? 'active' : '']">
            <td>{{ props.item.excu_date }}</td>
            <td>{{ props.item.basic_salary | formatPrice }}đ</td>
            <template v-for="(cb,k) in props.item.sale_seasonal">
              <td>{{cb.total | formatPrice }}đ</td>
            </template>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.percentage_of_sales">
                <v-flex class="left" md6 pa-0>{{cb.from | formatPrice}}đ </v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.percentage_of_sales">
                <v-flex class="left" md6 pa-0>{{cb.to | formatPrice}}đ </v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.percentage_of_sales">
                <v-flex class="left" md6 pa-0>{{cb.total | formatPrice}}% </v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.takecare">
                <v-flex class="left" md6 pa-0>{{cb.from | formatPrice}}đ</v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.takecare">
                <v-flex class="left" md6 pa-0>{{cb.to | formatPrice}}đ</v-flex>
              </div>
            </td>
            <td>
              <div class="left" :key="k" v-for="(cb,k) in props.item.takecare">
                <v-flex class="left" md6 pa-0>{{cb.total | formatPrice}}đ</v-flex>
              </div>
            </td>

            <td>
              <v-btn class="float-left ma-0" flat icon color="grey" @click="editConfig(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>
<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['currentUser','needRefreshListConfig'],
    data() {
      return {
        currentConfig:{},
        headers: [
          {
            text:'Ngày hiệu lực',
            class:'config_salary_header'
          },
          {
            text:'Lương cơ bản',
            class:'config_salary_header'
          },
          {
            text: 'KPI Doanh số',
            sortable: false,
            class:'config_salary_header',
            children: [
              {
                text: 'Thấp điểm',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              },
              {
                text: 'Cao điểm',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              }
            ]
          },
          {
            text: 'Hoa hồng',
            sortable: false,
            children: [
              {
                text: 'Từ',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              },
              {
                text: 'Đến',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left'
              }
              ,
              {
                text: '% Thưởng',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              }
            ]
          },
          {
            text: 'Take',
            sortable: false,
            children: [
              {
                text: 'Từ',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              },
              {
                text: 'Đến',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              }
              ,
              {
                text: '% Thưởng',
                format: (v) => v && Number(v).toFixed(2),
                align: 'left',
                class:'config_salary_header'
              }
            ]
          },
        ],
        items: [],
        total: 0,
        count: 0,
      };
    },
    watch: {
      currentUser: {
        handler: function(newVal, oldVal) {
          this.getListConfig(newVal.id);
        },
        deep: true
      },
      needRefreshListConfig:{
        handler: function(newVal, oldVal) {
          this.getListConfig(this.currentConfig.user_id);
        },
        deep: true
      }
    },
    methods: {
      ...mapActions(['getConfigSalaryOfUser']),
      getListConfig(userId) {
        this.items = [];
        if(userId){
          this.getConfigSalaryOfUser(userId)
            .then(response => {
              this.items = response.data.success.data;
              if(this.items.length>0)
                this.currentConfig=this.items[0];
            }).catch(error => {
            this.$error('Dữ liệu gặp sự cố!');
          })
        }else{
          this.items = [];
        }
      },
      selectConfig(config, e) {
        this.currentConfig = config;
      },
      editConfig(config, e){
        this.currentConfig = config;
        this.$emit('salaryConfigSelected', this.currentConfig);
      },
      processTableHeaders(headers) {
        const nested = !!headers.some(h => h.children)

        if (nested) {
          let children = []

          const h = headers.map(h => {
            if (h.children && h.children.length > 0) {
              children.push(...h.children)

              return {
                rowspan: 1,
                colspan: h.children.length,
                text: h.text,
                align: h.align
              }
            }
            return {
              rowspan: 2,
              colspan: 1,
              text: h.text,
              align: h.align
            }
          })

          return {
            children: children,
            parents: h
          }
        }
        return {
          parents: headers
        }
      }
    },
  }
</script>