<template>
  <v-card class="lg12">
    <div>
      <v-data-table :headers="header" :items="items">
        <template v-slot:items="props">
          <tr :class="[currentConfig.id && props.item.id==currentConfig.id ? 'active' : '']">
            <td>{{ props.item.excu_date }}</td>
            <td>{{ props.item.basic_salary | formatPrice }}</td>
            <td style="width: 30%">
                <div v-for="(value, k) in props.item.combo" :key="k" v-if="props.item.combo && props.item.combo.length > 0">
                    <span>{{value.name}}: {{value.total}}</span>
                </div>
            </td>
            <td style="width: 30%">
                <div v-for="(value, k) in props.item.service" :key="k" v-if="props.item.service && props.item.service.length > 0">
                    <span>{{value.name}}: {{value.total}}</span>
                </div>
            </td>
            <td>
              <v-btn class="float-left ma-0" flat icon color="grey" @click="editConfig(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>
<script>
import {mapActions} from 'vuex'

export default {
    props: ['currentUser', 'needRefreshListConfig'],
    data() {
        return {
            header: [
                {
                    text: "Ngày hiệu lực",
                    value: "date",
                    sortable: false
                },
                {
                    text: "Lương cơ bản",
                    value: "status",
                    sortable: false
                },

                {
                    text: "Gói chụp",
                    value: "status",
                    sortable: false
                },
                {
                    text: "Gói lẻ",
                    value: "status",
                    sortable: false
                }
            ],
            items: [],
            total: 0,
            count: 0,
            currentConfig: null
        }
    },
    watch: {
      currentUser(newVal, oldVal) {
        this.getListConfig(this.currentUser.id);
      },
      needRefreshListConfig(newVal, oldVal) {
          this.getListConfig(this.currentUser.id);
      }
    },
    methods: {
      ...mapActions(['getConfigSalaryOfUser']),
      getListConfig(userId) {
        this.items = [];
        if(userId){
          this.getConfigSalaryOfUser(userId)
            .then(response => {
              this.items = response.data.success.data;
                this.currentConfig=this.items[0];
            }).catch(error => {
            this.$error('Dữ liệu gặp sự cố!');
          })
        } else {
          this.items = [];
        }
      },
      editConfig(config){
        this.currentConfig = config;
        this.$emit('userEdit', {data: config, timeStamp: new Date()});
      }
    }
}
</script>