<template>
    <v-card class="ml-4 mr-4">
        <v-toolbar card dense color="transparent">
            <v-spacer></v-spacer>
            <v-btn flat icon @click.stop="$set(dialogNote,1, true)" v-if='!selected.length'>
                <i title="Tạo mới tài khoản" class=" icon2 fa fa-plus-circle" aria-hidden="true"></i>
            </v-btn>
            <v-dialog persistent scrollable v-model="dialogNote[1]" width="1200">
                <template v-slot:activator="{ on }"></template>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-card>
                         <v-card-text>
                              <v-layout wrap mb-4>
                                <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-autocomplete
                                                v-model='form.department_id'
                                                label="Cộng tác viên "
                                                :items="department"
                                                item-text="name"
                                                item-value="id"
                                                :rules="[v => !!v || 'Nhập cộng tác viên']"
                                                name='department'
                                                v-validate="'required'"
                                        ></v-autocomplete>
                                    </v-flex>
                                     <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-autocomplete
                                                v-model='form.department_id'
                                                label="Gói sản phẩm combo"
                                                :items="department"
                                                item-text="name"
                                                item-value="id"
                                                :rules="[v => !!v || 'Nhập cộng tác viên']"
                                                name='department'
                                                v-validate="'required'"
                                        ></v-autocomplete>
                                    </v-flex>
                                     <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-autocomplete
                                                v-model='form.department_id'
                                                label="Kiểu nhân viên"
                                                :items="type"
                                                item-text="name"
                                                item-value="id"
                                                :rules="[v => !!v || 'Nhập cộng tác viên']"
                                                name='type'
                                                v-validate="'required'"
                                        ></v-autocomplete>
                                    </v-flex>

                                    <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-autocomplete
                                                v-model='form.department_id'
                                                label="Gói dịch vụ"
                                                :items="department"
                                                item-text="name"
                                                item-value="id"
                                                :rules="[v => !!v || 'Nhập gói dịch vụ']"
                                                name='department'
                                                v-validate="'required'"
                                        ></v-autocomplete>
                                    </v-flex>
                              </v-layout>
                     
                      
                            <v-layout wrap mb-4>
                                  <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                    <v-text-field label="giá nhân công đi tỉnh cả ngày"
                                                  v-model='form.email'
                                                  :rules="emailRules"
                                                  name='emailRules'
                                                  type="email"
                                                  v-validate="'required'">
                                    </v-text-field>
                                </v-flex>
                                  </v-flex>
                                    <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-text-field label="Lương cơ bản"
                                                    v-model='form.email'
                                                    :rules="emailRules"
                                                    name='emailRules'
                                                    type="email"
                                                    v-validate="'required'">
                                        </v-text-field>
                                </v-flex> 
                                  </v-flex>
                                    <v-flex xs12 sm6 md5 ml-5 offset-md1>
                                        <v-text-field label="Ngày áp dụng"
                                                    v-model='form.email'
                                                    :rules="emailRules"
                                                    name='emailRules'
                                                    type="email"
                                                    v-validate="'required'">
                                        </v-text-field>
                                </v-flex>

                                 <v-flex xs12 sm6 md5 offset-md1 float-left>
                                     <label>Doanh số tính hoa hồng cho nhân viên sale</label>
                                    <div class="left" :key="k" v-for="(cb,k) in percentage_of_sales_input">
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="Từ"
                                                          v-model.lazy='cb.from'
                                                          v-money="cb.from != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="Đến"
                                                          v-model.lazy='cb.to'
                                                          v-money="cb.to != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md4 pa-1 float-left>
                                            <v-text-field label="Tiền thưởng"
                                                          v-model.lazy='cb.total'
                                                          v-money="cb.total != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md2 pa-1 float-left>
                                            <v-btn flat icon @click="addRowCombo(0)" v-if="k==0">
                                                <i class=" icon2 fa fa-plus-circle" aria-hidden="true"> </i>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex class="left" md2 pt-1 float-left>
                                            <v-btn flat icon @click="popDelete(k)" v-if="k!=0">
                                                <v-icon dark class=" icon2">remove_circle</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </div>
                                </v-flex>   

                                   
                                 <v-flex xs12 sm6 md5 offset-md1 float-left>
                                     <label>Doanh số tính thưởng hợp đồng cho nhân viên sale:</label>
                                    <div class="left" :key="k" v-for="(cb,k) in takecare">
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="Từ"
                                                          v-model.lazy='cb.from'
                                                          v-money="cb.from != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="Đến"
                                                          v-model.lazy='cb.to'
                                                          v-money="cb.to != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md4 pa-1 float-left>
                                            <v-text-field label="Tiền thưởng"
                                                          v-model.lazy='cb.total'
                                                          v-money="cb.total != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md2 pa-1 float-left>
                                            <v-btn flat icon @click="addRowCombo_takecare(0)" v-if="k==0">
                                                <i class=" icon2 fa fa-plus-circle" aria-hidden="true"> </i>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex class="left" md2 pt-1 float-left>
                                            <v-btn flat icon @click="popDelete_takecare(k)" v-if="k!=0">
                                                <v-icon dark class=" icon2">remove_circle</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </div>
                                </v-flex> 

                                  <v-flex xs12 sm6 md5 offset-md1 float-left>
                                    <label>Doanh số tối thiểu theo mùa cho nhân viên sale</label>
                                    <div class="left" :key="k" v-for="(cb,k) in sale_seasonal">
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="hight"
                                                          v-model.lazy='cb.hight'
                                                          v-money="cb.hight != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="left" md3 pa-1 float-left>
                                            <v-text-field label="low"
                                                          v-model.lazy='cb.low'
                                                          v-money="cb.low != '' ? money : ''"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                    </div>
                                </v-flex>                

                            </v-layout>
                           
                            
                        </v-card-text>
                       
                       
                        <v-layout class="py-3" justify-center>
                            <v-flex xs6 class="text-xs-right">
                                <v-btn color="success"
                                       small
                                       @click="create">
                                    Thêm mới
                                </v-btn>
                            </v-flex>
                            <v-flex xs6>
                                <v-btn color="error"
                                       small
                                       @click="$set(dialogNote, 1, false)">
                                    Hủy bỏ
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="pa-0">
            <template>
                <v-data-table :headers="headers" :items="items" hide-actions class="elevation-0">
                    <template slot="items" slot:activator slot-scope="props">
                        <tr @click="setActived(props.item.id)" :class="{ 'actived': activeIndexd === props.item.id}">
                            <td class="text-xs-left"></td>
                            <td class="text-xs-left"></td>
                            <td class="text-xs-left"></td>
                            <td class="text-xs-left"></td>
                            <td class="text-xs-left"></td>
                             <td class="text-xs-left"></td>
                              <td class="text-xs-left"></td>
                               <td class="text-xs-left"></td>
                                <td class="text-xs-left"></td>
                                 <td class="text-xs-left"></td>
                            <v-dialog class="ma-2"
                                      v-model="dialogN[props.item.id]"
                                      width="500"
                            >
                                <template v-slot:activator="{ on }">
                                </template>
                                <v-form ref="form" v-model="valid" lazy-validation>
                                    <v-card v-if="props.item.percentage_of_sales">
                                        <v-data-table
                                                hide-default-footer
                                                hide-actions
                                                :headers="headersSalary"
                                                :items="props.item.percentage_of_sales"
                                                class="elevation-1"
                                        >
                                            <template >
                                                <td class="text-xs-center red_color">
                                                </td>
                                                <td class="text-xs-center red_color">
                                                </td>
                                                <td class="text-xs-center red_color">
                                                </td>
                                            </template>
                                        </v-data-table>
                                        <v-divider></v-divider>
                                        <v-layout class="py-3" justify-center>
                                            <v-flex xs6 class="text-xs-right">
                                                <v-btn color="success"
                                                       small
                                                       @click="create">
                                                    Thêm mới
                                                </v-btn>
                                            </v-flex>
                                            <v-flex xs6>
                                                <v-btn color="error"
                                                       small
                                                       @click="$set(dialogN, props.item.id, false)">
                                                    Hủy bỏ
                                                </v-btn>
                                            </v-flex>
                                        </v-layout>
                                    </v-card>
                                    <v-card v-else>
                                        <v-layout>
                                            <v-flex class="pa-5 display-1 text-xs-center" style="color: red">Chưa có mức thưởng</v-flex>
                                        </v-layout>
                                    </v-card>
                                </v-form>
                            </v-dialog>
                            <td class=" pa-0 text-xs-right">
                               
                                
                                <!-- <v-btn class="float-left ma-0" flat icon color="grey">
                                    <v-icon>edit</v-icon>
                                </v-btn> -->
                                
                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </template>
        </v-card-text>
        <pagination :pagination="pagination"
                    v-on:click.native="getLists(pagination.current_page)"
                    :offset="4">
        </pagination>
    </v-card>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Pagination from "@/views/pagination/pagination.vue"
    import Url from "@/api/local"
    import {VMoney} from 'v-money'

    export default {
        directives: {money: VMoney},
        components: {
            Pagination
        },
        data() {
            return {
                bonus_money:'',
                type:[
                    {
                        "id":"0",
                        "name":"Sale"
                    },
                    {
                        "id":"1",
                        "name":"Photoshop"
                    } 
                ],
                percentage_of_sales_input:[
                    {
                        from: '',
                        to: '',
                        total: '',
                    }
                ],
                takecare:[
                    {
                        from: '',
                        to: '',
                        total: '',
                    }
                ],
                sale_seasonal:[
                    {
                        hight: '',
                        low: '',
                    }
                ],
                basic_salary: '',
                money: {},
                //==================================================
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                activeIndexd: 0,
                offset: 4,
                id: '',
                service:[],
                department: [],
                dialogNote: [],
                dialogN: [],
                items: [],
                selected: [],
                valid: true,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                menu1: false,
                menu2: false,
                form: {
                    name: '',
                    department_id: '',
                    basic_salary: '',
                    phone_number: '',
                    roles: [],
                    percentage_of_sales: [
                        {
                            from: '',
                            to: '',
                            total: '',
                        }
                    ]
                },
                headers: [
                    {
                        text: "Họ tên",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                        text: "Số điện thoại",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                         text: "Hoa hồng cho sale",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                        text: "Thưởng hợp đồng cho sale",
                        align: "left",
                        value: "name",
                        sortable: false
                    },

                    {
                        text: "Lương cơ bản",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                         text: "Doanh số tối thiểu sale ",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                         text: "Sản phẩm combo",
                        align: "left",
                        value: "name",
                        sortable: false
                    },

                    {
                         text: "Dịch vụ để tính lương",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                         text: "Tiền nhận được cho photoshop",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                         text: "Kiểu nhân viên",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    ,
                    {
                        text: "Ngày áp dụng",
                        align: "left",
                        value: "name",
                        sortable: false
                    },
                    {
                        text: "Hoạt động",
                        value: "action",
                        align: "center",
                        sortable: false
                    }
                ],

                headersSalary: [
                    {
                        text: 'Từ',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'Đến',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'Lương doanh số',
                        align: 'center',
                        sortable: false,
                    },
                ],
            }
        },
        mounted() {
            this.getLists(this.pagination.current_page);
        },

        methods: {
            ...mapActions(['LockUser', 'Register', 'Reset', 'getPaginativeUser']),

            setActived(index) {
                this.activeIndexd = index
            },
            getLists(page) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.getPaginativeUser(page)
                    .then(response => {
                        this.items = response.data.success.data;
                        this.pagination = response.data.success;
                        loader.hide();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },
            popDelete(key) {
                this.percentage_of_sales_input.splice(key, 1);
            },
            popDelete_takecare(key) {
                this.takecare.splice(key, 1);
            },
            addRowCombo(row) {
                this.percentage_of_sales_input.push({})
                this.form.percentage_of_sales.push({})
            },
            addRowCombo_takecare(row) {
                this.takecare.push({})
                this.form.takecare.push({})
            },
            
        
            create() {
               
                console.log(this.form);
                
                // let loader = this.$loading.show({
                //     loader: 'dots'
                // });
                // var arrayValueId = [];
                // this.roles.forEach((e, i) => {
                //     if (e.selected.length) {
                //         arrayValueId[i] = e.selected.map(i => i.id);
                //     }
                // });
                // var arrayValueIDConcat = [];
                // arrayValueId.forEach(e => {
                //     arrayValueIDConcat = arrayValueIDConcat.concat(e);
                // });
                // this.form.roles = arrayValueIDConcat;
                // this.form.basic_salary = this.unMaskedNumber(this.basic_salary);
                // this.percentage_of_sales_input.forEach((item, key)  =>{
                //     this.form.percentage_of_sales[key].from = this.unMaskedNumber(item.from);
                //     this.form.percentage_of_sales[key].to = this.unMaskedNumber(item.to);
                //     this.form.percentage_of_sales[key].total = this.unMaskedNumber(item.total);
                // });
                // this.$validator.validateAll().then((result) => {
                //     if (!result) {
                //         this.$warning();
                //         loader.hide();
                //     } else {
                //         if (this.$refs.form.validate()) {
                //             this.snackbar = true;
                //             this.Register(this.form).then(response => {
                //                 this.$success();
                //                 this.$set(this.dialogNote, 1, false);
                //                 loader.hide();
                //                 this.getLists();
                //             }).catch(error => {
                //                 this.$error('Dữ liệu thêm mới không hợp lệ!');
                //                 loader.hide();
                //             })
                //         }
                //     }
                // });
                // if (this.$refs.form.validate()) {
                //     this.snackbar = true
                // }
            },
            getListsService() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                let list = Url.url + '/api/user';
                return new Promise((resolve, reject) => {
                    axios.get(list)
                        .then(response => {
                            this.service = response.data.success;
                            loader.hide();
                        }).catch(error => {
                        this.$error('Không tải được danh sách phòng ban!');
                    })
                })
            },
        },

        created() {
            this.getListsService()
        },
    }
</script>
<style lang="stylus" scoped>
    .add {
        float: left;
        width: 100%;
    }

    .icon2 {
        font-size: 24px;
        color: gray;
    }

    .left {
        float: left;
    }

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

</style>


