<template>
  <v-container grid-list-xl fluid pt-3>
    <v-layout layout row wrap>
      <v-flex xs12 sm3>
        <v-text-field v-model="filter.search" append-icon="search" label="Họ tên" single-line hide-details>
        </v-text-field>

      </v-flex>
      <v-flex xs12 sm7></v-flex>
      <v-flex xs12 sm2 right>
        <v-menu
          ref="time_shift.menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          max-width="290px"
          min-width="290px">
          <v-text-field
            slot="activator"
            label="Tháng"
            v-model="filter.month"
            prepend-icon="event"
            readonly
          ></v-text-field>
          <v-date-picker v-model="filter.month"
                         no-title scrollable actions
                         locale="vi-VN"
                         type="month"
          >
          </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex flex sm12 xs12>
        <v-card class="lg12 float-md-left">
          <div class="float-left">
            <v-data-table :headers="headers" :items="items" :search="filter.search">
              <template v-slot:items="props">
                <tr >
                  <td><v-label >{{ props.item.user.name }}</v-label></td>
                  <td><v-label >{{ props.item.department.name }}</v-label></td>
                  <td><v-label >{{ props.item.work_day }}</v-label></td>
                  <td><v-label >{{ props.item.basic_salary | formatPrice }}đ</v-label></td>
                  <td><v-label >{{ props.item.allowance | formatPrice }}đ</v-label></td>
                  <td>
                    <v-label >{{ props.item.tax_salary | formatPrice }}đ</v-label>
                  </td>
                  <td>
                    <v-label >{{ props.item.total | formatPrice }}đ</v-label>
                  </td>
                  <td>
                    <v-label v-if="props.item.status==0" style="color: green" color="rgb(0,150,45)">Đã thanh toán</v-label>
                    <v-label v-else  style="color: red" color="red">Chưa thanh toán</v-label>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import {mapActions} from 'vuex'
  import Url from "@/api/local"
  export default {
    data() {
      return {
        filter:{
          search:'',
          month:new Date().toISOString().substr(0, 7)
        },
        items:[],
        headers: [
          {
            text:'Nhân viên',
            value:'user'
          },
          {
            text:'Phòng ban',
            value:'department'
          },
          {
            text: 'Số ngày công',
            value:'work_day'
          },
          {
            text: 'Lương cơ bản',
            value:'basic_salary'
          },
          {
            text: 'Phụ cấp',
            value:'allowance'
          },
          {
            text: 'Lương trừ thuế',
            value:'tax_salary'
          },
          {
            text: 'Tổng cộng lương',
            value:'total'
          },
          {
            text: 'Trạng thái',
            value:'status'
          },

        ],
      };
    },
    methods: {
      ...mapActions(['getSalaryEmployee']),
      getLists() {
        this.items = [];
        this.getSalaryEmployee().then(response => {
          this.items=response.data.success.data;
        }).catch(error => {
          this.$error('Dữ liệu getListSalary gặp sự cố!');
        })
      },
    },
    mounted() {
      this.getLists();
    },
  }

</script>
<style lang="stylus" scoped>

  .v-picker.v-card.v-picker--date.theme--light{ width: 100%; }
  .v-picker__body.theme--light{width: 100% !important }
  .v-date-picker-table.v-date-picker-table--month.theme--light{width: 100%;}
</style>