<template>
 <h1>PhotoGrapher</h1>
</template>

<script>

import {mapActions} from 'vuex'

export default {
    mounted() {
        console.log('mouted photographer');
        this.getPhotographers();
    },
    methods: {
        ...mapActions(['getListPhotographer']),
        getPhotographers() {
            this.getListPhotographer().then(response => {
                this.$emit('listUserByDepament', response);
            }).catch(error => {
                this.$error('Dữ liệu getListPhotographer gặp sự cố!');
            })
        }
    },
};
</script>
<style lang="stylus" scoped>

</style>