<template>
    <v-container grid-list-xl fluid v-if='currentUser.department_id == 5'>
        <v-layout row wrap>
            <v-flex>
                <div class="d-inline-flex mr-3">Lương cơ bản: </div>
                <v-text-field
                  class="d-inline-flex"
                  label="Lương cơ bản"
                  single-line
                  v-model="photoshoper.basic_salary"
                  >
                </v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex sm12 lg12>
                <h3>Gói chụp</h3>
            </v-flex>
            <v-flex sm12 lg12 pt-0>
                <v-expansion-panel
                expand
                class="elevation-0"
                >
                    <v-expansion-panel-content
                        v-for="(item, i) in photoshoper.combo" :key="i"
                    >
                        <template v-slot:header>
                            <div><strong>{{item.name}}</strong></div>
                        </template>
                        <v-flex
                          v-for="(combo, i) in item.combos" :key="i"
                          class="mt-0 pa-0"
                        >
                            <div class="d-inline-flex mr-3">{{combo.name}}: </div>
                            <v-text-field
                            class="d-inline-flex mt-0 pa-0"
                            label="giá config"
                            single-line
                            v-model="combo.total"
                            >
                            </v-text-field>
                        </v-flex>
                        
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex sm12 lg12>
                <h3>Gói lẻ</h3>
            </v-flex>
            <v-flex sm12 lg12 pt-0>
                <v-expansion-panel
                expand
                class="elevation-0"
                >
                    <v-expansion-panel-content
                        v-for="(item, i) in photoshoper.service"
                        :key="i"
                    >
                        <template v-slot:header>
                            <div><strong>{{item.name}}</strong></div>
                        </template>
                        <v-flex
                          v-for="(service, i) in item.services" :key="i"
                          class="mt-0 pa-0"
                        >
                            <div class="d-inline-flex mr-3">{{service.name}}: </div>
                            <v-text-field
                            class="d-inline-flex mt-0 pa-0"
                            label="giá config"
                            single-line
                            v-model="service.total"
                            >
                            </v-text-field>
                        </v-flex>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <div>Ngày áp dụng</div>
            <v-flex xs12 sm6 md4>
                <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                min-width="290px"
                max-width="290px"
            >
                <template v-slot:activator="{ on }">
                <v-text-field
                    v-model="photoshoper.excu_date"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                ></v-text-field>
                </template>
                <v-date-picker v-model="photoshoper.excu_date" @input="menu2 = false"></v-date-picker>
            </v-menu>
            </v-flex>
        </v-layout>
        <v-layout align-center>
            <v-flex xs12 sm12 text-xs-center>
                <div>
                    <v-btn
                    :loading="loading"
                    :disabled="loading"
                    @click="actionConfig()"
                    class="primary"
                    >
                    {{ editUser ? 'Cập nhật' : 'Thêm mới' }}</v-btn>
                    <v-btn
                    v-if='editUser'
                    :loading="loading"
                    :disabled="loading"
                    @click="cancelEdit()"
                    > Huỷ bỏ</v-btn>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    data: () => {
        return {
            photoshoper: {
                basic_salary: "",
                combo:[],
                service: [],
                excu_date: new Date().toISOString().substr(0, 10)
            },
            originCombo: [],
            originService: [],
            loader: null,
            loading: false,
            menu2: false,
            menu: false,
            editUser: false,
            postData: {},
            editDataParam: {}
        }
    },
    props: ['currentUser', 'userDataEdit'],
    mounted() {
        this.getPhotoshopers();
        this.getService();
        this.getCombo();
    },
    watch: {
        currentUser (newVal, oldVal) {
            this.resetPostData();
            this.resetFormData();
            this.editUser = false;
        },
        userDataEdit(newVal, oldVal) {
            this.editUser = true;
            this.assignEditData(newVal.data);
        }
    },
    methods: {
        ...mapActions(['getListPhotoshoper', 'getPaginativeCategory', 'createConfigSalary', 'editConfigSalary']),
        getPhotoshopers() {
            let loader = this.$loading.show({
                    loader: 'dots'
            });
            this.getListPhotoshoper().then(response => {
                loader.hide();
                this.$emit('listUserByDepament', response);
            }).catch(error => {
                loader.hide();
                this.$error('Dữ liệu getListPhotoshoper gặp sự cố!');
            })
        },
        getService() {
            this.getPaginativeCategory(0).then(response => {
                this.photoshoper.service = response.data.success;
                this.originService = JSON.parse(JSON.stringify(response.data.success));
            }).catch(error => {
                this.$error('Dữ liệu getService gặp sự cố');
            });
        },
        getCombo() {
            this.getPaginativeCategory(1).then(response => {
                this.photoshoper.combo = response.data.success;
                this.originCombo = JSON.parse(JSON.stringify(response.data.success));
            }).catch(error => {
                this.$error('Dữ liệu getCombo gặp sự cố');
            });
        },
        actionConfig() {
            if(this.editUser){
                this.editConfig();
            }
            else {
                this.addConfig();
            }
        },
        editConfig() {
            this.editDataParam.basic_salary = this.photoshoper.basic_salary;
            this.editDataParam.excu_date = this.photoshoper.excu_date;
            this.editDataParam.bonus_money = 0;
            this.editDataParam.cate_path = null;
            this.editDataParam.id = this.userDataEdit.data.id;
            this.editDataParam.percentage_of_sales = null;
            this.editDataParam.sale_seasonal = null;
            this.editDataParam.takecare = null;
            this.editDataParam.type = this.userDataEdit.data.type;
            this.editDataParam.user = null;
            this.editDataParam.user_id = this.userDataEdit.data.user_id;
            this.editDataParam.combo = [];
            this.editDataParam.service = [];
            this.photoshoper.combo.forEach(p_el => {
                p_el.combos.filter(el => {
                    if(el.total) {
                        this.editDataParam.combo.push({id: el.id, total: el.total, name: el.name});
                    }
                })
            });
            // this.editDataParam.combo = JSON.stringify(this.editDataParam.combo);

            this.photoshoper.service.forEach(p_el => {
                p_el.services.filter(el => {
                    if(el.total) {
                        this.editDataParam.service.push({id: el.id, total: el.total, name: el.name});
                    }
                })
            });
            // this.editDataParam.service = JSON.stringify(this.editDataParam.service);

            let loader = this.$loading.show({
                loader: 'dots'
            });

            this.editConfigSalary(this.editDataParam).then(response => {
                this.resetFormData();
                this.$success();
                this.$emit('needRefreshListConfig', true);
                loader.hide();
            }).catch(error => {
                loader.hide();
                this.$error('Cập nhật dữ liệu gặp sự cố!');
            }) 
        },
        addConfig() {
            this.resetPostData();
            this.postData.basic_salary = this.photoshoper.basic_salary;
            this.postData.user_id = this.currentUser.id;
            this.postData.excu_date = this.photoshoper.excu_date;
            this.photoshoper.combo.forEach(p_el => {
                p_el.combos.filter(el => {
                    if(el.total) {
                        this.postData.combo.push({id: el.id, total: el.total, name: el.name});
                    }
                })
            });
            this.postData.combo = this.postData.combo;

            this.photoshoper.service.forEach(p_el => {
                p_el.services.filter(el => {
                    if(el.total) {
                        this.postData.service.push({id: el.id, total: el.total, name: el.name});
                    }
                })
            });
            this.postData.service = this.postData.service;

            this.loading = true;
            this.createConfigSalary(this.postData).then((response) => {
                this.loading = false;
                this.resetFormData();
                this.$emit('needRefreshListConfig', true);
                this.$success();
            }).catch(error => {
                this.loading = false;
                this.$error('k create dc du lieu')
            })
        },
        resetPostData() {
            this.postData = {
                bonus_money: 0,
                user_id: null,
                basic_salary: null,
                type: 1,
                combo: [],
                service: [],
                excu_date: new Date().toISOString().substr(0, 10)
            }
        },
        resetFormData() {
            // console.log('resetForm')
            this.photoshoper = {
                basic_salary: "",
                combo: JSON.parse(JSON.stringify(this.originCombo)),
                service: JSON.parse(JSON.stringify(this.originService)),
                excu_date: new Date().toISOString().substr(0, 10)
            }
            
        },
        cancelEdit() {
            this.editUser = false;
            this.resetFormData();
        },
        assignEditData(data) {
            this.resetFormData();
            this.photoshoper.basic_salary = data.basic_salary;
            this.photoshoper.excu_date = data.excu_date;

            this.originCombo.forEach((p_el, p_i) => {
                p_el.combos.forEach((el, i) => {
                    if (data.combo && data.combo.length > 0) {
                        data.combo.find(val => {
                            if(val.id == el.id) {
                                this.photoshoper.combo[p_i].combos[i]['total'] = val.total;
                            }
                        })
                    }
                })
            });

            this.originService.forEach((p_el, p_i) => {
                p_el.services.forEach((el, i) => {
                    if (data.service && data.service.length > 0) {
                        data.service.find(val => {
                            if(val.id == el.id) {
                                this.photoshoper.service[p_i].services[i]['total'] = val.total;
                            }
                        })
                    }
                })
            });
        }
    },
};
</script>
<style lang="stylus" scoped>
    @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>