<template>
  <v-card class="lg12 float-md-left" v-if="currentUser.id!=null">
    <template>
      <v-form ref="form" v-model="valid" lazy-validation>
        <input type="hidden" v-model="form.id">
        <input type="hidden" v-model="form.user_id">
        <v-card>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs6 md-4 ml-3>
                <v-label class="form-control"><b>Họ tên: {{currentUser.name}} - Id: {{currentUser.id}}</b></v-label>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex left xs12 sm3 md3 ml-3 offset-md1>
                <label><b>Lương cơ bản:</b></label>
                <input type="text" class="custom-v-text" v-model="form.basic_salary" v-money="money">
                <label ml-3 class="error--text" v-if="errors['basic_salary']">{{errors['basic_salary']}}</label>
              </v-flex>
              <v-flex xs12 sm6 md6>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 md6 :key="k" v-for="(cb,k) in form.sale_seasonal">
                <v-flex xs12><b>Doanh số tối thiểu mùa {{cb.type=="low"?"thấp điểm":"cao điểm"}}</b></v-flex>
                <v-layout wrap ml-1>
                  <v-flex xs4 sm3 md3>
                    <v-select
                      :items="months"
                      v-validate="'required'"
                      data-vv-name="months"
                      v-model="cb.from"
                      label="Từ"
                      auto
                      required
                      @change="k==0?autoCompleteMonth():''"
                      item-text="name"
                      item-value="id"
                    ></v-select>
                  </v-flex>
                  <v-flex xs4 sm3 md3>
                    <v-select
                      :items="months"
                      v-validate="'required'"
                      data-vv-name="months"
                      v-model="cb.to"
                      label="Đến"
                      auto
                      required
                      item-text="name"
                      item-value="id"
                      @change="k==0?autoCompleteMonth():''"
                    ></v-select>
                  </v-flex>
                  <v-flex xs6 sm5 md4>
                    <label>KPI Doanh số:</label>
                    <input type="text" class="custom-v-text" v-model="cb.total" v-money="money">
                  </v-flex>
                </v-layout>
                <v-layout wrap ml-3>
                  <label class="error--text" v-if="errors['sale_seasonal_'+k]">{{errors['sale_seasonal_'+k]}}</label>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 ml-3><b>Hoa hồng được hưởng</b></v-flex>
              <div class="left" :key="k" v-for="(cb,k) in form.percentage_of_sales">
                <v-flex class="left" md2 pa-1 ml-4>
                  <label>Từ:</label>
                  <input type="text" class="custom-v-text" v-model="cb.from" v-money="money">
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <label>Đến:</label>
                  <input type="text" class="custom-v-text" v-model="cb.to" v-money="money">
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <label>% thưởng:</label>
                  <input type="number" class="custom-v-text" v-model="cb.total"
                         @change="cb.total = Math.max(Math.min(Math.round(cb.total), 100), 1)"
                  >
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <v-btn flat icon @click="addRowPercentOfSale(0)" v-if="k==0">
                    <i class=" icon2 fa fa-plus-circle" aria-hidden="true"> </i>
                  </v-btn>
                  <v-btn flat icon @click="popDeletePercentOfSale(k)" v-if="k!=0">
                    <v-icon dark class=" icon2">remove_circle</v-icon>
                  </v-btn>
                </v-flex>
                <v-layout wrap ml-3>
                  <label class="error--text"
                         v-if="errors['percentage_of_sales_'+k]">{{errors['percentage_of_sales_'+k]}}</label>
                </v-layout>
              </div>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 ml-3><b>Take care</b></v-flex>
              <div class="left" :key="k" v-for="(cb,k) in form.takecare">
                <v-flex class="left" md2 pa-1 ml-4>
                  <label>Từ:</label>
                  <input type="text" class="custom-v-text" v-model="cb.from" v-money="money">
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <label>Đến:</label>
                  <input type="text" class="custom-v-text" v-model="cb.to" v-money="money">
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <label>Tiền thưởng:</label>
                  <input type="text" class="custom-v-text" v-model="cb.total" v-money="money">
                </v-flex>
                <v-flex class="left" md2 pa-1 float-left>
                  <v-btn flat icon @click="addRowTakeCareOfSale(0)" v-if="k==0">
                    <i class=" icon2 fa fa-plus-circle" aria-hidden="true"> </i>
                  </v-btn>
                  <v-btn flat icon @click="popDeleteTakeCareOfSale(k)" v-if="k!=0">
                    <v-icon dark class=" icon2">remove_circle</v-icon>
                  </v-btn>
                </v-flex>
                <v-layout wrap ml-3>
                  <label class="error--text" v-if="errors['takecare_'+k]">{{errors['takecare_'+k]}}</label>
                </v-layout>
              </div>
            </v-layout>
            <v-layout>
              <v-flex xs12 sm3 md3 ml-3>
                <v-menu
                  ref="time_shift.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-right="40"
                  max-width="290px"
                  min-width="290px">
                  <v-text-field
                    slot="activator"
                    label="Ngày hiệu lực"
                    v-model="form.excu_date"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="form.excu_date" v-if="form.id==0"
                                 no-title scrollable actions
                                 locale="vi-VN"
                  >
                  </v-date-picker>
                  <v-date-picker v-model="form.excu_date"  v-else
                                 no-title scrollable actions
                                 locale="vi-VN"
                                 :min="datepickerConfig.nowDate"
                  >
                  </v-date-picker>
                </v-menu>
                <label class="error--text" v-if="errors['excu_date']">{{errors['excu_date']}}</label>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-layout class="py-3">
            <v-flex xs6 ml-4 class="text-xs">
              <v-btn color="success" v-if="this.form.id==0"
                     small
                     @click="newConfig()">
                Thêm mới
              </v-btn>
              <v-btn color="success" v-else
                     small
                     @click="editConfig()">
                Cập nhật
              </v-btn>
              <v-btn color="error" v-if="this.form.id!=0"
                     small
                     @click="clearInput()">
                Hủy bỏ
              </v-btn>
            </v-flex>

          </v-layout>
        </v-card>
      </v-form>
    </template>

  </v-card>
</template>

<script>
  import {mapActions} from 'vuex'
  import {VMoney} from 'v-money'

  export default {
    props: ['currentUser', 'currentSalaryConfig'],
    directives: {money: VMoney},
    data() {
      return {
        months:[
          {id:1,name:"Tháng 1"},
          {id:2,name:"Tháng 2"},
          {id:3,name:"Tháng 3"},
          {id:4,name:"Tháng 4"},
          {id:5,name:"Tháng 5"},
          {id:6,name:"Tháng 6"},
          {id:7,name:"Tháng 7"},
          {id:8,name:"Tháng 8"},
          {id:9,name:"Tháng 9"},
          {id:10,name:"Tháng 10"},
          {id:11,name:"Tháng 11"},
          {id:12,name:"Tháng 12"},
        ],
        datepickerConfig:{
          nowDate: new Date().toISOString().slice(0,10),
          date: new Date(),
          picker: new Date().toISOString().substr(0, 10),
          landscape: false,
          reactive: false
        },
        valid: true,
        selected_id: 0,
        form: {
          id: 0,
          user_id: 0,
          basic_salary: 0,
          sale_seasonal: [
            {
              from: 0,
              to: 0,
              total: 0,
              type: 'low'
            },
            {
              from: 0,
              to: 0,
              total: 0,
              type: 'high'
            }
          ],
          percentage_of_sales: [
            {
              from: 0,
              to: 0,
              total: 0,
            }
          ],
          takecare: [
            {
              from: 0,
              to: 0,
              total: 0,
            }
          ],
          excu_date: '',
          type: 0
        },
        data: {},
        money: {
          decimal: ",",
          thousands: ".",
          suffix: " đ",
          precision: 0,
        },
        numberInputFormat: {
          decimal: ",",
          thousands: ".",
          precision: 0,
        },
        history: [
          {
            text: " Mã",
            value: "name",
            sortable: false
          },
          {
            text: "Trạng thái",
            value: "status",
            sortable: false
          },
          {
            text: "Tổng tiền",
            value: "status",
            sortable: false
          },

          {
            text: "Ngày sử dụng",
            value: "date",
            sortable: false
          },
        ],
        items: [],
        total: 0,
        count: 0,
        errors: {}
      }
    },
    mounted() {
      console.log('mouted saler');
      this.getListSalers();
    },
    watch: {
      currentUser: {
        handler: function (newVal, oldVal) {
          this.clearInput();
          var newObj = JSON.parse(JSON.stringify(newVal))
          this.form.user_id = newObj.id;
        },
      },
      currentSalaryConfig: {
        handler: function (newVal, oldVal) {
          this.errors=[];
          this.form = JSON.parse(JSON.stringify(newVal))
        },
      }

    },
    methods: {
      ...mapActions(['getListSaler', 'createConfigSalary', 'editConfigSalary']),
      getListSalers() {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        this.getListSaler().then(response => {
          loader.hide();
          this.$emit('listUserByDepament', response);
        }).catch(error => {
          this.$error('Dữ liệu getListSaler gặp sự cố!');
          loader.hide();
        })
      },
      newConfig() {
        if (this.validateForm()) {
          let loader = this.$loading.show({
            loader: 'dots'
          });
          this.createConfigSalary(this.data).then(response => {
            this.$success();
            loader.hide();
            this.$emit('needRefreshListConfig', true);
          }).catch(error => {
            this.$error('Thêm mới dữ liệu gặp sự cố!');
            loader.hide();
          })
        }
      },
      editConfig() {
        if (this.validateForm()) {
          let loader = this.$loading.show({
            loader: 'dots'
          });
          this.editConfigSalary(this.data).then(response => {
            this.$success();
            loader.hide();
            this.$emit('needRefreshListConfig', true);
          }).catch(error => {
            this.$error('Cập nhật dữ liệu gặp sự cố!');
            loader.hide();
          })
        }
      },
      popDeletePercentOfSale(key) {
        this.form.percentage_of_sales.splice(key, 1);
      },
      addRowPercentOfSale(row) {
        this.form.percentage_of_sales.push({from: 0, to: 0, total: 0})
        console.log(this.form.percentage_of_sales);
      },
      popDeleteTakeCareOfSale(key) {
        this.form.takecare.splice(key, 1);
      },
      addRowTakeCareOfSale(row) {
        this.form.takecare.push({from: 0, to: 0, total: 0})
      },
      clearInput() {
        this.errors=[];
        this.form = {
          id: 0,
          user_id: this.currentUser.id,
          basic_salary: 0,
          sale_seasonal: [
            {
              from: '',
              to: '',
              total: '',
              type: 'low'
            },
            {
              from: '',
              to: '',
              total: '',
              type: 'high'
            }
          ],
          percentage_of_sales: [
            {
              from: '',
              to: '',
              total: '',
            }
          ],
          takecare: [
            {
              from: '',
              to: '',
              total: '',
            }
          ],
          type: 0,
        }
      },
      formatInputData() {
        this.data = JSON.parse(JSON.stringify(this.form));
        this.data.basic_salary = this.data.basic_salary.replace(" đ", "").replace(/\./g, "");
        this.data.sale_seasonal.forEach((item, key) => {
          item.total = item.total.replace(" đ", "").replace(/\./g, "");
        });

        this.data.percentage_of_sales.forEach((item, key) => {
          item.from = item.from.replace(" đ", "").replace(/\./g, "");
          item.to = item.to.replace(" đ", "").replace(/\./g, "");
          //remove empty item
          if ((item.total == 0 || item.total == null || item.total == "") && (item.from == 0 || item.from == null || item.from == "") && (item.to == 0 || item.to == null || item.to == "")) {
            this.data.percentage_of_sales.splice(key, 1);
          }
        });

        this.data.takecare.forEach((item, key) => {
          item.from = item.from.replace(" đ", "").replace(/\./g, "");
          item.to = item.to.replace(" đ", "").replace(/\./g, "");
          item.total = item.total.replace(" đ", "").replace(/\./g, "");
          //remove empty item
          if ((item.total == 0 || item.total == null || item.total == "") && (item.from == 0 || item.from == null || item.from == "") && (item.to == 0 || item.to == null || item.to == "")) {
            this.data.takecare.splice(key, 1);
          }
        });
      },
      validateForm() {
        var result = true;
        this.errors = {};
        this.formatInputData();
        //validate basic salary
        if (this.data.basic_salary <= 0 || this.data.basic_salary == null) {
          this.errors['basic_salary'] = 'Lương cơ bản là trường bắt buộc';
          result = false;
        }

        //validate month
        this.data.sale_seasonal.forEach((item, key) => {
          if (item.from > item.to) {
            this.errors['sale_seasonal_' + key] = 'Khoảng thời gian không chính xác'
            result = false;
          }
          if (item.total <= 0 || item.total == null) {
            this.errors['sale_seasonal_' + key] = 'Doanh số KPI bắt buộc nhập'
          }
        });

        if (this.data.sale_seasonal[0].to > this.data.sale_seasonal[1].from) {
          this.errors['sale_seasonal_' + 0] = 'Khoảng thời gian 2 mùa không chính xác'
          this.errors['sale_seasonal_' + 1] = 'Khoảng thời gian 2 mùa không chính xác'
          result = false;
        }

        if (this.data.sale_seasonal[0].from > 1 || this.data.sale_seasonal[1].to < 12) {
          this.errors['sale_seasonal_' + 0] = 'Khoảng thời gian 2 mùa chưa đủ 12 tháng'
          this.errors['sale_seasonal_' + 1] = 'Khoảng thời gian 2 mùa chưa đủ 12 tháng'
          result = false;
        }

        //validate percent sales
        if (this.data.percentage_of_sales.length == 0) {
          this.errors['percentage_of_sales_0'] = 'Không có bản ghi nào hợp lệ. Vui lòng kiểm tra lại'
          result = false;
        }
        this.data.percentage_of_sales.forEach((item, key) => {
          if ((parseFloat(item.from) > parseFloat(item.to))
            || (parseFloat(item.from)==0 && parseFloat(item.to)==0)) {
            this.errors['percentage_of_sales_'+key] = 'Khoảng doanh số không chính xác'
            result = false;
          }

          if (item.total <= 0) {
            this.errors['percentage_of_sales_'+key] = '% Hoa hồng không được = 0'
            result = false;
          }
        });


        //validate percent sales
        if (this.data.takecare.length == 0) {
          this.errors['takecare_0'] = 'Không có bản ghi nào hợp lệ. Vui lòng kiểm tra lại'
          result = false;
        }
        this.data.takecare.forEach((item, key) => {
          if ((parseFloat(item.from) > parseFloat(item.to))
            || (parseFloat(item.from)==0 && parseFloat(item.to)==0)) {
            this.errors['takecare_'+key] = 'Khoảng doanh số không chính xác'
            result = false;
          }

          if (item.total <= 0) {
            this.errors['takecare_'+key] = 'Tiền thưởng không được = 0'
            result = false;
          }
        });

        //validate excu_date
        if (this.data.excu_date == null) {
          this.errors['excu_date'] = 'Ngày hiệu lực bắt buộc nhập'
          result = false;
        }

        return result;
      },
      autoCompleteMonth(){
        //set default lower season start month
        var lowSeason=this.form.sale_seasonal[0];
        var highSeason=this.form.sale_seasonal[1];
        if(lowSeason.from==0)
          lowSeason.from=1;
        if(lowSeason.to==0)
          lowSeason.to=lowSeason.from==12?12:lowSeason.from+1;

        //auto bind high season month
          highSeason.from=lowSeason.to==12?1:lowSeason.to+1;
          highSeason.to=lowSeason.from==1?12:lowSeason.from-1;
      }
    },
  };
</script>
<style lang="stylus" scoped>
  .custom-v-text{
    outline: none;
    border-bottom: 1px gray solid;
    font-size: 13pt;
    width: 100%;
  }
</style>