<template>
  <div id="setting">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm4 xs12>
          <div class="search-box">
            <template>
              <v-card>
                <v-card-title>
                  <v-text-field v-model="search" append-icon="search" label="Họ tên" single-line hide-details>
                  </v-text-field>
                </v-card-title>
                <template>
                  <v-data-table :headers="headers" :items="items" :search="search" hide-headers>
                    <template v-slot:items="props">
                      <tr @click="selectUser(props.item)"
                          :class="[currentUser.id && props.item.id==currentUser.id ? 'active' : '']">
                        <td>{{ props.item.name }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </template>
              </v-card>
            </template>
          </div>
        </v-flex>
        <v-flex sm8 xs12>
          <v-card>
            <router-view @listUserByDepament="getUserByDepament"
                         :currentUser="currentUser"
                         :currentSalaryConfig="currentSalaryConfig"
                         @needRefreshListConfig="refreshListConfig"
                         :userDataEdit="userDataEdit"
            ></router-view>
          </v-card>
        </v-flex>
        <v-flex sm12>
          <list-config
            v-if="$route.name == 'Saler'"
            @salaryConfigSelected="getCurrentSalaryConfig"
            :currentUser="currentUser"
            :needRefreshListConfig="needRefreshListConfig">
          </list-config>
          <list-config-photoshop
            v-if="$route.name == 'Photoshoper'"
            :currentUser="currentUser"
            @userEdit="setUserEdit"
            :needRefreshListConfig="needRefreshListConfig">
          </list-config-photoshop>
          <list-config-photographer v-if="$route.name == 'Photographer'"></list-config-photographer>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import ListConfig from "@/views/setting/List/ListConfigSaler.vue"
  import ListConfigPhotoshop from "@/views/setting/List/ListConfigPhotoshoper.vue"
  import ListConfigPhotographer from "@/views/setting/List/ListConfigPhotographer.vue"

  export default {
    components: {
      ListConfig,
      ListConfigPhotoshop,
      ListConfigPhotographer
    },
    data: () => {
      return {
        search: '',
        headers: [{
          text: 'name',
          align: 'start',
          filterable: false,
          value: 'name',
        }],
        items: [],
        currentUser: {},
        currentSalaryConfig: {},
        needRefreshListConfig:true,
        userDataEdit: {},
        departments: [
          {
            department_id: 2,
            department_name: "SALE",
            listUser: []
          },
          {
            department_id: 3,
            department_name: "PHOTOGRAPHER",
            listUser: []
          },
          {
            department_id: 5,
            department_name: "PHOTOSHOP",
            listUser: []
          },
        ]
      }
    },
    computed: {
      currentRouter() {
        return this.$route.name;
      }
    },
    methods: {
      ...mapActions(['getListUser']),
      setActived(index) {
        this.activeIndexd = index
      },
      getUserByDepament(data) {
        this.items = data.data.success[0].user;
        this.items = Object.keys(data.data.success[0].user).map(key => {
            return data.data.success[0].user[key];
        })
      },
      selectUser(user, e) {
        this.currentUser = user;
      },
      getCurrentSalaryConfig(config) {
        this.currentSalaryConfig=config;
      },
      refreshListConfig(){
        this.needRefreshListConfig=!this.needRefreshListConfig;
      },
      setUserEdit(data) {
        this.userDataEdit = data;
      }
    }
  };
</script>
<style lang="stylus" scoped>
</style>