<template>
    <v-card>
        <v-card-title primary-title>
            <div class="comment__wrapper">
                <ul class="comment__wrapper-content">
                    <li class="comment__row" v-for="(e,i) in data" :key="i">
                        <v-avatar size="36px">
                          <img :src="e.user.avatar" :alt="e.user.username"/>
                        </v-avatar>
                        <div class="comment__content-detail">
                            <span class="comment__username"> {{e.user.name }}</span>
                            <span> {{ e.content_detail}}</span>
                            <v-tooltip bottom v-if="$auth.user().id==e.user.id">
                                <template v-slot:activator="{ on }">
                                    <a @click="editCmt(e)" class="comment__icon" v-on="on">
                                        <v-icon class="ml-2"> edit</v-icon>
                                    </a>
                                </template>
                                <span>Sửa</span>
                            </v-tooltip>
                            <v-tooltip bottom v-if="$auth.user().id==e.user.id">
                                <template v-slot:activator="{ on }">
                                    <a @click="deleteCmt(e.id)" class="comment__icon" v-on="on" >
                                        <v-icon class="ml-2"> delete</v-icon>
                                    </a>
                                </template>
                                <span>Xoá</span>
                            </v-tooltip>
                            <p><small> {{ e.time}}</small></p>
                        </div>
                    </li>
                </ul>

                <v-layout>
                    <v-flex class="comment__box">
                        <input class='comment__box-input' v-model="form.content_detail" type="text" placeholder="Viết bình luận...">
                    </v-flex>
                </v-layout>

            </div>
        </v-card-title>

        <v-card-actions>
            <v-flex class="text-xs-right">
                <v-btn small v-if="!check_edit" @click="create()" color="success">Thêm bình luận</v-btn>
                <v-btn small v-else @click="getEdit()" color="success">Sửa bình luận</v-btn>
                <v-btn small color="success" text @click="dialog()">Close</v-btn>
            </v-flex>
        </v-card-actions>

    </v-card>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {
        components: {},
        props: ['order_id'],
        data: () => ({
            check_edit:false,
            data: [],
            form: {
                order_id: '',
                content_detail: '',
                id:''
            },
        }),

        computed: {},
        methods: {
            ...mapActions(['getComment', 'createCommnent', 'deleteComment','updateComment']),
            editCmt(row){
                this.check_edit=true;
                this.form.id = '';
                this.form.content_detail = '';
                this.form.id = row.id;
                this.form.order_id= row.order_id;
                this.form.content_detail = row.content_detail;
            },
            deleteCmt(id){
                let ids = {"id": id};
                this.deleteComment(ids).then(response => {
                    this.getList();
                }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },
            getList() {
                this.getComment(this.order_id).then(response => {
                    this.data = response.data.success;
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            getEdit(){
                this.updateComment(this.form).then(response => {
                    this.getList();
                    this.form.id='';
                    this.form.order_id='';
                    this.form.content_detail='';
                    this.check_edit = false;
                }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },
            create() {
                this.form.order_id = this.$route.params.id;
                this.createCommnent(this.form).then(response => {
                    this.getComment(this.$route.params.id).then(response => {
                        this.data = response.data.success;
                        this.form.content_detail = '';
                        this.form.id='';
                        this.form.order_id='';
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            dialog() {
                var check = false;
                this.check_edit = false;
                this.form.content_detail = '';
                this.$emit('dialog', check);
            },

        },
        created() {
            this.getList();
        }
    }
</script>

<style lang="css" scoped>
    .comment__headline {
        margin-bottom: 10px;
    }

    .comment__wrapper {
        width: 100%;
    }

    .comment__wrapper-content {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .comment__icon {
        font-size: 14px;
        opacity: 0;
        transition: all .3s;
    }

    .comment__icon .v-icon {
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
    }

    .comment__row {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        list-style: none;
    }

    .comment__content-detail {
        background-color: #f2f3f5;
        border-radius: 16px;
        margin-left: 5px;
        padding: 6px 10px;
    }

    .comment__content-detail p {
        margin-bottom: 0;
    }

    .comment__row:hover .comment__icon {
        opacity: 1;
    }

    .comment__username {
        font-weight: 600;
        color: #385898;
        cursor: pointer;
        text-decoration: none;
        margin-right: 4px;
    }

    .comment__box {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }

    .comment__box-input {
        cursor: text;
        background-color: #f2f3f5;
        border: 1px solid #ccd0d5;
        border-radius: 16px;
        line-height: 16px;
        overflow: hidden;
        padding: 8px 12px;
        outline: none;
    }
</style>
