<template>
    <v-form v-model="valid">
        <v-container grid-list-xl>
            <v-card>
                <v-card-text>
                    <v-layout wrap>
                        <v-flex md1 lg1></v-flex>
                        <v-flex md10 lg10>
                            <v-layout wrap>
                                <v-flex md10 lg10>
                                    <v-autocomplete
                                            label="Khách hàng"
                                            v-model="addCustomerId"
                                            :items="listCustomer"
                                            item-text="name"
                                            item-value="id"
                                            :rules="[v => !!v || 'Item is required']"
                                            name='customer_id'
                                            v-validate="'required'"
                                    ></v-autocomplete>
                                </v-flex>
                                <div class="text-center">
                                    <v-dialog v-model="dialogCreate"
                                              width="1200">
                                        <v-form
                                                ref="form"
                                                v-model="valid"
                                                lazy-validation>
                                            <v-card>
                                                <dialog-create
                                                        :setCheckSingleOrCombo="checkSingleOrCombo"
                                                        @getDataDialogCreate="getDataForm"
                                                        @callBackCreateDialog='dialogCreate = $event'
                                                >
                                                </dialog-create>
                                            </v-card>
                                        </v-form>
                                    </v-dialog>
                                </div>
                                <v-flex md2 lg2>
                                    <br>
                                    <v-btn small color="success" @click.stop="dialogCustomer = true">Tạo khách hàng
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                            <v-flex md12 lg12 class="text-sm-left pl-0">
                                <v-btn color="success" @click.stop="checkSingleOrder" small>Đơn hàng lẻ</v-btn>
                                <v-btn color="success" @click.stop="checkComboOrder" small>Theo combo</v-btn>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg12 class="pa-2"
                                    v-if="form.order_service[0].combo_id || form.order_service[0].add_service.length"
                            >
                                <v-expansion-panel focusable>
                                    <v-expansion-panel-content
                                            v-for="(item,i) in form.order_service"
                                            :key="i"
                                    >
                                        <template v-slot:header>
                                            <div class="pl-3 subheading font-weight-regular"
                                                 v-if="checkSingleOrCombo == 1">
                                                <a> {{ item.combo_category_name }} -></a> {{ item.combo_name }}
                                            </div>
                                            <div class="pl-3 subheading font-weight-regular"
                                                 v-else="">
                                                <a>Đơn hàng lẻ</a>
                                            </div>
                                        </template>
                                        <v-card>
                                            <v-card-text class="grey lighten-3">
                                                <v-layout wrap v-if="checkSingleOrCombo == 1">
                                                    <v-flex xs12 md12 sm12 class="pb-0">
                                                        Dịch vụ trong combo
                                                    </v-flex>
                                                    <v-flex xs12 md12 sm12>
                                                        <v-data-table
                                                                :headers="headers"
                                                                :items="item.service_ids"
                                                                hide-actions
                                                        >
                                                            <template slot="items" slot-scope="props">
                                                                <td>{{ props.item.service_name }}</td>
                                                                <td class="text-xs-center">
                                                                    {{ props.item.number }}
                                                                </td>
                                                            </template>
                                                        </v-data-table>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout wrap v-if="item.add_service[0]">
                                                    <v-flex xs12 md12 sm12 class="pb-0" v-if="checkSingleOrCombo == 1">
                                                        Dịch vụ thêm
                                                    </v-flex>
                                                    <v-flex xs12 md12 sm12>
                                                        <template>
                                                            <v-data-table :headers="headersAddService"
                                                                          :items="item.add_service"
                                                                          hide-actions
                                                                          class="elevation-0">
                                                                <template slot="items" slot-scope="props">
                                                                    <td>{{ props.item.name }}</td>
                                                                    <td class="text-xs-right">{{ props.item.sale_price |
                                                                        formatPrice
                                                                        }}
                                                                    </td>
                                                                    <td class="text-xs-center">
                                                                        {{ props.item.number }}
                                                                    </td>
                                                                </template>
                                                            </v-data-table>
                                                        </template>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout wrap v-if="checkSingleOrCombo == 1">
                                                    <v-flex xs4 sm2 class="pr-4">
                                                        <v-text-field label="Giá gói chụp" readonly
                                                                      v-model="item.price_combo"></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs4 sm2 class="pr-4">
                                                        <v-text-field label="Giá dịch vụ thêm" readonly
                                                                      v-model="item.price_add_service"></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs4 sm2 class="pr-4">
                                                        <v-text-field label="Tổng giá dịch vụ" readonly
                                                                      v-model="item.total_price"></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs4 sm2 class="pr-4">
                                                        <v-text-field label="Số tiền giảm giá"
                                                                      v-model="item.sale_off"></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs4 sm4>
                                                        <v-text-field label="Thành tiền"
                                                                      :value="item.total_price - item.sale_off">
                                                        </v-text-field>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg12
                                    v-if="form.order_service[0].combo_id || form.order_service[0].add_service.length">
                                <v-layout wrap>
                                    <v-flex sm12 md4 lg4>
                                        <br/>
                                        <span class="font-weight-medium mb-2">VAT (%): </span>
                                    </v-flex>
                                    <div sm12 md8 lg8>
                                        <v-text-field
                                                :single-line="true"
                                                label="(%)" dense
                                                v-model="form.vat"
                                                type="number"
                                        >
                                        </v-text-field>
                                    </div>
                                </v-layout>
                                <v-layout>
                                    <v-flex sm12 md4 lg4>
                                        <br/>
                                        <span class="font-weight-medium mb-2">Giảm giá(%): </span>
                                    </v-flex>
                                    <div sm12 md8 lg8>
                                        <v-text-field
                                                :single-line="true"
                                                label="(%)" dense
                                                v-model="saleOfOrder"
                                                type="number"
                                        >
                                        </v-text-field>
                                    </div>
                                </v-layout>
                                <v-layout>
                                    <v-flex sm12 md4 lg4>
                                        <br>
                                        <span class="font-weight-medium mb-2">Ghi chú: </span>
                                    </v-flex>
                                    <v-flex sm12 md8 lg8 class="pl-0">
                                        <v-textarea
                                                class="textareaHeight"
                                                v-model="form.note"
                                                label="Ghi chú">
                                        </v-textarea>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex sm12 md4 lg4>
                                        <span class="font-weight-medium mb-2">Tổng giá gói chụp: </span>
                                    </v-flex>
                                    <v-flex sm12 md8 lg8 class="pl-0">
                                        <span>{{ form.total_price=totalAllPrice() | formatPrice }} đ</span>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex sm12 md4 lg4>
                                        <span class="font-weight-medium mb-2">Còn lại: </span>
                                    </v-flex>
                                    <v-flex sm12 md8 lg8 class="pl-0">
                                        <span>{{ form.total_price - form.sale_off | formatPrice}} đ</span>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex sm12 md4 lg4>
                                        <span class="font-weight-medium mb-2">Phải thu: </span>
                                    </v-flex>
                                    <v-flex sm12 md8 lg8 class="pl-0">
                                    <span>{{ form.total_price - form.total_price*form.sale_off/100
                                        + form.vat*form.total_price/100 | formatPrice}} đ
                                    </span>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-flex>
                        <v-flex md1 lg1></v-flex>
                    </v-layout>
                    <div class="text-center">
                        <v-dialog persistent v-model="dialogCustomer"
                                  width="1000">
                            <v-form
                                    ref="form"
                                    v-model="valid"
                                    lazy-validation>
                                <v-card>
                                    <create-customer
                                            :checkDialogCustomer='dialogCustomer'
                                            @submitSuccess="submitSuccess"
                                            @callback='dialogCustomer = $event'
                                            @recheck='dialogCustomer = $event'
                                    >
                                    </create-customer>
                                </v-card>
                            </v-form>
                        </v-dialog>
                    </div>
                    <v-layout justify-center v-if="addCustomerId">
                        <v-flex xs6 class="text-xs-right">
                            <v-btn
                                    color="success"
                                    @click="create"
                                    small>
                                Thêm mới
                            </v-btn>
                        </v-flex>
                        <v-flex xs6>
                            <v-btn
                                    color="error"
                                    @click="back()"
                                    small>
                                Hủy bỏ
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-container>
    </v-form>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import CreateCustomer from "@/views/customers/Create.vue"
    import DialogCreate from "@/views/orders/createOrder/DialogCreate.vue"

    export default {
        components: {
            CreateCustomer,
            DialogCreate
        },
        data: () => ({
            //================notification==========================
            formNotification: {
                user_id: 1,
                project_key: '5601505fb9b69983934ea45adbdce349',
                data_notice: {
                    notification: {
                        title: 'Đơn hàng mới',
                        subtitle: '',
                        body: '',
                        click_action: '',
                    },
                    data: {
                        key1: 'VAB0001',
                        key2: 'order_detail'
                    }
                }
            },
            //================================================================
            dialogCustomer: false,
            dialogCreate: false,
            valid: false,
            addCustomerId: '',
            checkSingleOrCombo: '',
            saleOfOrder: 0,
            form: {
                customer_id: '',
                note: '',
                total_price: 0,
                payment_method: 0,
                shooting_location: '',
                vat: 0,
                sale_off: 0,
                order_service: [
                    {
                        price_combo: 0,
                        max_sale: 0,
                        price_add_service: 0,
                        dialog: false,
                        combo_category_id: '',
                        combo_id: '',
                        total_price: 0,
                        sale_off: 0,
                        service_ids: [],
                        add_service: []
                    }
                ]
            },

            headers: [
                {text: "Dịch vụ", align: "left", value: "name"},
                {text: "Số lượng", align: "center", value: "number"},
            ],
            headersAddService: [
                {text: "Dịch vụ", align: "left", value: "name"},
                {text: "Giá", align: "right", value: "price"},
                {text: "Số lượng", align: "center", value: "number"},
            ],
        }),
        mounted() {
            this.getListCustomer();
        },
        computed: {
            ...mapGetters(['listCustomer']),
        },
        watch: {},
        methods: {
            ...mapActions([
                "createOrderNew",
                "getListCustomer",
                "pushNotification"
            ]),

            checkSingleOrder() {
                this.dialogCreate = true;
                this.checkSingleOrCombo = 0;
                if(this.form.checkReturn == 1){
                    this.form.order_service = [];
                    this.form.order_service.push({
                        price_combo: 0,
                        price_add_service: 0,
                        menu1: false,
                        dialog: false,
                        combo_category_id: '',
                        combo_id: '',
                        total_price: 0,
                        sale_off: 0,
                        service_ids: [],
                        add_service: []
                    });
                }
            },

            checkComboOrder() {
                this.dialogCreate = true;
                this.checkSingleOrCombo = 1;
                if(this.form.checkReturn == 0){
                    this.form.order_service = [];
                    this.form.order_service.push({
                        price_combo: 0,
                        price_add_service: 0,
                        menu1: false,
                        dialog: false,
                        combo_category_id: '',
                        combo_id: '',
                        total_price: 0,
                        sale_off: 0,
                        service_ids: [],
                        add_service: []
                    });
                }
            },

            submitSuccess(value) {
                this.dialog = false;
                this.getListCustomer();
                this.addCustomerId = value.data.id;
            },

            totalAllPrice() {
                var sum = 0;
                this.form.order_service.forEach(e => {
                    sum += e.total_price - e.sale_off;
                });
                return sum - this.saleOfOrder * sum / 100;
            },

            getDataForm(value) {
                this.form = value;
                this.dialogCreate = false;
            },

            create() {
                this.form.customer_id = this.addCustomerId;
                console.log(this.form);
                this.createOrderNew(this.form)
                    .then(response => {
                        this.$success();
                        this.$router.push('/order/view/' + response.data.data.id);
                        this.sendNotification(response);
                    })
                    .catch(error => {
                        this.$error("Thêm mới không thành công!");
                    })
            },

            back() {
                this.$router.push("/order");
            },

            sendNotification(response) {
                this.formNotification.data_notice.notification.click_action = '/orders/view/' + response.data.data.id;
                this.formNotification.data_notice.notification.subtitle = this.$auth.user().avatar;
                this.formNotification.data_notice.notification.body = 'Một đơn hàng mới đã được tạo bởi ' + this.$auth.user().name;
                // this.formNotification.user_id = this.$auth.user().id;
                console.log(this.formNotification);
                this.pushNotification(this.formNotification)
                    .then(response => {
                    })
                    .catch(error => {
                        this.$error("Gửi thông báo không thành công");
                    })
            }
        },
    }
</script>

