<template>
  <v-form v-model="valid">
    <v-container grid-list-xl>
      <v-card>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs6 sm4>
              <!--              <v-autocomplete label="Khách hàng" :items="customer"></v-autocomplete>-->
              <v-autocomplete
                label="Khách hàng"
                v-model = "form.customer_id"
                :items="listCustomer"
                item-text="name"
                item-value="id"
                :rules="[v => !!v || 'Item is required']"
                name='customer_id'
                v-validate="'required'"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs6 sm4></v-flex>
            <v-flex xs2 sm4 class="text-sm-right" style='width: 50%';>
              <a small @click.stop="dialog=true">Thêm mới khách hàng</a>
              <!--              <br>-->
            </v-flex>
          </v-layout>
          <div class="text-center">
            <v-dialog persistent v-model="dialog"
                      width="1000">
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation>
                <v-card>
                  <create-customer
                    :check='dialog'
                    @submitSuccess="submitSuccess"
                    @callback='dialog = $event'
                    @recheck='dialog = $event'
                  >
                  </create-customer>
                </v-card>
              </v-form>
            </v-dialog>
          </div>
          <div v-for="(cb,k) in form.order_service">
            <div class="rowCombo">
              <div class="overline mb-1 font-weight-black">
                <a>Combo {{k+1}}</a>
              </div>
              <v-layout wrap>
                <v-flex xs5 sm4>
                  <v-autocomplete
                    label="Loại gói chụp"
                    :items="listCombo"
                    item-text="name"
                    item-value="id"
                    :rules="[v => !!v || 'Item is required']"
                    name='category_id'
                    v-model="cb.combo_category_id"
                    @change="selectionChangedCategory(cb.combo_category_id)"
                    v-validate="'required'"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs5 sm4>
                  <v-autocomplete
                    label="Tên gói chụp"
                    :items="comboByCategory"
                    item-text="name"
                    item-value="id"
                    v-model="cb.combo_id"
                    @change="selectionChangedCombo(cb.combo_id,k)"
                    name='combos'
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs2 sm2 class="text-md-right">
                  <a v-if="k>0" @click.stop="removeCombo(k)">Remove Combo</a>
                  <br>
                  <a @click.stop="cb.dialog=true">Thêm dịch vụ</a>
                  <v-dialog
                    v-model="cb.dialog"
                    persistent
                    max-width="700"

                  >
                    <v-card>
                      <plain-table :check='cb.dialog'
                                   @callback='cb.dialog = $event'
                                   @recheck='cb.dialog = $event'
                                   @list='cb.add_service = $event'
                      >
                      </plain-table>
                    </v-card>
                  </v-dialog>
                </v-flex>
              </v-layout>
              <v-layout wrap >
                <v-flex xs12 sm8 >
                  <v-card
                          class="mx-auto"
                          outlined>
                    <div class="overline mb-1 font-weight-black pa-2">
                      <a>Dịch vụ trong Combo</a></div>
                    <div >
                      <template v-if="cb.service_ids">
                        <v-data-table :headers="headers"
                                      :items="cb.service_ids"
                                      hide-actions
                        >
                          <template slot="items" slot-scope="props">
                            <td>{{ props.item.service_name }}</td>
                            <td class="text-xs-center">
                              {{ props.item.number }}
                            </td>
                            <td class="text-xs-center">
                              <v-btn icon small @click="popupDelete(props.index,k)">
                                <v-icon dark>remove_circle</v-icon>
                              </v-btn>
                            </td>
                          </template>
                        </v-data-table>
                      </template>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm8 >
                  <v-card v-if="cb.add_service"
                          class="mx-auto"
                          outlined>
                    <div class="overline mb-1 font-weight-black pa-2">
                      <a>Danh sách dịch vụ thêm</a>
                    </div>
                    <div >
                      <template>
                        <v-data-table :headers="headersAddService"
                                      :items="cb.add_service"
                                      hide-actions
                                      class="elevation-0">
                          <template slot="items" slot-scope="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-right">{{ props.item.sale_price | formatPrice }}</td>
                            <td class="text-xs-center">
                              {{ props.item.number }}
                            </td>
                            <td class="text-xs-center">
                              <v-btn icon small @click="popupDeleteExtraService(props.index,k)">
                                <v-icon dark>remove_circle</v-icon>
                              </v-btn>
                            </td>
                          </template>
                        </v-data-table>
                      </template>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs3 sm2>
                  <v-text-field label="Giá gói chụp"  readonly v-model="cb.price_combo" ></v-text-field>
                </v-flex>
                <v-flex xs3 sm2 v-if="cb.add_service">
                  <v-text-field  label="Giá dịch vụ thêm" readonly v-model="cb.price_add_service=totalAddService(k)"  ></v-text-field>
                </v-flex>
                <v-flex xs3 sm2>
                  <v-text-field label="Tổng giá dịch vụ"  readonly v-model="cb.total_price= cb.price_add_service + cb.price_combo" ></v-text-field>
                </v-flex>
                <v-flex xs3 sm2>
                  <v-text-field label="Sale off" clearable v-model="cb.sale_off" ></v-text-field>
                </v-flex>
                <v-flex xs3 sm2>
                  <v-text-field label="Thành tiền" :value="cb.total_price - cb.sale_off"></v-text-field>
                </v-flex>
                <v-flex xs3 sm2 class="text-sm-right" offset-sm2>
                  <a small @click="addRowCombo(k)">Thêm gói chụp</a>
                </v-flex>
              </v-layout>
            </div>
          </div>
          <v-layout wrap>
            <v-flex xs6 sm4>
              <v-textarea
                class="textareaHeight"
                v-model = "form.note"
                label="Ghi chú">
              </v-textarea>
            </v-flex>
          </v-layout>

          <v-layout wrap>
            <v-flex xs12>
              <div class="overline mb-1 font-weight-black">
                <a>Note:</a>
              </div>
              <!--              <div v-for="rowText in listPaymentType" class="px-2">-->
              <!--                {{rowText}}-->
              <!--              </div>-->
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex xs3 sm2>
              <v-text-field label="Tổng giá gói chụp"  readonly v-model="form.total_price = totalAllPrice()" ></v-text-field>
            </v-flex>
            <v-flex xs3 sm2>
              <v-text-field label="Sale Off" type="number" v-model="form.sale_off"  ></v-text-field>
            </v-flex>
            <v-flex xs3 sm2>
              <v-text-field label="Còn lại" readonly :value="form.total_price - form.sale_off"  ></v-text-field>
            </v-flex>
            <v-flex xs3 sm2>
              <v-text-field label="VAT" v-model="form.vat" type="number"></v-text-field>
            </v-flex>
            <v-flex xs3 sm2>
              <v-text-field label="Phải thu" readonly :value="form.total_price - form.total_price*form.sale_off/100 + form.vat*form.total_price/100"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-flex xs6 class="text-xs-right">
              <v-btn
                color="success"
                @click="update"
                small>
                Cập nhật
              </v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn
                color="error"
                @click="back()"
                small>
                Hủy bỏ
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
    import { mapGetters,mapActions } from 'vuex'
    import PlainTable from "@/views/combo/checkListService.vue"
    import CreateCustomer from "@/views/customers/Create.vue"

    export default {
        components: {
            PlainTable,
            CreateCustomer
        },
        data: () => ({
            timeout: 10000,
            date: null,
            dialog: false, // lấy khách hàng mới
            check:'',
            combo_id:'',
            valid: false,
            form: [],
            headers: [
                { text: "Name", align: "left", value: "name"},
                { text: "Number", align: "center", value: "number" },
                { text: "Action", align: "center", value: "action" },
            ],
            headersAddService: [
                { text: "Name", align: "left", value: "name"},
                { text: "Sale price", align: "right", value: "price"},
                { text: "Number", align: "center", value: "number" },
                { text: "Action", align: "center", value: "action" },
            ],
            headersline: [
                { text: "Time", align: "left", value: "time"},
                { text: "Description", align: "center", value: "description", width: "70%" },
                { text: "Action", align: "center", value: "action" },
            ]
        }),
        mounted() {
            this.getList();
            this.getCustomerId();
            this.getListCustomer();
            this.getListCategoryCombo();
        },
        computed: {
            ...mapGetters(['getListCategory','listCustomer','listCombo','comboByCategory']),
        },
        watch: {
        },
        methods: {
            ...mapActions(["updateOrder","getListCustomer","getListCategoryCombo", "getComboByCategory", "getComboToOrder", "getOrderToEdit"]),
            selectionChangedCategory(category_id){
                if(category_id!=0){
                    this.getComboByCategory(category_id);
                }
            },
            totalPriceCombo(key,del=0){
                if((del==1) && this.form.order_service[key].service_ids) {
                    this.form.order_service[key].price_combo = 0;

                    this.form.order_service[key].service_ids.forEach(e => {
                        this.form.order_service[key].price_combo += parseFloat(e.sale_price * e.number);
                    });
                };
            },

            selectionChangedCombo(combo_id,key){
                if(combo_id!=0){
                    this.getComboToOrder(combo_id).then(response => {

                        this.form.order_service[key].service_ids=[];
                        this.form.order_service[key].service_ids=[];
                        this.form.order_service[key].service_ids = response.data.success.combo_service;
                        this.form.order_service[key].price_combo = parseFloat(response.data.success.price) ;
                        this.form.order_service[key].max_sale = parseFloat(response.data.success.max_sale)
                        this.totalPriceCombo(key);
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
                }
            },

            submitSuccess() {
                this.dialog = false;
                this.getListCustomer();
            },

            totalAddService(key){
                const vm = this.form.order_service[key];
                var sum = 0;
                if(vm.add_service){
                    vm.add_service.forEach( e =>{
                        sum += parseFloat(e.sale_price)*parseFloat(e.number);
                    })
                }
                return sum;
            },

            totalAllPrice() {
                var sum = 0;
                if(this.form.order_service) {
                    this.form.order_service.forEach(e=> {
                        sum += parseFloat(e.total_price) - parseFloat(e.sale_off * e.total_price / 100);
                    });
                }
                return sum;
            },

            update() {
                this.updateOrder(this.form)
                    .then(response => {
                        this.$success();
                        this.$router.push('/order/view/' + response.data.data.id );
                    })
                    .catch(error => {
                        this.$error("Thêm mới không thành công!");
                    })
            },

            back() {
                this.$router.push("/order");
            },

            addRowCombo(row) {
                this.form.order_service.push({
                    price_combo:0,
                    price_add_service:0,
                    menu1:false,
                    dialog:false,
                    combo_category_id:'',
                    combo_id:'',
                    total_price:0,
                    sale_off:0,
                    service_ids:[],
                    add_service:[]
                });
            },

            removeCombo(combo_key){
                var it = this.form.order_service;
                it.splice(combo_key, 1);
            },

            popupDelete(service_key,key){
                this.$confirm('Xóa dịch vụ trong Combo!','')
                    .then(response => {
                        this.form.order_service[key].service_ids.splice(service_key, 1);
                        var del = 1;
                        this.totalPriceCombo(key,del);
                    }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },

            popupDeleteExtraService(service_key,key){
                this.$confirm('Xóa dịch vụ thêm!','')
                    .then(response => {
                        this.form.order_service[key].add_service.splice(service_key, 1);
                        this.totalAddService(key);
                    }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },

            getCustomerId(){
                this.form.customer_id = this.$route.query.customer_id;
            },

            getList() {
                this.getOrderToEdit(this.$route.params.id).then(response => {
                    this.form = response.data.success;
                    this.form.order_service.forEach( e=> {
                        if(e.combo_category_id) {
                            this.selectionChangedCategory(e.combo_category_id);
                        }
                    });
                }).catch(error => {
                    this.$error('Lấy dữ liệu không thành công!');
                })
            },
        }
    }
</script>
<style lang="stylus" scoped>
  .checkTop
    margin-top : -10px !important;
  .v-input--selection-controls
    margin-top: 0px !important;
  .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child)
    margin-bottom: 0px !important;
  .checkRow
    margin-top : 0px !important;
    padding: 0px 12px !important;
    height: 60px;
  .active
    color:red;
  .inactive
    color:lightgray;
  .rowCombo
    border:1px solid #ebebeb;
    padding: 10px !important;
</style>
