<template>
    <div class="list-table">
        <v-container grid-list-xl fluid pa-0>
            <v-layout row wrap class="ml-0 pl-3">
                <div v-for="(e,i) in list_search"
                     class="list-search pl-1 pr-1 text-center titles "
                     :class="{ 'active': activeIndex === i}" :key="e.id"
                     @click="setActive(i, e.id)"
                >
                    <p class="p_2"> {{e.number}} </p>
                    <p class="p_3"> {{e.name}} </p>
                </div>
            </v-layout>
            <v-layout row wrap>
                <v-flex lg12>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-container pa-0>
                                <v-layout wrap>
                                    <v-flex>
                                        <v-text-field
                                                solo
                                                class="search-all"
                                                label="Tìm kiếm"
                                                background-color="rgba(220,220,220,0.1)"
                                                flat
                                        >
                                            <template v-slot:prepend-inner>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                >
                                                    <v-icon>search</v-icon>
                                                </v-btn>
                                            </template>
                                            <template v-slot:append>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                        @click="show_search = !show_search">
                                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                </v-btn>
                                            </template>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-spacer></v-spacer>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click="create"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Thêm đơn hàng</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click='popupDestroy' v-if='complex.selected.length'
                                           v-on="on">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Xóa các đơn hàng đã chọn</span>
                            </v-tooltip>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <v-data-table
                                    :headers="complex.headers"
                                    select-all
                                    :items="complex.items"
                                    class="elevation-0"
                                    hide-default-footer
                                    hide-actions
                                    checkable
                                    v-model="complex.selected">
                                <template slot="items" slot:activator slot-scope="props">
                                        <td>
                                            <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                        </td>
                                        <td><a @click="view(props.item.id)">{{ props.item.code }}</a></td>
                                        <td><a @click="viewCustomer(props.item.customer_id)">
                                          {{ props.item.customer.name }}
                                        </a></td>
                                        <td class="pa-0 text-xs-center">{{ props.item.created_at | formatDate }}</td>
                                        <td class="pa-0 text-xs-center">
                                            <div v-for='(e,k) in status' :key="e.id" v-if='props.item.status==e.id'
                                                 :class="` font-weight-bold ${e.color}--text`">
                                                {{e.title}}
                                            </div>
                                        </td>
                                        <td class="pr-3 text-xs-right red_color">{{ props.item.total_price | formatPrice
                                            }}
                                        </td>
                                        <td class="pr-3 text-xs-center">{{ props.item.user.name }}</td>
                                        <td class="pl-0 right text-xs-center">
                                            <v-btn v-if="props.item.note" class="img ma-0 float-right" title="Hóa đơn chỉ được sửa trong vòng 10 phút từ thời điểm tạo hóa đơn"
                                                   @click="edit(props.item.id)" flat icon
                                                   color="grey">
                                                <v-icon class="icon1">edit</v-icon>
                                            </v-btn>
                                            <v-btn class="img ma-0 float-right" flat icon color="grey"
                                                   title="Xóa đơn hàng"
                                                   @click="deleteOrder(props.item.id)">
                                                <v-icon>delete</v-icon>
                                            </v-btn>
                                        </td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                        <pagination :pagination="pagination" v-on:click.native="getLists(pagination.current_page, checkStatus)"
                                    :offset="4"></pagination>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import Pagination from "@/views/pagination/pagination.vue"

    export default {
        components: {Pagination},
        data() {
            return {
                number: [],
                checkStatus: null,
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                list_search: [],
                activeIndex: 0,
                activeIndexd: '',
                ids: [],
                customer_id : '',
                data: [],
                status: [
                    {
                        id: "0",
                        title: "Chờ thanh toán",
                        color: 'cyan',
                    },
                    {
                        id: "1",
                        title: "Đang xử lý",
                        color: 'green',
                    },
                    {
                        id: "2",
                        title: "Đang thực hiện",
                        color: 'pink',
                    },
                    {
                        id: "3",
                        title: "Kết thúc",
                        color: 'orange',
                    },
                ],
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Mã đơn hàng",
                            value: "code",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Khách hàng",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Ngày",
                            value: "date",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Trạng thái",
                            value: "status",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Tổng đơn giá",
                            value: "price",
                            align: 'right',
                            sortable: false
                        },
                        {
                            text: "Người tạo",
                            value: "user_id",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Hành động",
                            sortable: false,
                            align: "center"
                        }
                    ],
                    items: []
                }
            }
        },
        mounted() {
            this.getListNumber();
            this.getLists(this.pagination.current_page, this.checkStatus);
        },
        methods: {
            ...mapActions(['deleteOrders', 'getPaginativeOrder', 'getListNumberOrder']),

            setActive(index , element) {
                this.activeIndex = index
                var opts = [];
                if(element == 5) {
                    this.checkStatus = null;
                    opts.page = 1;
                    opts.status = this.checkStatus;
                }else {
                    this.checkStatus = element;
                    opts.page = 1;
                    opts.status = this.checkStatus;
                }
                this.getPaginativeOrder(opts)
                    .then(response => {
                        this.complex.items = [];
                        this.complex.items = response.data.success.data;
                        this.pagination = [];
                        this.pagination = response.data.success;
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            getLists(page, status) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                let opts = [];
                opts.page = page;
                opts.status = status;
                this.getPaginativeOrder(opts)
                    .then(response => {
                        this.complex.items = response.data.success.data;
                        var d = new Date();
                        var startDate = d.getTime();
                        this.complex.items.forEach(e=> {
                            ((startDate - Date.parse(e.created_at)) / (60 * 1000)) < 10 ? e.note = true : e.note = false;
                        })
                        this.pagination = response.data.success;
                        loader.hide();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            getListNumber() {
                this.getListNumberOrder()
                    .then(response => {
                        this.list_search = response.data.success;
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            edit(id) {
                this.$router.push('/order/edit/' + id);
            },
            // xóa nhiều đơn hàng
            popupDestroy() {
                this.$confirm('Xóa hóa đơn!', '')
                    .then(response => {
                        this.complex.selected = this.complex.selected.map(i => i.id);
                        let ids = {"ids": this.complex.selected}
                        this.deleteOrders(ids).then(response => {
                            if(response.data.message == 1)
                            {
                                this.$success();
                                this.getLists();
                            }
                            if(response.data.message == 2)
                            {
                                this.$error(' Có hóa đơn đang xử lí');
                            }if(response.data.message == 3)
                            {
                                this.$error(' Có hóa đơn đang thực hiện');
                            }
                            if(response.data.message == 4)
                            {
                                this.$error(' Có hóa đơn đã kết thúc');
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            create() {
                this.$router.push('/order/create');
            },
            view(id) {
                this.$router.push('/order/view/' + id);
            },
            viewCustomer(customer_id){
                this.$router.push({path: '/customers', query: {customer_id: customer_id}});
            },
            // xóa từng đơn hàng
            deleteOrder(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa hóa đơn!', '')
                    .then(response => {
                        this.deleteOrders(ids).then(response => {
                            if(response.data.message == 1)
                            {
                            this.$success();s
                            this.getLists();
                            }
                            if(response.data.message == 2)
                            {
                                this.$error(' Hóa đơn đang xử lí');
                            }if(response.data.message == 3)
                            {
                                this.$error(' Hóa đơn đang thực hiện');
                            }
                            if(response.data.message == 4)
                            {
                                this.$error(' Hóa đơn đã kết thúc');
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
        },
        created() {

        }
    }
</script>
<style lang="stylus" scoped>
    .v-icon {
        size: 50px;
    }

    .search {
        border-radius: 5px;
        background: #dedcdc;
        height: 40px;
        width: 90%;
    }

    .search1 {
        float: right;
    }

    .icontimkiem {
        width: 40px;
        height: 40px;
        float: left;
    }

    .timkiem {
        height: 40px;
        float: left;
        width: 75%;
    }

    .searchtimkiem {
        height: 40px;
        width: 100%;
        outline: none;
        text-align: center;
    }

    .icon1 {
        font-size: 20px;
        color: gray;
    }

    .icon2 {
        font-size: 24px;
        color: gray;
    }

    .img {
        float: left;
    }

    .nut {
        outline: none;
        width: 40px;
        height: 40px
    }

    .list-search {
        height: 65px;
        width: 19%;
        box-sizing: border-box;
        padding: 2px;
        margin: 3px;
        position: relative;
        border-radius: 5px;
        background: white;
        font-size: 10px;
    }

    .list-search:after {
        position: absolute;
        background: white;
        content: "";
        top: 40%;
        left: 100%;
        margin-left: -6px;
        z-index: 1;
        transform: rotate(45deg);
        height: 12px;
        width: 12px;
    }

    .list-search:before {
        position: absolute;
        background: #fafafa;
        z-index: 0;
        content: "";
        top: 40%;
        left: -1%;
        margin-left: -5px;
        transform: rotate(45deg);
        height: 12px;
        width: 12px;
    }

    .list-search:first-child:before {
        position: none;
        border-left: none;
        border-right: none;
        border-top: none;
        background: none;
        z-index: 0;
        content: "";
    }

    .list-search:last-child:after {
        position: none;
        background: none;
        z-index: 0;
        content: "";
    }

    .active {
        font-weight: 700;
        color: white;
        background: #484f5e;
    }

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

    .active:after {
        content: "";
        background: #484f5e;
    }

    .titles {
        font-size: 16px;

    .p_2 {
        margin-top: 5px;

    }

    .p_3 {
        margin-top: 2px;
    }

    p {
        margin-bottom: 0px;
    }

    }
</style>

