<template>
    <v-container grid-list-xl fluid pa-0>
        <v-layout ml-4 mr-4 mb-1 wrap row>
            <v-tabs
                    v-model="tab"
                    style="width:100%"
                    grow>
                <v-tabs-slider color="red"></v-tabs-slider>
                <v-tab
                        v-for="e in items"
                        :key="e.id"
                        @click="setActive(e)">
                    {{ e.name }}
                </v-tab>
            </v-tabs>
        </v-layout>
        <v-layout ml-4 mr-4 wrap row>
            <v-tabs-items v-model="tab">
                <v-tab-item
                        v-for="e in items"
                        :key="e.id"
                >
                </v-tab-item>
            </v-tabs-items>
            <v-card flat v-if="tab==0" style="width:100%;">
                <detail
                        @customer_id='customer_id = $event'
                        @status='status = $event'
                >
                </detail>
            </v-card>
            <v-card flat v-if="tab==1" width="100%">
                <incurred
                        :customer_id="customer_id"
                        :status="status">
                </incurred>
            </v-card>
            <v-card flat v-if="tab==2" width="100%">
                <timeline :order_id="$route.params.id"></timeline>
            </v-card>
            <v-card flat v-if="tab==3" width="100%">
                <Contract :order_id="$route.params.id"></Contract>
            </v-card>
            <v-card flat v-if="tab==4" width="100%">
                <email :order_id="$route.params.id"
                       :customer_id="customer_id"></email>
            </v-card>
        </v-layout>
        <button v-shortkey.once="['ctrl', 'shift', 'c',]" @shortkey="theAction()"></button>
        <v-dialog
                v-model="dialog"
                max-width="700"
        >
            <comment :order_id="$route.params.id" @dialog='dialog = $event'></comment>
        </v-dialog>
    </v-container>
</template>
<script>
    import {mapActions} from 'vuex'
    import Detail from "@/views/orders/lists/detail/Detail.vue"
    import Comment from "@/views/orders/Comment.vue";
    import Incurred from "@/views/orders/lists/Incurred.vue";
    import Email from "@/views/orders/lists/Email.vue";
    import Timeline from "@/views/orders/lists/Timeline.vue";
    import Contract from "@/views/orders/lists/contract/Contract.vue";

    export default {
        components: {
            Comment,
            Detail,
            Incurred,
            Email,
            Timeline,
            Contract
        },

        data: () => ({
            tab: null,
            customer_id: '',
            status: '',
            dialog: false,
            data: [],
            items: [
                {id: 1, name: 'Chi tiết hóa đơn'},
                {id: 2, name: 'Chi phí'},
                {id: 3, name: 'TimeLine'},
                {id: 4, name: 'Hợp đồng'},
                {id: 5, name: 'Email'}],
        }),
        methods: {
            ...mapActions(['getOrder', 'getComment', 'createCommnent']),
            setActive(e) {

            },
            theAction(event) {
                this.dialog = true;
            },
            create() {
            },
            getList() {
            },

        },
        beforeDestroy() {

        },
        created() {
        }
    }
</script>
<style lang="css" scoped>
    .list-search {
        height: 35px;
        width: 200px;
        box-sizing: border-box;
        padding: 2px;
        margin: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
        line-height: 31px;
        font-size: 17px;
    }

    .list-search:after {
        position: absolute;
        background: white;
        content: "";
        top: 40%;
        left: 100%;
        margin-left: -6px;
        z-index: 1;
        transform: rotate(45deg);
        height: 10px;
        width: 10px;
    }

    .list-search:before {
        position: absolute;
        background: #fafafa;
        z-index: 0;
        content: "";
        top: 40%;
        left: -2%;
        margin-left: -5px;
        transform: rotate(45deg);
        height: 10px;
        width: 10px;
    }

    .list-search:first-child:before {
        position: none;
        border-left: none;
        border-right: none;
        border-top: none;
        background: none;
        z-index: 0;
        content: "";
    }

    .list-search:last-child:after {
        position: none;
        background: none;
        z-index: 0;
        content: "";
    }

    .active {
        font-weight: 700;
        color: white;
        background: #484f5e;
    }

    .active:after {
        content: "";
        background: #484f5e;
    }

    .v-toolbar__content {
        height: 0px !important;
    }
</style>