<template>
  <v-layout justify-center>
    <v-form 
    ref="form"
    v-model="valid"
    lazy-validation>
    <v-card>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6 md4 offset-md1>
              <v-text-field label="Họ và tên" 
              v-model='form.name'
              :rules="nameRules"
              name='name'
              v-validate="'required'"
              :counter="30">
            </v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md2>
            <v-text-field label="Mã khách hàng"
            v-model='form.code'
            :rules="[v => !!v || 'Item is required']"
            name='code'
            type="text"
            v-validate="'required'">
          </v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md4 offset-md1>
          <v-text-field label="Địa chỉ"
          v-model='form.address'
          :rules="[v => !!v || 'Item is required']"
          name='address'
          v-validate="'required'"
          type="text"
          required>
        </v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md4 offset-md2>
        <v-text-field label="Địa chỉ email" 
        :rules="emailRules"
        v-model='form.email_address'
        :counter="30"
        type='email'
        name='email_address'>
      </v-text-field>
    </v-flex>
    <v-flex xs12 sm6 md4 offset-md1>
      <v-text-field label="Số điện thoại" 
      name='mobile_phone'
      v-model='form.mobile_phone'
      :rules="[v => !!v || 'Item is required']"
      v-validate="'required'"
      type="number">
    </v-text-field>
  </v-flex>
  <v-flex xs12 sm6 md4 offset-md2>
    <v-text-field
    label="Mã số thuế"
    v-model='form.tax_code'

    ></v-text-field>
  </v-flex>
  <v-flex xs12 sm6 md4 offset-md1>
    <v-text-field label="Tài khoản ngân hàng"
        v-model='form.bank_code'
 ></v-text-field>
  </v-flex> 

<v-flex xs12 sm6 md4 offset-md2>
  <v-textarea
  name="input-7-1"
  label="Mô tả chung "
  value=""
   v-model='form.description'
  hint="Hint text"
  ></v-textarea>
</v-flex>
<v-flex xs12 sm6 md4 offset-md1>
    <v-text-field label="Lĩnh vực kinh doanh"
        v-model='form.field_work'
 ></v-text-field>
  </v-flex>
</v-layout>
</v-container>
<!-- <small>*indicates required field</small> -->
</v-card-text>
<v-layout justify-center>
  <v-flex xs6 class="text-xs-right">
    <v-btn
    small
    color="success"
    @click="create">
    Thêm mới
  </v-btn>
</v-flex>
<v-flex xs6>
  <v-btn 
  small
  color="error"
  @click="back">
  Hủy bỏ
</v-btn>
</v-flex>
</v-layout>
</v-card>
</v-form>
</v-layout>
</template>
<script>
  import {mapActions} from 'vuex'
  export default {
    data: () => ({
      valid: true,
      nameRules: [
      v => !!v || 'Name is required',
        // v => v.length > 10 || 'Name must be less than 10 characters',
        ],
        emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
        date: null,
        menu1: false,
        menu2: false,
        form:{
          name:'',
          code:'',
          address:'',
          mobile_phone:'',
          email_address:'',
          tax_code:'',
          bank_code:'',
          description:'',
          field_work:'',
        },
      }),
    methods: {
        ...mapActions(['createSupplier']),   

      create () {        
        this.$validator.validateAll().then((result) => {
          if (!result) {
            this.$warning();
          } else {
            this.createSupplier(this.form).then(response => {
                this.$success();
                this.$router.push('/suppliers');

            }).catch(error => {
                this.$error('Dữ liệu thêm mới không hợp lệ!');
            })
          }
        });
      },
      back(){
        this.$router.push('/suppliers');
      },
    },
  }
</script>