<template>
    <v-card lg6 class="mt-2 float-md-left">
        <div class="float-md-left historyorder">
            <p class="float-md-left pa-2 pt-3" style=" font-weight: 500;width: 32%">Lịch sử đặt hàng</p>
            <p class="pa-2 pt-3" style=" font-weight: 500;width: 32%">Tổng tiền: {{total | formatPrice}}</p>
            <p class="pa-2 pt-3" style=" font-weight: 500;width: 32%">Tổng số đơn: {{count}}</p>
        </div>
        <div class="float-left">
            <v-data-table
                    :headers="history"
                    :items="items"
                    class="elevation-1"
                    hide-default-footer
                    hide-actions
            >
                <template slot="items" slot:activator slot-scope="props">

                    <td>{{ props.item.service.name }}</td>
                    <td> 
                        <div v-if="props.item.start_date">
                            {{ props.item.start_date | formatDate }} - {{ props.item.end_date | formatDate}}
                        </div>
                        <div v-else>
                            {{ props.item.start_date_plan | formatDate }} - {{ props.item.start_date_plan | formatDate}}
                        </div>
                    </td>
                    <td>{{ props.item.service.cost_price | formatPrice}}</td>
                </template>
            </v-data-table>
        </div>
    </v-card>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['supplier_id'],
        data() {
            return {
                history: [
                    {
                        text: "Tên dịch vụ",
                        value: "name",
                        sortable: false
                    },
                    {
                        text: "Ngày sử dụng",
                        value: "date",
                        sortable: false
                    },
                    {
                        text: "Tổng tiền",
                        value: "status",
                        sortable: false
                    },
                ],
                items: [],
                total: 0,
                count: 0,
            };
        },
        watch: {
            supplier_id(newSelectedArray, oldSelectedArray) {
                this.getLists(newSelectedArray);
            },
        },
        methods: {
            ...mapActions(['getHistoryJobSupplier']),
            order(order_id) {
                // this.$router.push('/orders/view/' + order_id);
            },
            getLists(supplier_id) {
                this.items = [];
                if(supplier_id){
                    console.log(supplier_id);
                    this.getHistoryJobSupplier(supplier_id)
                            .then(response => {
                                this.items = [];
                                this.items = response.data.success;
                                console.log(this.items);
                                this.totalPrice();
                            }).catch(error => {
                                this.items = [];        
                                this.$error('Dữ liệu gặp sự cố!');
                        })
                }else{
                    this.items = [];
                    this.total = 0;
                    this.count = 0;
                }
   
            },
            totalPrice() {
                this.total = 0;
                this.count = 0;
                this.items.forEach(e => {
                    this.total += parseFloat(e.service.cost_price);
                    this.count++;
                });

            },
        },
    }

</script>
<style lang="stylus" scoped>
    .historyorder {
        display: flex;
    }

</style>
