<template>
    <div class="list-table">
        <v-container pa-0 grid-list-xl fluid>
            <v-layout row wrap pl-2>
                <v-flex lg5 pr-3 pl-1>
                    <v-card>
                        <v-toolbar card color="white">
                            <!--=======================Tìm kiếm=====================================-->
                            <v-container pa-0>
                                <v-layout wrap>
                                    <v-flex>
                                        <v-text-field
                                                solo
                                                class="search-all"
                                                label="Tìm kiếm"
                                                background-color="rgba(220,220,220,0.1)"
                                                flat
                                                v-model="value_search"
                                                @input="getListSearch"
                                        >
                                            <template v-slot:prepend-inner>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                >
                                                    <v-icon>search</v-icon>
                                                </v-btn>
                                            </template>
                                            <template v-slot:append>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                        @click="show_search = !show_search">
                                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                </v-btn>
                                            </template>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <!--===================================Danh sách và thêm nhà cung cấp===============================================-->
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click.stop="$set(dialogNote,1, true)"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Thêm nhà cug cấp</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click='popupDestroy' v-if='complex.selected.length'
                                           v-on="on">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Xóa các nhà cung cấp đã chọn</span>
                            </v-tooltip>
                            <div class="text-center">
                                <v-dialog v-model="dialogNote[1]" width="1000">
                                    <template v-slot:activator="{ on }">
                                    </template>
                                    <v-form ref="form" v-model="valid" lazy-validation>
                                        <v-card>
                                            <v-card-text>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm6 md4 offset-md1>
                                                        <v-text-field label="Tên nhà cung cấp"
                                                                      v-model='form.name'
                                                                      :rules="[v => !!v || 'Nhập tên nhà cung cấp']"
                                                                      name='name'
                                                                      v-validate="'required'"
                                                                      :counter="30">
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md2>
                                                        <v-text-field label="Mã nhà cung cấp"
                                                                      v-model='form.code'
                                                                      name='code'
                                                                      :rules="[v => !!v || 'Nhập  mã nhà cung cấp']"
                                                                      type="text">
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md1>
                                                        <v-text-field label="Địa chỉ giao dịch"
                                                                      v-model='form.address'
                                                                      :rules="[v => !!v || 'Nhập địa chỉ giao dịch']"
                                                                      name='address'
                                                                      v-validate="'required'"
                                                                      type="text"
                                                        >
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md2>
                                                        <v-text-field label="Số điện thoại"
                                                                      name='mobile_phone'
                                                                      v-model='form.mobile_phone'
                                                                      :rules="[v => !!v || 'Nhập số điện thoại']"
                                                                      v-validate="'required'"
                                                                      type="number">
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md1>
                                                        <v-text-field label="Địa chỉ Email"
                                                                      v-model='form.email_address'
                                                                      type='email'
                                                                      :rules="emailRules"
                                                                      name='email_address'
                                                        >
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md2>
                                                        <v-text-field label="Mã số thuế"
                                                                      v-model='form.tax_code'>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md1>
                                                        <v-text-field label="Tài khoản ngân hàng"
                                                                      v-model='form.bank_code'>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md4 offset-md2>
                                                        <v-autocomplete
                                                                label="Lĩnh vực kinh doanh"
                                                                v-model="form.field_work"
                                                                :items="field"
                                                                :rules="[v => !!v || 'Nhập lĩnh vực kinh doanh']"
                                                                name='field_work'
                                                                v-validate="'required'"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-layout class="py-3" justify-center>
                                                <v-flex xs6 class="text-xs-right">
                                                    <v-btn color="success"
                                                           small
                                                           @click="create">
                                                        Thêm mới
                                                    </v-btn>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-btn color="error"
                                                           small
                                                           @click="$set(dialogNote, 1, false)">
                                                        Hủy bỏ
                                                    </v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-card>
                                    </v-form>
                                </v-dialog>
                            </div>
                        </v-toolbar>
                        <!--=======================chi tiết khách hàng===========================-->
                        <v-divider></v-divider>
                        <v-card-text class="mt-0 pt-0 ml-2" v-show="show_search" style="position: absolute; z-index: 1">
                            <v-card class="elevation-10">
                                <v-card-text class="pt-1 pb-0">
                                    <v-text-field label="Tên nhà cung cấp" v-model="formSearch.supplier_name"></v-text-field>
                                    <!--<small class="grey--text">* This doesn't actually save.</small>-->
                                    <v-text-field label="Dịch vụ cung cấp" v-model="formSearch.field_work"></v-text-field>
                                    <v-layout>
                                        <v-text-field class="ml-3" label="Email" v-model="formSearch.email_address"></v-text-field>
                                        <v-text-field class="ml-3 mr-3" label="Số điện thoại" v-model="formSearch.mobile_phone"></v-text-field>
                                    </v-layout>
                                    <v-layout>
                                        <v-menu
                                                class="ml-2 pr-2"
                                                ref="menu3"
                                                :close-on-content-click="false"
                                                v-model="menu3"
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                :nudge-right="40"
                                                max-width="290px"
                                                min-width="290px">
                                            <v-text-field
                                                    v-model="formSearch.date_create"
                                                    slot="activator"
                                                    label="Ngày dùng dịch vụ"
                                                    prepend-icon="event"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker
                                                    v-model="formSearch.date_create"
                                                    no-title
                                                    scrollable actions
                                                    locale="vi-VN"
                                                    @input="menu3 = false">
                                            </v-date-picker>
                                        </v-menu>
                                    </v-layout>
                                </v-card-text>
                                <v-card-actions class="mt-3">
                                    <v-spacer></v-spacer>
                                    <v-btn color="success" @click="changeSearch">Tìm Kiếm</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-card-text>
                        <v-card-text class="pa-0">
                            <v-data-table
                                    :headers="complex.headers"
                                    select-all
                                    :items="complex.items"
                                    item-key="id"
                                    class="elevation-1"
                                    hide-default-footer
                                    hide-actions
                                    checkable
                                    v-model="complex.selected">
                                <template slot="items" slot:activator slot-scope="props">
                                    <v-hover v-slot:default="{ hover }">
                                        <tr :class="[props.item.id==data.id ? 'active' : '']">
                                            <td style="width: 100px">
                                                <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                            </td>
                                            <td @click="view(props.item.id)"><a>{{ props.item.name }}</a></td>
                                            <td class="pa-0 text-xs-right">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn v-if="hover" flat icon class="ma-0"
                                                               @click.stop="$set(dialogN, props.item.id, true,view(props.item.id))"
                                                               color="grey" v-on="on">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </v-btn>
                                                    </template>
                                                    <span>Sửa nhà cung cấp</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn v-if="hover" class="ma-0" flat icon color="grey"
                                                               @click='deleteSup(props.item.id)' v-on="on">
                                                            <i title="xóa nhà cung cấp" class="fa fa-trash"
                                                               aria-hidden="true"></i>
                                                        </v-btn>
                                                    </template>
                                                    <span>Xóa nhà cung cấp</span>
                                                </v-tooltip>
                                                <v-dialog persistent class="d-none" v-model="dialogN[props.item.id]"
                                                          lazy max-width="1000" height="1000px" :key="1">
                                                    <v-card>
                                                        <v-container grid-list-md>
                                                            <v-flex md10 offset-md1 xs12>
                                                                <v-form
                                                                        ref="form"
                                                                        v-model="valid"
                                                                        :lazy-validation="lazy">
                                                                    <v-card-text>
                                                                        <v-layout wrap>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field
                                                                                        v-model='data.name'
                                                                                        name='name'
                                                                                        :counter="30"
                                                                                        label="Tên nhà cung cấp"
                                                                                        required>
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field label="Mã nhà cung cấp"
                                                                                              v-model='data.code'
                                                                                              name='code'
                                                                                >
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field label="Địa chỉ giao dịch"
                                                                                              v-model='data.address'
                                                                                              name='address'
                                                                                              required>
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field label="Số điện thoại"
                                                                                              v-model='data.mobile_phone'
                                                                                              :rules="[v => !!v || 'Nhập số điện thoại']"
                                                                                              name='address'
                                                                                              v-validate="'required'"
                                                                                >
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field label="Địa chỉ email"
                                                                                              :rules="emailRules"
                                                                                              v-model='data.email_address'
                                                                                              name='email_address'
                                                                                              v-validate="'required'"
                                                                                >
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field label="Mã số thuế"
                                                                                              v-model='data.tax_code'
                                                                                              name='tax_code'
                                                                                >
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 offset-md1 md4>
                                                                                <v-text-field
                                                                                        label="Tài khoản ngân hàng"
                                                                                        v-model='data.bank_code'
                                                                                        name='bankcode'>
                                                                                </v-text-field>
                                                                            </v-flex>
                                                                            <v-flex xs12 sm6 md4 offset-md1>
                                                                                <v-autocomplete
                                                                                        label="Lĩnh vực kinh doanh"
                                                                                        v-model="data.field_work"
                                                                                        :items="field"
                                                                                        :rules="[v => !!v || 'Nhập lĩnh vực kinh doanh']"
                                                                                        name='field_work'
                                                                                        v-validate="'required'"
                                                                                ></v-autocomplete>
                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-card-text>
                                                                    <br>
                                                                    <v-divider></v-divider>
                                                                    <v-layout class="pt-3" justify-center>
                                                                        <v-flex xs6 class="text-xs-right">
                                                                            <v-btn small
                                                                                   color="success"
                                                                                   @click="update(data.id)">
                                                                                Update
                                                                            </v-btn>
                                                                        </v-flex>
                                                                        <v-flex xs6>
                                                                            <v-btn small
                                                                                   color="error"
                                                                                   @click.stop="$set(dialogN, props.item.id, false)">
                                                                                Hủy bỏ
                                                                            </v-btn>
                                                                        </v-flex>
                                                                    </v-layout>
                                                                </v-form>
                                                            </v-flex>
                                                        </v-container>
                                                    </v-card>
                                                </v-dialog>
                                            </td>
                                        </tr>
                                    </v-hover>
                                </template>
                            </v-data-table>
                            <v-card flat>
                                <pagination :pagination="pagination"
                                            v-on:click.native="getLists(pagination.current_page)"
                                            :offset="4">
                                </pagination>
                            </v-card>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <!--========================================================phần chi tiết nhà cung cấp==========================================-->
                <v-flex lg7 class="float-md-left">
                    <v-card class="lg12 float-left">
                        <template>
                            <v-card lg6 class="float-md-left">
                                <v-layout float-left class="ma-0">
                                    <v-flex float-md-left class="pa-0" height="70px">
                                        <v-flex class="img pl-2 ma-1 pr-2 float-left">
                                            <v-list-tile-avatar :size="70">
                                                <v-img src="/static/avatar/logo_supplier.png"></v-img>
                                            </v-list-tile-avatar>
                                        </v-flex>
                                        <v-flex v-if='data.name'
                                                class=" img pl-3 ml-2 my-4 headline font-weight-medium"> {{ data.name }}
                                        </v-flex>
                                    </v-flex>
                                </v-layout>
                                <v-divider></v-divider>
                                <div class="float-left lg12 md12 mt-3 info__detail-wrapper">
                                    <v-layout>
                                        <div md6 class="fullsize float-left">
                                            <v-layout wrap class="ma-0">
                                                <v-flex xs12 class='pa-2 ma-0 ml-2'>
                                                    <v-list
                                                            v-for="(item, key) in data_detail.detail_left"
                                                            :key="key"
                                                            dense
                                                    >
                                                        <v-list-tile v-for="(value, k) in data" :key="k"
                                                                     v-if="k == key">
                                                            <v-list-tile-action>
                                                                <v-btn title="" class="ma-0" flat icon color="grey">
                                                                    <i :title="item.title" :class="item.icon"
                                                                       aria-hidden="true"></i>
                                                                </v-btn>
                                                            </v-list-tile-action>
                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-if="value">{{ value }}</v-list-tile-title>
                                                                <v-list-tile-title class="font-weight-thin font-italic" v-else>(Chưa có thông tin : {{item.title}})</v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </div>

                                        <div md6 class="fullsize float-left">
                                            <v-layout wrap style="width: 100%" class="img ma-0">
                                                <v-flex xs12 class="ma-0 ml-2" v-if='data.code'>
                                                    <v-list
                                                            v-for="(item, key) in data_detail.detail_right"
                                                            :key="key"
                                                            dense
                                                    >
                                                        <v-list-tile v-for="(value, k) in data" :key="k"
                                                                     v-if="k == key">
                                                            <v-list-tile-action>
                                                                <v-btn title="" class="ma-0" flat icon color="grey">
                                                                    <i :title="item.title" :class="item.icon"
                                                                       aria-hidden="true"></i>
                                                                </v-btn>
                                                            </v-list-tile-action>
                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-if="value">{{ value }}
                                                                </v-list-tile-title>
                                                                <v-list-tile-title class="font-weight-thin font-italic"
                                                                                   v-else>(Chưa có thông tin : {{item.title}})
                                                                </v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </div>
                                    </v-layout>
                                </div>
                            </v-card>
                        </template>
                        <!--=============================================Phần lịch sử order của nhà cung cấp===============================================-->
                        <history-jobs :supplier_id="supplier_id"></history-jobs>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
    import {mapActions} from 'vuex'
    import Url from "@/api/local"
    import Pagination from "@/views/pagination/pagination.vue"
    import HistoryJobs from "./HistoryJobs"

    export default {
        components: {
            Pagination,
            HistoryJobs
        },
        data() {
            return {
                //===============tìm kiếm===============================
                value_search: null,
                show_search: false,
                check_data_search: false,
                formSearch:
                    {
                        supplier_name: '',
                        email_address: '',
                        mobile_phone: '',
                        field_work: '',
                        date_create: '',
                        order_supplier: '',
                    },
                //===============chi tiết nhà cung cấp==================
                data_detail: {
                    detail_left: {
                        code: {
                            icon: 'fa fa-address-book-o',
                            title: 'Mã nhà cung cấp',
                        },
                        mobile_phone: {
                            icon: 'fa fa-volume-control-phone',
                            title: 'Số điện thoại',
                        },
                        email_address: {
                            icon: 'fa fa-envelope-o',
                            title: 'Email liên hệ'
                        },
                        address: {
                            icon: 'fa fa-map-o',
                            title: 'Tài khoản ngân hàng'
                        }
                    },
                    detail_right: {
                        tax_code: {
                            icon: 'fa fa-id-card-o',
                            title: 'Mã số thuế'
                        },
                        bank_code: {
                            icon: 'fa fa-university',
                            title: 'Tài khoản ngân hàng'
                        },
                        field_work: {
                            icon: 'fa fa-briefcase',
                            title: 'Lĩnh vực kinh doanh'
                        },
                    }
                },
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                //====================phân trang=======================
                total: 0,
                page: 1,
                perPage: 3,
                pageCount: 0,
                itemsPerPage: 10,
                //=========================
                offset: 4,
                dialogNote: [],
                supplier_id: '',
                dialogN: [],
                valid: true,
                lazy: false,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                emailRules: [
                    v => !!v || 'Nhập  Email',
                    v => /.+@.+/.test(v) || 'Nhập đúng E-mail ',
                ],
                menu1: false,
                menu2: false,
                menu3: false,
                field: ['váy cưới', 'make up', 'photo', 'in ấn'],
                form: {
                    name: '',
                    code: '',
                    address: '',
                    mobile_phone: '',
                    email_address: '',
                    tax_code: '',
                    bank_code: '',
                    description: '',
                    field_work: '',
                    married_date: null,
                    childrens: '',
                    date_of_birth: null,
                },
                ids: [],
                data: [],
                dia: false,
                dialog: false,
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Nhà cung cấp",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "",
                            align: "right",
                            width: "120px",
                            sortable: false
                        }
                    ],
                    items: []
                },
            };
        },
        mounted() {
            this.getLists(this.pagination.current_page);
        },
        methods: {
            ...mapActions(['deleteSupplier', 'createSupplier', 'updateSupplier', 'getPaginativeSupplier', 'getSupplier', 'listsAdvancedSupplier']),

            getLists(page) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.complex.items = [];
                if(this.check_data_search == false) {
                    this.getPaginativeSupplier(page)
                        .then(response => {
                            this.complex.items = response.data.success.data;
                            this.pagination = response.data.success;
                            if (this.complex.items[0]['id']) {
                                this.view(this.complex.items[0]['id']);
                                this.supplier_id = this.complex.items[0]['id'];
                            }
                            loader.hide();
                        }).catch(error => {
                        this.$error('Dữ liệu gặp sự cố!');
                        loader.hide();
                    })
                }else {
                    this.formSearch.page = page;
                    this.listsAdvancedSupplier(this.formSearch)
                        .then(response => {
                            this.show_search = false;
                            this.complex.items = response.data.success.data;
                            this.pagination = response.data.success;
                            if (this.complex.items[0]['id']) {
                                this.view(this.complex.items[0]['id']);
                                this.supplier_id = this.complex.items[0]['id'];
                            }
                            loader.hide();
                        }).catch(error => {
                        this.data = [];
                        this.supplier_id = '';
                        this.$search('Không có bản ghi nào được tìm thấy!');
                        loader.hide();
                    })
                }
            },

            changeSearch() {
                this.check_data_search = true;
                this.getLists();
            },

            getListSearch() {
                this.check_data_search = true;
                this.formSearch.supplier_name = this.value_search;
                var position = this.value_search.lastIndexOf(' ') + 1;
                if (position == (this.value_search.length)) {
                    this.getLists();
                }
            },

            popupDestroy() {
                this.$confirm('Xóa khách hàng!', '')
                    .then(response => {
                        this.complex.selected = this.complex.selected.map(i => i.id);
                        let ids = {"ids": this.complex.selected}
                        this.deleteSupplier(ids).then(response => {
                            this.$success();
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            deleteSup(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa nhà cung cấp!', '')
                    .then(response => {
                        this.deleteSupplier(ids).then(response => {
                            if(response.data.message == 1) 
                            {
                            this.$success();
                            this.data = [];
                            this.getLists();                              
                            }
                            else{
                            this.$error(' Đã có công việc');
                            this.data = [];
                            this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            update(id) {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.updateSupplier(this.data).then(response => {
                        this.$success();
                        this.$set(this.dialogN, id, false);
                        loader.hide();
                        this.getLists();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                        loader.hide();
                    })
                }
            },
            view(id) {
                this.data = [];
                this.supplier_id = ''
                this.supplier_id = id;
                console.log(this.supplier_id);
                this.getSupplier(id).then(response => {
                    this.data = response.data.success;
                })
                    .catch(error => {
                        return reject(error);
                    })
            },
            create() {

                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.createSupplier(this.form).then(response => {
                        this.$success();
                        this.$set(this.dialogNote, 1, false);
                        loader.hide();
                        this.form = [];
                        this.getLists();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                        loader.hide();
                    })
                }

            },
        },

    }
</script>
<style lang="stylus">
    .img {
        float: left;
    }

    .search-all.v-input .v-input__slot {
        border-radius: 10px !important;
        margin-bottom: 0px;
    }

    .inactive {
        background: white !important;
    }

</style>
