<template>
    <div class="list-table">
        <v-container pa-0 grid-list-xl fluid>
            <v-layout row wrap pl-2>
                <v-flex class="text-xs-right lg12 pr-4 pt-4">
                    <v-btn outline color="teal" @click.stop="dialog = true">gửi mail</v-btn>
                    <v-dialog v-model="dialog"
                              max-width="500">
                        <v-card>
                            <v-card-text>
                                <v-flex>
                                    <v-text-field label="Đến: địa chỉ mail"
                                                  name='name'
                                                  v-validate="'required'"
                                                  :counter="100">
                                    </v-text-field>
                                </v-flex>
                                <v-flex>
                                    <v-text-field label="Tiêu đề"
                                                  name='name'
                                                  v-validate="'required'">
                                    </v-text-field>
                                </v-flex>
                                <v-flex mt-1>
                                    <v-card-text class="pl-0">
                                        Nội dung thư
                                    </v-card-text>
                                    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                                </v-flex>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn
                                        color="green darken-1"
                                        flat="flat"
                                        @click="dialog = false"
                                >
                                    Disagree
                                </v-btn>

                                <v-btn
                                        color="green darken-1"
                                        flat="flat"
                                        @click="dialog = false"
                                >
                                    Agree
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-divider color="teal"></v-divider>
                </v-flex>
                <v-flex class="lg12 pr-4 pt-0 pb-5">
                    <v-data-table
                            :headers="headers"
                            select-all
                            :items="data"
                            class="elevation-0"
                            hide-default-footer
                            hide-actions
                            checkable
                            v-model="selected"
                    >
                        <template slot="items" slot:activator slot-scope="props">
                            <tr :class="[props.item.id==data.id ? 'active' : 'inactive']">
                                <td>
                                    <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                </td>
                                <td>
                                    {{ props.item.user_id }}
                                </td>
                                <td>
                                    {{ props.item.email_to }}
                                </td>
                                <td>
                                    {{ props.item.header }}
                                </td>
                                <td>
                                    {{ props.item.created_at }}
                                </td>
                                <td>
                                    {{ props.item.created_at }}
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>

    import {mapActions} from 'vuex'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {},
        props: ['order_id', 'customer_id'],
        data() {
            return {
                //====================giao diện gửi email=======================
                dialog: false,
                editorData: '',
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: [
                        'heading', '|',
                        'bold', 'italic', 'underline', '|',
                        'bulletedList', 'numberedList', '|',
                        'undo', 'redo', '|',
                        'link',
                    ],
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        ]
                    }
                },
                //=========================danh sách mail đã gửi
                selected: [],
                data: [],
                headers: [
                    {
                        text: "Người gửi",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Email nhận",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Tiêu đề",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Ngày gửi",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "",
                        align: "center",
                        width: "120px",
                        sortable: false
                    }
                ],
            };
        },

        methods: {
            ...mapActions(['getListEmail']),

            getLists() {
                let opts = {"order_id": this.order_id, "customer_id": this.customer_id};
                this.getListEmail(opts)
                    .then(response => {
                        this.data = response.data.success;
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                    loader.hide();
                })
            },

            create() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.createSupplier(this.form).then(response => {
                        this.$success();
                        this.$set(this.dialogNote, 1, false);
                        loader.hide();
                        this.form = [];
                        this.getLists();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                        loader.hide();
                    })
                }

            },
        },

        created() {
            this.getLists();
        }

    }
</script>

<style lang="stylus">

</style>
