<template>
    <v-container class="pt-0" fluid>
        <v-card-text>
            <v-flex>
                <v-layout>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn flat
                                   icon
                                   color="grey"
                                   @click.stop="$set(dialogNote,1, true)"
                                   v-on="on">
                                <i class="fa fa-plus-circle  fa-2x"
                                   aria-hidden="true">
                                </i>
                            </v-btn>
                        </template>
                        <span>Tạo mới chi phí</span>
                    </v-tooltip>
                </v-layout>
            </v-flex>
            <v-layout wrap class="pl-4 pt-0 pr-4">
                <v-flex class="xs12 md12 lg12 border-layout">
                    <v-data-table
                            :headers="headers"
                            :items="listOrderIncurred"
                            class="elevation-0"
                            hide-default-footer
                            hide-actions
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-left">
                                <a>{{ props.item.incurred_name }}</a>
                            </td>
                            <td class=" pr-0 text-center">
                                {{ props.item.date | formatDate }}
                            </td>
                            <td class="text-center">
                                {{ props.item.payer_name }}
                            </td>
                            <td class="text-right  red_color" style="text-align: right;">
                                {{ props.item.money | formatPrice }}
                            </td>
                            <td class="text-left">
                                {{ props.item.note }}
                            </td>
                            <td class="text-center">
                                {{ props.item.create_by_name }}
                            </td>
                            <td class="text-center">
                                {{ props.item.created_at | formatDate}}
                            </td>
                            <td class=" pa-0 text-center">
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-btn class="ma-0"
                                               title=""
                                               flat
                                               icon
                                               color="grey"
                                               @click.stop="$set(dialogN, props.item.id,view(props.item.id), true)"
                                               v-on="on">
                                            <i class="fa fa-pencil"
                                               aria-hidden="true">
                                            </i>
                                        </v-btn>
                                    </template>
                                    <span>Sửa chi phí</span>
                                </v-tooltip>

                                <v-dialog persistent class="d-none" v-model="dialogN[props.item.id]"
                                          lazy max-width="1000" height="1000px" :key="1">
                                    <template>
                                        <v-layout justify-center>
                                            <v-form
                                                    ref="data"
                                                    v-model="valid"
                                                    lazy-validation>
                                                <v-card>
                                                    <v-card-text>
                                                        <v-container grid-list-md>
                                                            <v-layout wrap>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-autocomplete
                                                                            v-model='data.incurred_id'
                                                                            label="Chi phí phát sinh"
                                                                            :items="listIncurred"
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :rules="[v => !!v || 'Nhập chi phí phát sinh']"
                                                                            name='category_id'
                                                                            v-validate="'required'"
                                                                    ></v-autocomplete>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-menu
                                                                            :close-on-content-click="false"
                                                                            transition="scale-transition"
                                                                            offset-y
                                                                            full-width
                                                                            :nudge-right="40"
                                                                            max-width="290px"
                                                                            min-width="290px">
                                                                        <v-text-field
                                                                                slot="activator"
                                                                                label="Ngày tạo"
                                                                                v-model="data.date"
                                                                                prepend-icon="event"
                                                                                readonly
                                                                        ></v-text-field>
                                                                        <v-date-picker v-model="data.date"
                                                                                       no-title
                                                                                       scrollable actions
                                                                                       locale="vi-VN"
                                                                        >
                                                                        </v-date-picker>
                                                                    </v-menu>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-autocomplete
                                                                            v-model='data.payer'
                                                                            label="Người chi"
                                                                            :items="listUser"
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :rules="[v => !!v || 'Nhập người chi']"
                                                                            name='category_id'
                                                                            v-validate="'required'"
                                                                    ></v-autocomplete>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-text-field label="Số tiền"
                                                                                  v-model='data.money'
                                                                                  :rules="[v => !!v || 'Nhập số tiền']"
                                                                                  v-validate="'required'"
                                                                                  name='minus_price'
                                                                                  type="number"
                                                                    ></v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-text-field label="Chú thích"
                                                                                  v-model='data.note'
                                                                                  :rules="[v => !!v || 'Nhập chú thích']"
                                                                                  name='minus_price'
                                                                                  type="text"
                                                                    ></v-text-field>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-container>
                                                    </v-card-text>
                                                    <v-divider></v-divider>
                                                    <v-layout class="pb-1" justify-center>
                                                        <v-flex xs6 class="text-xs-right">
                                                            <v-btn
                                                                    color="success"
                                                                    small
                                                                    @click="update(data.id)">
                                                                Cập nhật
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-flex xs6>
                                                            <v-btn
                                                                    color="error"
                                                                    small
                                                                    @click.stop="$set(dialogN,props.item.id, false)">
                                                                Hủy bỏ
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-card>
                                            </v-form>
                                        </v-layout>
                                    </template>
                                </v-dialog>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-btn title=""
                                               class="ma-0"
                                               flat
                                               icon
                                               color="grey"
                                               @click="deleteOr(props.item.id)"
                                               v-on="on">
                                            <i class="fa fa-trash-o"
                                               aria-hidden="true">
                                            </i>
                                        </v-btn>
                                    </template>
                                    <span>Xóa chi phí</span>
                                </v-tooltip>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
                <v-flex class="md12 xs12">
                    <div class="text-center">
                        <v-dialog persistent v-model="dialogNote[1]"
                                  :key="1" lazy width="1000">
                            <template>
                                <v-layout justify-center>
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation>
                                        <v-card>
                                            <v-card-text>
                                                <v-container grid-list-md>
                                                    <v-layout wrap>
                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                            <v-autocomplete
                                                                    v-model='form.incurred_id'
                                                                    label="Chi phí phát sinh"
                                                                    :items="listIncurred"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    :rules="[v => !!v || 'Nhập chi phí phát sinh']"
                                                                    name='category_id'
                                                                    v-validate="'required'"
                                                            ></v-autocomplete>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md4 offset-md2>
                                                            <v-menu
                                                                    ref="menu1"
                                                                    :close-on-content-click="false"
                                                                    transition="scale-transition"
                                                                    offset-y
                                                                    v-model="menu1"
                                                                    full-width
                                                                    :nudge-right="40"
                                                                    max-width="290px"
                                                                    min-width="290px">
                                                                <v-text-field
                                                                        slot="activator"
                                                                        label="Ngày chi"
                                                                        v-model="form.date"
                                                                        prepend-icon="event"
                                                                        readonly
                                                                ></v-text-field>
                                                                <v-date-picker v-model="form.date"
                                                                               no-title
                                                                               @input="menu1 = false"
                                                                               scrollable actions
                                                                               locale="vi-VN"
                                                                >
                                                                </v-date-picker>
                                                            </v-menu>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                            <v-autocomplete
                                                                    v-model='form.payer'
                                                                    label="Người chi"
                                                                    :items="listUser"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    :rules="[v => !!v || 'Nhập người chi']"
                                                                    name='category_id'
                                                                    v-validate="'required'"
                                                            ></v-autocomplete>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md4 offset-md2>
                                                            <v-text-field label="Số tiền"
                                                                          v-model.lazy='money_input'
                                                                          v-money="money_input != '' ? money : ''"
                                                                          :rules="[v => !!v || 'Nhập số tiền']"
                                                                          v-validate="'required'"
                                                                          name='minus_price'

                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                            <v-text-field label="Chú thích"
                                                                          v-model='form.note'
                                                                          :rules="[v => !!v || 'Nhập chú thích']"
                                                                          v-validate="'required'"
                                                                          name='minus_price'
                                                                          type="text"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-layout class="pb-1" justify-center>
                                                <v-flex xs6 class="text-xs-right">
                                                    <v-btn
                                                            color="success"
                                                            small
                                                            @click="create">
                                                        Thêm mới
                                                    </v-btn>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-btn
                                                            color="error"
                                                            small
                                                            @click="$set(dialogNote, 1, false)">
                                                        Hủy bỏ
                                                    </v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-card>
                                    </v-form>
                                </v-layout>
                            </template>
                        </v-dialog>
                    </div>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-container>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex'
    import Url from "@/api/local"
    import {VMoney} from 'v-money'

    export default {
        directives: {money: VMoney},
        props: ['customer_id'],
        data: () => ({
            money: {},
            money_input: '',
            //===================================
            dialogNote: [],
            dialogN: [],
            valid: true,
            menu1: false,
            menu2: false,
            data: [],
            listOrderIncurred: [],
            form: {
                incurred_id: '',
                order_id: '',
                date: '',
                create_by: '',
                payer: '',
                money: '',
                note: ''
            },
            headers: [
                {
                    text: "Tên chi phí",
                    value: "",
                    align: "left",
                    sortable: false
                },
                {
                    text: "Ngày chi",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Người chi",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Số tiền",
                    value: "",
                    align: "right",
                    sortable: false
                },
                {
                    text: "Ghi chú",
                    value: "",
                    align: "left",
                    sortable: false
                },
                {
                    text: "Người tạo",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Ngày tạo",
                    value: "",
                    align: "center",
                    sortable: false
                },

                {
                    text: "Hành động",
                    value: "",
                    align: "center",
                    sortable: false
                }
            ],
        }),
        created() {
            this.getList();
            this.getListIncurred();
            this.getListUser();
        },
        computed: {
            ...mapGetters(['listIncurred', 'listUser']),
        },
        methods: {
            ...mapActions([
                'getListIncurredByOrder',
                'getListIncurred',
                'getListUser',
                'createOrderIncurred',
                'updateOrderIncurred',
                'deleteOrderIncurred'
            ]),

            getList() {
                this.getListIncurredByOrder(this.$route.params.id).then(response =>{
                    this.listOrderIncurred = response.data.success;
                }).catch(error => {
                    this.$error('Danh sách chi phí phát sinh lỗi!')
                });
            },

            deleteOr(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa chi phí phát sinh!', '')
                    .then(response => {
                        this.deleteOrderIncurred(ids).then(response => {
                            this.$success();
                            this.getListIncurredByOrder(this.$route.params.id);
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },

            view(id) {
                this.data = [];
                var vie = Url.url + '/api/order_incurred/';
                return new Promise((resolve, reject) => {
                    axios.get(vie + id)
                        .then(response => {
                            this.data = response.data.success;
                        })
                        .catch(error => {
                            return reject(error);
                        })
                })
            },

            create() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.form.money = this.unMaskedNumber(this.money_input);
                        this.form.order_id = this.$route.params.id;
                        this.createOrderIncurred(this.form).then(response => {
                            this.$success();
                            this.getListIncurredByOrder(this.$route.params.id);
                            this.$set(this.dialogNote, 1, false);
                            this.form = [];
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
            },

            update(id) {
                if (this.$refs.data.validate()) {
                    this.snackbar = true
                    this.updateOrderIncurred(this.data).then(response => {
                        this.$success();
                        this.getListIncurredByOrder(this.$route.params.id);
                        this.$set(this.dialogN, id, false);
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
                }
            },

        }
    }
</script>

<style lang="css" scoped>
    .active {
        font-weight: 700;
        color: white;
        background-color: #484f5e !important;
    }

    .list-option {
        height: 30px;
        line-height: 25px;
        width: 150px;
        box-sizing: border-box;
        padding: 2px;
        margin: 3px;
        position: relative;
        border-radius: 5px;
        background: whitesmoke;
        font-size: 16px;
    }

    .border-layout{
        border-top: 1px dotted gray;
        width: 100%;
    }
</style>
