<template>
  <v-container>
    <v-layout wrap>
      <v-flex xs6 class="headline text-center"> Timeline dự kiến</v-flex>
      <v-flex xs6 class="headline text-center"> Timeline thực tế</v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12>
        <v-layout wrap v-for="(e,i) in listEvent" :key="i" class="pa-3 border-layout">
          <v-flex xs6>
            <div class="font-weight-black pa-1 text-left"> {{e.name}}</div>
            <v-timeline dense clipped>
              <v-timeline-item v-for="(d,k) in e.detail" :key="k"
                               :class="d.class"
                               :color="d.color"
                               icon-color="grey lighten-2"
                               small
              >
                <v-layout justify-space-between>
                  <v-flex md3 float-left xs3>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <a v-on="on">
                          {{d.time}}
                        </a>
                      </template>
                      <pre v-for='c in d.text'>- {{ c }} </pre>
                    </v-tooltip>
                  </v-flex>
                  <v-flex xs9 md9 float-left>
                    {{d.title}}
                  </v-flex>
                </v-layout>
              </v-timeline-item>
            </v-timeline>
          </v-flex>
          <v-flex xs6>
            <div class="font-weight-black pa-1 text-left"> {{e.name}}</div>
            <v-timeline dense clipped>
              <v-timeline-item v-for="(d,k) in e.detailReal" :key="k"
                               :class="d.class"
                               :color="d.color"
                               icon-color="grey lighten-2"
                               small
              >
                <v-layout justify-space-between>
                  <v-flex md3 float-left xs3>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <a v-on="on">
                          {{d.time}}
                        </a>
                      </template>
                      <pre v-for='c in d.text'>- {{ c }} </pre>
                    </v-tooltip>
                  </v-flex>
                  <v-flex xs9 md9 float-left>
                    {{d.title}}
                  </v-flex>
                </v-layout>
              </v-timeline-item>
            </v-timeline>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </v-container>
</template>
<script>
    import {mapActions} from 'vuex'
    export default {
        data: () => ({
            events: [],
            input: null,
            listEvent: [],
            nonce: 0
        }),
        mounted() {
            this.getExpected();
        },
        computed: {
            timeline() {
                return this.events.slice().reverse()
            },
            sortedItems() {
                return this.listEvent.sort((a, b) => new Date(a.time) - new Date(b.time))
            }
        },
        methods: {
            ...mapActions(['getExpectedTimeline']),

            getExpected() {
                this.getExpectedTimeline(this.$route.params.id).then(response => {
                    this.listEvent = []
                    this.listEvent = response.data.success
                    this.listEvent.forEach(e => {
                        this.pushToday(e.detail);
                        e.detail = e.detail.sort((a, b) => new Date(a.time) - new Date(b.time))
                        this.pushToday(e.detailReal);
                        e.detailReal = e.detailReal.sort((a, b) => new Date(a.time) - new Date(b.time))
                    });
                }).catch(error => {
                    this.$error('Timeline lỗi!');
                });
            },

            formatDateYmd(date) {
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();

                if (day < 10) {
                    day = '0' + day;
                }
                if (month < 10) {
                    month = '0' + month;
                }

                return year + '-' + month + '-' + day
            },

            pushToday(detail) {
                var today = new Date();
                var checkToday = false; // kiểm tra ngày hnay co lịch chưa
                today = this.formatDateYmd(today);

                detail.forEach(e => {
                    if (e.time == today) {
                        checkToday = true
                        e.color = 'success'
                    }
                });

                if (!checkToday) {
                    detail.push({
                        title: 'Hôm nay',
                        text: ['Ngày hôm nay'],
                        class: 'mt-2',
                        time: today,
                        color: 'error'
                    })
                }
            }
        },
    }
</script>
<style>
 .border-flex{
   border-right: 1px dotted gray;
   height: 100%;
 }
 .size-timeline {
   font-size: 11px;
 }
 .border-layout{
   border-top: 1px dotted gray;
   width: 100%;
 }
</style>