<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title><h4>Danh sách công việc trong ngày ({{ jobs.length }})</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table :headers="headers" :items="jobs" hide-actions class="elevation-0" style="height: 430px; overflow-y: scroll;">
          <template slot="items" slot-scope="props">
            <tr>
              <td @click="view(props.item.id)">
                  <a v-if="props.item.name_job">{{ props.item.name_job}}</a>
              </td>
              <td>
                  <a v-if="props.item.service_name">{{ props.item.service_name}}</a>
              </td>
              <td>
                  <a v-if="props.item.recipient_name">{{ props.item.recipient_name}}</a>
                  <a v-else-if="props.item.supplier_name">{{ props.item.supplier_name}}</a>
                  <a v-else><i>(chưa có)</i></a>
              </td>
              <td>
                  <div>
                      <v-progress-linear
                              height="20"
                              reactive
                              :color="props.item.color"
                      >
                          <strong class="pa-2">{{ Math.ceil(props.item.process) }}%</strong>
                      </v-progress-linear>
                  </div>
              </td>
              <td>
                  <a>{{ props.item.start_date_plan | formatDate }}
                      / {{ props.item.end_date_plan | formatDate }}</a>
              </td>
              <td>
                  <a>{{ props.item.user_author_name}}</a>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import { Projects } from "@/api/project"
export default {
  props: ['jobs'],
  data() {
    return {
      headers: [
          {
              text: "Tên công việc",
              value: "name",
              sortable: false
          },
          {
              text: "Tên dịch vụ",
              value: "name",
              sortable: false
          },
          {
              text: "Người nhận việc",
              value: "name",
              sortable: false
          },
          {
              text: "Tiến độ",
              value: "name",
              sortable: false
          },
          {
              text: "Ngày bắt đầu/kết thúc",
              value: "name",
              sortable: false
          },

          {
              text: "Người tạo",
              value: "name",
              sortable: false
          },
      ]
    }
  },
  methods: {
    view(id) {
        this.$router.push('/order-job/view/' + id);
    },
  },
  computed: {
    projects() {
      return Projects
    }
  }
}
</script>
