<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title><h4>Thông báo ({{ number }})</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table :headers="headers" :items="this.data" hide-actions class="elevation-0" style="height: 430px; overflow-y: scroll;">
          <template slot="items" slot-scope="props">
            <tr @click="handleClick(props.item.id, props.index)">
              <td>
                <v-avatar size="36px">
                  <img v-if="props.item.subtitle == 'Notification subtitle'" src="/static/avatar/user_avatar.png">
                  <img v-else :src="props.item.subtitle"
                       alt="Smiley face"
                       style="background-color: white">
                </v-avatar>
              </td>
              <td>{{ props.item.title }}</td>
              <td class="text-xs-left">{{ props.item.body }}</td>
              <td class="text-xs-left">{{ props.item.timeLabel }}</td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import { Projects } from "@/api/project"
export default {
  props: ['handleClick', 'data', 'number'],
  data() {
    return {
      headers: [
        {
          text: "Ảnh",
          align: "left",
          value: "subtitle"
        },
        {
          text: "Tiêu đề",
          align: "left",
          value: "title"
        },
        {
          text: "Nội dung",
          align: "left",
          value: "body"
        },
        {
          text: "Thời gian",
          align: "left",
          value: "timelabel"
        },
      ]
    }
  },
  computed: {
    projects() {
      return Projects
    }
  }
}
</script>
