<template>
    <v-card class="elevation-0" style="width: 350px; height: 590px">
        <v-toolbar card dense color="transparent" height="35px">
            <v-toolbar-title><h5>Thông báo</h5></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <a class="ma-auto">Xem tất cả</a>
            </v-toolbar-items>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="pa-0 scroll-y"
                     style="max-height: 550px">
            <v-list two-line class="pa-0" v-if="this.number != 0">
                <template v-for="(item, key) in this.data">
                    <v-list-tile avatar :key="key" @click="handleClick(item.id, key)">
                        <v-list-tile-avatar>
                            <v-avatar size="50px">
                                <img v-if="item.subtitle == 'Notification subtitle'" src="/static/avatar/user_avatar.png">
                                <img v-else :src="item.subtitle"
                                     alt="Smiley face"
                                     style="background-color: white">
                            </v-avatar>
                            <!--<v-icon dark>account_circle</v-icon>-->
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <div class="caption"><b>{{item.title}}</b> {{item.body}}</div>
                            <v-list-tile-sub-title class="caption">{{item.timeLabel}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
            <v-list two-line class="pa-0" v-else>
                <template>
                    <v-layout class="mt-5">
                        <v-flex class="text-xs-center">Không có thông báo nào</v-flex>
                    </v-layout>
                </template>
            </v-list>
        </v-card-text>
        <!--<v-btn block flat class="ma-0">Xem tất cả</v-btn>-->
    </v-card>
</template>

<script>
    import notes from "@/api/notification"

    export default {
        data: () => ({
            number: '',
            items: notes,
            data: [],
        }),

        created() {
            this.messaging.onMessage(() => {
                this.getListsNotification();
            });
            this.getListsNotification();
        },

        methods: {
            handleClick(id, key) {
                this.number = this.number - 1;
                return new Promise((resolve, reject) => {
                    axios.post('https://notify.etstech.vn/api/notification/action/' + id)
                        .then(response => {
                            if (this.$route.path != '/customers') {
                                this.$router.push('/customers');
                            }
                            this.$emit('subtractNotification', this.number);
                            this.$delete(this.data, key)
                        }).catch(error => {
                        this.$error('Không thay đổi được trạng thái thông báo');
                    })
                })
            },

            getListsNotification() {
                this.click_action = "NO";
                this.user_id = this.$auth.user().id;
                return new Promise((resolve, reject) => {
                    axios.get('https://notify.etstech.vn/api/lists/notification?click_action='
                        + this.click_action + '&user_id=' + this.user_id)
                        .then(response => {
                            this.number = response.data.length;
                            this.data = response.data;
                            this.$emit('subtractNotification', this.number);
                        }).catch(error => {
                        this.$error('Không lấy được dữ liệu thông báo!');
                    })
                })
            },
        }
    }
</script>
