<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title><h4>Danh sách đơn hàng chưa thanh toán ({{ unpaid.length }})</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table :headers="headers" :items="unpaid" hide-actions class="elevation-0 table-striped" style="height: 430px; overflow-y: scroll;">
          <template slot="items" slot-scope="props">
            <tr>
              <td>{{ props.index + 1 }}</td>
              <td class="text-xs-left" @click="view(props.item.id)">{{ props.item.code }}</td>
              <td class="text-xs-left" @click="viewCustomer(props.item.customer_id)">{{ props.item.customer.name }}</td>
              <td class="text-xs-left">{{ props.item.created_at | formatDate }}</td>
              <td class="text-xs-left">{{ props.item.total_price | formatPrice }}</td>
              <td class="text-xs-left">{{ props.item.user.name }}</td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import items from "@/api/order"
export default {
  props: ['unpaid'],
  data() {
    return {
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Mã đơn hàng", value: "order_code" },
        { text: "Khách hàng", value: "customer" },
        { text: "Ngày", value: "date" },
        { text: "Tổng đơn gía", value: "total_price" },
        { text: "Ngưòi tạo", value: "seller" }
      ],
      items: items,
      colors: {
        processing: "blue",
        sent: "red",
        delivered: "green"
      }
    }
  },
  computed: {
    randomColor() {
      let item = Math.floor(Math.random() * this.colors.length)
      return this.colors[item]
    }
  },
  methods: {
    getColorByStatus(status) {
      return this.colors[status]
    },
    view(id) {
        this.$router.push('/order/view/' + id);
    },
    viewCustomer(customer_id){
        this.$router.push({path: '/customers', query: {customer_id: customer_id}});
    },
  }
}
</script>
