<template>
    <div class="list-table">
        <v-container grid-list-xl fluid pa-0>
            <v-layout row wrap>
                <v-flex class="pt-0">
                    <div v-for="(e,i) in this.number"
                         class="list-search pl-1 pr-1 text-center titles "
                         :class="{ 'active': activeIndex === i}" :key="e.id"
                         @click="setActive(i, e.id)"
                         style="float: left"
                    >
                        <p class="p_2"> {{ e.number }} </p>
                        <p class="p_3"> {{e.name}} </p>
                    </div>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex md4 lg4>
                    <v-card>
                        <v-card-text class="pa-0">
                            <v-data-table
                                    :headers="complex.headers"
                                    :items="complex.items"
                                    class="elevation-1"
                                    hide-default-footer
                                    hide-actions
                                    checkable
                                    v-model="complex.selected">
                                <template slot="items" slot:activator slot-scope="props">
                                    <tr :class="[props.index==activeId  ? 'active' : 'inactive1']">
                                        <td @click="viewJob(props.index)">
                                            <a>{{props.item.header.order_code}}/
                                                {{props.item.header.customer_name}}/
                                                {{props.item.header.order_date | formatDate}}
                                            </a>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                            <v-card flat>
                                <pagination
                                        :pagination="pagination"
                                        v-on:click.native="getLists(pagination.current_page)"
                                        :offset="4">
                                </pagination>
                            </v-card>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex md8 lg8>
                    <v-card>
                        <v-data-table
                                :headers="complex.headers_view_job"
                                :items="complex.viewArrayJob.body"
                                class="elevation-1"
                                hide-default-footer
                                hide-actions
                                checkable
                                v-model="complex.selected">
                            <template slot="items" slot:activator slot-scope="props">
                                <v-hover v-slot:default="{ hover }">
                                    <tr>
                                        <td @click="view(props.item.id)">
                                            <a v-if="props.item.name_job">{{ props.item.name_job}}</a>
                                        </td>
                                        <td>
                                            <a v-if="props.item.service_name">{{ props.item.service_name}}</a>
                                        </td>
                                        <td>
                                            <a v-if="props.item.recipient_name">{{ props.item.recipient_name}}</a>
                                            <a v-else-if="props.item.supplier_name">{{ props.item.supplier_name}}</a>
                                            <a v-else><i>(chưa có)</i></a>
                                        </td>
                                        <td>
                                            <div>
                                                <v-progress-linear
                                                        height="20"
                                                        reactive
                                                        :color="props.item.color"
                                                >
                                                    <strong class="pa-2">{{ Math.ceil(props.item.process) }}%</strong>
                                                </v-progress-linear>
                                            </div>
                                        </td>
                                        <td>
                                            <a>{{ props.item.start_date_plan | formatDate }}
                                                / {{ props.item.end_date_plan | formatDate }}</a>
                                        </td>
                                        <td>
                                            <a>{{ props.item.user_author_name}}</a>
                                        </td>
                                        <td class="pa-0 text-xs-right">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn v-if="hover" class="ma-0" title="" flat icon
                                                           @click.stop="$set(dialogN, props.item.id, true,view(props.item.id))"
                                                           color="grey" v-on="on">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </v-btn>
                                                </template>
                                                <span>Chỉnh sửa công việc</span>
                                            </v-tooltip>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn v-if="hover" title="" class="ma-0" flat icon color="grey"
                                                           @click='deleteCus(props.item.id)' v-on="on">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </v-btn>
                                                </template>
                                                <span>Xóa khách hàng</span>
                                            </v-tooltip>
                                        </td>
                                    </tr>
                                </v-hover>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import Pagination from "@/views/pagination/pagination.vue"

    export default {
        components: {Pagination},
        data() {
            return {
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                checkStatus: null,
                number: [],
                activeIndex: 0,
                activeIndexd: '',
                activeId: '',
                ids: [],
                status: [
                    {
                        id: "0",
                        title: "Chờ thanh toán",
                        color: 'cyan',
                    },
                    {
                        id: "1",
                        title: "Đang xử lý",
                        color: 'green',
                    },
                    {
                        id: "2",
                        title: "Đang thực hiện",
                        color: 'pink',
                    },
                    {
                        id: "3",
                        title: "Kết thúc",
                        color: 'orange',
                    },
                ],
                complex: {
                    viewArrayJob: [],
                    selected: [],
                    items: [],
                    headers: [
                        {
                            text: "Đơn hàng / Tên khách hàng / Ngày chụp",
                            value: "name",
                            sortable: false
                        },
                    ],
                    headers_view_job: [
                        {
                            text: "Tên công việc",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "Tên dịch vụ",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "Người nhận việc",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "Tiến độ",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "Ngày bắt đầu/kết thúc",
                            value: "name",
                            sortable: false
                        },

                        {
                            text: "Người tạo",
                            value: "name",
                            sortable: false
                        },
                        {
                            text: "",
                            align: "center",
                            width: "120px",
                            sortable: false
                        }
                    ]
                },
            }
        },
        mounted() {
            this.getLists(this.pagination.current_page, this.checkStatus);
            this.getListNumber();
        },
        methods: {
            ...mapActions(['getListJob', 'listNumber']),

            setActive(index, element) {
                this.activeIndex = index
                var opts = [];
                if (element == 5) {
                    this.checkStatus = null;
                    opts.page = 1;
                    opts.status = this.checkStatus;
                } else {
                    this.checkStatus = element;
                    opts.page = 1;
                    opts.status = this.checkStatus;
                }
                // console.log(this.checkStatus);
                this.getListJob(opts)
                    .then(response => {
                        this.complex.items = [];
                        this.complex.items = response.data.success.data;
                        this.pagination = [];
                        this.pagination = response.data.success;
                        this.getListNumber();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            getListNumber() {
                this.listNumber()
                    .then(response => {
                        this.number = response.data.success;
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            getLists(page, status) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                let opts = [];
                opts.page = page;
                opts.status = status;

                this.getListJob(opts)
                    .then(response => {
                        this.complex.items = [];
                        this.complex.items = response.data.success.data;
                        console.log(this.complex.items);
                        this.pagination = [];
                        this.pagination = response.data.success;
                        loader.hide();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },
            viewJob(id) {
                this.activeId = id;
                this.complex.viewArrayJob = this.complex.items[id];
            },
            view(id) {
                this.$router.push('/order-job/view/' + id);
            },
        },
    }
</script>
<style lang="stylus" scoped>

    .list-search {
        height: 65px;
        width: 16.1%;
        box-sizing: border-box;
        padding: 2px;
        margin: 3px;
        position: relative;
        border-radius: 5px;
        background: white;
        font-size: 10px;
    }

    .list-search:after {
        position: absolute;
        background: white;
        content: "";
        top: 40%;
        left: 100%;
        margin-left: -6px;
        z-index: 1;
        transform: rotate(45deg);
        height: 12px;
        width: 12px;
    }

    .list-search:before {
        position: absolute;
        background: #fafafa;
        z-index: 0;
        content: "";
        top: 40%;
        left: -1%;
        margin-left: -5px;
        transform: rotate(45deg);
        height: 12px;
        width: 12px;
    }

    .list-search:first-child:before {
        border-left: none;
        border-right: none;
        border-top: none;
        background: none;
        z-index: 0;
        content: "";
    }

    .list-search:last-child:after {
        background: none;
        z-index: 0;
        content: "";
    }

    .active {
        font-weight: 700;
        color: white;
        background: #484f5e;
    }

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

    .active:after {
        content: "";
        background: #484f5e;
    }

    .titles {
        font-size: 16px;
    }

    .p_2 {
        margin-top: 5px;

    }

    .p_3 {
        margin-top: 2px;
    }

    p {
        margin-bottom: 0px;
    }

    .inactive1 {
        background: white !important;
    }

</style>

