<template>
    <v-card>
        <v-card-text class="pa-0">
            <v-layout class="px-3 pt-3">
                <v-alert
                        :value="true"
                        color="info"
                        outline
                        class="text-title-job"
                >
                    Thông tin chung
                </v-alert>
            </v-layout>
            <v-layout class="pa-3">
                <v-flex xs12>
                    <table style="width:100%;">
                        <tbody>
                        <tr class="tr-job">
                            <td class="text-title">
                                <div class="text">
                                    Mã hóa đơn
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                    {{data.code}}
                                </div>
                            <td class="text-title">
                                <div class="text">
                                    Địa điểm
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                    {{data.shooting_location}}
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-job">
                            <td>
                                <div class="text">
                                    Ghi chú
                                </div>
                            </td>
                            <td>
                <pre class="text-xs-left">
                  {{data.note}}
                </pre>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                            <td>
                                <div class="text">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </v-flex>
            </v-layout>
            <v-layout class="px-3">
                <v-alert
                        :value="true"
                        color="info"
                        outline
                        class="text-title-job"
                >
                    Chi tiết công việc
                </v-alert>
            </v-layout>
            <div class="pa-3" v-for="(e,i) in data.order_services" :key="i">
                <v-layout>
                    <v-flex xs12 class="pa-2">
                        Tên combo: {{e.combo_name}}
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-data-table
                                :headers="complex.headers"
                                :items="e.list_job"
                                class="elevation-1"
                                item-key="id"
                                hide-default-footer
                                hide-actions
                                must-sort
                                v-model="complex.selected"
                        >
                            <template slot="items" slot-scope="props">
                                <td>
                                    <a>{{ props.item.service_name }}</a>
                                </td>
                                <td>
                                    <date-picker
                                            v-model="props.item.start_date_plan"
                                            lang="vi"
                                            value-type="format"
                                            type="datetime"
                                            format="YYYY-MM-DD HH:mm"
                                    ></date-picker>
                                </td>
                                <td>
                                    <date-picker
                                            v-model="props.item.start_date_plan"
                                            lang="vi"
                                            value-type="format"
                                            type="datetime"
                                            format="YYYY-MM-DD HH:mm"
                                    ></date-picker>
                                </td>
                                <td>
                                    <v-autocomplete
                                            hide-no-data
                                            v-model="props.item.supplier_id"
                                            :items="listSupplier"
                                            item-text="name"
                                            item-value="id">
                                    </v-autocomplete>
                                </td>
                                <td>
                                    <v-autocomplete
                                            cache-items
                                            v-model="props.item.user_id"
                                            :items="props.item.list_user"
                                            item-text="name"
                                            item-value="id"
                                    >
                                    </v-autocomplete>
                                </td>
                                <td>
                                    <v-text-field
                                            v-model="props.item.location"
                                    ></v-text-field>
                                </td>
                                <td>
                                    <div v-for="e in listStaus">
                                        <div v-if="e.id==props.item.status">
                                            {{e.name}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <v-textarea
                                            v-model="props.item.note"
                                    ></v-textarea>
                                </td>
                                <td>
                                    <v-btn class="ma-0"
                                           flat icon
                                           @click="update(props.item)"
                                           color="grey">
                                        <v-icon title="Cập nhật phân công việc" class="icon1">edit</v-icon>
                                    </v-btn>
                                </td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    import DatePicker from "vue2-datepicker"
    import {mapGetters, mapActions} from "vuex"

    export default {
        components: {DatePicker},
        data() {
            return {
                data: [],
                time1: "",
                time2: "",
                time3: "",
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Tên công việc",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Bắt đầu",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Kết thúc",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Nhà cung cấp",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Nhân viên",
                            value: "",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Địa điểm",
                            value: "",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Trạng thái",
                            value: "",
                            align: "center",
                            sortable: false
                        },
                        {
                            text: "Ghi chú",
                            value: "",
                            align: "center",
                            width: "100%",
                            sortable: false
                        },
                        {
                            text: "Actionn",
                            value: "",
                            align: "center"
                        },


                    ],
                    items: []
                },
                listStaus: [
                    {
                        id: 0,
                        name: "Chờ xác nhận",
                    },
                    {
                        id: 1,
                        name: "Đồng ý",
                    },
                    {
                        id: 2,
                        name: "Từ chối",
                    },
                    {
                        id: 3,
                        name: "Đang thực hiện",
                    },
                    {
                        id: 4,
                        name: "Kết thúc",
                    }
                ],
                items: [],
                shortcuts: [
                    {
                        text: "Today",
                        onClick: () => {
                            this.time3 = [new Date(), new Date()]
                        }
                    }
                ],
                timePickerOptions: {
                    start: "00:00",
                    step: "00:30",
                    end: "23:30"
                }
            }
        },
        computed: {
            ...mapGetters(['listSupplier']),
        },
        methods: {
            ...mapActions(["getListUser", "getListSupplier", "getListJobByOrder", "updateJob"]),
            getLists() {
                this.getListJobByOrder(this.$route.query.order_id)
                    .then(response => {
                        this.data = response.data.success;
                        console.log(this.data);
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
            },
            create() {
            },
            update(data) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.updateJob(data).then(response => {
                    this.$success();
                    loader.hide();
                    this.getLists();
                }).catch(error => {
                    loader.hide();
                    this.$error('Giao việc không hợp lệ!');
                })
            }
        },
        created() {
            this.getLists();
            this.getListSupplier();
        }
    }
</script>
<style lang="css" scoped>
    /*table.v-table tbody td, table.v-table tbody th {*/
    /*  height: 100px;*/
    /*}*/
    .mx-panel-date tbody td:not(:nth-child(1)) {
        padding: 0px !important;
    }

    .text-title {
        width: 18%;
    }

    .tr-job {
        height: 35px;
    }

    .tr-job td {
        border-bottom: 1px solid gainsboro !important;
    }

    .text-title-job {
        background: ghostwhite;
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .v-alert {
        padding: 8px !important;
        margin: 1px !important;
    }
</style>
