<template>
    <div id="">
        <v-dialog
                persistent
                v-model="dialog"
                max-width="550">
            <v-card>
                <v-card-title class="headline">Thêm mới công việc</v-card-title>
                <v-card-text>
                    <div class="mx-5">
                        <v-flex class="md12">
                            <v-layout>
                                <v-flex md6 class="pa-1">
                                    <v-autocomplete
                                            label="Nhân viên"
                                            v-model="form.user_id"
                                            :items="listUser"
                                            item-text="name"
                                            item-value="id"
                                            :rules="[v => !!v || 'Item is required']"
                                            name='user_id'
                                            v-validate="'required'"
                                    ></v-autocomplete>
                                </v-flex>
                                <v-flex md6 class="pa-1">
                                    <v-autocomplete
                                            label="Nhà cung cấp"
                                            v-model="form.supplier_id"
                                            :items="listSupplier"
                                            item-text="name"
                                            item-value="id"
                                    ></v-autocomplete>
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex md6 class="pa-1">
                                    <v-text-field
                                            label="Địa điểm"
                                            v-model='form.location'
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6 class="pa-1">
                                    <v-textarea
                                            v-model="form.note"
                                            label="Ghi chú"
                                            value=""
                                            hint="Ghi chú">
                                    </v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                            color="success"
                            flat="flat"
                            small
                            @click="addEventClick()"
                    >
                        Ok
                    </v-btn>
                    <v-btn
                            color="error"
                            flat="flat"
                            small
                            @click="dialog=!dialog">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-layout>
            <v-flex md10>
                <v-list
                        subheader
                        two-line
                >
                    <v-subheader>Danh sách nhân viên</v-subheader>
                    <v-expansion-panel class="v-expansion" v-model="panel" expand>
                        <v-expansion-panel-content
                                v-for="(item,i) in this.data1"
                                :key="i"
                        >
                            <template v-slot:header>
                                <v-subheader class="pl-3">{{ item.name }}</v-subheader>
                            </template>
                            <v-card v-for="(c,k) in item.user" class="pl-3 " :key="k">
                                <v-layout>
                                    <v-flex class="md1  float-left" style="margin-top: 12px">
                                        <v-checkbox
                                                primary
                                                hide-details
                                                class="pa-0 ma-0"
                                                @change="UserId(c.id)"
                                        ></v-checkbox>
                                    </v-flex>
                                    <v-flex class="md11 float-left">
                                        <v-subheader class="pl-3 float-left"> {{ c.name }}</v-subheader>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-list>
                <v-list
                        subheader
                        two-line
                >
                    <v-flex>
                        <v-autocomplete
                                v-model='orderIds'
                                label="Danh sách đơn hàng"
                                item-text="code"
                                item-value="id"
                                :items="listOrders"
                                name='list_order'
                                @change="getByOrder()"
                        ></v-autocomplete>
                    </v-flex>
                </v-list>
                <v-list class="pa-0">
                    <template>
                        <v-expansion-panel class="v-expansion">
                            <v-expansion-panel-content
                                    v-for="(item,i) in this.data.order_services"
                                    :key="i"
                            >
                                <template v-slot:header>
                                    <v-subheader class="pl-2"> {{ item.combo_name }}</v-subheader>
                                </template>
                                <v-card v-for="(c,k) in item.list_job" class="pl-2" :key="k">
                                    <v-chip
                                            outline
                                            @click="choiceJob(c)"
                                            :color="c.color"
                                            :disabled="c.user_id ? true : false"
                                    >
                                        <v-icon color="primary"
                                                class="pr-2"
                                                v-if="c.user_id">highlight_off
                                        </v-icon>
                                        <v-icon class="pl-0 pr-2"
                                                :color="c.color"
                                                v-if="!c.user_id"
                                        >check_circle_outline
                                        </v-icon>
                                        CV-{{ c.id }}: {{ c.service_name }}
                                    </v-chip>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import defaultsDeep from 'lodash.defaultsdeep'
    import 'fullcalendar'
    import $ from 'jquery'
    import {mapActions, mapGetters} from "vuex"

    export default {
        props: {
            events: {
                default() {
                    return []
                },
            },

            eventSources: {
                default() {
                    return []
                },
            },

            editable: {
                default() {
                    return true
                },
            },

            selectable: {
                default() {
                    return true
                },
            },

            selectHelper: {
                default() {
                    return true
                },
            },

            header: {
                default() {
                    return {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    }
                },
            },

            defaultView: {
                default() {
                    return 'month'
                },
            },

            sync: {
                default() {
                    return false
                }
            },

            config: {
                type: Object,
                default() {
                    return {}
                },
            },
        },
        data() {
            return {
                orderIds: null,
                items: ['foo', 'bar', 'fizz', 'buzz'],
                listUser: [],
                listOrders: [],
                panel: [false, false, false],
                data1: [],
                disabled: false,
                data: [],
                dialog: false,
                addEvent: {
                    title: null,
                    allDay: false,
                    start: null,
                    end: null,
                    color: null
                },
                formList: {
                    user_ids: [],
                    order_ids: [],
                },
                form: {
                    id: '',
                    user_id: '',
                    supplier_id: '',
                    note: '',
                    start_date_plan: null,
                    end_date_plan: null,
                    location: null,
                    color: null
                }
            }
        },

        computed: {
            ...mapGetters(['listSupplier']),
            defaultConfig() {
                const self = this
                return {
                    header: this.header,
                    defaultView: this.defaultView,
                    editable: this.editable,
                    selectable: this.selectable,
                    selectHelper: this.selectHelper,
                    aspectRatio: 2,
                    timeFormat: 'HH:mm',
                    events: this.events,
                    eventSources: this.eventSources,
                    dialog: this.dialog,
                    addEvent: this.addEvent,

                    eventRender(...args) {
                        if (this.sync) {
                            self.events = cal.fullCalendar('clientEvents')
                        }
                        self.$emit('event-render', ...args)
                    },

                    viewRender(...args) {
                        if (this.sync) {
                            self.events = cal.fullCalendar('clientEvents')
                        }
                        self.$emit('view-render', ...args)
                    },

                    eventDestroy(event) {
                        if (this.sync) {
                            self.events = cal.fullCalendar('clientEvents')
                        }
                    },

                    eventClick(...args) {
                        self.$emit('event-selected', ...args)
                        const id = args[0]['id'];
                        self.$router.push('/order-job/view/' + id);
                    },

                    eventMouseover(...args) {
                        self.$emit('event-mouseover', ...args)
                    },

                    eventMouseout(...args) {
                        self.$emit('event-mouseout', ...args)
                    },

                    eventDrop(...args) {
                        self.$emit('event-drop', ...args)
                    },

                    eventReceive(...args) {
                        self.$emit('event-receive', ...args)
                    },

                    eventSelected(event) {
                    },

                    eventResize(...args) {
                        self.$emit('event-resize', ...args)
                    },

                    dayClick(...args) {
                        self.$emit('day-click', ...args)
                    },
                    select(start, end, jsEvent, view, resource) {
                        self.$emit('event-created', {
                            start,
                            end,
                            allDay: !start.hasTime() && !end.hasTime(),
                            view,
                            resource
                        });
                        self.dialog = true;
                        self.addEvent.start = null;
                        self.addEvent.end = null;
                        self.addEvent.title = null;

                        self.addEvent.allDay = !start.hasTime() && !end.hasTime();
                        self.addEvent.color = self.form.color;
                        if (self.addEvent.allDay) {
                            self.addEvent.start = start.format('YYYY-MM-DD 00:00:00');
                            self.addEvent.end = end.format('YYYY-MM-DD 00:00:00');
                        } else {
                            self.addEvent.start = start.format('YYYY-MM-DD hh:mm:ss');
                            self.addEvent.end = end.format('YYYY-MM-DD hh:mm:ss');
                        }
                    },
                }
            },
        },

        mounted() {
            this.getListSupplier();
            this.getOrderJob();
            if (this.$route.query.order_id) {
                this.getLists(this.$route.query.order_id);
            }

            const cal = $(this.$el),
                self = this

            this.$on('remove-event', (event) => {
                if (event && event.hasOwnProperty('id')) {
                    $(this.$el).fullCalendar('removeEvents', event.id);
                } else {
                    $(this.$el).fullCalendar('removeEvents', event);
                }
            })

            this.$on('rerender-events', () => {
                $(this.$el).fullCalendar('rerenderEvents')
            })

            this.$on('refetch-events', () => {
                $(this.$el).fullCalendar('refetchEvents')
            })

            this.$on('render-event', (event) => {
                $(this.$el).fullCalendar('renderEvent', event)
            })

            this.$on('reload-events', () => {
                $(this.$el).fullCalendar('removeEvents')
                $(this.$el).fullCalendar('addEventSource', this.events)
            })

            this.$on('rebuild-sources', () => {
                $(this.$el).fullCalendar('removeEventSources')
                this.eventSources.map(event => {
                    $(this.$el).fullCalendar('addEventSource', event)
                })
            })

            cal.fullCalendar(defaultsDeep(this.config, this.defaultConfig))
        },

        methods: {
            ...mapActions([
                "getListJobByOrder",
                "getListSupplier",
                "updateJob",
                "getListUser",
                "getListOrderJob",
                "getListOrder",
                "getListNumber"
            ]),

            listOrder() {
                this.getListOrder(1)
                    .then(response => {
                        this.listOrders = response.data.success;
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
            },
            getByOrder() {
                this.getLists(this.orderIds);

            },

            UserId(id) {
                const vm = this;
                if (vm.formList.user_ids.indexOf(id) == -1) {
                    vm.formList.user_ids.push(id);
                } else {
                    vm.formList.user_ids.splice(vm.formList.user_ids.indexOf(id), 1);
                }
                this.getListOrderJob(vm.formList)
                    .then(response => {
                        vm.events = [];
                        vm.events = response.data.success;
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
            },

            getUser() {
                this.getListUser(1)
                    .then(response => {
                        this.data1 = response.data.success;
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
                this.getOrderJob();
            },

            getLists(order_id) {
                this.getListJobByOrder(order_id)
                    .then(response => {
                        this.data = [];
                        this.data = response.data.success;
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
            },

            getOrderJob() {
                const vm = this;
                this.getListOrderJob()
                    .then(response => {

                        vm.events = [];
                        vm.events = response.data.success;
                    })
                    .catch(error => {
                        this.$error("Dữ liệu gặp sự cố!")
                    })
            },

            addEventClick() {
                const vm = this;
                vm.events.push(
                    vm.addEvent
                );
                vm.dialog = false;

                vm.form.start_date_plan = vm.addEvent.start;
                vm.form.end_date_plan = vm.addEvent.end;
                this.update(vm.form)
            },

            update(data) {
                this.updateJob(data).then(response => {
                    this.getOrderJob();
                    this.$route.query.order_id ? this.getLists(this.$route.query.order_id) : this.getLists(this.orderIds);
                }).catch(error => {
                    this.$error('Giao việc không hợp lệ!');
                })
            },

            fireMethod(...options) {
                return $(this.$el).fullCalendar(...options)
            },

            choiceJob(data) {
                const vm = this;
                vm.form.id = ''
                vm.form.note = ''
                vm.form.supplier_id = ''
                vm.form.user_id = ''

                vm.form.color = data.color
                vm.form.id = data.id
                vm.listUser = []
                vm.listUser = data.list_user
            }
        },

        created() {
            this.getUser();
            this.listOrder();

        },

        watch: {
            events: {
                deep: true,
                handler(val) {
                    $(this.$el).fullCalendar('removeEvents')
                    $(this.$el).fullCalendar('addEventSource', this.events)
                },
            },
            eventSources: {
                deep: true,
                handler(val) {
                    this.$emit('rebuild-sources')
                },
            },
        },

        beforeDestroy() {
            this.$off('remove-event')
            this.$off('rerender-events')
            this.$off('refetch-events')
            this.$off('render-event')
            this.$off('reload-events')
            this.$off('rebuild-sources')
        },
    }
</script>
<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .fc-toolbar.fc-header-toolbar {
        padding: 0% 3%;
        float: right;
        width: 70%;
    }

    .fc-view-container {
        float: right;
        width: 70%;
        padding: 0% 3%;
    }

    .actived {
        color: #f5ce85;
    }

    .inactive {
        background: blue !important;
    }
</style>