<template>
    <div id="pageDashboard">
        <v-container grid-list-xl fluid pt-1>
            <v-layout row wrap>
                <v-flex sm12 xs12 pt-1>
                    <plain-table></plain-table>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import PlainTable from "@/views/order_job/Assigned.vue"

    export default {
        components: {
            PlainTable,
        },
        data: () => ({

        })
    }
</script>