<template>
    <v-layout wrap>
        <v-flex class="px-4">
            <v-card md12 lg12>
                <v-card-text class="pa-4">
                    <v-layout>
                        <v-alert
                                :value="true"
                                color="info"
                                outline
                                class="text-title-job"
                        >
                            Thông tin chung
                        </v-alert>
                    </v-layout>
                    <v-layout class="pa-3">
                        <table style="width:100%;">
                            <tbody>
                            <tr class="tr-job">
                                <td class="text-title">
                                    <div class="text font">
                                        Tên công việc
                                    </div>
                                </td>
                                <td>
                                    <div class="">
                                        {{items.name_job}}
                                    </div>
                                </td>
                                <td>
                                    <div class="font">
                                        Trạng thái
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div>
                                        <div v-for="e in listStaus" :key="e.id">
                                            <div v-if="e.id==items.status">
                                                {{e.name}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            <tr class="tr-job">
                                <td>
                                    <div class=" font">
                                        Người giao việc
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div>
                                        {{items.user_author_name}}
                                    </div>
                                </td>
                                <td>
                                    <div class="font">
                                        Dự kiến bắt đầu
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div>
                                        {{items.start_date_plan}}
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-job">
                                <td>
                                    <div class="font">
                                        Người thực hiện
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div>
                                        {{items.recipient_name}}
                                    </div>
                                </td>
                                <td>
                                    <div class="font">
                                        Dự kiến kết thúc
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div>
                                        {{items.end_date_plan}}
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-job">
                                <td>
                                    <div class="text font">
                                        Nhà cung cấp
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <div v-if="items.supplier_name">
                                        {{items.supplier_name}}
                                    </div>
                                </td>
                                <td>
                                    <div class="font">
                                        Ghi chú
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <pre class=" text">{{items.note}}</pre>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </v-layout>
                </v-card-text>
                <v-card-text class="pa-4">
                    <v-layout>
                        <v-alert
                                :value="true"
                                color="info"
                                outline
                                class="text-title-job"
                        >Thông tin cập nhật
                            <small><i> &ensp;(*Sau khi bạn xác nhận công việc 10 phút, bạn sẽ không thể chọn lại!)</i>
                            </small>
                        </v-alert>
                    </v-layout>
                    <v-layout class="pa-3">
                        <table style="width:100%;">
                            <tbody>
                            <tr class="tr-job">
                                <td class="text-title font">
                                    Xác nhận
                                </td>
                                <td class="conten-text">
                                    <div style="float: left;">
                                        <v-radio-group
                                                style="float: left;"
                                                class="pa-0"
                                                v-model="items.status"
                                                row
                                                v-if="items.check_time_update == 1">
                                            <v-radio disabled @change="setValueStatus(1)" label="Đồng ý"
                                                     :value="1"></v-radio>
                                            <v-radio disabled @change="setValueStatus(2)" label="Từ chối"
                                                     :value="2"></v-radio>
                                        </v-radio-group>
                                        <v-radio-group
                                                style="float: left;"
                                                class="pa-0"
                                                v-model="items.status"
                                                row
                                                v-else>
                                            <v-radio @change="setValueStatus(1)" label="Đồng ý" :value="1"></v-radio>
                                            <v-radio @change="setValueStatus(2)" label="Từ chối" :value="2"></v-radio>
                                        </v-radio-group>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="tr-job">
                                <td>
                                    <div class="font">
                                        Tiến độ
                                    </div>
                                </td>
                                <td class="conten-text">
                                    <v-menu offset-y>
                                        <template v-slot:activator="{ on }">
                                            <div class="process-linear" v-on="on">
                                                <v-progress-linear
                                                        height="20"
                                                        v-model="items.process"
                                                        reactive
                                                        color="info"
                                                >
                                                    <strong class="pa-2">{{ Math.ceil(items.process) }}%</strong>
                                                </v-progress-linear>
                                            </div>
                                        </template>
                                        <v-layout
                                                wrap
                                                style="height: 250px;"
                                        >
                                            <v-list style="width: 160px">
                                                <v-list-tile
                                                        v-for="(item, index) in items_process"
                                                        :key="index"
                                                        @click="setValueProcess(item)"
                                                >
                                                    <v-list-tile-title>{{ item }}</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list>
                                        </v-layout>
                                    </v-menu>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="tr-job">
                                <td class="text-title font">
                                    <div>
                                        Link ảnh gốc
                                    </div>
                                </td>
                                <td>
                                    <v-text-field
                                            v-model="link"
                                            prepend-inner-icon="link"
                                    ></v-text-field>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="tr-job">
                                <td>
                                    <div class="text font">
                                        Ảnh tin nhắn
                                    </div>
                                </td>
                                <td>
                                    <v-flex style="border: 1px solid green">
                                        <input
                                                type="file"
                                                class="custom-file-input"
                                                @change="onImageChange"
                                                ref="fileInput"
                                        >
                                    </v-flex>
                                </td>
                                <td></td>
                                <td class="padding-left">
                                    <div @click="dialog = !dialog">
                                        <img style="width:75px" v-if="imageUrl" :src="imageUrl">
                                        <img style="width:75px" v-else :src="items.url_file">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </v-layout>
                </v-card-text>
                <v-card-text class="pa-4">
                    <v-layout>
                        <v-flex class="text-xs-center">
                            <v-btn
                                    color="success"
                                    @click="update()"
                                    small>
                                Cập nhật
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-dialog
                        v-model="dialog"
                        max-width="800"
                >
                    <v-card>
                        <v-card-text>
                            <img v-if="imageUrl" :src="imageUrl">
                            <img v-else :src="items.url_file">
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import {mapActions} from "vuex"

    export default {
        data() {
            return {
                tests: 1,
                items: [],
                items_process: [
                    10, 20, 30, 40, 50, 60, 70, 80, 90, 100
                ],
                process_new: '',
                dialog: false,
                checkTime: false,
                image: null,
                imageUrl: '',
                link: '',
                status: '',
                data_normal: {
                    id: '',
                    process_new: '',
                    status: '',
                    link: '',
                },
                listStaus: [
                    {
                        id: 0,
                        name: "Chờ xác nhận",
                    },
                    {
                        id: 1,
                        name: "Đồng ý",
                    },
                    {
                        id: 2,
                        name: "Từ chối",
                    },
                    {
                        id: 3,
                        name: "Đang thực hiện",
                    },
                    {
                        id: 4,
                        name: "Kết thúc",
                    }
                ]
            }
        },
        computed: {
            // ...mapGetters(['listUser','listSupplier']),
        },
        methods: {
            ...mapActions(["viewJob", "updateJob"]),

            onImageChange(event) {
                const files = event.target.files
                let filename = files[0].name
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Please add a valid file!')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.imageUrl = fileReader.result
                })
                fileReader.readAsDataURL(files[0])
                this.image = files[0]
            },

            setValueProcess(value) {
                this.items.process = value;
                this.process_new = value;
            },

            setValueStatus(value) {
                this.items.status = value;
                this.status = value;
            },

            update() {
                if (this.image) {
                    let data = new FormData();
                    data.append('id', this.items.id);
                    data.append('url_file', this.image);
                    data.append('process', this.process_new);
                    data.append('status', this.status);
                    data.append('link', this.link);
                    return new Promise((resolve, reject) => {
                        axios.post('/api/order-job/update', data, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                            this.getList();
                            this.$success();
                            setTimeout(() => {
                            }, 1500);
                        }).catch(error => {
                            if (error.response.status === 404) {
                                this.$error(error.response.data.message);
                            } else {
                                this.$error('Cập nhật không thành công!');
                            }
                        })
                    })
                } else {
                    this.data_normal.id = this.items.id;
                    this.data_normal.process = this.process_new;
                    this.data_normal.status = this.status;
                    this.data_normal.link = this.link;
                    return new Promise((resolve, reject) => {
                        axios.post('/api/order-job/update', this.data_normal)
                            .then(response => {
                                this.getList();
                                this.$success();
                                setTimeout(() => {
                                }, 1500);
                            }).catch(error => {
                            if (error.response.status === 404) {
                                this.$error(error.response.data.message);
                            } else {
                                this.$error('Cập nhật không thành công!');
                            }
                        })
                    })
                }
            },

            getList() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.viewJob(this.$route.params.id).then(response => {
                    this.items = response.data.success;
                    this.link = this.items.link;
                    loader.hide();
                }).catch(error => {
                    loader.hide();
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
        },
        created() {
            this.getList();
        }
    }
</script>
<style lang="css" scoped>
    /*table.v-table tbody td, table.v-table tbody th {*/
    /*  height: 100px;*/
    /*}*/
    .mx-panel-date tbody td:not(:nth-child(1)) {
        padding: 0px !important;
    }

    .text-title {
        width: 15%;
    }

    .tr-job {
        height: 35px;
    }

    .tr-job td {
        height: 60px;
        border-bottom: 1px solid gainsboro !important;
    }

    .text-title-job {
        background: ghostwhite;
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .v-alert {
        padding: 8px !important;
        margin: 1px !important;
    }

    .v-progress-linear {
        float: left !important;
        width: 65%;
        color: whitesmoke;
    }

    .icon-process {
        float: left !important;
        width: 12%;
    }

    .process-linear {
        width: 45%;
    }

    .font {
        font-weight: 800;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    .v-card--reveal {
        align-items: center;
        bottom: 0;
        justify-content: center;
        opacity: .5;
        position: absolute;
        width: 100%;
    }

    .conten-text {
        width: 35%;
    }

    .padding-left {
        padding-left: 38%;
    }


</style>
