<template>
    <v-form
            ref="form"
            v-model="valid"
            lazy-validation>
            <v-card>
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs4 sm6 md12 pa-2 mt-2>
                            <v-text-field label="Tên"
                                  v-model='form.name'
                                   :rules="[v => !!v || 'Nhập Tên ']"
                                  name='name'
                                  v-validate="'required'"
                                  :counter="30">
                            </v-text-field>
                        </v-flex>
                        <v-spacer mt-3></v-spacer>
                        <v-spacer mt-3></v-spacer>
                        <v-flex xs4 sm6 md12 pa-2 mt-2>
                            <v-textarea
                                    name="input-7-1"
                                    label="Mô tả combo"
                                    value=""
                                    hint="Hint text"
                                    v-model='form.description'>
                            </v-textarea>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-layout pb-3 mt-3 justify-center>
                    <v-flex xs6 class="text-xs-right">
                        <v-btn color="success"
                               small
                               @click="create">
                            Thêm mới
                        </v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn color="error"
                               small
                               @click="back()">
                            Hủy bỏ
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-form>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'

    export default {
         props: ['check'],
        data: () => ({
            valid: true,
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length >= 5) || 'Name must be less than 5 characters',
            ],
            form: {
                name: '',
                type: 0,
                description: ''
            },
            lazy: false,
        }),
         computed: {
            ...mapGetters(['listCategory']),
        },

        methods: {
            ...mapActions(['createCategory','getListCategory']),
            create() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.createCategory(this.form).then(response => {
                            this.$success();
                            var check = false;
                            var test = 'hoan';
                            this.$emit('recheck',check);
                            this.$emit('rehoan',test);
                            this.$emit('submitSuccess');
                            this.form.name = [];
                            this.form.user_id = [];
                            this.form.type = 0;
                            this.form.description = [];
                            this.getListCategory();
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
            },
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            reset() {
                this.$refs.form.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            back() {
                 var out = false;
                this.$emit('callback', out);
            }
        },
    }
</script>