<template>
    <div class="list-table">
        <v-container pa-0 grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12 pl-2>
                    <v-card>
                        <v-toolbar card color="white">
                            <div class="search   float-md-left ">
                                <div class="icontimkiem float-md2-left">
                                    <button class="nut">
                                        <i title="tìm kiếm " class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="timkiem float-md8-left">
                                    <input class="searchtimkiem"
                                           type="text"
                                           name=""
                                           placeholder="Tìm kiếm gói lẻ">
                                </div>
                                <div class="search1 float-md2-right">
                                    <button class="nut">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- <v-spacer></v-spacer>
 -->                            <!-- <v-btn flat icon @click.stop="$set(dialogNote,1, true)"
                             v-if='!complex.selected.length'>
                                <i title="tạo chi phí phát sinh" class=" icon2 fa  fa-plus-circle"
                                   aria-hidden="true"></i>
                            </v-btn> -->
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click.stop="$set(dialogNote,1, true)"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Tạo gói lẻ</span>
                            </v-tooltip>

                            <div class="text-center">
                                <v-dialog persistent v-model="dialogNote[1]"
                                          width="500">
                                    <template v-slot:activator="{ on }">
                                    </template>
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation>
                                        <v-card>
                                            <v-card-text>
                                                <v-layout wrap>
                                                    <v-flex xs4 sm6 md12 pa-2 mt-2>
                                                        <v-text-field label="Loại gói lẻ"
                                                                      v-model='form.name'
                                                                      :rules="[v => !!v || 'Nhập loại gói lẻ']"
                                                                      name='name'
                                                                      v-validate="'required'"
                                                                      :counter="30">
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-spacer mt-3></v-spacer>
                                                    <v-spacer mt-3></v-spacer>
                                                    <v-flex xs4 sm6 md12 pa-2 mt-2>
                                                        <v-textarea
                                                                name="input-7-1"
                                                                label="Mô tả loại gói lẻ"
                                                                value=""
                                                                hint="Hint text"
                                                                v-model='form.description'>
                                                        </v-textarea>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-layout pb-3 mt-3 justify-center>
                                                <v-flex xs6 class="text-xs-right">
                                                    <v-btn color="success"
                                                           small
                                                           @click="create">
                                                        Thêm mới
                                                    </v-btn>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-btn color="error"
                                                           small
                                                           @click="$set(dialogNote, 1, false)">
                                                        Hủy bỏ
                                                    </v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-card>
                                    </v-form>
                                </v-dialog>
                            </div>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click='popupDestroy' v-if='complex.selected.length'
                                           v-on="on">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Xóa các gói lẻ</span>
                            </v-tooltip>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <v-data-table
                                    :headers="complex.headers"
                                    select-all
                                    :items="complex.items"
                                    class="elevation-1"
                                    hide-default-footer
                                    hide-actions
                                    checkable
                                    v-model="complex.selected">
                                <template slot="items" slot-scope="props" v-if="props.item.type==0">
                                    <tr @click="setActived(props.item.id)"
                                        :class="{ 'actived': activeIndexd === props.item.id}">
                                        <td>
                                            <v-checkbox
                                                    primary hide-details
                                                    v-model="props.selected"
                                            ></v-checkbox>
                                        </td>
                                        <td><a>{{ props.item.name }}</a></td>
                                        <td><a>{{ props.item.description }}</a></td>
                                        <td>{{ props.item.created_at | formatDate }}</td>
                                        <td><a>{{ props.item.user.name }}</a></td>
                                        <td class="text-xs-right">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn class="ma-0" title="" flat icon
                                                           @click.stop="$set(dialogN, props.item.id, true,view(props.item.id))"
                                                           color="grey" v-on="on">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </v-btn>
                                                </template>
                                                <span>Sửa gói lẻ</span>
                                            </v-tooltip>
                                            <v-dialog persistent class="d-none" v-model="dialogN[props.item.id]"
                                                      lazy max-width="600" height="800px" :key="1">
                                                <v-card>
                                                    <v-container grid-list-md>
                                                        <v-flex md10 offset-md1 xs12>
                                                            <v-form
                                                                    ref="data"
                                                                    v-model="valid">
                                                                <v-card-text>
                                                                    <v-layout wrap>
                                                                        <v-flex xs12 sm6 offset-md1 md12>
                                                                            <v-text-field
                                                                                    v-model='data.name'
                                                                                    name='name'
                                                                                    :counter="30"
                                                                                    :rules="[v => !!v || 'Nhập tên loại gói lẻ']"
                                                                                    label="Tên danh mục combo"
                                                                                    required>
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 offset-md1 md12>
                                                                            <v-textarea
                                                                                    name="description"
                                                                                    v-model='data.description'
                                                                                    label="Mô tả loại gói lẻ"
                                                                                    value=""
                                                                                    hint="Hint text">
                                                                            </v-textarea>
                                                                        </v-flex>

                                                                    </v-layout>
                                                                </v-card-text>
                                                                <br>
                                                                <v-divider></v-divider>
                                                                <v-layout class="mt-3" justify-center>
                                                                    <v-flex xs6 class="text-xs-right">
                                                                        <v-btn small
                                                                               color="success"
                                                                               @click="update(data.id)">
                                                                            Update
                                                                        </v-btn>
                                                                    </v-flex>
                                                                    <v-flex xs6>
                                                                        <v-btn small
                                                                               color="error"
                                                                               @click.stop="$set(dialogN, props.item.id, false)">
                                                                            Hủy bỏ
                                                                        </v-btn>
                                                                    </v-flex>
                                                                </v-layout>
                                                            </v-form>
                                                        </v-flex>
                                                    </v-container>
                                                </v-card>
                                            </v-dialog>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn title="" class="ma-0" flat icon color="grey"
                                                           @click='deleteSup(props.item.id)' v-on="on">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </v-btn>
                                                </template>
                                                <span>Xóa gói lẻ</span>
                                            </v-tooltip>

                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-card-text>
                        <pagination :pagination="pagination" v-on:click.native="getLists(pagination.current_page)"
                                    :offset="4"></pagination>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Pagination from "@/views/pagination/pagination.vue"
    import create from "@/views/category/Listcategory";
    import Url from "@/api/local"

    export default {

        components: {
            create, Pagination
        },
        data() {
            return {
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                activeIndexd: 0,
                offset: 4,
                dialogNote: [],
                dialogN: [],
                valid: true,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],
                menu1: false,
                menu2: false,
                form: {
                    name: '',
                    user_id: '',
                    type: 0,
                    description: '',
                },
                ids: [],
                page: 1,
                data: [],
                dia: false,
                dialog: false,
                search: "",
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Loại dịch vụ",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Mô tả",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Thời gian tạo",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Người tạo",
                            value: "",
                            sortable: false
                        },
                        {
                            text: "Action",
                            value: "",
                            align: "center",
                            width: "170px",
                            sortable: false
                        }
                    ],
                    items: []
                },
            };
        },
        mounted() {
            this.getLists(this.pagination.current_page);
        },
        methods: {
            ...mapActions(['updateCategory', 'deleteCategory', 'createCategory', 'getPaginativeCategory']),

            setActived(index) {
                this.activeIndexd = index
            },
            getLists(page) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.getPaginativeCategory(page)
                    .then(response => {
                        this.complex.items = response.data.success.data;
                        this.pagination = response.data.success;
                        loader.hide();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            popupDestroy() {
                this.$confirm('Xóa khách hàng!', '')
                    .then(response => {
                        this.complex.selected = this.complex.selected.map(i => i.id);
                        let ids = {"ids": this.complex.selected}
                        this.deleteCategory(ids).then(response => {
                            this.$success();
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            deleteSup(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa khách hàng!', '')
                    .then(response => {
                        this.deleteCategory(ids).then(response => {
                            this.$success();
                            this.data = [];
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },

            update(id) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.updateCategory(this.data).then(response => {
                    this.$success();
                    this.$set(this.dialogN, id, false);
                    loader.hide();
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            view(id) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.data = [];
                var vie = Url.url + '/api/category/';
                return new Promise((resolve, reject) => {
                    axios.get(vie + id)
                        .then(response => {
                            this.data = response.data.success;
                            loader.hide();
                        })
                        .catch(error => {
                            return reject(error);
                        })
                })
            },
            create() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.createCategory(this.form).then(response => {
                            this.$success();
                            this.$set(this.dialogNote, 1, false);
                            loader.hide();
                            this.form = [];
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    // this.$warning();
                }
                this.$validator.validateAll();
            },
        },
        created() {

        }
    }

</script>
<style lang="stylus" scoped>
    .v-icon {
        size: 50px;
    }

    .search {
        border-radius: 5px;
        background: #dedcdc;
        height: 40px;
        width: 90%;
    }

    .search1 {
        float: right;
    }

    .icontimkiem {
        width: 40px;
        height: 40px;
        float: left;
    }

    .timkiem {
        height: 40px;
        float: left;
        width: 75%;
    }

    .searchtimkiem {
        height: 40px;
        width: 100%;
        outline: none;
        text-align: center;
    }

    .icon1 {
        font-size: 20px;
        color: gray;
    }

    .icon2 {
        font-size: 28px;
        color: gray;
    }

    .nut {
        outline: none;
        width: 40px;
        height: 40px
    }

    .basil {
        background-color: #FFFBE6 !important;
    }

    .basil--text {
        color: #356859 !important;
    }

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

</style>





