<template>
    <v-layout wrap pl-3 pr-3>
        <v-flex md2 pl-0>
            <v-navigation-drawer permanent disable-resize-watcher>
                <v-list class="pt-1" dense>
                    <v-list-tile @click="valid=true">
                        <v-list-tile-content pt-3>
                            <v-list-tile-title>Hợp Đồng 1</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile @click="valid=false">
                        <v-list-tile-content pt-3>
                            <v-list-tile-title>Hợp Đồng 2</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
        </v-flex>
        <v-flex md10 pa-0>
            <v-flex md12 pa-0 v-if="valid">
                <v-container>
                    <v-layout>
                        <v-flex class="flex md12 pl-5 pr-5">
                            <v-flex class="flex md12 text-center title mt-2">
                                <h4 class="font-weight-bold ">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
                                <span class="font-italic mt-100">Độc lập - Tự do - Hạnh phúc</span>
                            </v-flex>
                            <v-flex class="flex md12 text-center">
                                <h4 class="font-weight-bold ">HỢP ĐỒNG DỊCH VỤ</h4>
                                <span class="font-italic mt-100">Số: BKL/060319-01</span>
                            </v-flex>
                            <v-flex class="flex md12">
                                <dl>
                                    <dd>-Căn cứ Luật Thương mại số 36/2005.QH 11 được Quốc hội nước Cộng hòa Xã hội
                                        Chủ nghĩa Việt Nam thông qua ngày 14/06/2005 và các văn bản hướng dẫn thi
                                        hành
                                    </dd>
                                    <dd>-Căn cứ Bộ Luật dân sự năm 2005 của Quốc hội nước Cộng hòa xã hội Chủ nghĩa
                                        Việt Nam số 33/2005-QH 11 thông qua ngày 14/6/2005, có hiệu lực ngày
                                        01/01/2006 và các văn bản hướng dẫn thi hành.
                                    </dd>
                                    <dd>-Căn cứ vào khả năng và nhu cầu của hai bên</dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex  md12 pb-0">
                                <pre>Hôm nay, ngày 06 tháng 03 năm 2019. Chúng tôi gồm:</pre>
                                <h4 class="font-weight-bold">BÊN A: CÔNG TY CÔ PHẦN IDS EQUITY HOLDINGS.</h4>
                                <pre>Địa chỉ       :Số 34, ngõ 6A Thành Công, Phường Thành Công, Quận Ba Đình, TP.Hà Nội.</pre>
                                <pre>Đại diện      :Lê Minh Thành             Chức vụ : Chủ tịch HĐQT</pre>
                                <pre>Địa chỉ       :Số 34, ngõ 6A Thành Công, Phường Thành Công, Quận Ba Đình, TP.Hà Nội.</pre>
                            </v-flex>

                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold">BÊN B: CÔNG TY TNHH QUẢNG CÁO VÀ TRUYỀN THÔNG BKL VIỆT
                                    NAM.</h4>
                                <pre>Địa chỉ       :Số 34, ngõ 6A Thành Công, Phường Thành Công, Quận Ba Đình, TP.Hà Nội.</pre>
                                <pre>Điện thoại    :0966.639.936</pre>
                                <pre>Đại diện      :<span class="font-weight-bold">Ông Trần Việt Thụy</span>            Chức vụ: Giám đốc</pre>
                                <pre>Mã số thuế    :0106998677</pre>
                            </v-flex>

                            <v-flex class="flex  md12 pb-0">
                                <pre>Hai bên cùng bàn bạc và thống nhất  ký kết  hợp đồng với các điều khoản sau:</pre>
                                <h4 class="font-weight-bold">ĐIỀU I: NỘI DUNG HỢP ĐỒNG</h4>
                                <pre>-  Bên B thực hiện cho bên A dịch vụ chụp ảnh chân dung cá nhân tập thể công ty..</pre>
                                <pre>-  Thời gian hoàn thành: 14 ngày kể từ ngày chụp dự kiến là 07/03/2019</pre>
                            </v-flex>

                            <v-flex class="flex  md12 pb-0">
                                <h4 class="font-weight-bold">ĐIỀU II: TRỊ GIÁ HỢP ĐỒNG VÀ PHƯƠNG THỨC THANH
                                    TOÁN</h4>
                                <v-card-text>
                                    <v-data-table
                                            :headers="headersd"
                                            :items="desserts"
                                            hide-default-footer
                                            hide-actions
                                    >
                                        <template slot="items" slot-scope="props">
                                            <tr>
                                                <td> {{ props.item.name }}</td>
                                                <td class="flex text-md-left pl-4 "> {{ props.item.TenVC }}</td>
                                                <td class="flex text-md-right pr-4"> {{ props.item.DonVt }}</td>
                                                <td class="flex text-md-right pr-4"> {{ props.item.DonGia }}</td>
                                                <td class="flex text-md-right pr-4"> {{ props.item.Soluong }}</td>
                                                <td class="flex text-md-right pr-4"> {{ props.item.ThanhTien }}</td>
                                            </tr>
                                        </template>
                                    </v-data-table>
                                    <v-layout>
                                        <v-flex md8></v-flex>
                                        <v-flex md4 pl-5>
                                            <p>Tổng:</p>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex class="flex  md12 pt-0">
                                <h5 class="font-weight-bold">1.Trị giá hợp đồng: 21,200,000</h5>
                                <p>(Bằng chữ: Hai mươi mốt triệu hai trăm nghìn đồng)</p>
                            </v-flex>
                            <v-flex class="flex  md12 pt-0">
                                <h5 class="font-weight-bold">2. Phương thức thanh toán:</h5>
                                <dl>
                                    <dd>-Đợt 1: Thanh toán 50% tổng giá trị hợp đồng khi ký hợp đồng. Khoản này được
                                        coi như tiền đặt cọc và sẽ không được hoàn trả
                                    </dd>
                                    <dd>-Đợt 2: Thanh toán 100% tổng giá trị hợp đồng sau khi nhận sản phẩm cuối.
                                    </dd>
                                    <dd class="font-italic">Lưu ý: khách hàng sẽ chỉ nhận được file ảnh JPEG dung
                                        lượng thấp có đóng dấu watermark khi chưa thanh toán toàn 100%
                                    </dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold">ĐIỀU III: TRÁCH NHIỆM MỖI BÊN</h4>
                                <h5 class="font-weight-bold">3.1 Trách nhiệm bên A:</h5>
                                <dl>
                                    <dd>-Thanh toán và nghiệm thu đúng hạn như đã cam kết.</dd>
                                    <dd>-Chịu trách nhiệm pháp lý về nội dung cung cấp cho bên B.</dd>
                                    <dd>Kiểm tra và duyệt các sản phẩm ảnh do bên B cung cấp.</dd>
                                    <dd>-Có toàn quyền sỡ hữu và sử dụng tất cả các hình ảnh do bên B cung cấp và
                                        chỉ được sử dụng tại Việt Nam.
                                    </dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h5 class="font-weight-bold">Trách nhiệm bên B:</h5>
                                <dl>
                                    <dd>-Thực hiện chụp ảnh chân dung cá nhân và tập thể công ty theo nội dung bên A
                                        cung cấp
                                    </dd>
                                    <dd>-Đảm bảo thời gian cho bên A theo đúng tiến độ đã cam kết.</dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold">ĐIỀU IV: BẢO MẬT THÔNG TIN</h4>
                                <dl>
                                    <dd>-Bên B tuyệt đối bảo vệ , giữ bí mật các File hình ảnh cho bên Bên A</dd>
                                    <dd>-Trong trường hợp bên A đã công khai hình ảnh chụp, bên B chỉ được phép dùng
                                        những hình ảnh đó cho mục đích marketing trên mạng xã hội
                                    </dd>
                                    <dd>-Bên B không được cung cấp File hình ảnh cho bên thứ 3 khi chưa có sự đồng ý
                                        của bên A.
                                    </dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold">ĐIỀU IV: ĐIỀU KHOẢN CHUNG</h4>
                                <dl>
                                    <dd>-Hai bên cam kết thực hiện đúng các điều khoản của hợp đồng này. Trong quá
                                        trình thực hiện nếu có khó khăn phát sinh hai bên cùng nhau bàn bạc giải
                                        quyết trên tinh thần hợp tác giúp đỡ lẫn nhau.
                                    </dd>
                                    <dd>Nếu không giải quyết được sẽ đưa ra giải quyết tại Toà án có thẩm quyền tại
                                        Việt Nam
                                    </dd>
                                    <dd>-Hợp đồng này được tự động thanh lý khi hai bên hoàn tất các thủ tục về giấy
                                        tờ và thanh toán.
                                    </dd>
                                    <dd>-Hợp đồng này được lập thành 02 bản, có giá trị pháp lý ngang nhau, bên A
                                        giữ 01 bản, bên B giữ 01 bản và có hiệu lực kể từ ngày ký.
                                    </dd>
                                </dl>
                            </v-flex>
                            <v-flex md12>
                                <v-layout>
                                    <v-flex class="right text-xs-center  md6 float-left font-weight-bold">ĐẠI DIỆN
                                        BÊN A
                                    </v-flex>
                                    <v-flex class="right text-xs-center  md6 float-left font-weight-bold">ĐẠI DIỆN
                                        BÊN B
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
            <!-- <v-divider></v-divider> -->
            <!-- hợp đồng 2 -->
            <v-flex md12 pa-0 v-else>
                <v-container>
                    <v-layout>
                        <v-flex class="flex md12 pl-5 pr-5">
                            <v-flex class="flex md12 text-center title mt-2">
                                <h4 class="font-weight-bold ">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
                                <span class="font-italic mt-100">Độc lập - Tự do - Hạnh phúc</span>
                            </v-flex>
                            <v-flex class="flex md12 text-center">
                                <h4 class="font-weight-bold ">HỢP ĐỒNG DỊCH VỤ</h4>
                                <span class="font-weight-bold mt-100">HĐ : xxxxxxx</span>
                            </v-flex>
                            <v-flex class="flex  md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 43%;">BÊN
                                    A: BÊN CUNG CẤP DỊCH VỤ</h4>
                                <pre style="border-bottom: 1px solid black; width: 100%;">Đại diện     : <span
                                        class="font-weight-bold">Ông Trần Việt Thụy</span> – CEO Bokeh Lah Wedding  Số CMND: 012655469</pre>
                                <pre style="border-bottom: 1px solid black; width: 100%;">Địa chỉ      : Tầng 3, Toà nhà Số 52 Nguyễn Chí Thanh , Quận Đống Đa, Hà Nội</pre>
                                <pre style="border-bottom: 1px solid black; width: 100%;">Điện thoại   : 0888.888.275 (hotline)  0966.639.936</pre>
                                <pre style="border-bottom: 1px solid black; width: 100%;">Số tài khoản : 1916 868 868 8018 – Techcombank chi nhánh Ngọc Khánh
                   0011 004 306 253 – Ngân hàng Vietcombank chi nhánh “Sở giao dịch”
                   0520 1001 58888 – Ngân hàng quân đội MBank chi nhánh Lý Nam Đế
                   1112 1111 001 – Ngân hàng Tiên Phong Bank (TPBank) chi nhánh Hội Sở
                    </pre>
                            </v-flex>

                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 30%;">BÊN
                                    B: BÊN ĐẶT HÀNG</h4>
                                <v-card-text>
                                    <v-data-table
                                            :headers="headersd_1"
                                            :items="desserts_1"
                                            hide-default-footer
                                            hide-actions
                                    >
                                        <template slot="items" slot-scope="props">
                                            <tr>
                                                <td> {{ props.item.name }}</td>
                                            </tr>
                                        </template>
                                    </v-data-table>
                                </v-card-text>

                            </v-flex>

                            <v-flex class="flex  md12 pb-0">
                                <pre>Cùng thỏa thuận các điều khoản sau:</pre>
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 35%;">
                                    ĐIỀU 1: GIÁ TRỊ HỢP ĐỒNG</h4>
                                <p><span class="font-weight-bold">1.1.</span> Bên A chịu trách nhiệm sản xuất cho
                                    Bên B các nội dung được liệt kê như sau:</p>
                                <v-flex class="flex md12 pb-0">
                                    <v-card-text>
                                        <v-data-table
                                                :headers="headersd_2"
                                                :items="desserts_2"
                                                hide-default-footer
                                                hide-actions
                                        >
                                            <template slot="items" slot-scope="props">
                                                <tr>
                                                    <td> {{ props.item.name }}</td>
                                                </tr>

                                            </template>
                                            <v-card-text>
                                                <v-data-table
                                                        :headers="headersd_2"
                                                        :items="desserts_2"
                                                        hide-default-footer
                                                        hide-actions
                                                >
                                                    <template slot="items" slot-scope="props">
                                                        <tr>
                                                            <td> {{ props.item.name }}</td>
                                                        </tr>

                                                    </template>


                                                </v-data-table>
                                            </v-card-text>


                                        </v-data-table>
                                    </v-card-text>
                                    <v-flex class="font-weight-bold pl-2">Tổng tiền:</v-flex>
                                    <v-flex class="font-weight-bold pl-2">Chiết Khấu:</v-flex>
                                    <v-flex class="font-weight-bold pl-2">Còn Lại:</v-flex>
                                </v-flex>


                            </v-flex>

                            <v-flex class="flex  md12 pb-0">
                                <p class="font-weight-bold">1.2. Giới hạn thời gian tác nghiệp:</p>
                                <p class="font-weight-bold">Pre wedding:</p>
                                <dl>
                                    <dd>- Gói chụp: ….. <span class="font-italic">* Phát sinh thời gian ngoài ca chụp tính 500k/h/ photo (không bao gồm thời gian di</span>chuyển,
                                        ăn uống Bên A sẽ thông báo về việc phát sinh với bên B trước makeup,
                                        setup,…)
                                    </dd>
                                    <dd>Ca chụp: …………</dd>
                                    <dd>Ngày chụp: ………..</dd>
                                    <dd>Địa điểm chụp: ………</dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex  md12 pt-0">
                                <h5 class="font-weight-bold">Phóng sự cưới: </h5>
                                <pre>      Chia làm 02 ca: sáng - trưa, chiều - tối</pre>
                                <pre>      - Ca sáng - trưa: từ 6h đến 13h ( ăn hỏi xong trước 11h)</pre>
                                <pre>      - Ca chiều - tối: từ 13h đến 20h ( ăn hỏi xong trước 18h)</pre>
                            </v-flex>
                            <v-flex class="flex  md12 pt-0">
                                <h5 class="font-weight-bold">1.3. Trong đó Bên A chịu trách nhiệm sản xuất hình ảnh
                                    cho Bên B trong thời gian và địa điểm dưới đây:</h5>
                                <v-layout>
                                    <v-flex class="md6">
                                        <v-card-text>
                                            <v-data-table
                                                    :headers="headersd_3"
                                                    :items="desserts_3"
                                                    hide-default-footer
                                                    hide-actions
                                            >
                                                <template slot="items" slot-scope="props">
                                                    <tr>
                                                        <td> {{ props.item.name }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex class="md6">
                                        <v-card-text>
                                            <v-data-table
                                                    :headers="headersd_4"
                                                    :items="desserts_4"
                                                    hide-default-footer
                                                    hide-actions
                                            >
                                                <template slot="items" slot-scope="props">
                                                    <tr>
                                                        <td> {{ props.item.name }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>


                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <dl>
                                    <dd><p class="font-italic" style="color: red;">* Lưu ý: Bên B phải có trách
                                        nhiệm thông báo ngay lập tức cho bên A tất cả mọi thay đổi về thời gian và
                                        địa điểm chụp, những thay đổi phát sinh trong vòng 05 ngày trước khi sự kiện
                                        diễn ra sẽ bị tính phí 3tr/sự kiện.</p></dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 43%;">
                                    ĐIỀU 2: SẢN PHẨM HOÀN THIỆN:</h4>
                                <p class="font-weight-bold">2.1. Bên B sẽ nhận được những sản phẩm hình ảnh từ bên A
                                    theo các đầu mục sau:</p>
                                <ul>
                                    <li>Toàn bộ ảnh gốc JPEG</li>
                                    <li>Toàn bộ ảnh edit JPEG</li>
                                    <li>....................</li>
                                </ul>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <p class="font-weight-bold">2.2. File nghiệm thu:</p>
                                <dl>
                                    <dd>-Khách hàng sẽ nhận được link download ảnh. File ảnh sẽ có chất lượng cao
                                        nhất, phù hợp cho in ấn, định dạng JPEG, phân giải tối thiểu 300 dpi, kích
                                        thước cạnh dài tối thiểu 2048 pixel.
                                    </dd>
                                    <dd>-Khách ang muốn copy file gốc (RAW) vui ang tới studio</dd>
                                    <dd>-Toàn bộ ảnh <span class="font-weight-bold">Album</span> được chọn ra sẽ
                                        được photoshop kỹ lưỡng (bao gồm: tẩy khuyết điểm, bóp chân tay, chỉnh màu
                                        theo phong cách studio v.v…).
                                    </dd>
                                    <dd>-Toàn bộ ảnh <span class="font-weight-bold">Phóng sự</span> sẽ được chỉnh
                                        sửa theo phong cách studio ( bao gồm: crop ảnh, chỉnh sửa hiệu ứng màu sắc,
                                        ánh ang, chạy mịn da,..)
                                    </dd>
                                </dl>
                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 40%;">
                                    ĐIỀU 3: THỜI GIAN HOÀN TẤT:</h4>
                                <p style="margin-bottom: 0px;">3.1. Bên A tiến hành xử lý hậu kỳ hình ảnh cho bên B
                                    ngay sau khi nhận được thanh toán theo điều 4.2.</p>
                                <p>3.2. Thời gian hậu kỳ sản phẩm</p>
                                <v-layout>
                                    <v-flex class="md6"><p class="font-weight-bold">Ảnh pre wedding</p>
                                        <pre>- Ảnh edit:    07 ngày làm việc</pre>
                                        <pre>- In ấn:       03 ngày làm việc</pre>
                                    </v-flex>
                                    <v-flex class="md6"><p class="font-weight-bold">Ảnh phóng sự:</p>
                                        <pre>- Ảnh edit: 03 ngày làm việc</pre>
                                        <pre>- Album: 07 - 10 ngày làm việc</pre>
                                    </v-flex>
                                </v-layout>

                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 50%;">
                                    ĐIỀU 4: PHƯƠNG THỨC THANH TOÁN:</h4>
                                <p style="margin-bottom: 0px;">4.1 Hình thức thanh toán: Bằng tiền mặt hoặc chuyển
                                    khoản. (thông tin nêu trên đầu hợp đồng)</p>
                                <p>4.2 Cách thức thanh toán:</p>
                                <v-layout>
                                    <v-flex class="md5">
                                        <p>Thanh toán lần 1: 40% tổng giá trị hợp đồng</p>
                                        <p>Thanh toán lần 2: 50% tổng giá trị hợp đồng</p>
                                        <p>Thanh toán lần 3: 10% + Phát sinh (nếu có)</p>
                                    </v-flex>
                                    <v-flex class="md7">
                                        <p>Khi ký hợp đồng (không được hoàn trả)</p>
                                        <p>Khi chụp xong, sau đó ekip mới bắt đầu xử lý hậu kỳ</p>
                                        <p>Khi nhận được toàn bộ sản phẩm cuối</p>
                                    </v-flex>
                                </v-layout>

                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 65%;">
                                    ĐIỀU 5: NGHĨA VỤ VÀ QUYỀN LỢI CỦA CÁC BÊN:</h4>
                                <p class="font-weight-bold">5.1. Bên A có nghĩa vụ:</p>
                                <dl>
                                    <dd>- Cung cấp dịch vụ hình ảnh theo đúng nội dung thỏa thuận trong Hợp đồng.
                                    </dd>
                                    <dd>- Chỉnh sửa nội dung hình ảnh theo yêu cầu (bằng văn bản hoặc email từ bên
                                        B). Bên A sẽ chỉnh sửa một (01) lần duy nhất theo thời gian thỏa thuận. Bên
                                        B sẽ không phải thanh toán khoản lệ phí chỉnh sửa trong phạm vi này.
                                    </dd>
                                    <dd>- Trong trường hợp mất dữ liệu bất khả kháng, hai bên sẽ cùng phải chịu
                                        thiệt hại 50:50.
                                    </dd>
                                </dl>
                                <p class="font-weight-bold">5.2. Bên A có quyền:</p>
                                <dl>
                                    <dd>- Bên A có quyền không thực hiện những yêu cầu không có trong hợp đồng
                                        này.
                                    </dd>
                                    <dd>- Sản xuất hình ảnh theo quy trình và phong cách của mình, bên B có thể tư
                                        vấn và góp ý thêm cho bên A khi đang tác nghiệp.
                                    </dd>
                                    <dd>- Dùng sản phẩm cuối để làm công cụ truyền thông, quảng bá cho thương hiệu
                                        của mình
                                    </dd>
                                    <dd>- Bên A không chịu trách nhiệm dưới bất kì hình thức nào về các sản phẩm đã
                                        sản xuất cho bên B kể từ sau khi hoàn thành hợp đồng với bên B.
                                    </dd>
                                </dl>
                                <p class="font-weight-bold">5.3. Bên B có nghĩa vụ:</p>
                                <dl>
                                    <dd>- Bên B có nghĩa vụ nghiệm thu theo tiến độ để nhận bàn giao sản phẩm. Sau
                                        14 ngày nếu không có hồi âm, bên A coi như sản phẩm đã được nghiệm thu và
                                        hợp đồng được thanh lý. Mọi yêu cầu sửa đổi sau 14 ngày sẽ không được chấp
                                        thuận.
                                    </dd>
                                    <dd>- Thanh toán đầy đủ và đúng hạn cho bên A theo nội dung thanh toán được nêu
                                        tại điều 4 trong hợp đồng
                                    </dd>
                                    <dd>- Backup toàn bộ file thành phẩm sau khi nhận được sản phẩm cuối trong vòng
                                        30 ngày. Bên A không chịu trách nhiệm nếu bên B làm mất hoặc hỏng file sau
                                        khi hoàn thành hợp đồng.
                                    </dd>
                                    <dd>- Thanh toán chi phí vận chuyển (nếu có).</dd>
                                </dl>
                                <p class="font-weight-bold">5.4. Bên B có quyền:</p>
                                <dl>
                                    <dd>- Sử dụng toàn bộ hình ảnh trong khuôn khổ chấp hành theo những quy định của
                                        pháp luật.
                                    </dd>
                                    <dd>- Khiếu nại về chất lượng dịch vụ, yêu cầu chỉnh sửa duy nhất một (01) lần
                                        bằng văn bản. Mọi yêu cầu chỉnh sửa phải hợp lý, không được thay đổi quá 30%
                                        hình ảnh so với sản phẩm nghiệm thu. Bên A sẽ hỗ trợ chỉnh sửa hết sức có
                                        thể trong khuôn khổ. Bên B không phải thanh toán thêm gì cho việc này.
                                    </dd>
                                </dl>


                            </v-flex>
                            <v-flex class="flex md12 pb-0">
                                <h4 class="font-weight-bold" style="border-bottom: 1px solid black; width: 50%;">
                                    ĐIỀU 6: THỎA THUẬN CHUNG:</h4>
                                <p>6.1.Hợp đồng này sẽ tự động được thanh lý sau 14 ngày kể từ khi bên B thanh toán
                                    đầy đủ các khoản tiền cho bên A và không có tranh chấp hoặc khiếu nại gì từ hai
                                    bên.</p>
                                <p>6.2. Hợp đồng này được lập thành 02 (hai) bản có giá trị như nhau, Bên A giữ 01
                                    (một) bản, Bên B giữ 01 (một) bản có hiệu lực kể từ ngày ký.</p>


                            </v-flex>
                            <v-flex md12>
                                <v-layout>
                                    <v-flex class="right text-xs-center  md6 float-left font-weight-bold"></v-flex>
                                    <v-flex class="right text-xs-center  md6 float-left font-italic">Hà Nội, ngày
                                        tháng năm
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex md12>
                                <v-layout>
                                    <v-flex class="right text-xs-center  md6 float-left font-weight-bold"><p>ĐẠI
                                        DIỆN BOKEH LAH</p></v-flex>
                                    <v-flex class="right text-xs-center  md6 float-left font-weight-bold"><p>ĐẠI
                                        DIỆN BÊN B</p></v-flex>
                                </v-layout>
                            </v-flex>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-flex>
    </v-layout>
</template>

<script>

    import {mapActions} from 'vuex'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {},
        props: ['order_id', 'customer_id'],
        data() {
            return {
                //====================giao diện gửi email=======================
                valid: true,
                dialog: false,
                editorData: '',
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: [
                        'heading', '|',
                        'bold', 'italic', 'underline', '|',
                        'bulletedList', 'numberedList', '|',
                        'undo', 'redo', '|',
                        'link',
                    ],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                            {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'},
                            {model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4'},
                        ]
                    },

                },
                //=========================danh sách mail đã gửi
                selected: [],
                data: [],
                headers: [
                    {
                        text: "Người gửi",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Email nhận",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Tiêu đề",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "Ngày gửi",
                        align: "left",
                        sortable: false
                    },
                    {
                        text: "",
                        align: "center",
                        width: "120px",
                        sortable: false
                    }
                ],
                headersd: [
                    {text: 'Stt', value: 'name', sortable: false},
                    {text: 'Tên công việc', value: 'name', align: "left", sortable: false},
                    {text: 'Đơn vị tính', value: 'name', align: "right", sortable: false},
                    {text: 'Đơn giá', value: 'name', align: "right", sortable: false},
                    {text: 'Số lượng', value: 'name', align: "right", sortable: false},
                    {text: 'Thành tiền', value: 'name', align: "right", sortable: false},

                ],
                headersd_1: [
                    {text: 'Họ Và Tên', value: 'name', sortable: false},

                ],
                headersd_2: [
                    {text: 'STT', value: 'name', sortable: false},
                    {text: 'Mô tả dịch vụ', value: 'name', sortable: false},
                    {text: 'Đơn giá (VNĐ)', value: 'name', sortable: false},
                    {text: 'Ghi Chú', value: 'name', sortable: false},

                ],
                headersd_3: [
                    {text: 'Ngày ăn hỏi:', value: 'name', sortable: false},

                ],
                headersd_4: [
                    {text: 'Ngày cưới:', value: 'name', sortable: false},

                ],
                desserts: [
                    {
                        name: ' 1',
                        TenVC: 20000000,
                        DonVt: 60000000.0,
                        DonGia: 240000000,
                        protein: 4000000.0,
                        Soluong: 4000000.0,
                        ThanhTien: 40000000.0,
                    },
                ],
                desserts_1: [
                    {name: ' Số Điện Thoại',},
                    {name: ' Email',},
                    {name: ' Địa Chỉ',},
                ],
                desserts_2: [],
                desserts_3: [
                    {name: ' Giờ bắt đầu make up',},
                    {name: ' Địa điểm makeup',},
                    {name: ' Giờ nhà trai xuất phát',},
                    {name: ' Địa điểm xuất phát',},
                    {name: ' Giờ kết thúc sự kiện',},
                    {name: ' Tổng thời gian chụp',},
                ],
                desserts_4: [
                    {name: ' Giờ bắt đầu make up',},
                    {name: ' Địa điểm makeup',},
                    {name: ' Giờ nhà trai xuất phát',},
                    {name: ' Địa điểm xuất phát',},
                    {name: ' Giờ kết thúc sự kiện',},
                    {name: ' Địa điểm tổ chức tiệc',},
                    {name: ' Giờ kết thúc tiệc',},
                    {name: ' Tổng thời gian chụp',},
                ],

            };
        },

        methods: {
            ...mapActions(['getListEmail']),

            getLists() {
                let opts = {"order_id": this.order_id, "customer_id": this.customer_id};
                this.getListEmail(opts)
                    .then(response => {
                        this.data = response.data.success;
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                    loader.hide();
                })
            },

            create() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.createSupplier(this.form).then(response => {
                        this.$success();
                        this.$set(this.dialogNote, 1, false);
                        loader.hide();
                        this.form = [];
                        this.getLists();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                        loader.hide();
                    })
                }

            },
        },

        created() {
            this.getLists();
        }

    }
</script>