<template>
    <div class="text-center">
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation>
            <v-card>
            </v-card>
            <v-card>
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Tên khách hàng"
                                          v-model='form.name'
                                          :rules="[v => !!v || 'Nhập tên khách hàng']"
                                          name='name'
                                          v-validate="'required'"
                                          :counter="30">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Tên khách hàng 2"
                                          v-model='form.contact_name'
                                          name='name'
                                          :counter="30">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Số chứng minh thư"
                                          name='CMT'
                                          v-model.lazy="form.CMT"
                                          @change="ChangedNumber()"
                                          type="number">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Số chứng minh thư"
                                          name='CMT'
                                          v-model='form.contact_CMT'
                                          type="number">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Số điện thoại"
                                          name='mobile_phone'
                                          v-model.lazy="form.mobile_phone"
                                          :rules="[v => !!v || 'Nhập số điện thoại']"
                                          v-validate="'required'"
                                          @change="ChangedNumber()"
                                          type="number">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Số điện thoại"
                                          name='mobile_phone'
                                          v-model='form.contact_mobile_phone'
                                          type="number">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Email"
                                          v-model.lazy="form.email_address"
                                          @change="ChangedEmail()"
                                          :rules="emailRules"
                                          type='email'
                                          name='email_address'>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Email"
                                          v-model='form.contact_email'
                                          type='email'
                                          name='email_address'>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Địa chỉ "
                                          v-model='form.address'
                                          :rules="[v => !!v || 'Nhập địa chỉ giao dịch']"
                                          name='address'
                                          v-validate="'required'"
                                          type="text"
                                          required>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Địa chỉ"
                                          v-model='form.contact_address'
                                          name='address'
                                          type="text">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Lĩnh vực kinh doanh"
                                          name='field_work'
                                          v-model='form.field_work'
                                          type="text">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Mã số thuế"
                                          v-model='form.tax_code'>
                            </v-text-field>
                        </v-flex>

                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-text-field label="Số con"
                                          v-model='form.childrens'>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-menu
                                    ref="menu1"
                                    :close-on-content-click="false"
                                    v-model="menu1"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    :nudge-right="40"
                                    max-width="290px"
                                    min-width="290px">
                                <v-text-field
                                        slot="activator"
                                        label="Ngày cưới"
                                        v-model="form.married_date"
                                        prepend-icon="event"
                                        readonly
                                ></v-text-field>
                                <v-date-picker v-model="form.married_date" no-title
                                               scrollable actions locale="vi-VN"
                                               @input="menu1 = false">
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm6 md4 offset-md1>
                            <v-menu
                                    ref="menu2"
                                    :close-on-content-click="false"
                                    v-model="menu2"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    :nudge-right="40"
                                    max-width="290px"
                                    min-width="290px">
                                <v-text-field
                                        slot="activator"
                                        label="Ngày sinh"
                                        v-model="form.date_of_birth"
                                        prepend-icon="event"
                                        readonly
                                ></v-text-field>
                                <v-date-picker v-model="form.date_of_birth" no-title
                                               scrollable actions locale="vi-VN"
                                               @input="menu2 = false">
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-flex v-if='check_phone'>
                    <a> Số điện thoại đã tồn tại!</a>
                </v-flex>
                <v-flex pt-2 v-if='check_email'>
                    <a> Email đã tồn tại!</a>
                </v-flex>
                <v-flex md12>
                    <v-layout py-4 justify-center>
                        <v-flex xs6 class="text-xs-right">
                            <v-btn
                                    color="success"
                                    small
                                    @click="create">
                                Thêm mới
                            </v-btn>
                        </v-flex>
                        <v-flex xs6 class="text-xs-left">
                            <v-btn
                                    color="error"
                                    small
                                    @click="back()">
                                Hủy bỏ
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-card>
        </v-form>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import Url from "@/api/local"

    export default {
        props: ['checkDialogCustomer'],
        data() {
            return {
                check_phone: false,
                check_email: false,
                dialogNote: [],
                valid: true,
                dialog: false,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                emailRules: [
                    v => !!v || 'Nhập E-mail ',
                    v => /.+@.+/.test(v) || 'Nhập đúng Email',
                ],
                menu1: false,
                menu2: false,
                menu3: false,
                menu4: false,
                form: {
                    name: '',
                    code: '',
                    address: '',
                    mobile_phone: '',
                    email_address: '',
                    tax_code: '',
                    bank_code: '',
                    description: '',
                    field_work: '',
                    married_date: null,
                    childrens: '',
                    date_of_birth: null,
                    contact_name: '',
                    contact_email: '',
                    contact_mobile_phone: '',
                    contact_address: '',
                    contact_CMT: '',
                    CMT: '',
                },
            }
        },
        computed: {
            ...mapGetters(['listCustomer']),
        },
        methods: {
            ...mapActions(['createCustomer', 'getListCustomer']),

            back() {
                var out = false;
                this.$emit('callback', out);
            },
            ChangedEmail() {
                this.check_email = false;
                this.getListCustomer();
                this.listCustomer.forEach(e => {
                    if (e.email_address == this.form.email_address) {
                        this.check_email = true;
                    }
                });

            },
            ChangedNumber() {
                this.check_phone = false;
                this.getListCustomer();
                this.listCustomer.forEach(e => {
                    if (e.mobile_phone == this.form.mobile_phone) {
                        this.check_phone = true;
                    }
                });
            },
            create() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.createCustomer(this.form).then(response => {
                        this.$success();
                        var checkDialogCustomer = false;
                        this.$emit('recheck', checkDialogCustomer);
                        this.$emit('submitSuccess', response.data);
                        this.form = [];
                        loader.hide();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                        loader.hide();
                    })
                }
            },
            getLists() {
                const params = [
                    `page=${this.page}`
                ].join('&')
                let list = Url.url + '/api/customer?${params}';
                return new Promise((resolve, reject) => {
                    axios.get(list)
                        .then(response => {
                            this.complex.items = response.data.success.data;
                            let currentTotal = response.data.success.total;
                            this.total = currentTotal;
                            this.getLists = false;
                            this.perPage = response.data.success.per_page;
                            if (this.complex.items[0]['id']) {
                                this.view(this.complex.items[0]['id']);
                            }

                        }).catch(error => {

                        this.total = 0;
                    })
                })
            },

        },
        created() {
            this.getListCustomer();
            this.getLists();
        },
    }

</script>