<template>
    <v-layout justify-center>

        <v-form
                ref="form"
                v-model="valid"
                lazy-validation>
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-text-field label="Họ và tên"

                                              :rules="nameRules"
                                              name='name'
                                              v-validate="'required'"
                                              :counter="30">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-text-field label="Mã khách hàng"

                                              :rules="[v => !!v || 'Item is required']"
                                              name='code'
                                              type="text"
                                              v-validate="'required'">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-text-field label="Địa chỉ"

                                              :rules="[v => !!v || 'Item is required']"
                                              name='address'
                                              v-validate="'required'"
                                              type="text"
                                              required>
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-text-field label="Email"
                                              :rules="emailRules"

                                              :counter="30"
                                              type='email'
                                              name='email_address'
                                              v-validate="'required|email'">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-text-field label="Số điện thoại"
                                              name='mobile_phone'

                                              :rules="[v => !!v || 'Item is required']"
                                              v-validate="'required'"
                                              type="number">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-text-field label="Lĩnh vực kinh doanh"
                                              name='field_work'

                                              :rules="[v => !!v || 'Item is required']"
                                              v-validate="'required'"
                                              type="text">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-text-field
                                        label="Mã số thuế"


                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-text-field label="Tài khoản ngân hàng"

                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-menu
                                        ref="menu1"
                                        :close-on-content-click="false"
                                        v-model="menu1"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        max-width="290px"
                                        min-width="290px">
                                    <v-text-field
                                            slot="activator"
                                            label="Ngày cưới"

                                            prepend-icon="event"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker no-title scrollable actions locale="vi-VN" @input="menu1 = false">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-menu
                                        ref="menu2"
                                        :close-on-content-click="false"
                                        v-model="menu2"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        max-width="290px"
                                        min-width="290px">
                                    <v-text-field
                                            slot="activator"
                                            label="Ngày sinh"

                                            prepend-icon="event"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker no-title scrollable actions locale="vi-VN" @input="menu2 = false">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md1>
                                <v-text-field label="Số con"

                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 offset-md2>
                                <v-textarea
                                        name="input-7-1"
                                        label="Mô tả"
                                        value=""
                                        hint="Hint text"

                                ></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <!-- <small>*indicates required field</small> -->
                </v-card-text>
                <v-layout justify-center>
                    <v-flex xs6 class="text-xs-right">
                        <v-btn
                                color="success"
                                small
                                @click="update">
                            Cập nhật
                        </v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn
                                color="error"
                                small
                                @click="back">
                            Hủy bỏ
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-form>
    </v-layout>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {

        data: () => ({
            valid: true,
            nameRules: [
                v => !!v || 'Name is required',
                // v => v.length > 10 || 'Name must be less than 10 characters',
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
            menu1: false,
            menu2: false,
            form: [],
        }),
        methods: {
            ...mapActions(['updateCustomer', 'getCustomer']),
            update() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.updateCustomer(this.form).then(response => {
                            this.$success();
                            this.back();
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });


                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    // this.$warning();
                }
                // this.$validator.validateAll();

            },
            back() {
                this.$router.push('http://localhost:8080/#/customers');
            },
            // getList(){
            //   this.getCustomer(this.$route.params.id).then(response => {
            //     this.form = response.data.success;
            //   }).catch(error => {
            //       this.$error('Dữ liệu thêm mới không hợp lệ!');
            //   })
            // }
        },
        created() {
            // this.getList();
        }
    }
</script>