<template>
    <v-card lg6 class="mt-2 float-md-left">
        <div class="float-md-left historyorder">
            <p class="float-md-left pa-2 pt-3" style=" font-weight: 500;width: 32%">Lịch sử đặt hàng</p>
            <p class="pa-2 pt-3" style=" font-weight: 500;width: 32%">Tổng tiền: {{total | formatPrice}} </p>
            <p class="pa-2 pt-3" style=" font-weight: 500;width: 32%">Tổng số đơn đặt hàng: {{count}} </p>
        </div>
        <div class="float-left">
            <v-data-table
                    :headers="history"
                    :items="items"
                    class="elevation-1"
                    hide-default-footer
                    hide-actions
            >
                <template slot="items" slot:activator slot-scope="props">

                    <td><a @click="order(props.item.id)">{{ props.item.code }}</a></td>
                    <td>
                        <div v-for='(e,k) in status' :key="e.id" v-if='props.item.status==e.id'
                             :class="` font-weight-bold ${e.color}--text`">
                            {{e.title}}
                        </div>
                    </td>
                    <td>{{ props.item.total_price - props.item.sale_off + props.item.total_price*props.item.vat/100 |
                        formatPrice }}
                    </td>
                    <!-- <td><div v-for=" e in props.item.list_combo">{{ e.created_at }}</div></td> -->
                    <td> {{ props.item.created_at }}</td>
                </template>
            </v-data-table>
        </div>
    </v-card>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['customer_id'],
        data() {
            return {
                status: [
                    {
                        id: "0",
                        title: "Chờ",
                        color: 'cyan',
                    },
                    {
                        id: "1",
                        title: "Chốt",
                        color: 'green',
                    },
                    {
                        id: "2",
                        title: "Đang xử lý",
                        color: 'pink',
                    },
                    {
                        id: "3",
                        title: "Hoàn thành",
                        color: 'orange',
                    },
                ],
                history: [
                    {
                        text: " Mã",
                        value: "name",
                        sortable: false
                    },
                    {
                        text: "Trạng thái",
                        value: "status",
                        sortable: false
                    },
                    {
                        text: "Tổng tiền",
                        value: "status",
                        sortable: false
                    },

                    {
                        text: "Ngày sử dụng",
                        value: "date",
                        sortable: false
                    },

                ],
                items: [],
                total: 0,
                count: 0,
            };
        },
        watch: {
            customer_id(newSelectedArray, oldSelectedArray) {
                this.getLists(newSelectedArray);
            },
        },
        methods: {
            ...mapActions(['historyOrders']),
            order(order_id) {
                this.$router.push('/orders/view/' + order_id);
            },
            getLists(customer_id) {
                this.items = [];
                if(customer_id){
                    this.historyOrders(customer_id)
                            .then(response => {
                                this.items = response.data.success;
                                this.totalPrice();
                            }).catch(error => {
                            this.$error('Dữ liệu gặp sự cố!');
                        })
                }else{
                    this.items = [];
                    this.total = 0;
                    this.count = 0;
                }

            },
            totalPrice() {
                this.total = 0;
                this.count = 0;
                this.items.forEach(e => {
                    this.total += parseFloat(e.total_price);
                    this.count++;
                });

            },
        },
    }

</script>
<style lang="stylus" scoped>
    .historyorder {
        display: flex;
    }

</style>
