<template>
    <div class="list-table">
        <v-container pa-0 grid-list-xl fluid>
            <v-layout row wrap pl-2>
                <v-flex lg5 pr-3 pl-1>
                    <v-card>
                        <v-toolbar card color="white">
                            <!--=================================Phần tìm kiếm================================================-->
                            <v-container pa-0>
                                <v-layout wrap>
                                    <v-flex>
                                        <v-text-field
                                                solo
                                                class="search-all"
                                                label="Tìm kiếm"
                                                background-color="rgba(220,220,220,0.1)"
                                                flat
                                                v-model="value_search"
                                                @input="getListSearch"
                                        >
                                            <template v-slot:prepend-inner>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                >
                                                    <v-icon>search</v-icon>
                                                </v-btn>
                                            </template>
                                            <template v-slot:append>
                                                <v-btn
                                                        flat icon color="grey"
                                                        class="ma-0"
                                                        @click="show_search = !show_search">
                                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                </v-btn>
                                            </template>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <!--========================================Phần danh sách và thêm mới khách hàng================================-->
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click.stop="dialog=true"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Thêm khách hàng</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click='popupDestroy' v-if='complex.selected.length'
                                           v-on="on">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Xóa các khách hàng đã chọn</span>
                            </v-tooltip>
                            <div class="text-center">
                                <v-dialog persistent v-model="dialog"
                                          width="1000">
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation>
                                        <v-card>
                                            <plain-table
                                                    :check='dialog'
                                                    @submitSuccess="submitSuccess"
                                                    @callback='dialog = $event'
                                                    @recheck='dialog = $event'
                                            >
                                            </plain-table>
                                        </v-card>
                                    </v-form>
                                </v-dialog>
                            </div>
                        </v-toolbar>
                        <!--=======================danh sách khách hàng===========================-->
                        <v-divider></v-divider>
                        <v-card-text class="mt-0 pt-0 ml-2" v-show="show_search" style="position: absolute; z-index: 1">
                            <v-card class="elevation-10">
                                <v-card-text class="pt-1 pb-0">
                                    <v-text-field label="Họ tên" v-model="formSearch.customer_name"></v-text-field>
                                    <!--<small class="grey--text">* This doesn't actually save.</small>-->
                                    <v-layout>
                                        <v-text-field class="ml-3" label="Email"
                                                      v-model="formSearch.email_address"></v-text-field>
                                        <v-text-field class="ml-3 mr-3" label="Số điện thoại"
                                                      v-model="formSearch.mobile_phone"></v-text-field>
                                    </v-layout>
                                    <v-layout>
                                        <v-text-field class="ml-3" label="Khoảng tiền từ"
                                                      v-model.lazy="money_start"
                                                      v-money="money_start != '' ? money : ''"
                                        ></v-text-field>
                                        <v-text-field class="ml-3 mr-3" label="Đến"
                                                      v-model.lazy="money_end"
                                                      v-money="money_end != '' ? money : ''"
                                        ></v-text-field>
                                    </v-layout>
                                    <v-layout>
                                        <v-autocomplete
                                                v-model="formSearch.level"
                                                class="ml-3"
                                                :items="itemsLevel"
                                                item-text="name"
                                                item-value="value"
                                                label="Level">
                                        </v-autocomplete>
                                        <v-text-field class="ml-3" label="Tuổi từ"
                                                      v-model="formSearch.age.age_start"></v-text-field>
                                        <v-text-field class="ml-3 mr-3" label="Tuổi đến"
                                                      v-model="formSearch.age.age_end"></v-text-field>
                                    </v-layout>
                                    <v-layout>
                                        <v-menu
                                                class="ml-2 pr-2"
                                                ref="menu3"
                                                :close-on-content-click="false"
                                                v-model="menu3"
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                :nudge-right="40"
                                                max-width="290px"
                                                min-width="290px">
                                            <v-text-field
                                                    v-model="formSearch.date_of_birth"
                                                    slot="activator"
                                                    label="Ngày sinh"
                                                    prepend-icon="event"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker
                                                    v-model="formSearch.date_of_birth"
                                                    no-title
                                                    scrollable actions
                                                    locale="vi-VN"
                                                    @input="menu3 = false">
                                            </v-date-picker>
                                        </v-menu>
                                        <v-menu
                                                class="ml-2 pr-2"
                                                ref="menu4"
                                                :close-on-content-click="false"
                                                v-model="menu4"
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                :nudge-right="40"
                                                max-width="290px"
                                                min-width="290px">
                                            <v-text-field
                                                    v-model="formSearch.married_date"
                                                    slot="activator"
                                                    label="Ngày cưới"
                                                    prepend-icon="event"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker
                                                    v-model="formSearch.married_date"
                                                    no-title
                                                    scrollable actions
                                                    locale="vi-VN"
                                                    @input="menu4 = false">
                                            </v-date-picker>
                                        </v-menu>
                                    </v-layout>
                                </v-card-text>
                                <v-card-actions class="mt-3">
                                    <v-spacer></v-spacer>
                                    <v-btn color="success" @click="changeSearch">Tìm Kiếm</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-card-text>
                        <v-card-text class="pa-0">
                            <v-data-table
                                    :headers="complex.headers"
                                    select-all
                                    :items="complex.items"
                                    class="elevation-1"
                                    hide-default-footer
                                    hide-actions
                                    checkable
                                    v-model="complex.selected">
                                <template slot="items" slot:activator slot-scope="props">
                                    <v-hover v-slot:default="{ hover }">
                                        <tr :class="[props.item.id==data.id ? 'active' : 'inactive']">
                                            <td style="width: 100px">
                                                <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                            </td>
                                            <td v-if="props.item.contact_name" @click="view(props.item.id)">
                                                <a>{{ props.item.name }} - {{ props.item.contact_name }}</a>
                                            </td>
                                            <td v-else @click="view(props.item.id)">
                                                <a>{{ props.item.name }}</a>
                                            </td>
                                            <td class="pa-0 text-xs-right">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn v-if="hover" class="ma-0" title="" flat icon
                                                               @click.stop="$set(dialogN, props.item.id, true,view(props.item.id))"
                                                               color="grey" v-on="on">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </v-btn>
                                                    </template>
                                                    <span>Sửa khách hàng</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn v-if="hover" title="" class="ma-0" flat icon color="grey"
                                                               @click='deleteCus(props.item.id)' v-on="on">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </v-btn>
                                                    </template>
                                                    <span>Xóa khách hàng</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn v-if="hover" title="" class="ma-0" flat icon color="grey"
                                                               @click='createOrder' v-on="on">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </v-btn>
                                                    </template>
                                                    <span>Tạo đơn hàng</span>
                                                </v-tooltip>
                                                <v-dialog persistent class="d-none" v-model="dialogN[props.item.id]"
                                                          lazy
                                                          max-width="900" :key="1">
                                                    <v-card>
                                                        <v-container grid-list-md>
                                                            <v-flex md12 offset-md1 xs12>
                                                                <v-form
                                                                        ref="data"
                                                                        v-model="valid">
                                                                    <v-layout wrap>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Tên khách hàng"
                                                                                          v-model='data.name'
                                                                                          :rules="[v => !!v || 'Nhập tên khách hàng']"
                                                                                          name='name'
                                                                                          v-validate="'required'"
                                                                                          :counter="30">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Tên người khách hàng 2"
                                                                                          v-model='data.contact_name'
                                                                                          name='name'
                                                                                          :counter="30">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Số chứng minh thư"
                                                                                          name='CMT'
                                                                                          v-model.lazy="data.CMT"
                                                                                          @change="ChangedNumber()"
                                                                                          type="number">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Số chứng minh thư"
                                                                                          name='CMT'
                                                                                          v-model='data.contact_CMT'
                                                                                          type="number">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Số điện thoại"
                                                                                          name='mobile_phone'
                                                                                          v-model.lazy="data.mobile_phone"
                                                                                          :rules="[v => !!v || 'Nhập số điện thoại khách hàng']"
                                                                                          v-validate="'required'"
                                                                                          @change="EditNumber(data.id)"
                                                                                          type="number">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field
                                                                                    label="Số điện thoại"
                                                                                    name='mobile_phone'
                                                                                    v-model='data.contact_mobile_phone'
                                                                                    type="number">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Địa chỉ Email"
                                                                                          v-model.lazy="data.email_address"
                                                                                          @change="EditEmail(data.id)"
                                                                                          :rules="emailRules"
                                                                                          type='email'
                                                                                          v-validate="'required'"
                                                                                          name='email_address'>
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field
                                                                                    label="Địa chỉ Email"
                                                                                    v-model='data.contact_email'
                                                                                    type='email'
                                                                                    name='email_address'>
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Địa chỉ"
                                                                                          v-model='data.address'
                                                                                          :rules="[v => !!v || 'Nhập địa chỉ giao dịch']"
                                                                                          name='address'
                                                                                          v-validate="'required'"
                                                                                          type="text"
                                                                                          required>
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Địa chỉ"
                                                                                          v-model='data.contact_address'
                                                                                          name='address'
                                                                                          type="text">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <!-- <v-flex xs12 sm6 md4 offset-md1>
                                                                          <v-text-field label="Mã khách hàng"
                                                                                        v-model='form.code'
                                                                                        :rules="[v => !!v || 'Item is required']"
                                                                                        name='code'
                                                                                        type="text"
                                                                                        v-validate="'required'">
                                                                          </v-text-field>
                                                                        </v-flex>   -->

                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Lĩnh vực kinh doanh"
                                                                                          name='field_work'
                                                                                          v-model='data.field_work'
                                                                                          type="text">
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Mã số thuế"
                                                                                          v-model='data.tax_code'>
                                                                            </v-text-field>
                                                                        </v-flex>

                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-text-field label="Số con"
                                                                                          v-model='data.childrens'>
                                                                            </v-text-field>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-menu
                                                                                    ref="menu1"
                                                                                    :close-on-content-click="false"
                                                                                    v-model="menu1"
                                                                                    transition="scale-transition"
                                                                                    offset-y
                                                                                    full-width
                                                                                    :nudge-right="40"
                                                                                    max-width="290px"
                                                                                    min-width="290px">
                                                                                <v-text-field
                                                                                        slot="activator"
                                                                                        label="Ngày cưới"
                                                                                        v-model="data.married_date"
                                                                                        prepend-icon="event"
                                                                                        readonly
                                                                                ></v-text-field>
                                                                                <v-date-picker
                                                                                        v-model="data.married_date"
                                                                                        no-title
                                                                                        scrollable actions
                                                                                        locale="vi-VN"
                                                                                        @input="menu1 = false">
                                                                                </v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                        <v-flex xs12 sm6 md4 offset-md1>
                                                                            <v-menu
                                                                                    ref="menu2"
                                                                                    :close-on-content-click="false"
                                                                                    v-model="menu2"
                                                                                    transition="scale-transition"
                                                                                    offset-y
                                                                                    full-width
                                                                                    :nudge-right="40"
                                                                                    max-width="290px"
                                                                                    min-width="290px">
                                                                                <v-text-field
                                                                                        slot="activator"
                                                                                        label="Ngày sinh"
                                                                                        v-model="data.date_of_birth"
                                                                                        prepend-icon="event"
                                                                                        readonly
                                                                                ></v-text-field>
                                                                                <v-date-picker
                                                                                        v-model="data.date_of_birth"
                                                                                        no-title
                                                                                        scrollable actions
                                                                                        locale="vi-VN"
                                                                                        @input="menu2 = false">
                                                                                </v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                    </v-layout>
                                                                    <v-divider></v-divider>
                                                                    <v-flex py-2 text-center v-if='check_phone'>
                                                                        <a> Số điện thoại đã tồn tại!</a>
                                                                    </v-flex>
                                                                    <v-flex text-center pt-2 v-if='check_email'>
                                                                        <a> Email đã tồn tại!</a>
                                                                    </v-flex>
                                                                    <v-layout md12 py-4 justify-center>
                                                                        <v-flex xs6 class="text-xs-right">
                                                                            <v-btn
                                                                                    color="success"
                                                                                    small
                                                                                    @click="update(data.id)"
                                                                            >
                                                                                Update
                                                                            </v-btn>
                                                                        </v-flex>
                                                                        <v-flex xs6 class="text-xs-left">
                                                                            <v-btn
                                                                                    color="error"
                                                                                    small
                                                                                    @click.stop="$set(dialogN, props.item.id, false)"
                                                                            >
                                                                                Hủy bỏ
                                                                            </v-btn>
                                                                        </v-flex>
                                                                    </v-layout>
                                                                </v-form>
                                                            </v-flex>
                                                        </v-container>
                                                    </v-card>
                                                </v-dialog>
                                            </td>
                                        </tr>
                                    </v-hover>
                                </template>
                            </v-data-table>
                            <v-card flat>
                                <pagination
                                        :pagination="pagination"
                                        v-on:click.native="getLists(pagination.current_page)"
                                        :offset="4">
                                </pagination>
                            </v-card>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <!--========================================================phần chi tiết khách hàng==========================================-->
                <v-flex lg7 class="float-md-left">
                    <v-card class="lg12 float-md-left">
                        <template>
                            <v-card lg6 class="float-md-left">
                                <v-layout float-left class="ma-0">
                                    <v-flex float-md-left class="pa-0" height="70px">
                                        <v-flex class="img pl-2 ma-1 pr-2 float-left">
                                            <v-list-tile-avatar :size="70">
                                                <v-img src="/static/avatar/logo_customer.png"></v-img>
                                            </v-list-tile-avatar>
                                        </v-flex>
                                        <v-flex v-if='data.name && !data.contact_name '
                                                class=" img pl-3 ml-2 my-4 headline font-weight-medium"> {{ data.name }}
                                        </v-flex>
                                        <v-flex v-if='data.name && data.contact_name'
                                                class=" img pl-3 ml-2 my-4 headline font-weight-medium"> {{ data.name }}
                                            - {{ data.contact_name }}
                                        </v-flex>
                                    </v-flex>
                                </v-layout>
                                <v-divider></v-divider>
                                <div class="float-left lg12 md12 mt-3 info__detail-wrapper">
                                    <v-layout>
                                        <div md6 class="setWidth float-left">
                                            <v-layout wrap class="ma-0">
                                                <v-flex xs12 class='pa-2 ma-0 ml-2'>
                                                    <v-list
                                                            v-for="(item, key) in data_detail.detail_left"
                                                            :key="key"
                                                            dense
                                                    >
                                                        <v-list-tile v-for="(value, k) in data" :key="k"
                                                                     v-if="k == key">
                                                            <v-list-tile-action>
                                                                <v-btn title="" class="ma-0" flat icon color="grey">
                                                                    <i :title="item.title" :class="item.icon"
                                                                       aria-hidden="true"></i>
                                                                </v-btn>
                                                            </v-list-tile-action>
                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-if="value">{{ value }}
                                                                </v-list-tile-title>
                                                                <v-list-tile-title class="font-weight-thin font-italic"
                                                                                   v-else>(Chưa có thông tin :
                                                                    {{item.title}})
                                                                </v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </div>

                                        <div md6 class="setWidth float-left">
                                            <v-layout wrap style="width: 100%" class="img ma-0">
                                                <v-flex xs12 class='ma-0 ml-2'>
                                                    <v-list
                                                            v-for="(item, key) in data_detail.detail_right"
                                                            :key="key"
                                                            dense
                                                    >
                                                        <v-list-tile v-for="(value, k) in data" :key="k"
                                                                     v-if="k == key">
                                                            <v-list-tile-action>
                                                                <v-btn title="" class="ma-0" flat icon color="grey">
                                                                    <i :title="item.title" :class="item.icon"
                                                                       aria-hidden="true"></i>
                                                                </v-btn>
                                                            </v-list-tile-action>
                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-if="value">{{ value }}
                                                                </v-list-tile-title>
                                                                <v-list-tile-title class="font-weight-thin font-italic"
                                                                                   v-else>(Chưa có thông tin :
                                                                    {{item.title}})
                                                                </v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </div>
                                    </v-layout>
                                </div>
                            </v-card>
                        </template>
                    </v-card>
                    <br>
                    <!--=============================================Phần lịch sử order của khách hàng===============================================-->
                    <history-orders :customer_id="customer_id"></history-orders>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import PlainTable from "@/views/customers/Create.vue"
    import Url from "@/api/local"
    import Pagination from "@/views/pagination/pagination.vue"
    import HistoryOrders from "./HistoryOrders.vue"
    import {VMoney} from 'v-money'

    export default {
        directives: {money: VMoney},
        components: {
            PlainTable,
            Pagination,
            HistoryOrders,
        },
        data() {
            return {
                money_start: '',
                money_end: '',
                money: {},
                //=========================tìm kiếm===============
                value_search: null,
                show_search: false,
                check_data_search: false,
                itemsLevel: [
                    {
                        name: 'Tiềm năng',
                        value: 'POTENTIAL'
                    },
                    {
                        name: 'Chốt',
                        value: 'LATCH'
                    },
                    {
                        name: 'VIP',
                        value: 'VIP',
                    }
                ],
                formSearch:
                    {
                        customer_name: '',
                        email_address: '',
                        level: '',
                        mobile_phone: '',
                        married_date: '',
                        date_of_birth: '',
                        age: {
                            age_start: '',
                            age_end: '',
                        },
                        money: {
                            money_start: '',
                            money_end: '',
                        },
                    },
                //============chi tiết khách hàng==================
                data_detail: {
                    detail_left: {
                        mobile_phone: {
                            icon: 'fa fa-volume-control-phone',
                            title: 'Số điện thoại',
                        },
                        email_address: {
                            icon: 'fa fa-envelope-o',
                            title: 'Email liên hệ'
                        },
                        field_work: {
                            icon: 'fa fa-map-o',
                            title: 'Địa chỉ liên hệ'
                        },
                        childrens: {
                            icon: 'fa fa-child',
                            title: 'Số con'
                        },
                        date_of_birth: {
                            icon: 'fa fa-birthday-cake',
                            title: 'Ngày sinh nhật'
                        },
                        married_date: {
                            icon: 'fa fa-heart-o',
                            title: 'Ngày cưới'
                        }
                    },
                    detail_right: {
                        contact_mobile_phone: {
                            icon: 'fa fa-mobile',
                            title: 'Số điện thoại khách hàng 2'
                        },
                        contact_email: {
                            icon: 'fa fa-envelope-o',
                            title: 'Email khách hàng 2'
                        },
                        contact_address: {
                            icon: 'fa fa-map-o',
                            title: 'Địa chỉ khách hàng 2'
                        },
                        tax_code: {
                            icon: 'fa fa-id-card-o',
                            title: 'Mã số thuế'
                        },
                        level: {
                            icon: 'fa fa-level-up',
                            title: 'Level khách hàng'
                        }
                    }
                },
                // =================================================================
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                ids: [],
                check_phone: false,
                check_email: false,
                check: '',
                customer_id: '',
                dialogN: [],
                valid: true,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                emailRules: [
                    v => !!v || 'Nhập E-mail ',
                    v => /.+@.+/.test(v) || 'Nhập đúng E-mail',
                ],
                menu1: false,
                menu2: false,
                menu3: false,
                menu4: false,
                form: {
                    id: '',
                    name: '',
                    code: '',
                    address: '',
                    mobile_phone: '',
                    email_address: '',
                    tax_code: '',
                    bank_code: '',
                    description: '',
                    field_work: '',
                    level: '',
                    married_date: null,
                    childrens: '',
                    date_of_birth: null,
                },

                total: 0,
                page: 1,
                perPage: 3,
                pageCount: 0,
                itemsPerPage: 10,
                data: [],

                history: [
                    {
                        text: " Mã",
                        value: "name",
                        sortable: false
                    },

                    {
                        text: "Tổng tiền",
                        value: "total",
                        sortable: false
                    },
                    {
                        text: "Tình trạng",
                        value: "status",
                        sortable: false
                    },
                    {
                        text: "Combo",
                        value: "note",
                        sortable: false
                    },
                ],

                dialog: false,
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Họ Tên",
                            value: "name",
                            sortable: false
                        },

                        {
                            text: "",
                            align: "center",
                            width: "120px",
                            sortable: false
                        }
                    ],
                    items: []
                },
            };
        },

        computed: {
            ...mapGetters(['listCustomer']),
        },
        mounted() {
            this.getLists(this.pagination.current_page);
        },

        methods: {
            ...mapActions(['deleteCustomer', "getListCustomer", 'createCustomer', 'updateCustomer', 'getPaginativeCustomer', 'listsAdvancedSearch']),

            getLists(page ,customer_id) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.complex.items = [];
                this.customer_id = '';
                if (this.$route.query.customer_id) {
                    customer_id = this.$route.query.customer_id;
                    this.customer_id = customer_id;
                }

                if (this.check_data_search == false) {
                    let opts = [];
                    opts.page = page;
                    if(customer_id){
                        opts.customer_id = customer_id;
                    }else{
                        opts.customer_id = '';
                    }
                    this.getPaginativeCustomer(opts)
                        .then(response => {
                            this.complex.items = response.data.success.data;
                            this.pagination = response.data.success;
                            if (this.complex.items[0]['id']) {
                                this.view(this.complex.items[0]['id']);
                                if(this.$route.query.customer_id){
                                    this.customer_id = this.$route.query.customer_id;
                                }else{
                                    this.customer_id = this.complex.items[0]['id'];
                                }
                            }
                            loader.hide();
                        }).catch(error => {
                        this.$error('Dữ liệu gặp sự cố!');
                        loader.hide();
                    })
                } else {
                    this.formSearch.money.money_start = this.unMaskedNumber(this.money_start);
                    this.formSearch.money.money_end = this.unMaskedNumber(this.money_end);
                    this.formSearch.page = page;
                    this.listsAdvancedSearch(this.formSearch)
                        .then(response => {
                            this.show_search = false;
                            this.complex.items = response.data.success.data;
                            this.pagination = response.data.success;
                            if (this.complex.items[0]['id']) {
                                this.view(this.complex.items[0]['id']);
                                this.customer_id = this.complex.items[0]['id'];
                            }
                            loader.hide();
                        }).catch(error => {
                        this.customer_id = '';
                        this.data = [];
                        this.$search('Không tìm được bản ghi nào');
                        loader.hide();
                    })
                }
            },

            changeSearch() {
                this.check_data_search = true;
                this.getLists();
            },

            //tìm kiếm thường
            getListSearch() {
                this.check_data_search = true;
                this.formSearch.customer_name = this.value_search;
                var position = this.value_search.lastIndexOf(' ') + 1;
                if (position == (this.value_search.length)) {
                    this.getLists();
                }
            },

            EditEmail(id) {
                this.check_email = false;
                this.getListCustomer();
                this.listCustomer.forEach(e => {
                    if (e.email_address == this.data.email_address && e.id != id) {
                        this.check_email = true;
                    }
                });
            },

            EditNumber(id) {
                this.check_phone = false;
                this.getListCustomer();
                this.listCustomer.forEach(e => {
                    if (e.mobile_phone == this.data.mobile_phone && e.id != id) {
                        this.check_phone = true;
                    }
                });
            },

            format(inputDate) {
                var date = new Date(inputDate);
                if (!isNaN(date.getTime())) {
                    var day = date.getDate().toString();
                    var month = (date.getMonth() + 1).toString();
                    // Months use 0 index.

                    return (day[1] ? day : '0' + day[0]) + '-' +
                        (month[1] ? month : '0' + month[0]) + '-' +
                        date.getFullYear();
                }
            },

            update(id) {
                if (this.$refs.data.validate()) {
                    this.snackbar = true
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    this.updateCustomer(this.data).then(response => {
                        this.$success();
                        this.$set(this.dialogN, id, false);
                        loader.hide();
                        this.getLists();
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
                }
            },

            popupDestroy() {
                this.$confirm('Xóa khách hàng!', '')
                    .then(response => {
                        this.complex.selected = this.complex.selected.map(i => i.id);
                        let ids = {"ids": this.complex.selected}
                        this.deleteCustomer(ids).then(response => {
                            this.$success();
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },

            submitSuccess() {
                this.dialog = false;
                this.getLists();
            },

            deleteCus(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa khách hàng!', '')
                    .then(response => {
                        this.deleteCustomer(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.data = [];
                                this.getLists();
                            } else {
                                this.$error('Không xóa được! Đã có đơn hàng');
                                this.data = [];
                                this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },

            view(id) {
                this.customer_id = '';
                if (this.$route.query.customer_id) {
                    id = this.$route.query.customer_id;
                    this.customer_id = id;
                }
                this.data = [];
                this.customer_id = id;
                var vie = Url.url + '/api/customer/';
                return new Promise((resolve, reject) => {
                    axios.get(vie + id)
                        .then(response => {
                            this.data = response.data.success;
                            if (this.data.level == 'VIP') {
                                this.data.level = 'Vip'
                            } else if (this.data.level == 'LATCH') {
                                this.data.level = 'Chốt'
                            } else {
                                this.data.level = 'Tiềm năng'
                            }
                        })
                        .catch(error => {
                            return reject(error);
                        })
                })
            },

            createOrder() {
                this.$router.push({path: '/orders/create', query: {customer_id: this.customer_id}});
            },

            back() {
                this.$router.push('/customers');
            },
        },

        created() {
            this.getListCustomer();
        },
    }

</script>
<style lang="stylus" scoped>

    .img {
        float: left;

    }

    .setWidth {
        width: 100%;
    }

    .inactive {
        background: white !important;
    }

</style>
