<template>
  <div id="social">
    <v-container grid-list-xl fluid>
      <!-- <v-layout row wrap>
        <v-flex lg6 sm12 xs12>
        </v-flex>
        <v-flex lg6 sm12 xs12>
        </v-flex>
      </v-layout> -->
       <v-layout justify-center>
          <v-form 
          ref="form"
          lazy-validation>
          <v-card>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4 offset-md1>
                  Họ và tên : {{ form.name }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                  Mã code: {{ form.code }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                  Địa chỉ : {{ form.address }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                  Email : {{ form.email_address }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                   Số điện thoại : {{ form.mobile_phone }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                Lĩnh vực kinh doanh:  {{ form.field_work }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                  Mã số thuế : {{ form.tax_code }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                 Tài khoản ngân hàng :{{ form.bank_code }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                 Ngày cưới :{{ form.married_date }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                 Số con :{{ form.children }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md1>
                 Ngày sinh :{{ form.date_of_birth }}
                </v-flex>
                <v-flex xs12 sm6 md4 offset-md2>
                 Mô tả  :{{ form.description }}
                </v-flex>
                

               </v-layout>

              </v-container>
              <!-- <small>*indicates required field</small> -->
              </v-card-text>
      <!-- <v-layout justify-center>
        <v-flex xs6 class="text-xs-right">
          <v-btn
          small
          color="success"
          @click="create">
          Thêm mới
        </v-btn>
      </v-flex>
      <v-flex xs6>
        <v-btn 
        small
        color="error"
        @click="back">
        Hủy bỏ
      </v-btn>
      </v-flex>
      </v-layout> -->
      </v-card>
      </v-form>
      </v-layout>
          </v-container>
        </div>
      </template>

      <script>
          import { mapActions } from 'vuex'
    export default {
      components: {
        
      },
      data : () => ({
         menu1: false,
        menu2: false,
        form: [],
      }),
    
      computed: {
        
      }, 
      methods: {
      ...mapActions(['getCustomer']),
      
      getList(){
        this.getCustomer(this.$route.params.id).then(response => {
          this.form = response.data.success;
        }).catch(error => {
            this.$error('Dữ liệu thêm mới không hợp lệ!');
        })
      },
      
        handleClick: e => {
          console.log(e)
        }
  },
  created(){
    this.getList();
    // console.log('xxxxxxxxxxxx');
  }
}
</script>
