<template>
    <v-container class="pt-0" fluid>
        <v-card-text class="pb-0">
            <v-layout wrap class="pt-1">
                <v-flex md12 lg12 class="pl-0" title font-weight-regular>
                    <v-layout>
                        <v-card-text>Chi tiết đơn hàng</v-card-text>
                        <v-spacer></v-spacer>
                        <v-tooltip class="pl-0" bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn flat
                                       class="ml-0"
                                       icon
                                       color="grey"
                                       @click="assign()"
                                       v-on="on">
                                    <v-icon>input</v-icon>
                                </v-btn>
                            </template>
                            <span>Giao việc</span>
                        </v-tooltip>
                    </v-layout>
                </v-flex>
                <v-flex md12 lg12 class="pt-0 pb-0 border-layout"></v-flex>
                <v-flex md12 lg12>
                    <v-layout wrap>
                        <v-flex md12 lg12 class="pb-0">
                            <v-flex md12 lg12 class="pb-0">
                                <v-data-table
                                        :headers="[
                                        {
                                            text: 'Tên khách hàng',
                                            sortable: false,
                                            align: 'center',
                                        },
                                        {
                                            text: 'Mã khách hàng',
                                            sortable: false,
                                            align: 'center',
                                        },
                                        {
                                            text: 'Người tạo',
                                            sortable: false,
                                            align: 'center',
                                        },
                                        {
                                            text: 'Trạng thái',
                                            sortable: false,
                                            align: 'center',
                                        },
                                        {
                                            text: 'Chú thích',
                                            sortable: false,
                                            align: 'center',
                                        },
                                    ]"
                                        :items="data"
                                        hide-actions
                                        class="mytable"
                                >
                                    <template slot="items" slot:activator slot-scope="props">
                                        <td class="text-center"> {{ props.item.customer_name }}</td>
                                        <td class="text-center"> {{ props.item.code }}</td>
                                        <td class="text-center"> {{ props.item.user_name }}</td>
                                        <td class="text-xs-center">
                                            <div v-for='(e) in status' :key="e.id">
                                                <div v-if='props.item.status==e.id'
                                                     :class="` font-weight-bold ${e.color}--text`">
                                                    {{e.title}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center"> {{ props.item.note }}</td>
                                    </template>
                                </v-data-table>
                            </v-flex>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
            <v-layout wrap>
                <v-flex class="pb-0 xs12 sm12 md12 lg12">
                    <v-flex class="pb-0">
                        <v-expansion-panel expand>
                            <v-expansion-panel-content
                                    v-for='(c, k) in orderServices.order_services' :key="k"
                                    class="mx-auto left"
                                    outlined>
                                <template v-slot:header>
                                    <v-flex class="ml-2 subheading font-weight-regular" v-if="c.combo_id">
                                        {{k+1}}: {{c.category.name}} -> {{ c.combo.name}}
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on }">
                                                <v-btn flat icon color="grey"
                                                       @click.stop="$set(dialogN, c.id, true)"
                                                       v-on="on">
                                                    <i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>
                                                </v-btn>
                                            </template>
                                            <span>Chọn lịch chụp</span>
                                        </v-tooltip>
                                        <v-dialog v-model="dialogN[c.id]"
                                                  :width="c.combo.time_shift ? 660 : 660">
                                            <v-card>
                                                <!-- =========================== Thêm mới ngày chụp===============================-->
                                                <v-card-text>
                                                    <v-layout wrap class="pa-1">
                                                        <v-flex xs6 md3 class="overline font-weight-black pa-1">
                                                            <a>Chọn thời gian</a>
                                                        </v-flex>
                                                        <v-flex xs6 md6 offset-md3
                                                                v-if="c.combo.time_shift"
                                                                class="overline font-weight-black pa-1">
                                                            Tổng thời gian chụp: {{c.combo.time_shift.HH}} giờ
                                                            {{c.combo.time_shift.mm}} phút.
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout wrap>
                                                        <v-flex xs12 md6 class="pl-2">
                                                            <v-text-field
                                                                    label="Tên ngày chụp"
                                                                    v-model="time_shift.name"
                                                                    name='name'
                                                                    required>
                                                            </v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 md6></v-flex>
<!-- =========================== Thêm mới ngày chụp khi combo tính theo thòi gian===============================-->
                                                        <v-layout wrap>
                                                            <v-flex xs12 md6 class="pl-2">
                                                                <v-menu
                                                                        ref="time_shift.menu"
                                                                        :close-on-content-click="false"
                                                                        v-model="time_shift.menu"
                                                                        transition="scale-transition"
                                                                        offset-y
                                                                        full-width
                                                                        :nudge-right="40"
                                                                        max-width="290px"
                                                                        min-width="290px">
                                                                    <v-text-field
                                                                            slot="activator"
                                                                            label="Ngày chụp"
                                                                            v-model="time_shift.date"
                                                                            prepend-icon="event"
                                                                            readonly
                                                                    ></v-text-field>
                                                                    <v-date-picker v-model="time_shift.date"
                                                                                   no-title scrollable actions
                                                                                   locale="vi-VN"
                                                                                   @input="time_shift.menu = false">
                                                                    </v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                            <v-flex xs12 md5 offset-md1 class="pt-4"  v-if="c.combo.time_shift">
                                                                Từ
                                                                <vue-timepicker format="HH:mm"
                                                                                v-model.lazy="time_shift.time.timeBf"
                                                                                @change="noticeMaxTimeFrom(c.combo.time_shift)">
                                                                </vue-timepicker>
                                                                Đến
                                                                <vue-timepicker format="HH:mm"
                                                                                v-model.lazy="time_shift.time.timeAt"
                                                                                @change="noticeMaxTimeTo(c.combo.time_shift)">
                                                                </vue-timepicker>
                                                            </v-flex>
                                                            <v-flex v-else>
                                                                <v-radio-group v-model="time_shift.shift"
                                                                               :mandatory="false">
                                                                    <v-layout wrap class="mb-3">
                                                                        <v-flex v-for="timeRow in c.combo.time_limit"
                                                                                md12 class="my-1">
                                                                            <v-layout wrap>
                                                                                <v-flex xs12 md3>
                                                                                    <v-radio class="pl-3"
                                                                                             :label="timeRow.name"
                                                                                             color="red"
                                                                                             :value="timeRow">
                                                                                    </v-radio>
                                                                                </v-flex>
                                                                                <v-flex xs12 md9>
                                                                                    Từ:
                                                                                    <vue-timepicker format="HH:mm"
                                                                                                    v-model.lazy="timeRow.timeBf">
                                                                                    </vue-timepicker>
                                                                                    Đến:
                                                                                    <vue-timepicker format="HH:mm"
                                                                                                    v-model.lazy="timeRow.timeAt">
                                                                                    </vue-timepicker>
                                                                                </v-flex>
                                                                            </v-layout>
                                                                        </v-flex>
                                                                    </v-layout>
                                                                </v-radio-group>
                                                            </v-flex>
                                                        </v-layout>
<!-- =========================== Thêm mới ngày chụp khi combo tính theo ca===============================-->
                                                    </v-layout>
                                                    <v-layout wrap class="pt-4">
                                                        <v-flex xs12 class="text-xs-center"
                                                                v-if="extra_time != 0">
                                                            <a>Thời gian chọn đang lớn hơn tổng thời gian, Khách hàng
                                                                sẽ chịu thêm phí là:</a> {{extra_time*500000 | formatPrice}}
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout py-1 pt-5 justify-center>
                                                        <v-flex xs6 class="text-xs-right">
                                                            <v-btn
                                                                    color="success"
                                                                    small
                                                                    @click="savePhotoTime(c.id)">
                                                                Thêm mới
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-flex xs6 class="text-xs-left">
                                                            <v-btn
                                                                    color="error"
                                                                    @click="$set(dialogN, c.id, false)"
                                                                    small>
                                                                Hủy bỏ
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-card-text>
                                            </v-card>
                                        </v-dialog>
                                    </v-flex>
                                    <v-flex class="ml-2 subheading font-weight-regular" v-else>
                                        {{k+1}}: Combo phát sinh
                                      <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                          <v-btn flat icon color="grey"
                                                 @click.stop="$set(dialogN, c.id, true)"
                                                 v-on="on">
                                            <i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>
                                          </v-btn>
                                        </template>
                                        <span>Chọn lịch chụp</span>
                                      </v-tooltip>
                                      <v-dialog v-model="dialogN[c.id]"
                                                :width="660">
                                        <v-card>
                                          <!-- =========================== Thêm mới ngày chụp===============================-->
                                          <v-card-text>
                                            <v-layout wrap class="pa-1">
                                              <v-flex xs6 md3 class="overline font-weight-black pa-1">
                                                <a>Chọn thời gian</a>
                                              </v-flex>
                                            </v-layout>
                                            <v-layout wrap>
                                              <v-flex xs12 md6 class="pl-2">
                                                <v-text-field
                                                  label="Tên ngày chụp"
                                                  v-model="time_shift.name"
                                                  name='name'
                                                  required>
                                                </v-text-field>
                                              </v-flex>
                                              <v-flex xs12 md6></v-flex>
                                              <!-- =========================== Thêm mới ngày chụp khi combo tính theo thòi gian===============================-->
                                              <v-layout wrap>
                                                <v-flex xs12 md6 class="pl-2">
                                                  <v-menu
                                                    ref="time_shift.menu"
                                                    :close-on-content-click="false"
                                                    v-model="time_shift.menu"
                                                    transition="scale-transition"
                                                    offset-y
                                                    full-width
                                                    :nudge-right="40"
                                                    max-width="290px"
                                                    min-width="290px">
                                                    <v-text-field
                                                      slot="activator"
                                                      label="Ngày chụp"
                                                      v-model="time_shift.date"
                                                      prepend-icon="event"
                                                      readonly
                                                    ></v-text-field>
                                                    <v-date-picker v-model="time_shift.date"
                                                                   no-title scrollable actions
                                                                   locale="vi-VN"
                                                                   @input="time_shift.menu = false">
                                                    </v-date-picker>
                                                  </v-menu>
                                                </v-flex>
                                                <v-flex xs12 md5 offset-md1 class="pt-4" >
                                                  Từ
                                                  <vue-timepicker format="HH:mm"
                                                                  v-model.lazy="time_shift.time.timeBf"
                                                                  @change="noticeMaxTimeFrom(default_time_shift)">
                                                  </vue-timepicker>
                                                  Đến
                                                  <vue-timepicker format="HH:mm"
                                                                  v-model.lazy="time_shift.time.timeAt"
                                                                  @change="noticeMaxTimeTo(default_time_shift)">
                                                  </vue-timepicker>
                                                </v-flex>
                                              </v-layout>
                                            </v-layout>
                                            <v-layout py-1 pt-5 justify-center>
                                              <v-flex xs6 class="text-xs-right">
                                                <v-btn
                                                  color="success"
                                                  small
                                                  @click="savePhotoTime(c.id)">
                                                  Thêm mới
                                                </v-btn>
                                              </v-flex>
                                              <v-flex xs6 class="text-xs-left">
                                                <v-btn
                                                  color="error"
                                                  @click="$set(dialogN, c.id, false)"
                                                  small>
                                                  Hủy bỏ
                                                </v-btn>
                                              </v-flex>
                                            </v-layout>
                                          </v-card-text>
                                        </v-card>
                                      </v-dialog>
                                    </v-flex>
                                </template>
                                <v-card>
                                    <v-card-text class="pl-5 pl-5">
                                        <v-layout>
                                            <v-flex xs12 sm12 md6 v-if="c.list_service[0]">
                                                <v-layout wrap>
                                                    <v-flex
                                                            pb-0
                                                            subheading
                                                            text-xs-center
                                                            font-weight-regular
                                                    >
                                                        Dịch vụ trong combo
                                                    </v-flex>
                                                    <v-flex class="md12 left pt-0" v-if="c.list_service[0]">
                                                        <template>
                                                            <v-data-table :headers="headersAddService"
                                                                          :items="c.list_service"
                                                                          hide-actions
                                                            >
                                                                <template slot="items" slot-scope="props">
                                                                    <td>{{ props.item.service.category.name }}</td>
                                                                    <td>{{ props.item.service.name }}</td>
                                                                    <td class="text-xs-center">
                                                                        {{ props.item.number| formatPrice }}
                                                                    </td>
                                                                </template>
                                                            </v-data-table>
                                                        </template>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>

                                            <v-flex xs12 sm12 md6
                                                    v-if="c.add_services">
                                                <v-layout wrap>
                                                    <v-flex
                                                            pb-0
                                                            subheading
                                                            text-xs-center
                                                            font-weight-regular
                                                    >
                                                        Dịch Vụ Thêm
                                                    </v-flex>
                                                    <v-flex class="md12 left pt-0">
                                                        <template>
                                                            <v-data-table :headers="headersAddService"
                                                                          :items="c.add_services"
                                                                          hide-actions
                                                            >
                                                                <template slot="items" slot-scope="props">
                                                                    <td>{{ props.item.category.name }}</td>
                                                                    <td>{{ props.item.name }}</td>
                                                                    <td class="text-xs-center">
                                                                        {{ props.item.number | formatPrice }}
                                                                    </td>
                                                                </template>
                                                            </v-data-table>
                                                        </template>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>

                                        <v-flex mt-4 v-if="Object.keys(c.order_detail).length != ''">
                                            <v-layout>
                                                <v-flex body font-weight-medium> Chi tiết lịch chụp
                                                </v-flex>
                                            </v-layout>
                                            <v-divider></v-divider>
                                            <v-layout wrap>
                                                <v-flex md6 xs12 v-for="(e) in c.order_detail">
                                                    <div body xs12 md6 font-weight-medium>
                                                        Ngày {{e.date | formatDate }}: {{e.name}}
                                                    </div>
                                                    <v-layout wrap>
                                                        <v-flex xs12>
                                                            {{e.shift.name}} (Từ
                                                            {{e.shift.timeBf.HH}}:{{e.shift.timeBf.mm}} Đến
                                                            {{e.shift.timeBf.HH}}:{{e.shift.timeBf.mm}})
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout wrap>
                                                        <v-flex xs12>
                                                            <v-data-table
                                                                    :headers="[
                                                                {
                                                                    text: 'Thời gian',
                                                                    sortable: false,
                                                                    align: 'center',
                                                                },
                                                                {
                                                                    text: 'Mô tả',
                                                                    sortable: false,
                                                                    align: 'left',
                                                                },

                                                            ]"
                                                                    :items="e.date_description"
                                                                    hide-actions
                                                            >
                                                                <template slot="items" slot-scope="props">
                                                                    <td class="text-center"> {{
                                                                        props.item.timeBf.HH}}:{{
                                                                        props.item.timeBf.mm}}
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <pre> {{ props.item.date_description }} </pre>
                                                                    </td>
                                                                </template>
                                                            </v-data-table>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-layout mt-4>
                                            <v-flex>
                                                <v-layout>
                                                    <v-flex body font-weight-medium>Tổng tiền combo</v-flex>
                                                </v-layout>
                                                <v-divider></v-divider>
                                                <v-flex mb-3>
                                                    <v-data-table
                                                            :headers="[
                                                    {
                                                        text: 'Thời gian bắt đầu',
                                                        sortable: false,
                                                        align: 'center',
                                                    },
                                                    {
                                                        text: 'Thời gian kết thúc',
                                                        sortable: false,
                                                        align: 'center',
                                                    },
                                                    {
                                                        text: 'Giá Combo',
                                                        sortable: false,
                                                        align: 'center',
                                                    },
                                                    {
                                                        text: 'Khuyến mại',
                                                        sortable: false,
                                                        align: 'center',
                                                    },
                                                    {
                                                        text: 'Thanh tiền',
                                                        sortable: false,
                                                        align: 'center',
                                                    },
                                                ]"
                                                            :items="data"
                                                            hide-actions
                                                            class="myTableChild"
                                                    >
                                                        <template slot="items" slot:activator
                                                                  slot-scope="props">
                                                            <td class="text-center"> {{ c.start_time }}</td>
                                                            <td class="text-center"> {{ c.end_time }}</td>
                                                            <td class="text-center"> {{ c.total_price |
                                                                formatPrice}}
                                                            </td>
                                                            <td class="text-center"> {{ c.sale_off | formatPrice
                                                                }}
                                                            </td>
                                                            <td class="text-center"> {{ ( c.total_price -
                                                                c.sale_off ) | formatPrice }}
                                                            </td>
                                                        </template>
                                                    </v-data-table>
                                                </v-flex>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-flex>
                </v-flex>
            </v-layout>
            <v-layout wrap class="pt-4">
                <v-flex md12 lg12 class="pl-0" title font-weight-regular>
                    <v-layout>
                        <v-card-text>Chi tiết thanh toán</v-card-text>
                        <v-spacer></v-spacer>
                        <v-tooltip class="" bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn flat
                                       icon
                                       color="grey"
                                       @click.stop="$set(dialogNote,1, true)"
                                       v-on="on">
                                    <v-icon>payment</v-icon>
                                </v-btn>
                            </template>
                            <span>Thanh toán</span>
                        </v-tooltip>
                    </v-layout>
                </v-flex>
                <v-flex md12 lg12 class="pt-0 border-layout">
                    <v-flex md12 lg12>
                        <v-layout class="pa-1">
                            <payment
                                    :dialogNote="dialogNote"
                                    :total="total"
                                    :customer_id="customer_id"
                                    @sendPaid="getPaid">
                            </payment>
                        </v-layout>
                    </v-flex>
                </v-flex>
            </v-layout>
            <v-layout wrap>
                <v-flex md12 lg12 class="pl-0" title font-weight-regular>Tổng đơn hàng</v-flex>
                <v-flex md12 lg12 class="pt-0 border-layout">
                    <v-flex md12 class="text-right">
                        <v-layout>
                            <v-flex md2>
                                <span class="font-weight-medium mb-2">Tổng tiền: </span>
                            </v-flex>
                            <v-flex md10>
                                <span>{{ orderServices.total_price | formatPrice }} đ</span>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex md2>
                                <span class="font-weight-medium mb-2">Khuyến mại: </span>
                            </v-flex>
                            <v-flex md10>
                                <span>{{ orderServices.sale_off | formatPrice }} đ</span>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex md2>
                                <span class="font-weight-medium mb-2">VAT: </span>
                            </v-flex>
                            <v-flex md10>
                                <span>{{ orderServices.vat | formatPrice }} %</span>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex md2>
                                <span class="font-weight-medium mb-2">Khách đã trả: </span>
                            </v-flex>
                            <v-flex md10>
                                <span>{{ paid | formatPrice }} đ</span>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex md2>
                                <span class="font-weight-black mb-2">Khách phải trả: </span>
                            </v-flex>
                            <v-flex md10>
                                    <span>
                                        {{ (( orderServices.total_price - orderServices.sale_off )
                                        - (orderServices.total_price*orderServices.vat)/100 - paid) | formatPrice}} đ
                                    </span>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-card-text>
        <v-card-text>
            <v-flex>
                <v-layout>
                </v-layout>
            </v-flex>
        </v-card-text>
    </v-container>
</template>
<script>
    import {mapActions} from 'vuex'
    import VueTimepicker from 'vue2-timepicker'
    import Payment from "./Payment"

    export default {
        components: {
            VueTimepicker,
            Payment
        },
        data: () => ({
            paid: '',
            total: '',
            customer_id: '',
            data: [],
            dialogN: [],
            dialogNote: [],
            orderServices: [],
            headersAddService: [
                {text: "Loại gói Lẻ", align: "left", value: "category"},
                {text: "Gói Lẻ", align: "left", value: "name", sortable: false},
                {text: "Số Lượng", align: "center", value: "number", sortable: false},
            ],
            headersDetail: [
                {text: "Tên Danh mục", align: "left", value: "name"},
                {text: "Tên dịch vụ", align: "right", value: "price"},
                {text: "Giá", align: "center", value: "price"},
                {text: "Số lượng", align: "center", value: "number"},
            ],
            headersTotal: [
                {text: "Ca đã chọn", align: "left", value: "name"},
                {text: "Thời gian bắt đầu", align: "right", value: "price"},
                {text: "Thời gian kết thúc", align: "center", value: "price"},
                {text: "Giá Combo", align: "center", value: "number"},
                {text: "Sale off", align: "center", value: "number"},
                {text: "Thành tiền", align: "center", value: "number"},
            ],
            // thời gian chọn ngày chụp
            extra_time: 0,
            time_shift: {
                order_service_id: null,
                date: null,
                menu: false,
                name: null,
                shift: null,
                time: {
                    timeAt: {
                        HH: '',
                        mm: '',
                    },
                    timeBf: {
                        HH: '',
                        mm: '',
                    },
                }
            },
          default_time_shift: {
                HH: '08',
                mm: '',
          },
            status: [
                {
                    id: "0",
                    title: "Chờ thanh toán",
                    color: 'cyan',
                },
                {
                    id: "1",
                    title: "Đang xử lý",
                    color: 'green',
                },
                {
                    id: "2",
                    title: "Đang thực hiện",
                    color: 'pink',
                },
                {
                    id: "3",
                    title: "Kết thúc",
                    color: 'orange',
                },
            ],
        }),

        created() {
            this.getList();
        },

        methods: {
            ...mapActions(['getOrder', 'addDatePhoto']),

            assign() {
                this.$router.push({path: '/order-job/', query: {order_id: this.$route.params.id}});
            },

            getPaid(value) {
                this.paid = value;
            },

            noticeMaxTimeFrom(shift) {
                var it = this.time_shift.time;
                var mm = parseFloat(it.timeBf.mm) + parseFloat(shift.mm);
                var HH = parseFloat(it.timeBf.HH) + parseFloat(shift.HH);
                if (mm > 59) {
                    it.timeAt.HH = HH + Math.floor(mm/60);
                    it.timeAt.mm = Math.ceil(((mm/60) - Math.floor(mm/60))*60);
                } else {
                    it.timeAt.HH = HH;
                    it.timeAt.mm = mm;
                }
            },

            noticeMaxTimeTo(shift) {
                var it = this.time_shift.time;
                var time_change = (parseFloat(it.timeAt.HH) - parseFloat(it.timeBf.HH))*60
                    + (parseFloat(it.timeAt.mm)-parseFloat(it.timeBf.mm));
                var time_fix = parseFloat(shift.HH)*60 + parseFloat(shift.mm);

                var overTime = time_change - time_fix;
                if(overTime > 30){
                    if((overTime/60 - Math.floor(overTime/60)) > 0.5){
                        this.extra_time = Math.floor(overTime/60) + 1
                    }else {
                        this.extra_time = Math.floor(overTime/60)
                    }
                }
            },

            savePhotoTime(order_service_id) {
                if(this.time_shift.shift){
                    this.time_shift.time = null;
                }
                this.time_shift.order_service_id = order_service_id;
                console.log(this.time_shift);
                this.addDatePhoto(this.time_shift).then(response => {
                    if (response.data.data.messages) {
                        this.$error(response.data.data.messages);
                    } else {
                        this.getList();
                        this.$success();
                    }
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
                this.$set(this.dialogN, order_service_id, false);
            },

            getList() {
                this.getOrder(this.$route.params.id).then(response => {
                    this.data = response.data.success;
                    console.log(this.data);
                    this.orderServices = this.data[0];
                    this.customer_id = this.data[0].customer_id;
                    var status = this.data[0].status;
                    this.$emit('customer_id', this.customer_id);
                    this.$emit('status', status);
                    this.total = this.orderServices.total_price - this.orderServices.sale_off -
                        (parseFloat(this.orderServices.total_price) * parseFloat(this.orderServices.vat)) / 100;

                    if (this.orderServices.order_services) {
                        this.orderServices.order_services.forEach(e => {
                            e.combo.time_limit = JSON.parse(e.combo.time_limit)
                            e.combo.time_shift = JSON.parse(e.combo.time_shift)
                            if (e.order_detail) {
                                e.order_detail.forEach(o => {
                                    o.date_description = JSON.parse(o.date_description);
                                    o.shift = JSON.parse(o.shift);
                                })
                            }
                        })
                    }
                })
                //     .catch(error => {
                //     this.$error('Dữ liệu thêm mới không hợp lệ!');
                // })
            },
        },
    }
</script>
<style lang="css">
    .left {
        width: 100%;
        float: left;
    }

    .card {
        width: 100%
    }

    .mytable .v-table thead tr:not(:last-child) {
        border-bottom: none;
    }

    .myTableChild .v-table thead tr:not(:last-child) {
        border-bottom: none;
    }

    .mytable .v-table tbody tr:not(:last-child) {
        border-bottom: none;
    }

    .mytable .v-table tbody tr {
        background-color: #eee;
    }

    .mytable .v-table thead tr {
        background-color: #eee;
    }

    .fix-height-timepicker {
        line-height: 60px;
    }

    .vue__time-picker {
        width: 7em !important;
    }

    .border-layout {
        border-top: 1px dotted gray;
        width: 100%;
    }
</style>
