<template>
    <v-layout row wrap>
        <v-flex class="md12 float-left">
            <v-layout row wrap class="pa-3">
                <v-flex class="md12 lg12 float-left">
                    <template>
                        <div class="show-process">
                            <div class="process-relative">
                                <div class="float-left text-center process-40">40%</div>
                                <div class="float-left text-center process-40">40%</div>
                                <div class="float-left text-center process-20">20%</div>
                                <div
                                        class="process-absolute"
                                        :class="[percentStar==100 ? 'process-absolute-100' : 'process-absolute']"
                                        :style="{ width: percentStar + '%' }"
                                >
                                    {{percentStar}}%
                                </div>
                            </div>
                        </div>
                    </template>
                </v-flex>
                <v-dialog class="d-none" v-model="dialogNote[1]"
                          :key="1" lazy width="650">
                    <template>
                        <v-layout justify-center>
                            <v-form
                                    ref="form"
                                    v-model="valid"
                                    lazy-validation>
                                <v-card>
                                    <v-card-text>
                                        <v-container grid-list-md>
                                            <v-layout wrap>
                                                <v-flex xs12 sm6 md4 offset-md1>
                                                    <v-menu
                                                            ref="menu1"
                                                            :close-on-content-click="false"
                                                            transition="scale-transition"
                                                            offset-y
                                                            v-model="menu1"
                                                            full-width
                                                            :nudge-right="40"
                                                            max-width="290px"
                                                            min-width="290px">
                                                        <v-text-field
                                                                slot="activator"
                                                                label="Ngày chi"
                                                                v-model="form.date_payment"
                                                                readonly
                                                        ></v-text-field>
                                                        <v-date-picker v-model="form.date_payment"
                                                                       no-title
                                                                       @input="menu1 = false"
                                                                       scrollable actions
                                                                       locale="vi-VN"
                                                        >
                                                        </v-date-picker>
                                                    </v-menu>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4 offset-md2>
                                                    <v-text-field label="Số tiền"
                                                                  v-model.lazy='payment_money_input'
                                                                  v-money="payment_money_input != '' ? money : ''"
                                                                  :rules="[v => !!v || 'Nhập số tiền']"
                                                                  v-validate="'required'"
                                                                  name='minus_price'
                                                    ></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4 offset-md1>
                                                    <v-textarea label="Chú thích"
                                                                v-model='form.note'
                                                                type="text"
                                                    ></v-textarea>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4 offset-md2>
                                                    <v-autocomplete
                                                            v-model='form.code_bank'
                                                            label="Ngân hàng (Nếu dùng)"
                                                            :items="listbank"
                                                            name='code_bank'
                                                    ></v-autocomplete>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-layout class="pb-1" justify-center>
                                        <v-flex xs6 class="text-xs-right">
                                            <v-btn
                                                    color="success"
                                                    small
                                                    @click="create">
                                                Thêm mới
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6>
                                            <v-btn
                                                    color="error"
                                                    small
                                                    @click="$set(dialogNote, 1, false)">
                                                Hủy bỏ
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-form>
                        </v-layout>
                    </template>
                </v-dialog>
            </v-layout>
            <v-layout wrap>
                <v-flex class="md12 lg12">
                    <v-layout wrap row>
                        <v-flex class="md12 lg12">
                            <v-layout wrap>
                                <v-flex class="md4 lg4 pt-0"
                                        v-for="(c,e) in this.listOrderPaymentHistory"
                                        :key="e">
                                    <v-flex class="md12 lg12 text-xs-center">
                                        Giai đoạn {{ e+1 }}:&nbsp &nbsp <a>{{ c.money | formatPrice }}</a>
                                        <v-flex class="md12 lg12 pl-0">Ngày thanh toán :</v-flex>
                                    </v-flex>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex class="md12 lg12 pt-0" v-if="listOrderPayment.length">
            <v-flex md12 lg12 class="pt-0">
                <v-data-table
                        :headers="headers"
                        :items="listOrderPayment"
                        class="elevation-1"
                        hide-default-footer
                        hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <td class="text-center">
                            {{ props.item.date_payment | formatDate }}
                        </td>
                        <td class=" pr-0 text-center">
                            {{ props.item.payment_money | formatPrice }}
                        </td>
                        <td class="text-center">
                            <div v-if="props.item.code_bank">{{ props.item.code_bank }}</div>
                        </td>
                        <td class="text-center">
                            {{ props.item.user_name }}
                        </td>
                        <td class="text-center">
                            {{ props.item.note }}
                        </td>
                        <td class="text-center">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn class="ma-0"
                                           title=""
                                           flat
                                           icon
                                           color="grey"
                                           @click.stop="$set(dialog,props.item.id, true)"
                                           v-on="on">
                                        <i class="fa fa-pencil"
                                           aria-hidden="true">
                                        </i>
                                    </v-btn>
                                </template>
                                <span>Sửa thanh toán</span>
                            </v-tooltip>

                            <div class=" d-none text-center">
                                <v-dialog v-model="dialog[props.item.id]"
                                          :key="1" lazy width="650">
                                    <template>
                                        <v-layout justify-center>
                                            <v-form
                                                    ref="data"
                                                    v-model="valid"
                                                    lazy-validation>
                                                <v-card>
                                                    <v-card-text>
                                                        <v-container grid-list-md>
                                                            <v-layout wrap>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-menu
                                                                            ref="menu1"
                                                                            :close-on-content-click="false"
                                                                            transition="scale-transition"
                                                                            offset-y
                                                                            v-model="menu1"
                                                                            full-width
                                                                            :nudge-right="40"
                                                                            max-width="290px"
                                                                            min-width="290px">
                                                                        <v-text-field
                                                                                slot="activator"
                                                                                label="Ngày chi"
                                                                                v-model="props.item.date_payment"
                                                                                readonly
                                                                        ></v-text-field>
                                                                        <v-date-picker v-model="props.item.date_payment"
                                                                                       no-title
                                                                                       @input="menu1 = false"
                                                                                       scrollable actions
                                                                                       locale="vi-VN"
                                                                        >
                                                                        </v-date-picker>
                                                                    </v-menu>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-text-field label="Số tiền"
                                                                                  v-model='props.item.payment_money'
                                                                                  :rules="[v => !!v || 'Nhập số tiền']"
                                                                                  v-validate="'required'"
                                                                                  name='minus_price'
                                                                                  type="number"
                                                                    ></v-text-field>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md1>
                                                                    <v-textarea label="Chú thích"
                                                                                v-model='props.item.note'
                                                                                type="text"
                                                                    ></v-textarea>
                                                                </v-flex>
                                                                <v-flex xs12 sm6 md4 offset-md2>
                                                                    <v-autocomplete
                                                                            v-model='props.item.code_bank'
                                                                            label="Ngân hàng (Nếu dùng)"
                                                                            :items="listbank"
                                                                            persistent-hint
                                                                            name='code_bank'
                                                                    ></v-autocomplete>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-container>
                                                    </v-card-text>
                                                    <v-divider></v-divider>
                                                    <v-layout class="pb-1" justify-center>
                                                        <v-flex xs6 class="text-xs-right">
                                                            <v-btn
                                                                    color="success"
                                                                    small
                                                                    @click="update( props.item)">
                                                                update
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-flex xs6>
                                                            <v-btn
                                                                    color="error"
                                                                    small
                                                                    @click="$set(dialog, props.item.id, false)">
                                                                Hủy bỏ
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-card>
                                            </v-form>
                                        </v-layout>
                                    </template>
                                </v-dialog>
                            </div>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn title=""
                                           class="ma-0"
                                           flat
                                           icon
                                           color="grey"
                                           @click="deletePayment(props.item.id)"
                                           v-on="on">
                                        <i class="fa fa-trash-o"
                                           aria-hidden="true">
                                        </i>
                                    </v-btn>
                                </template>
                                <span>Xóa thanh toán</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-flex>
    </v-layout>
</template>
<script>
    import {mapActions} from 'vuex'
    import {VMoney} from 'v-money'

    export default {
        directives: {money: VMoney},
        props: ['customer_id', 'total', 'dialogNote'],
        data: () => ({
            money: {},
            payment_money_input: '',
            //===================================
            dialog: [],
            data: [],
            menu1: false,
            valid: true,
            paid: 0,
            percentStar: 0,
            listOrderPayment: [],
            listOrderPaymentHistory: [],
            listbank: ['Vietcombank', ' Techcombank', 'MBbank', 'TPbank'],
            form: {
                order_id: '',
                customer_id: '',
                payment_money: '',
                date_payment: '',
                code_bank: null,
                note: ''
            },
            stage: [
                {id: 1, name: 'Giai đoạn 1'},
                {id: 2, name: 'Giai đoạn 2'},
                {id: 3, name: 'Giai đoạn 3'}
            ],
            stagegroup: [
                {id: 1, number: 'Số tiền', date: ' Ngày thanh toán'}
            ],
            headers: [
                {
                    text: "Ngày thanh toán",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "số tiền",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Ngân hàng (nếu có)",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Người tạo",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Ghi chú",
                    value: "",
                    align: "center",
                    sortable: false
                },
                {
                    text: "Hành động",
                    value: "",
                    align: "center",
                    sortable: false
                }
            ],
        }),
        mounted() {
            this.getList(this.$route.params.id);
            this.getListHistory(this.$route.params.id);
        },
        methods: {
            ...mapActions([
                'getListPaymentByOrder',
                'createPaymentHistory',
                'deletePay',
                'updatePayment',
                'getListPaymentByOrderHistory'
            ]),

            getList(order_id) {
                this.paid = 0;
                this.percentStar = 0;
                this.getListPaymentByOrder(order_id).then(response => {
                    this.listOrderPayment = response.data.success;
                    if (this.listOrderPayment) {
                        this.listOrderPayment.forEach(e => {
                            this.paid += parseFloat(e.payment_money);
                        })
                        this.percentStar = parseFloat(this.paid / this.total * 100).toFixed(2) <= 100
                            ? parseFloat(this.paid / this.total * 100).toFixed(2) : 100;
                    }
                    this.$emit('sendPaid', this.paid);
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },

            getListHistory(id) {
                this.getListPaymentByOrderHistory(id).then(response => {
                    this.listOrderPaymentHistory = response.data.success;
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },

            deletePayment(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa thanh toán!', '')
                    .then(response => {
                        this.deletePay(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.getList(this.$route.params.id);
                            } else {
                                this.$error('Không xóa được!');
                            }
                        })
                    }).catch(error => {
                    this.$error('Xóa không hợp lệ!');
                })
            },

            create() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.form.payment_money = this.unMaskedNumber(this.payment_money_input);
                        this.form.order_id = this.$route.params.id;
                        this.form.customer_id = this.customer_id;
                        this.createPaymentHistory(this.form).then(response => {
                            this.$success();
                            this.$set(this.dialogNote, 1, false);
                            this.form = [];
                            this.getList(this.$route.params.id);
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
            },

            update(element) {
                this.updatePayment(element).then(response => {
                    this.$success();
                    this.$set(this.dialog, element.id, false);
                    this.getList(this.$route.params.id);
                }).catch(error => {
                    this.$error('Cập nhật  không hợp lệ!');
                })
            },

        },
        created() {
        }
    }
</script>

<style lang="css" scoped>
    .active {
        font-weight: 700;
        color: white;
        background-color: #484f5e !important;
    }

    .list-option {
        height: 30px;
        line-height: 25px;
        width: 150px;
        box-sizing: border-box;
        padding: 2px;
        margin: 3px;
        position: relative;
        border-radius: 5px;
        background: whitesmoke;
        font-size: 16px;
    }

    .process-relative {
        width: 100%;
        position: relative;
        float: left
    }

    .show-process {
        height: 20px;
        width: 100%;
        background: #e1e5ea;
        border-radius: 10px;
    }

    .process-40 {
        border-left: 1px solid;
        border-right: 1px solid;
        float: left;
        color: white;
        width: 40%;
    }

    .process-40:nth-child(2) {
        border-left: 1px
    }

    .process-20 {
        float: left;
        color: white;
        width: 20%;
    }

    .process-absolute {
        position: absolute !important;
        background: #2196f3;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        height: 20px;
    }

    .process-absolute-100 {
        position: absolute !important;
        background: #2196f3;
        color: white;
        border-radius: 10px;
        height: 20px;
        text-align: center;
    }
</style>
