<template>
    <div class="app-root">
      <router-view></router-view>
        <!-- theme setting -->
        <v-btn small fab dark falt fixed top="top" right="right" class="setting-fab" @click="openThemeSettings">
            <v-icon>settings</v-icon>
        </v-btn>
        <!-- setting drawer -->
        <v-navigation-drawer class="setting-drawer" temporary right v-model="rightDrawer" fixed>
            <theme-settings></theme-settings>
        </v-navigation-drawer>
        <!-- global snackbar -->
        <v-snackbar :timeout="3000" bottom right :color="snackbar.color" v-model="snackbar.show">
            {{ snackbar.text }}
            <v-btn dark flat @click.native="snackbar.show = false" icon>
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
<!--        <notifications group="firebase"-->
<!--                       position="bottom right"-->
<!--                       :duration="5000"-->
<!--                       :speed="2000"-->
<!--                       :width="400"-->
<!--                       :max="5"-->
<!--                       animation-name="v-fade-left">-->
<!--            <template slot="body" slot-scope="props">ire-->
<!--                <div class="custom-template">-->
<!--                    <div class="custom-template-icon">-->
<!--                        <i class="icon fa fa-check-square-o"></i>-->
<!--                    </div>-->
<!--                    <div class="custom-template-content">-->
<!--                        <div class="custom-template-title">-->
<!--                            {{props.item.title}}-->
<!--                        </div>-->
<!--                        <div class="custom-template-text"-->
<!--                             v-html="props.item.text">-->
<!--                        </div>-->
<!--                        <div class="custom-template-text"-->
<!--                             v-html="props.item.text">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="custom-template-close"-->
<!--                         @click="props.close">-->
<!--                        <i class="icon fa fa-times"></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </template>-->
<!--        </notifications>-->
    </div>
</template>

<script>
    import ThemeSettings from "../components/ThemeSettings"

    export default {
        components: {
            ThemeSettings
        },
        data() {
            return {
                rightDrawer: false,
                snackbar: {
                    show: false,
                    text: "",
                    color: ""
                }
            }
        },
        created() {
            this.messaging.onMessage((payload) => {
                console.log(payload);
                this.alertNotification(payload);
            });
        },
        methods: {
            openThemeSettings() {
                this.$vuetify.goTo(0)
                this.rightDrawer = !this.rightDrawer
            },
            alertNotification(payload) {
                this.$notify({
                    group: 'firebase',
                    title: payload.notification.title,
                    text: payload.notification.body,
                    // data:{
                    //     icon: 'fa fa-plus-circle'
                    // }
                })
            }
        }
    }
</script>

<style scoped>
    .setting-fab {
        top: 50% !important;
        right: 0;
        border-radius: 0;
    }

    body {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0;
        padding-top: 80px;
        margin: 0;
    }

    body h2 {
        font-weight: 300;
    }

    body h2 a {
        color: black;
        font-size: 12px;
    }

    body button {
        display: inline-block;
        box-sizing: border-box;
        border: 0;
        border-radius: 3px;
        color: white;
        vertical-align: top;
        text-decoration: none;
        font-size: 12px;
        font-family: inherit;
        cursor: pointer;
        outline: none;
        transition: all 500ms;
        padding: 12px;
        box-shadow: none;
        background: #02ccba;
        font-weight: 600;
        width: 100%;
        letter-spacing: 1px;
        box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
    }

    body button:active {
        opacity: 0.8;
    }

    body #app {
        text-align: center;
        color: #2c3e50;
    }

    body #app .content {
        margin: 0 auto;
        max-width: 420px;
    }

    .sub-button {
        display: inline-block;
        float: right;
        background: #E54D42;
        padding: 4px;
        box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
    }

    .notification.n-light {
        margin: 10px;
        margin-bottom: 0;
        border-radius: 3px;
        font-size: 13px;
        padding: 10px 20px;
        color: #495061;
        background: #EAF4FE;
        border: 1px solid #D4E8FD;
    }

    .notification.n-light .notification-title {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        color: #2589F3;
    }

    .custom-template {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
        font-size: 13px;
        margin: 5px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        background: #E8F9F0;
        border: 2px solid #D0F2E1;
    }

    .custom-template, .custom-template > div {
        box-sizing: border-box;
    }

    .custom-template .custom-template-icon {
        flex: 0 1 auto;
        color: #15C371;
        font-size: 32px;
        padding: 0 10px;
    }

    .custom-template .custom-template-close {
        flex: 0 1 auto;
        padding: 0 20px;
        font-size: 16px;
        opacity: 0.2;
        cursor: pointer;
    }

    .custom-template .custom-template-close:hover {
        opacity: 0.8;
    }

    .custom-template .custom-template-content {
        padding: 10px;
        flex: 1 0 auto;
    }

    .custom-template .custom-template-content .custom-template-title {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
    }

    .v-fade-left-enter-active,
    .v-fade-left-leave-active,
    .v-fade-left-move {
        transition: all 1s;
    }

    .v-fade-left-enter,
    .v-fade-left-leave-to {
        opacity: 0;
        transform: translateX(-500px) scale(0.2);
    }
</style>
