<template>
  <div id="pageDashboard">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg6 sm12 xs12>
          <v-widget :title="'Doanh thu trong tháng (' + (totalPriceInMonth > 0 ? formatPrice(totalPriceInMonth) : 0) + ')'" content-bg="white">
            <div slot="widget-content">
              <e-chart v-if="revenueData.length > 0"
                :path-option="[
                  ['dataset.source', revenueData],
                  ['legend.bottom', '0'],
                  [
                    'color',
                    [
                      color.lightBlue.base,
                      color.indigo.base,
                      color.pink.base,
                      color.green.base,
                      color.cyan.base,
                      color.teal.base
                    ]
                  ],
                  ['xAxis.show', false],
                  ['yAxis.show', false],
                  ['series[0].type', 'pie'],
                  ['series[0].avoidLabelOverlap', true],
                  ['series[0].radius', ['50%', '70%']]
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>
        <v-flex lg6 sm12 xs12>
          <plain-table-order :unpaid="unpaid"></plain-table-order>
        </v-flex>
        <v-flex lg6 sm12 xs12>
          <job-table :jobs="jobs"></job-table>
        </v-flex>
        <v-flex lg6 sm12 xs12>
          <notification-table :data="data" :number="number" :handleClick="handleClick"></notification-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'
import API from "@/api"
import EChart from "@/components/chart/echart"
import JobTable from "@/components/widgets/list/JobTable"
import PlainTableOrder from "@/components/widgets/list/PlainTableOrder"
import NotificationTable from "@/components/widgets/list/NotificationTable"
import VWidget from "@/components/VWidget"
import Material from "vuetify/es5/util/colors"
import VCircle from "@/components/circle/VCircle"
export default {
  components: {
    VWidget,
    VCircle,
    EChart,
    JobTable,
    PlainTableOrder,
    NotificationTable
  },
  data: () => ({
    unpaid: [],
    totalPriceInMonth:0,
    revenue: [],
    data: [],
    jobs: [],
    number: 0,
    color: Material,
    selectedTab: "tab-1",
    linearTrending: [
      {
        subheading: "Sales",
        headline: "2,55",
        caption: "increase",
        percent: 15,
        icon: {
          label: "trending_up",
          color: "success"
        },
        linear: {
          value: 15,
          color: "success"
        }
      },
      {
        subheading: "Revenue",
        headline: "6,553",
        caption: "increase",
        percent: 10,
        icon: {
          label: "trending_down",
          color: "error"
        },
        linear: {
          value: 15,
          color: "error"
        }
      },
      {
        subheading: "Orders",
        headline: "5,00",
        caption: "increase",
        percent: 50,
        icon: {
          label: "arrow_upward",
          color: "info"
        },
        linear: {
          value: 50,
          color: "info"
        }
      }
    ],
    trending: [
      {
        subheading: "Email",
        headline: "15+",
        caption: "email opens",
        percent: 15,
        icon: {
          label: "email",
          color: "info"
        },
        linear: {
          value: 15,
          color: "info"
        }
      },
      {
        subheading: "Tasks",
        headline: "90%",
        caption: "tasks completed.",
        percent: 90,
        icon: {
          label: "list",
          color: "primary"
        },
        linear: {
          value: 90,
          color: "success"
        }
      },
      {
        subheading: "Issues",
        headline: "100%",
        caption: "issues fixed.",
        percent: 100,
        icon: {
          label: "bug_report",
          color: "primary"
        },
        linear: {
          value: 100,
          color: "error"
        }
      }
    ]
  }),
  computed: {
    activity() {
      return API.getActivity()
    },
    posts() {
      return API.getPost(3)
    },
    siteTrafficData() {
      return API.getMonthVisit
    },
    revenueData() {
      return this.revenue;
    }
  },
  methods: {
    ...mapActions(['getDataForDashboard']),
      getListsNotification() {
          this.click_action = "NO";
          this.user_id = this.$auth.user().id;
          return new Promise((resolve, reject) => {
              axios.get('https://notify.etstech.vn/api/lists/notification?click_action='
                  + this.click_action + '&user_id=' + this.user_id)
                  .then(response => {
                      this.number = response.data.length;
                      this.data = response.data;
                      this.$emit('subtractNotification', this.number);
                  }).catch(error => {
                  this.$error('Không lấy được dữ liệu thông báo!');
              })
          })
      },

      handleClick(id, key) {
          this.number = this.number - 1;
          return new Promise((resolve, reject) => {
              axios.post('https://notify.etstech.vn/api/notification/action/' + id)
                  .then(response => {
                      this.$router.push('/customers');
                      this.$emit('subtractNotification', this.number);
                      this.$delete(this.data, key)
                  }).catch(error => {
                  this.$error('Không thay đổi được trạng thái thông báo');
              })
          })
      },
      formatPrice(value) {
          let val = (value / 1).toFixed(0).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      sum(key) {
          return this.reduce((a, b) => a + (b[key] || 0), 0);
      }
  },
  created() {
    this.getDataForDashboard()
      .then(response => {
        this.unpaid = response.data.success.unpaid;
        this.totalPriceInMonth = response.data.success.total_price || this.formatPrice;
        let revenue = response.data.success.revenue;
        for (let i in revenue) {
          this.revenue.push({
            value: revenue[i].reduce(function (prev, cur) {
              return parseInt(prev) + parseInt(cur.total_price);
            }, 0),
            name: i
          });
        }
        this.jobs = response.data.success.jobs;
      })
    this.getListsNotification();
  }
}
</script>
