<template>
  <div id="pageDashboard">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12 sm12 xs12>
          <v-widget :title="'Báo cáo tổng đơn hàng theo tháng'" content-bg="white">
            <div slot="widget-content">
              Chọn người bán
              <select @change="changeTotalOrders" v-model="search.totalOrders.userId" style="background: #F2F4F4; padding: 0.5em;">
                <template v-if="listUsers.length > 0">
                  <option v-for="(user, index) in listUsers" :key="index" :value="user.id">
                    {{ user.name }}
                  </option>
                </template>
              </select>
              &nbsp;&nbsp;Chọn trạng thái
              <select @change="changeTotalOrders" v-model="search.totalOrders.status" style="background: #F2F4F4; padding: 0.5em;">
                <template v-if="status.length > 0">
                  <option v-for="(item, index) in status" :key="index" :value="item.key">
                    {{ item.value }}
                  </option>
                </template>
              </select>
            </div>
            <v-btn icon slot="widget-header-action">
              <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
            <div slot="widget-content">
              <e-chart v-if="dataOrderFollowSale.length > 0"
                :path-option="[
                  ['dataset.source', dataOrderFollowSale],
                  ['color', [color.lightBlue.base]],
                  ['legend.show', true],
                  ['xAxis.axisLabel.show', true],
                  ['yAxis.axisLabel.show', true],
                  ['grid.left', '2%'],
                  ['grid.bottom', '5%'],
                  ['grid.right', '3%'],
                  ['series[0].type', 'bar'],
                  ['series[0].areaStyle', {}],
                  ['series[0].smooth', true],
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>
        <v-flex lg12 sm12 xs12>
          <v-widget :title="'Báo cáo khách hàng theo tháng'" content-bg="white">
            <v-btn icon slot="widget-header-action">
              <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
            <div slot="widget-content">
              <e-chart v-if="customers.length > 0"
                :path-option="[
                  ['dataset.source', customers],
                  ['color', [color.pink.base]],
                  ['legend.show', true],
                  ['xAxis.axisLabel.show', true],
                  ['yAxis.axisLabel.show', true],
                  ['grid.left', '2%'],
                  ['grid.bottom', '5%'],
                  ['grid.right', '3%'],
                  ['series[0].type', 'bar'],
                  ['series[0].areaStyle', {}],
                  ['series[0].smooth', true],
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>
        <v-flex lg12 sm12 xs12>
          <v-widget :title="'Báo cáo doanh thu theo tháng'" content-bg="white">

            <div slot="widget-content">
              Chọn người bán
              <select @change="changeRevenue" v-model="search.revenue.userId" style="background: #F2F4F4; padding: 0.5em;">
                <template v-if="listUsers.length > 0">
                  <option v-for="(user, index) in listUsers" :key="index" :value="user.id">
                    {{ user.name }}
                  </option>
                </template>
              </select>
            </div>
            <v-btn icon slot="widget-header-action">
              <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
            <div slot="widget-content">
              <e-chart v-if="revenue.length > 0"
                :path-option="[
                  ['dataset.source', revenue],
                  ['color', [color.green.base]],
                  ['legend.show', true],
                  ['xAxis.axisLabel.show', true],
                  ['yAxis.axisLabel.show', true],
                  ['grid.left', '2%'],
                  ['grid.bottom', '5%'],
                  ['grid.right', '3%'],
                  ['series[0].type', 'bar'],
                  ['series[0].areaStyle', {}],
                  ['series[0].smooth', true],
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>

        <v-flex lg12 sm12 xs12>
          <v-widget :title="'Báo cáo lợi nhuận theo tháng'" content-bg="white">
            <v-btn icon slot="widget-header-action">
              <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
            <div slot="widget-content">
              <e-chart v-if="profit.length > 0"
                :path-option="[
                  ['dataset.source', profit],
                  ['color', [color.cyan.base]],
                  ['legend.show', true],
                  ['xAxis.axisLabel.show', true],
                  ['yAxis.axisLabel.show', true],
                  ['grid.left', '2%'],
                  ['grid.bottom', '5%'],
                  ['grid.right', '3%'],
                  ['series[0].type', 'bar'],
                  ['series[0].areaStyle', {}],
                  ['series[0].smooth', true],
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>

        <v-flex lg12 sm12 xs12>
          <v-widget :title="'Báo cáo chi phí theo tháng'" content-bg="white">
            <v-btn icon slot="widget-header-action">
              <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
            <div slot="widget-content">
              <e-chart v-if="cost.length > 0"
                :path-option="[
                  ['dataset.source', cost],
                  ['color', [color.teal.base]],
                  ['legend.show', true],
                  ['xAxis.axisLabel.show', true],
                  ['yAxis.axisLabel.show', true],
                  ['grid.left', '2%'],
                  ['grid.bottom', '5%'],
                  ['grid.right', '3%'],
                  ['series[0].type', 'bar'],
                  ['series[0].areaStyle', {}],
                  ['series[0].smooth', true],
                ]"
                height="400px"
                width="100%"
              >
              </e-chart>
            </div>
          </v-widget>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import API from "@/api"
import EChart from "@/components/chart/echart"
import MiniStatistic from "@/components/widgets/statistic/MiniStatistic"
import PostListCard from "@/components/widgets/card/PostListCard"
import ProfileCard from "@/components/widgets/card/ProfileCard"
import PostSingleCard from "@/components/widgets/card/PostSingleCard"
import WeatherCard from "@/components/widgets/card/WeatherCard"
import PlainTableOrder from "@/components/widgets/list/PlainTableOrder"
import VWidget from "@/components/VWidget"
import Material from "vuetify/es5/util/colors"
import VCircle from "@/components/circle/VCircle"
import BoxChart from "@/components/widgets/chart/BoxChart"
import ChatWindow from "@/components/chat/ChatWindow"
import CircleStatistic from "@/components/widgets/statistic/CircleStatistic"
import LinearStatistic from "@/components/widgets/statistic/LinearStatistic"
import {mapGetters,mapActions} from 'vuex'
import moment from 'moment'

export default {
  components: {
    VWidget,
    MiniStatistic,
    ChatWindow,
    VCircle,
    WeatherCard,
    PostSingleCard,
    PostListCard,
    ProfileCard,
    EChart,
    BoxChart,
    CircleStatistic,
    LinearStatistic,
    PlainTableOrder
  },
  data: () => ({
    color: Material,
    selectedTab: "tab-1",
    linearTrending: [
      {
        subheading: "Sales",
        headline: "2,55",
        caption: "increase",
        percent: 15,
        icon: {
          label: "trending_up",
          color: "success"
        },
        linear: {
          value: 15,
          color: "success"
        }
      },
      {
        subheading: "Revenue",
        headline: "6,553",
        caption: "increase",
        percent: 10,
        icon: {
          label: "trending_down",
          color: "error"
        },
        linear: {
          value: 15,
          color: "error"
        }
      },
      {
        subheading: "Orders",
        headline: "5,00",
        caption: "increase",
        percent: 50,
        icon: {
          label: "arrow_upward",
          color: "info"
        },
        linear: {
          value: 50,
          color: "info"
        }
      }
    ],
    trending: [
      {
        subheading: "Email",
        headline: "15+",
        caption: "email opens",
        percent: 15,
        icon: {
          label: "email",
          color: "info"
        },
        linear: {
          value: 15,
          color: "info"
        }
      },
      {
        subheading: "Tasks",
        headline: "90%",
        caption: "tasks completed.",
        percent: 90,
        icon: {
          label: "list",
          color: "primary"
        },
        linear: {
          value: 90,
          color: "success"
        }
      },
      {
        subheading: "Issues",
        headline: "100%",
        caption: "issues fixed.",
        percent: 100,
        icon: {
          label: "bug_report",
          color: "primary"
        },
        linear: {
          value: 100,
          color: "error"
        }
      }
    ],
    status: [
      {
        key: null,
        value: 'Chọn tất cả',
      },
      {
        key: 0,
        value: 'Chờ thanh toán',
      },
      {
        key: 1,
        value: 'Đang xử lý',
      },
      {
        key: 2,
        value: 'Đang thực hiện'
      },
      {
        key: 3,
        value: 'Kết thúc'
      }
    ],
    search: {
      totalOrders: {
        status: null,
        userId: null
      },
      revenue: {
        userId: null
      }
    },
    users: [],
    dataOrderFollowSale: [],
    customers: [],
    revenue: [],
    profit: [],
    cost: []
  }),
  computed: {
    activity() {
      return API.getActivity()
    },
    posts() {
      return API.getPost(3)
    },
    siteTrafficData() {
      return API.getMonthVisit
    },
    locationData() {
      return API.getLocation
    },
    listUsers() {
      return this.users;
    }
  },
  methods: {
    ...mapActions(['getDataForReport', 'getListUser']),
    changeTotalOrders() {
      this.dataOrderFollowSale = [];
      this.getDataForReport(this.search)
        .then(response => {
          this.common(response);
        })
    },

    changeRevenue() {
      this.revenue = [];
      this.getDataForReport(this.search)
        .then(response => {
          this.common(response);
        })
    },
    common(response) {
      let data = response.data.success;
        var m = moment();
        let tmpMonthInYear = [];
        for (var i = 0; i < 12; i++) {
           tmpMonthInYear.push(m.months(i).format('MM/YYYY'));
        }

        for (let i in tmpMonthInYear) {
          //order theo sale
          if (data['orders'].hasOwnProperty(tmpMonthInYear[i])) {
            this.dataOrderFollowSale.push({
              month: tmpMonthInYear[i],
              Orders: data['orders'][tmpMonthInYear[i]].length
            })
          } else {
            this.dataOrderFollowSale.push({
              month: tmpMonthInYear[i],
              Orders: 0
            })
          }

          //customer
          if (data['customers'].hasOwnProperty(tmpMonthInYear[i])) {
            this.customers.push({
              month: tmpMonthInYear[i],
              Customers: data['customers'][tmpMonthInYear[i]].length
            })
          } else {
            this.customers.push({
              month: tmpMonthInYear[i],
              Customers: 0
            })
          }

          //revenue
          if (data['revenue'].hasOwnProperty(tmpMonthInYear[i])) {
            this.revenue.push({
              month: tmpMonthInYear[i],
              Revenue: data['revenue'][tmpMonthInYear[i]].reduce(function (prev, cur) {
                return parseInt(prev) + parseInt(cur.total_price);
              }, 0)
            })
          } else {
            this.revenue.push({
              month: tmpMonthInYear[i],
              Revenue: 0
            })
          }

          //profit
          if (data['profit'].hasOwnProperty(tmpMonthInYear[i])) {
            let orderIncurred = 0;
            for (let j in data['profit'][tmpMonthInYear[i]]) {
              if (data['profit'][tmpMonthInYear[i]][j].order_incurred.length > 0) {
                orderIncurred = data['profit'][tmpMonthInYear[i]][j].order_incurred.reduce(function (prev2, cur2) {
                  return parseInt(prev2) + parseInt(cur2.money);
                }, 0);
              }
            }
            let revenue = data['profit'][tmpMonthInYear[i]].reduce(function (prev, cur) {
                return parseInt(prev) + parseInt(cur.total_price);
              }, 0);

            this.profit.push({
              month: tmpMonthInYear[i],
              Profit: revenue - orderIncurred
            })
          } else {
            this.profit.push({
              month: tmpMonthInYear[i],
              Profit: 0
            })
          }

          //cost
          if (data['cost'].hasOwnProperty(tmpMonthInYear[i])) {
            this.cost.push({
              month: tmpMonthInYear[i],
              Cost: data['cost'][tmpMonthInYear[i]].reduce(function (prev, cur) {
                return parseInt(prev) + parseInt(cur.money);
              }, 0)
            })
          } else {
            this.cost.push({
              month: tmpMonthInYear[i],
              Cost: 0
            })
          }

        }
    }
  },
  created() {
    this.getListUser(0)
      .then(response => {
        this.users = response.data.success
        this.users.unshift({
          id: null,
          name: 'Chọn tất cả'
        })
      })

    this.getDataForReport(this.search)
      .then(response => {
        this.common(response);
      })
  },
}
</script>
