<template>
    <v-card>
        <v-layout wrap pl-3 pr-3>
            <v-flex md2 pa-0>
                <v-navigation-drawer permanent disable-resize-watcher>
                    <v-list class="pt-1" dense>
                        <v-list-tile @click="valid=true">
                            <v-list-tile-content pt-3>
                                <v-list-tile-title>Thông tin tài khoản</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="valid=false">
                            <v-list-tile-content pt-3>
                                <v-list-tile-title>Đổi mật khẩu</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
            </v-flex>
            <v-flex md10 pa-0>
                <v-list v-if="valid">
                    <v-list class="pa-0">
                        <v-list-tile avatar>
                            <v-flex md1 ma-auto>
                                <v-btn style="display: none" raised class="primary"></v-btn>
                                <input
                                        type="file"
                                        style="display: none"
                                        ref="fileInput"
                                        accept="image/*"
                                        @change="onFilePicked">
                                <v-list-tile-avatar :size="70" @click="onPickFile">
                                    <img v-if="imageUrl" :src="imageUrl">
                                    <img v-else-if="$auth.user().avatar" :src="$auth.user().avatar">
                                    <img v-else src="/static/avatar/user_avatar.png">
                                </v-list-tile-avatar>
                            </v-flex>
                            <v-flex mt-5 ml-2>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ $auth.user().name }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-flex>
                        </v-list-tile>
                    </v-list>
                    <v-divider class="mt-5"></v-divider>
                    <v-list xs12 sm6 offset-md1 md4 class="ml-3 mr-3">
                        <v-flex>
                            <v-text-field
                                    name='name'
                                    :counter="30"
                                    label="Họ và tên"
                                    disabled
                                    v-model="form.name = $auth.user().name">
                            </v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                    name='Phone Number'
                                    label="Số điện thoại"
                                    disabled
                                    v-model="form.phone_number = $auth.user().phone_number">
                            </v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                    name='email'
                                    type="email"
                                    label="Email"
                                    disabled
                                    v-model="form.email = $auth.user().email">
                            </v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                    name='basic_salary'
                                    type="text"
                                    label="Lương cơ bản"
                                    disabled
                                    v-model="form.basicSalary = $auth.user().basic_salary">
                            </v-text-field>
                        </v-flex>
                        <v-card-text v-if="$auth.user().percentage_of_sales">
                            <v-flex>
                                Mức lương thưởng
                            </v-flex>
                            <v-flex :key="key" v-for="(item, key) in $auth.user().percentage_of_sales">
                                <v-flex>
                                    <div>Từ {{item.from}} - Đến {{item.to}}: {{item.total}}</div>
                                </v-flex>
                            </v-flex>
                        </v-card-text>
                    </v-list>
                    <v-flex xs6 right>
                        <v-btn color="success" small @click="create">
                            save
                        </v-btn>
                    </v-flex>
                </v-list>
                <v-list v-else>
                    <v-list class="pa-0">
                        <v-list-tile avatar>
                            <v-flex md1 ma-auto>
                                <v-btn style="display: none" raised class="primary"></v-btn>
                                <v-list-tile-avatar :size="70">
                                    <img v-if="imageUrl" :src="imageUrl">
                                    <img v-else-if="$auth.user().avatar" :src="$auth.user().avatar">
                                    <img v-else src="https://hanpu.vn/images/missing-photo-user-avatar.png">
                                </v-list-tile-avatar>
                            </v-flex>
                            <v-flex mt-5 ml-2>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ $auth.user().name }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-flex>
                        </v-list-tile>
                    </v-list>
                    <v-divider class="mt-5"></v-divider>
                    <v-list xs12 sm6 offset-md1 md4 class="ml-3 mr-3">
                        <v-flex>
                            <v-text-field
                                    name='name'
                                    :counter="30"
                                    type="password"
                                    label="Mật khẩu cũ"
                                    required
                                    v-model="password.oldPassword"
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                    name='name'
                                    label="Mật khẩu mới"
                                    type="password"
                                    required
                                    v-model="password.newPassword"
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                    name='name'
                                    type="password"
                                    label="Nhập lại mật khẩu mới"
                                    required
                                    v-model="password.c_newPassword"
                            >
                            </v-text-field>
                        </v-flex>
                    </v-list>
                    <v-flex xs6 right>
                        <v-btn color="success" small @click="changePassword">
                            save
                        </v-btn>
                    </v-flex>
                </v-list>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
                form: {
                    name: '',
                    phone_number: '',
                    email: '',
                    image: '',
                },
                password: {
                    oldPassword: '',
                    newPassword: '',
                    c_newPassword: '',
                },
                valid: true,
                imageUrl: '',
                image: null,
            }
        },

        methods: {
            onPickFile() {
                this.$refs.fileInput.click()
            },
            onFilePicked(event) {
                const files = event.target.files
                let filename = files[0].name
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Please add a valid file!')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.imageUrl = fileReader.result
                })
                fileReader.readAsDataURL(files[0])
                this.image = files[0]
            },

            create() {
                let data = new FormData();
                data.append('image', this.image);
                data.append('name', this.form.name);
                data.append('phone_number', this.form.phone_number);
                data.append('email', this.form.email);
                data.append('_method', 'post');
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        return new Promise((resolve, reject) => {
                            axios.post('/api/user/updateUser', data, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(response => {
                                    this.$success();
                                    setTimeout(() => {
                                    }, 1000);
                                }).catch(error => {
                                this.$error(error);
                            })
                        })
                    }
                });
            },

            changePassword() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        return new Promise((resolve, reject) => {
                            axios.post('/api/auth/change/password', this.password)
                                .then(response => {
                                    this.$success();
                                    setTimeout(() => {
                                        this.$router.push('/dashboard');
                                    }, 1000);
                                }).catch(error => {
                                this.$error(error);
                            })
                        })
                    }
                });
            },
        }
    }

</script>

