<template>
    <v-toolbar color="primary" fixed dark app>
        <page-header></page-header>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn icon @click="handleFullScreen()">
                <v-icon>fullscreen</v-icon>
            </v-btn>
            <v-menu offset-y origin="center center" class="elelvation-1" :nudge-bottom="14"
                    transition="scale-transition">
                <v-btn icon flat slot="activator">
                    <v-badge color="red" overlap>
                        <span v-if="this.number_notification <= 99" slot="badge">{{number_notification}}</span>
                        <span v-else="" slot="badge">99+</span>
                        <v-icon medium>notifications</v-icon>
                    </v-badge>
                </v-btn>
                <notification-list @subtractNotification="getNumberNotification"></notification-list>
            </v-menu>

            <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">
                <v-btn icon large flat slot="activator">
                    <v-avatar size="30px">
                        <img v-if="$auth.user().avatar" :src="$auth.user().avatar" alt="Smiley face" width="42"
                             height="42">
                        <img v-else src="/static/avatar/user_avatar.png" alt="Smiley face" width="42" height="42"
                             style="background-color: white">
                    </v-avatar>
                </v-btn>
                <v-list class="pa-0">
                    <v-list-tile
                            v-for="(item, index) in items"
                            :to="!item.href ? { name: item.name } : null"
                            :href="item.href"
                            @click="item.click"
                            ripple="ripple"
                            :disabled="item.disabled"
                            :target="item.target"
                            rel="noopener"
                            :key="index"
                    >
                        <v-list-tile-action v-if="item.icon">
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar-items>
    </v-toolbar>
</template>
<script>
    import NotificationList from "@/components/widgets/list/NotificationList"
    import PageHeader from "@/components/PageHeader"
    import Util from "@/util"

    export default {
        name: "AppToolbar",
        components: {
            NotificationList,
            PageHeader
        },
        data() {
            return {
                number_notification: '',
                items: [
                    {
                        icon: "account_circle",
                        href: "#",
                        title: "Profile",
                        click: this.handleProfile
                    },
                    {
                        icon: "settings",
                        href: "#",
                        title: "Settings",
                        click: this.handleSetting
                    },
                    {
                        icon: "fullscreen_exit",
                        href: "#",
                        title: "Logout",
                        click: this.handleLogut
                    }
                ]
            }
        },
        computed: {
            toolbarColor() {
                return this.$vuetify.options.extra.mainNav
            }
        },
        methods: {
            handleFullScreen() {
                Util.toggleFullScreen()
            },

            handleLogut() {
                this.$confirm('Xác nhận đăng xuất!', 'Khi đăng xuất bạn sẽ trở về màn hình đăng nhập.')
                    .then(response => {
                        // this.$router.push('/login');
                        this.$auth.logout();
                    }).catch(error => {
                    this.$error(error);
                })
            },
            handleSetting() {

            },
            handleProfile() {
                this.$router.push('/profile');
            },

            getNumberNotification(value){
                this.number_notification = value;
            },
        }
    }
</script>

<style lang="stylus" scoped>
    .app--toolbar {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
        /*padding-left: 240px !important */
    }

    .v-toolbar__content {
        padding: 0px 10px !important
    }
</style>
