<template>
    <v-layout row class="align-center layout pl-0 app--page-header">
        <v-breadcrumbs divider="/" :items="breadcrumbs">
            <template v-slot:item="props">
                <a style="color:#ffffff;" @click='redirect(props.item.href)'
                   :class="[props.item.disabled && 'disabled']">
                    {{props.item.text}}</a>
            </template>
        </v-breadcrumbs>
        <v-spacer></v-spacer>
    </v-layout>
</template>

<script>
    export default {
        data() {
            return {
                title: "Home",
                breadcrumbs: []
            }
        },
        watch: {
            '$route.path': function (newVal) {
                this.computeBreadcrumbs()
            }
        },
        methods: {
            computeBreadcrumbs() {
                let breadcrumbs = [];
                let appends = [];
                appends = this.$route.matched.map(item => {
                    return {
                        text: item.meta.title || "",
                        href: item.path || "/",
                        disabled: item.path === this.$route.path || item.path.indexOf("view") != -1 || item.path.indexOf("edit") != -1
                    }
                })
                
                appends = appends.filter(item => item.text);
                this.breadcrumbs = breadcrumbs.concat(appends)
            },
            redirect(router) {
                this.$router.push(router);
            }
        },
        created() {
            this.computeBreadcrumbs()
        }
    }
</script>
<style lang="css">
    .disabled {
        color: #ffffff;
        pointer-events: none;
        text-decoration: blink;
        padding: 0px !important
    }
</style>