<template>
    <v-layout column align-center>
        <v-container grid-list-md>
            <v-flex md6 offset-md3 xs12>
                <div class="text-center">
                   <v-dialog persistent v-model="dialogNote[1]"
                              width="500">
                        <template v-slot:activator="{ on }">
                        </template>
                        <v-form
                                ref="form"
                                v-model="valid"
                                lazy-validation>
                            <v-card>
                                <v-card-text>
                                    <v-layout wrap>
                                        <v-flex xs4 sm6 md12 pa-2 mt-2>
                                            <v-text-field label="Tên danh mục combo"
                                                  v-model='form.name'
                                                   :rules="[v => !!v || 'Nhập tên danh mục combo']"
                                                  name='name'
                                                  v-validate="'required'"
                                                  :counter="30">
                                            </v-text-field>
                                        </v-flex>
                                        <v-spacer mt-3></v-spacer>
                                        <v-spacer mt-3></v-spacer>
                                        <v-flex xs4 sm6 md12 pa-2 mt-2>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Mô tả combo"
                                                    value=""
                                                    hint="Hint text"
                                                    v-model='form.description'>
                                            </v-textarea>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-layout pb-3 mt-3 justify-center>
                                    <v-flex xs6 class="text-xs-right">
                                        <v-btn color="success"
                                               small
                                               @click="create">
                                            Thêm mới
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-btn color="error"
                                               small
                                               @click="$set(dialogNote, 1, false)">
                                            Hủy bỏ
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-form>
                    </v-dialog>
                </div>
            </v-flex>
        </v-container>
    </v-layout>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data: () => ({
            valid: true,
            dialogNote : false,
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length >= 5) || 'Name must be less than 5 characters',
            ],
            items: [
                {
                    id: 0,
                    title: 'Danh mục dịch vụ',
                },
                {
                    id: 1,
                    title: 'Danh mục combo',
                }
            ],
             form: {
                    name: '',
                    user_id:'',
                    type: 1,
                    description: '',
                },
            lazy: false,
        }),

        methods: {
            ...mapActions(['createCategory']),
           create() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.createCategory(this.form).then(response => {
                            this.$success();
                            this.$set(this.dialogNote, 1, false);
                             loader.hide();
                            this.form = [];
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
                this.$validator.validateAll();
            },
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            reset() {
                this.$refs.form.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            back() {
                this.$router.push('/category');
            }
        },
    }
</script>