<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation>
    <v-card>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-autocomplete
              v-model='form.expense_type'
              label="Hình thức thanh toán"
              :items="pay"
              item-text="title"
              item-value="id"
              :rules="[v => !!v || 'Nhập hình thức thanh toán']"
              v-validate="'required'"
              name='expense_type'
            ></v-autocomplete>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-text-field label="Lý do chi"
                          name='reason'
                          :rules="[v => !!v || 'Nhập lí do chi']"
                          v-validate="'required'"
                          v-model='form.reason'
                          type="text">
            </v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-text-field label="Số tiền"
                          v-model.lazy='payment_money_input'
                          v-money="payment_money_input != '' ? money : ''"
                          :rules="[v => !!v || 'Nhập số tiền']"
                          v-validate="'required'"
                          name='minus_price'
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-autocomplete
              v-model='form.person_charge'
              label="Người nhận"
              :items="listUser"
              item-text="name"
              :rules="[v => !!v || 'Nhập người nhận']"
              v-validate="'required'"
              item-value="id"
              name='person_charge'
            ></v-autocomplete>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-menu
              ref="menu1"
              :close-on-content-click="false"
              v-model="menu1"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px">
              <v-text-field
                slot="activator"
                label="Ngày chi"
                v-model="form.date_excute"
                :rules="[v => !!v || 'Nhập ngày chi']"
                v-validate="'required'"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="form.date_excute" no-title
                             scrollable actions locale="vi-VN"
                             @input="menu1 = false">
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex xs12 sm6 md4 offset-md1>
            <v-menu
              ref="menu2"
              :close-on-content-click="false"
              v-model="menu2"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px">
              <v-text-field
                slot="activator"
                label="Ngày hạch toán"
                v-model="form.date_accounting"
                :rules="[v => !!v || 'Nhập ngày hạch toán']"
                v-validate="'required'"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="form.date_accounting" no-title
                             scrollable actions locale="vi-VN"
                             @input="menu2 = false">
              </v-date-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-divider></v-divider>
      <v-layout pb-3 mt-3 justify-center>
        <v-flex xs6 class="text-xs-right">
          <v-btn color="success"
                 small
                 @click="create">
            Thêm mới
          </v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn color="error"
                 small
                 @click="back()">
            Hủy bỏ
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </v-form>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import {VMoney} from 'v-money'

    export default {
        data: () => ({
            directives: {money: VMoney},
            payment_money_input: '',
            money: {},
            valid: true,
            pay: [
                {
                    id: 1,
                    title: 'Tiền mặt',
                },
                {
                    id: 2,
                    title: 'Chuyển khoản',
                }
            ],
            form: {
                expense_type: '',
                reason: '',
                date_excute: '',
                date_accounting: '',
                money: '',
                person_charge: '',
            },
            menu1: false,
            menu2: false,
        }),
        computed: {
            ...mapGetters(['listUser']),
        },
        mounted() {
            this.getListUser();
        },
        methods: {
            ...mapActions(['getListUser','createEx']),
            create() {
                this.form.money = this.unMaskedNumber(this.payment_money_input);
                    this.createEx(this.form).then(response => {
                        this.$success();
                        this.$emit('close');
                        this.form = [];
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
        },

            reset() {
                this.$refs.form.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            back() {
                this.$emit('close');
            }
        },
    }
</script>