<template>
  <div class="list-table">
    <v-container pa-0 grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12 pl-2>
          <v-card>
            <v-toolbar card color="white">
              <div class="search   float-md-left ">
                <div class="icontimkiem float-md2-left">
                  <button class="nut">
                    <i title="tìm kiếm " class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="timkiem float-md8-left">
                  <input class="searchtimkiem"
                         type="text"
                         name=""
                         placeholder="Tìm kiếm chi phí phát sinh">
                </div>
                <div class="search1 float-md2-right">
                  <button class="nut">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn flat icon color="grey" @click="dialoghoan = !dialoghoan"
                         v-if='!complex.selected.length' v-on="on">
                    <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                  </v-btn>
                </template>
                <span>tạo chi tiêu</span>
              </v-tooltip>

              <div class="text-center">
                <v-dialog
                  v-model="dialoghoan"
                  width="1000">
                  <template v-slot:activator="{ on }">
                  </template>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation>
                    <v-card>
                      <plain-table
                        @submitSuccess="submitSuccess"
                        @close="dialoghoan = false, getLists()"
                      >
                      </plain-table>
                    </v-card>
                  </v-form>
                </v-dialog>
              </div>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn flat icon color="grey" @click='popupDestroy' v-if='complex.selected.length'
                         v-on="on">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                  </v-btn>
                </template>
                <span>Xóa các chi tiêu</span>
              </v-tooltip>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                select-all
                :items="complex.items"
                class="elevation-1"
                hide-default-footer
                hide-actions
                checkable
                v-model="complex.selected">
                <template slot="items" slot-scope="props">
                  <tr @click="setActived(props.item.id)" :class="{ 'actived': activeIndexd === props.item.id}">
                    <td>
                      <v-checkbox
                        primary hide-details
                        v-model="props.selected"
                      ></v-checkbox>
                    </td>
                    <td><a>{{ props.item.expense_code }}</a></td>
                    <td ><a>{{ props.item.reason }}</a></td>
                    <td ><a>{{ props.item.date_excute | formatDate }}</a></td>
                    <td ><a>{{ props.item.date_accounting | formatDate}}</a></td>
                    <td class="text-md-right"><a>{{ props.item.money | formatPrice }}</a></td>
                    <td ><a>{{ props.item.user.name }}</a></td>
                    <td class="text-md-left">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn class="ma-0" title="" flat icon
                                 @click.stop="$set(dialogN, props.item.id, true,view(props.item.id))"
                                 color="grey" v-on="on">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </v-btn>
                        </template>
                        <span>sửa chi tiêu</span>
                      </v-tooltip>
                      <v-dialog
                        persistent
                        class="d-none"
                        v-model="dialogN[props.item.id]"
                        lazy max-width="900"
                        height="1000px"
                        :key="1">
                        <v-card>
                          <v-container grid-list-md>
                            <v-flex md10 offset-md1 xs12>
                              <v-form
                                ref="data"
                                v-model="valid">
                                <v-card-text>
                                  <v-layout wrap>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-autocomplete
                                        v-model='data.expense_type'
                                        label="Hình thức thanh toán"
                                        :items="pay"
                                        item-text="title"
                                        item-value="id"
                                        name='expense_type'
                                      ></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-text-field label="Lý do chi"
                                                    name='reason'
                                                    v-model='data.reason'
                                                    type="text">
                                      </v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-text-field label="Số tiền"
                                                    name='money'
                                                    v-model='data.money'
                                                    type="number">
                                      </v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-autocomplete
                                        v-model='data.person_charge'
                                        label="Người nhận"
                                        :items="listUser"
                                        item-text="name"
                                        item-value="id"
                                        name='person_charge'
                                      ></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-menu
                                        ref="menu1"
                                        :close-on-content-click="false"
                                        v-model="menu1"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        max-width="290px"
                                        min-width="290px">
                                        <v-text-field
                                          slot="activator"
                                          label="Ngày chi"
                                          v-model="data.date_excute"
                                          prepend-icon="event"
                                          readonly
                                        ></v-text-field>
                                        <v-date-picker v-model="data.date_excute" no-title
                                                       scrollable actions locale="vi-VN"
                                                       @input="menu1 = false">
                                        </v-date-picker>
                                      </v-menu>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 offset-md1>
                                      <v-menu
                                        ref="menu2"
                                        :close-on-content-click="false"
                                        v-model="menu2"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        max-width="290px"
                                        min-width="290px">
                                        <v-text-field
                                          slot="activator"
                                          label="Ngày hạch toán"
                                          v-model="data.date_accounting"
                                          prepend-icon="event"
                                          readonly
                                        ></v-text-field>
                                        <v-date-picker v-model="data.date_accounting" no-title
                                                       scrollable actions locale="vi-VN"
                                                       @input="menu2 = false">
                                        </v-date-picker>
                                      </v-menu>
                                    </v-flex>
                                  </v-layout>
                                </v-card-text>
                                <br>
                                <v-divider></v-divider>
                                <v-layout class="pt-3" justify-center>
                                  <v-flex xs6 class="text-xs-right">
                                    <v-btn
                                      small
                                      color="success"
                                      @click="update(data.id)">
                                      Update
                                    </v-btn>
                                  </v-flex>
                                  <v-flex xs6>
                                    <v-btn
                                      small
                                      color="error"
                                      @click.stop="$set(dialogN, props.item.id, false)">
                                      Hủy bỏ
                                    </v-btn>
                                  </v-flex>
                                </v-layout>
                              </v-form>
                            </v-flex>
                          </v-container>
                        </v-card>
                      </v-dialog>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn title="" class="ma-0" flat icon color="grey"
                                 @click='deleteExp(props.item.id)' v-on="on">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </v-btn>
                        </template>
                        <span>xóa chi tiêu</span>
                      </v-tooltip>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
            <pagination :pagination="pagination" v-on:click.native="getLists(pagination.current_page)" :offset="4"></pagination>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'
    import Pagination from "@/views/pagination/pagination.vue"
    import PlainTable from "@/views/expense/Create.vue"
    import Url from "@/api/local"
    export default {
        components:{
            Pagination,
            PlainTable,
        },
        data() {
            return {
                dialoghoan: false,
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                activeIndexd:0,
                offset: 4,
                dialogNote: [],
                dialogN: [],
                valid: true,
                menu1: false,
                menu2: false,
                ids: [],
                data : [],
                dialog: false,

                search: "",
                pay: [
                    {
                        id: 1,
                        title: 'Tiền mặt',
                    },
                    {
                        id: 2,
                        title: 'Chuyển khoản',
                    }
                ],
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Mã phiếu chi",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Lý do chi",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Ngày chi",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Ngày hạch toán",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Số tiền",
                            value: "",
                            align: "right",
                            sortable: false
                        },
                        {
                            text: "Người nhận",
                            value: "",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Action",
                            value: "",
                            align: "center",
                            sortable: false
                        }
                    ],
                    items: []
                },
            };
        },
        mounted() {
            this.getLists(this.pagination.current_page);
            this.getListUser();
        },
        computed: {
            ...mapGetters(['listUser']),
        },
        methods: {
            ...mapActions(['getPaginativeExpense','deleteExpense','updateExpense','getListUser' , 'editExpense']),

            submitSuccess() {
                this.dialog = false;
                this.getLists();
            },
            setActived(index) {
                this.activeIndexd = index
            },

            getLists (page) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.getPaginativeExpense(page)
                    .then(response => {
                        this.complex.items = response.data.success.data;
                        this.pagination = response.data.success;
                        loader.hide();
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');
                })
            },

            popupDestroy() {
                this.$confirm('Xóa chi tiêu!', '')
                    .then(response => {
                        this.complex.selected = this.complex.selected.map(i => i.id);
                        let ids = {"ids": this.complex.selected}
                        this.deleteExpense(ids).then(response => {
                            this.$success();
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            deleteExp(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa chi tiêu!', '')
                    .then(response => {
                        this.deleteExpense(ids).then(response => {
                            this.$success();
                            this.getLists();
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            view(id) {
                this.editExpense(id).then(response => {
                    this.data = response.data.success;
                }).catch(error => {
                    this.$error('Không lấy được dữ liệu!');
                })
            },

            update(id) {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.updateExpense(this.data).then(response => {
                    this.$success();
                    this.$set(this.dialogN, id, false);
                    loader.hide();
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
        },
        created() {
            this.getLists();
        }
    }
</script>
<style lang="stylus" scoped>
  .v-icon {
    size: 50px;
  }

  .search {
    border-radius: 5px;
    background: #dedcdc;
    height: 40px;
    width: 90%;
  }

  .search1 {
    float: right;
  }

  .icontimkiem {
    width: 40px;
    height: 40px;
    float: left;
  }

  .timkiem {
    height: 40px;
    float: left;
    width: 75%;
  }

  .searchtimkiem {
    height: 40px;
    width: 100%;
    outline: none;
    text-align: center;
  }

  .icon1 {
    font-size: 20px;
    color: gray;
  }

  .icon2 {
    font-size: 28px;
    color: gray;
  }

  .nut {
    outline: none;
    width: 40px;
    height: 40px
  }
  .actived {
    font-weight: 700;
    color: black;
    background: #eceaea;
  }
</style>
