<template>
    <div class="list-table">
        <v-container grid-list-xl fluid class="pt-0 pb-0">
            <v-layout row wrap>
                <v-flex lg12>
                    <div>
                        <div class="pa-0" v-if="listService">
                            <v-data-table
                                    :headers="complex.headers"
                                    :items="listService"
                                    item-key="id"
                                    dense
                                    select-all
                                    hide-default-footer
                                    hide-actions
                                    v-model="complex.selected"
                            >
                                <template slot="items" slot-scope="props" v-if="listService">
                                    <td>
                                        <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                    </td>
                                    <td>{{ props.item.category.name }}</td>
                                    <td>{{ props.item.name }}</td>
                                    <td>{{ props.item.department_id }}</td>
                                    <td class="text-xs-right red_color ">{{ formatPrice(props.item.sale_price) }}</td>
                                    <td class="text-center">
                                        <input class="inputcheckbox" v-model='props.item.number' type="text"
                                               name="name">
                                    </td>
                                </template>
                            </v-data-table>
                            <v-flex xs12 md12 lg12 class="pl-0 pr-0">
                                <v-divider></v-divider>
                                <v-layout wrap>
                                    <v-flex xs6 md6 lg6 class="text-xs-right">
                                        <v-btn
                                                color="success"
                                                text
                                                small
                                                @click="create">
                                            Thêm
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 md6 lg6>
                                        <v-btn
                                                color="error"
                                                text
                                                small
                                                @click='back'>
                                            Hủy bỏ
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        props: ['check', 'listChoiceService'],
        data() {
            return {
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Tên danh mục",
                            value: "category",
                            align: "left",
                            sortable: false
                        },
                        {
                            text: "Tên dịch vụ",
                            value: "name",
                            align: "center",
                            width: "100px !important",
                            sortable: false
                        },
                        {
                            text: "id phong ban",
                            value: "name",
                            align: "center",
                            width: "100px !important",
                            sortable: false
                        },
                        {
                            text: "Giá",
                            value: "sale_price",
                            align: "right",
                            sortable: false
                        },
                        {
                            text: "Số lượng",
                            value: "",
                            align: "center",
                            sortable: false
                        }
                    ],
                    items: []
                },
            }
        },
        computed: {
            ...mapGetters(['listService']),
        },
        watch: {
            listChoiceService(newSelectedArray) {
                this.complex.selected.concat(newSelectedArray);
                this.getListService();
            },
        },
        methods: {
            ...mapActions(['getListService']),
            create() {
                var check = false;
                this.$emit('recheck', check);
                this.$emit('list', this.complex.selected);
            },
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            back() {
                var backDialogService = false;
                this.$emit('callback', backDialogService);
            },
            getLists() {
                this.getListService();
            }
        },
        created() {
            this.getLists();
        }

    }
</script>
<style>
    .inputcheckbox {
        border: 1px solid red;
        border-radius: 4px;
        width: 30px;
        text-align: center;
    }

    .text-center {
        text-align: center !important;
    }
</style>