<template>
    <v-layout wrap class="px-4">
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation>
            <v-card>
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs12 md6 lg6>
                            <v-layout wrap>
                                <v-flex xs12 md10 offset-md1>
                                    <v-autocomplete
                                            v-model='form.category_id'
                                            label="Loại gói lẻ"
                                            :items="listCombo"
                                            item-text="name"
                                            item-value="id"
                                            :rules="[v => !!v || 'Nhập loại dịch vụ']"
                                            name='category_id'
                                            v-validate="'required'"
                                    ></v-autocomplete>
                                </v-flex>
                                <v-flex xs12 md10 offset-md1>
                                    <v-text-field label="Tên Combo"
                                                  v-model='form.name'
                                                  :rules="[v => !!v || 'Nhập tên combo']"
                                                  name='name'
                                                  v-validate="'required'"
                                                  :counter="30">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 md10 offset-md1>
                                    <v-text-field label="Mã Combo"
                                                  v-model='form.code'
                                                  :rules="[v => !!v || 'Nhập mã Combo']"
                                                  name='address'
                                                  v-validate="'required'"
                                                  type="text"
                                                  required>
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 md10 offset-md1>
                                    <v-textarea
                                            name="input-7-1"
                                            label="Mô tả"
                                            :rules="[v => !!v || 'Nhập mô tả combo']"
                                            v-validate="'required'"
                                            v-model='form.description'
                                    ></v-textarea>
                                </v-flex>
                                <v-flex xs12 sm12 md10 offset-md1 class="py-3">
                                    <v-btn
                                            color="accent"
                                            small
                                            @click.stop="dialog = true">
                                        Chọn dịch vụ
                                    </v-btn>
                                    <v-dialog
                                            v-model="dialog"
                                            persistent
                                            max-width="700"
                                    >
                                        <v-card>
                                            <plain-table :check='dialog' @callback='dialog = $event' @recheck='dialog = $event'
                                                         @list='dataService = $event'></plain-table>
                                        </v-card>
                                    </v-dialog>
                                    <v-card
                                            class="mx-auto mt-4"
                                            v-if="dataService[0]"
                                            outlined
                                    >
                                        <div class="overline mb-1 font-weight-black pa-2">
                                            Dịch vụ đã chọn
                                        </div>
                                        <div>
                                            <template>
                                                <v-data-table :headers="headers" :items="dataService" hide-actions
                                                              class="elevation-0">
                                                    <template slot="items" slot-scope="props">
                                                        <td>{{ props.item.name }}</td>
                                                        <td class="text-xs-right red_color ">{{
                                                            formatPrice(props.item.sale_price) }}
                                                        </td>
                                                        <td class="text-xs-center">
                                                            {{ props.item.number }}
                                                        </td>
                                                    </template>
                                                </v-data-table>
                                            </template>
                                        </div>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 md6 lg6>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md10 lg10 offset-md1>
                                    <v-text-field label="Đơn giá"
                                                  name='unit_price'
                                                  v-model='form.cost_price=unitPrice'
                                                  :rules="[v => !!v || 'Nhập đơn giá']"
                                                  v-validate="'required'"
                                                  readonly
                                    >
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md10 lg10 offset-md1>
                                    <v-text-field label="Max sale"
                                                  name='cost_price'
                                                  v-model='form.max_sale'
                                                  :rules="[v => !!v || 'Nhạp max sale']"
                                                  v-validate="'required'"
                                                  type="text">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md10 lg10 offset-md1>
                                    <v-text-field label="Đặt giá Combo"
                                                  name='cost_price'
                                                  v-model='form.price'
                                                  :rules="[v => !!v || 'Nhập giá đặt combo']"
                                                  v-validate="'required'"
                                                  type="text">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md10 lg10 offset-md1>
                                    <v-layout wrap>
                                        <v-flex xs12 md6 lg6>
                                            <v-checkbox label="Chọn ca"
                                                        @click="getCheckboxShift"
                                                        v-model="checkboxShift">
                                            </v-checkbox>
                                        </v-flex>
                                        <v-flex xs12 md6 lg6>
                                            <v-checkbox label="Tổng thời gian"
                                                        @click="getCheckboxSumTime"
                                                        v-model="checkboxSumTime"
                                            ></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12 sm12 md10 offset-md1 v-if="checkboxShift || checkboxSumTime">
                                    <v-card
                                            class="mx-auto"
                                            outlined
                                    >
                                        <div class="overline mb-1 font-weight-black pa-2">Time Limit</div>
                                        <div v-if="checkboxShift">
                                            <v-layout class="pl-4 pt-2 pb-2" v-for="(e,i) in shift" :key="i">
                                                <v-flex xs5 sm5 md3 lg3 class='pl-1 font-weight-medium'>{{e.name}}</v-flex>
                                                <v-flex xs7 sm7 md9 lg9>
                                                    <vue-timepicker format="HH:mm" v-model="e.timeBf"></vue-timepicker>
                                                </v-flex>
                                                <v-flex xs7 sm7 md9 lg9>
                                                    <vue-timepicker format="HH:mm" v-model="e.timeAt"></vue-timepicker>
                                                </v-flex>
                                            </v-layout>
                                        </div>
                                        <v-layout class="pl-4 pt-2 pb-2" v-if="checkboxSumTime">
                                            <v-flex xs5 sm5 md3 lg3 class='pl-1 font-weight-medium'>Thời gian: </v-flex>
                                            <v-flex xs7 sm7 md9 lg9>
                                                <vue-timepicker format="HH:mm" v-model="form.time_shift"></vue-timepicker>
                                            </v-flex>
                                        </v-layout>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                    <!--          </v-container>-->
                    <!-- <small>*indicates required field</small> -->
                </v-card-text>
                <v-layout class="pb-3" justify-center>
                    <v-flex xs6 class="text-xs-right">
                        <v-btn
                                color="success"
                                small
                                @click="create">
                            Thêm mới
                        </v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn
                                color="error"
                                small
                                @click="back">
                            Hủy bỏ
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-form>
    </v-layout>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import PlainTable from "@/views/combo/checkListService.vue"
    import VueTimepicker from 'vue2-timepicker'

    export default {
        components: {
            PlainTable,
            VueTimepicker
        },
        data: () => ({
            checkboxShift: false,
            checkboxSumTime: false,
            dataService: [],
            headers: [
                {text: "Name", align: "left", value: "name"},
                {text: "Sale price", align: "right", value: "price"},
                {text: "Number", align: "center", value: "number"},
            ],
            unit_price: 0,
            dialog: false,
            valid: true,
            menu1: null,
            shift: [
                {
                    name: 'Ca sáng',
                    timeBf: {
                        HH: '08',
                        mm: '00',
                    },
                    timeAt: {
                        HH: '14',
                        mm: '00',
                    },
                },
                {
                    name: 'Ca chiều',
                    timeBf: {
                        HH: '14',
                        mm: '00',
                    },
                    timeAt: {
                        HH: '20',
                        mm: '00',
                    },
                }
            ],
            form: {
                name: '',
                code: '',
                cost_price: 0,
                category_id: '',
                price: '',
                max_sale: '',
                description: '',
                time_limit: '',
                combo_service: [],
                time_shift: {
                    HH: '08',
                    mm: '00',
                }
            },
        }),
        computed: {
            ...mapGetters(['listCombo']),
            unitPrice() {
                var sum = 0;
                if (this.dataService.length) {
                    this.dataService.forEach(e => {
                        sum += parseFloat(e.sale_price) * e.number;
                    });
                }

                return sum;
            }

        },
        methods: {
            ...mapActions(['createCombo', 'getListCategoryCombo']),

            getCheckboxShift(){
                this.checkboxShift = true;
                this.checkboxSumTime = false;
            },

            getCheckboxSumTime(){
                this.checkboxShift = false;
                this.checkboxSumTime = true;
            },

            create() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                this.form.time_limit = JSON.stringify(this.shift);
                this.form.combo_service = this.dataService;
                if (this.checkbox) {
                    this.form.time_shift = [];
                }
                ;
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                        loader.hide();
                    } else {
                        this.createCombo(this.form).then(response => {
                            this.$success();
                            this.$router.push('/combo/view/' + response.data.data.id);
                            loader.hide();
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                            loader.hide();
                        })
                    }
                });
            },
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            back() {
                this.$router.push('/combo');
            },
        },
        created() {
            this.getListCategoryCombo();
        }
    }
</script>
<style scoped lang="stylus">

    .fix-height {
        margin-top: -15px;
        margin-bottom: 5px;
    }
</style>
