<template>
  <v-layout justify-center>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs5 md4 offset-md1>
                <v-text-field label="Tên Combo"
                              v-model='form.name'
                              :rules="[v => !!v || 'Nhập tên combo']"
                              name='name'
                              v-validate="'required'"
                              :counter="30">
                </v-text-field>
              </v-flex>
              <v-flex xs5 md4 offset-xs2>
                <v-text-field label="Mã Combo"
                              v-model='form.code'
                              :rules="[v => !!v || 'Nhập mã combo']"
                              name='address'
                              v-validate="'required'"
                              type="text"
                              required>
                </v-text-field>
              </v-flex>
              <v-flex xs5 md4 offset-md1>
                <v-textarea
                  name="input-7-1"
                  label="Mô tả"
                  :rules="[v => !!v || 'Nhập mô tả']"
                  v-validate="'required'"
                  v-model='form.description'
                ></v-textarea>
              </v-flex>
              <v-flex xs5 md4 offset-xs2>
                <v-autocomplete
                  v-model='form.category_id'
                  label="Loại dịch vụ"
                  :items="listCombo"
                  item-text="name"
                  item-value="id"
                  :rules="[v => !!v || 'Nhập loại dịch vụ']"
                  name='category_id'
                  v-validate="'required'"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm5 md4 offset-md1 class="py-3">
                <v-btn
                  color="accent"
                  small
                    @click.stop="dialog = true">
                  Chọn dịch vụ
                </v-btn>
                <v-dialog
                  v-model="dialog"
                  persistent
                  max-width="700"
                >
                  <v-card>
                    <plain-table :check='dialog' :listChoiceService="form.combo_service" @callback='dialog = $event' @recheck='dialog = $event' @list='dataService = $event'></plain-table>
                  </v-card>
                </v-dialog>
                <v-card
                  class="mx-auto mt-4"

                  outlined
                >
                  <div class="overline mb-1 font-weight-black pa-2">
                    Dịch vụ đã chọn
                  </div>
                  <template>
                    <v-data-table :headers="headers" :items="dataService" hide-actions class="elevation-0">
                      <template slot="items" slot-scope="props" v-if="dataService">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-right">{{ props.item.sale_price | formatPrice }}</td>
                        <td class="text-xs-right">
                          {{ props.item.number }}
                        </td>
                      </template>
                    </v-data-table>
                  </template>
                </v-card>
              </v-flex>

              <v-flex xs12  sm5 md4 offset-sm2 v-if="checkbox">
                <v-checkbox label="Chọn ca" v-model="checkbox"></v-checkbox>
                <v-card
                  class="mx-auto"
                  max-width="344"
                  outlined
                >
                  <div class="overline mb-1 font-weight-black pa-2">Time Limit</div>
                  <v-layout class="pa-1 mt-1" v-for="(e,i) in shift" :key="i">
                    <v-flex xs6 sm4 class='ml-1 font-weight-medium'>{{e.name}}</v-flex>
                    <v-flex xs6 sm4 offset-sm1 class="">
                      <vue-timepicker format="HH:mm" v-model="e.timeBf"></vue-timepicker>
                    </v-flex>
                    <v-flex xs6 sm4 class="">
                      <vue-timepicker format="HH:mm" v-model="e.timeAt"></vue-timepicker>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
              <v-flex  xs12  sm5 md5 offset-sm2 v-else>
                <v-checkbox label="Chọn ca" v-model="checkbox"></v-checkbox>
                Chọn khoảng thời gian Combo:
                <vue-timepicker format="HH:mm" v-model="time_shift"></vue-timepicker>
              </v-flex>
              <v-flex xs3 offset-xs1>
                <v-text-field label="Đơn giá"
                              name='unit_price'
                              v-model='form.cost_price = unitPrice'
                              :rules="[v => !!v || 'Nhập đơn giá']"
                              v-validate="'required'"
                              type="text">
                </v-text-field>
              </v-flex>
              <v-flex xs2 offset-xs1>
                <v-text-field label="Max sale"
                              name='max_sale'
                              :rules="[v => !!v || 'Nhập Max sale']"
                              v-model='form.max_sale'
                              type="text">
                </v-text-field>
              </v-flex>
              <v-flex xs3 offset-xs1>
                <v-text-field label="Đặt giá Combo"
                              name='form_price'
                              v-model='form.price'
                              :rules="[v => !!v || 'Nhập giá đặt combo']"
                              v-validate="'required'"
                              type="text">
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <!-- <small>*indicates required field</small> -->
        </v-card-text>
        <v-layout justify-center>
          <v-flex xs6 class="text-xs-right">
            <v-btn
              color="success"
              small
              @click="update">
              Cập nhật
            </v-btn>
          </v-flex>
          <v-flex xs6>
            <v-btn
              color="error"
              small
              @click="back">
              Hủy bỏ
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-form>
  </v-layout>
</template>
<script>
    import { mapGetters,mapActions } from 'vuex'
    import { VMoney } from "v-money"
    import PlainTable from "@/views/combo/checkListService.vue"
    import VueTimepicker from 'vue2-timepicker'

    export default {
        directives: { money: VMoney },
        components: {
            PlainTable,
            VueTimepicker
        },
        data: () => ({
            checkbox:false,
            time_shift:{
                HH:'',
                mm:''
            },  // số giờ cho 1 lần làm việc, ví dụ 8:30
            shift:[],
            dataService:[],
            money: {
                decimal: ',',
                thousands: '.',
                precision: 0,
                masked: false
            },
            headers: [
                { text: "Name", align: "left", value: "name"},
                { text: "Sale price", align: "right", value: "price"},
                { text: "Number", align: "right", value: "number" },
            ],
            unit_price:0,
            percent_discount:0,
            dialog: false,
            valid: true,
            form: [],
        }),
        computed: {
            ...mapGetters(['listCombo']),
            unitPrice() {
                var sum = 0;
                if(this.dataService.length){
                    this.dataService.forEach(e => {
                        sum += parseFloat(e.sale_price)*e.number;
                    });
                }
                return sum;
            }
        },
        methods: {
            ...mapActions(['getComboToOrder','getListCategoryCombo','updateCombo']),
            update () {
               
                this.form.time_limit = JSON.stringify(this.shift);
                this.form.combo_service = this.dataService;
                if(this.checkbox){
                    this.form.time_shift = null;
                }else{
                    this.form.time_shift = this.time_shift;
                }
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$warning();
                    } else {
                        this.updateCombo(this.form).then(response => {
                            this.$success();
                            this.$router.push('/combo');
                        }).catch(error => {
                            this.$error('Dữ liệu thêm mới không hợp lệ!');
                        })
                    }
                });
            },

            back(){
                this.$router.push('/combo');
            },
            getList(){
               
                this.getComboToOrder(this.$route.params.id).then(response => {
                    this.form = response.data.success;
                    if(!this.form.time_shift){
                        this.checkbox = true;
                    }else{
                        this.time_shift = [];
                        this.time_shift = JSON.parse(this.form.time_shift);
                    }
                    this.shift = JSON.parse(this.form.time_limit);
                    this.form.combo_service.forEach( e => {
                        this.dataService.push({
                            name: e.service_name,
                            number:e.number,
                            sale_price:e.sale_price,
                            service_id:e.service_id,
                        });
                    });
                    // console.log(this.dataService);
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
        },
        created(){
            this.getListCategoryCombo();
            this.getList();
        }
    }
</script>
<style scoped lang="stylus">

  .fix-height
    margin-top: -15px;
</style>
