<template>
    <div class="list-table">
        <v-container grid-list-xl fluid pa-0>
            <v-layout row wrap pa-0>
                <v-flex lg12 pt-0>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-text-field
                                    flat
                                    append-icon="search"
                                    placeholder="Type something"
                                    v-model="search"
                                    hide-details
                                    class="hidden-sm-and-down"
                            ></v-text-field>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click="createCom"
                                           v-if='!complex.selected.length' v-on="on">
                                        <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Tạo mới combo</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon color="grey" @click="dialogs=true"
                                           v-on="on">
                                        <i class="fa fa-plus-circle  fa-2x" aria-hidden="true"></i>
                                    </v-btn>
                                </template>
                                <span>Tạo mới loại combo</span>
                            </v-tooltip>
                            <div class="text-center">
                                <v-dialog persistent v-model="dialogs"
                                          width="500">
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation>
                                        <v-card>
                                            <plain-table
                                                    :check='dialogs'
                                                    @submitSuccess="submitSuccess"
                                                    @callback='dialogs = $event'
                                                    @recheck='dialogs = $event'
                                            >
                                            </plain-table>
                                        </v-card>
                                    </v-form>
                                </v-dialog>
                            </div>
                        </v-toolbar>
                        <div class="table_parent ">
                            <v-flex>
                                <v-data-table
                                        :headers="complex.headers"
                                        :items="complex.items"
                                        hide-default-footer
                                        hide-actions
                                >
                                </v-data-table>
                                <v-divider></v-divider>
                                <v-expansion-panel class="v-expansion">
                                    <v-expansion-panel-content class="v-expansion"
                                                               v-for='(e,k) in complex.items '
                                    >
                                        <template v-slot:header class="v-expansion">
                                            <v-flex>
                                                <v-layout>
                                                    <v-flex class=" md2 float-md-left pt-4 pl-3 titlea">{{ e.name }}
                                                    </v-flex>
                                                    <v-flex class=" md2 float-md-left titlea"></v-flex>
                                                    <v-flex class=" md4 float-md-left text-md-right pt-4 pr-5 titlea red_color  ">
                                                        {{ e.total | formatPrice }}
                                                    </v-flex>
                                                    <v-flex class=" md2 float-md-left  titlea"></v-flex>
                                                    <v-flex class="md2 pr-4 float-md-left  right ">
                                                        <v-flex class=" float-md-left pa-0 right ">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn class="ma-0" title="" flat icon
                                                                           @click.stop="$set(dialogN, e.id, true,viewCategory(e.id))"
                                                                           color="grey" v-on="on">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Sửa gói chụp</span>
                                                                <v-dialog persistent class="d-none"
                                                                          v-model="dialogN[e.id]"
                                                                          lazy max-width="600" height="800px" :key="1">
                                                                    <v-card>
                                                                        <v-container grid-list-md>
                                                                            <v-flex md10 offset-md1 xs12>
                                                                                <v-form
                                                                                        ref="data1"
                                                                                        v-model="valid">
                                                                                    <v-card-text>
                                                                                        <v-layout wrap>
                                                                                            <v-flex xs12 sm6 offset-md1
                                                                                                    md12>
                                                                                                <v-text-field
                                                                                                        v-model='data1.name'
                                                                                                        name='name'
                                                                                                        :counter="30"
                                                                                                        :rules="[v => !!v || 'Nhập tên loại gói lẻ']"
                                                                                                        label="Tên danh mục combo"
                                                                                                        required>
                                                                                                </v-text-field>
                                                                                            </v-flex>
                                                                                            <v-flex xs12 sm6 offset-md1
                                                                                                    md12>
                                                                                                <v-textarea
                                                                                                        name="description"
                                                                                                        v-model='data1.description'
                                                                                                        label="Mô tả loại gói lẻ"
                                                                                                        value=""
                                                                                                        hint="Hint text">
                                                                                                </v-textarea>
                                                                                            </v-flex>

                                                                                        </v-layout>
                                                                                    </v-card-text>
                                                                                    <br>
                                                                                    <v-divider></v-divider>
                                                                                    <v-layout class="mt-3"
                                                                                              justify-center>
                                                                                        <v-flex xs6
                                                                                                class="text-xs-right">
                                                                                            <v-btn small
                                                                                                   color="success"
                                                                                                   @click="update(data1.id)"
                                                                                            >
                                                                                                Update
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                        <v-flex xs6>
                                                                                            <v-btn small
                                                                                                   color="error"
                                                                                                   @click.stop="$set(dialogN, e.id, false)">
                                                                                                Hủy bỏ
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                    </v-layout>
                                                                                </v-form>
                                                                            </v-flex>
                                                                        </v-container>
                                                                    </v-card>
                                                                </v-dialog>
                                                            </v-tooltip>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn class="ma-0" title="" flat icon
                                                                           @click.stop="deleteSup( e.id )"
                                                                           color="grey" v-on="on">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Xóa gói chụp</span>
                                                            </v-tooltip>
                                                        </v-flex>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </template>
                                        <v-card>
                                            <v-card-text class="pt-0">
                                                <v-divider></v-divider>
                                                <v-flex md12 class=" pa-0 md12 float-md-left text-center"
                                                        v-for='(c,i) in e.combos'>
                                                    <v-divider></v-divider>
                                                    <v-layout>
                                                        <v-flex md4 xs2 class="float-md-left pl-5"
                                                                style="text-align: left;"><a @click="view(c.id)"> {{
                                                            c.name }} </a></v-flex>
                                                        <v-flex md2 xs2 class="float-md-left text-xs-left">{{ c.code
                                                            }}
                                                        </v-flex>
                                                        <v-flex md2 xs2
                                                                class="float-md-left  text-xs-right pr-5 mr-3 red_color">
                                                            {{ c.price | formatPrice }}
                                                        </v-flex>
                                                        <v-flex md2 xs2
                                                                class="float-md-left text-xs-left pr-4 mr-2 red_color">
                                                            {{ c.description }}
                                                        </v-flex>
                                                        <v-flex md2 xs2 class="float-md-left">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn class="ma-0" title="" flat icon
                                                                           @click.stop="edit(c.id)"
                                                                           color="grey" v-on="on">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Sửa gói combo</span>
                                                            </v-tooltip>

                                                            <div class="text-center d-none">
                                                                <v-dialog persistent v-model="dialogNote[c.id]"
                                                                          width="1000">
                                                                    <template>
                                                                        <v-layout justify-center>
                                                                            <v-form
                                                                                    ref="data"
                                                                                    v-model="valid"
                                                                                    lazy-validation>
                                                                                <v-card>
                                                                                    <v-card-text>
                                                                                        <v-container grid-list-md>
                                                                                            <v-layout wrap>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md1>
                                                                                                    <v-text-field
                                                                                                            label="Tên dịch vụ"
                                                                                                            v-model='data.name'
                                                                                                            :rules="[v => !!v || 'Nhập tên dịch vụ']"
                                                                                                            name='name'
                                                                                                            v-validate="'required'"
                                                                                                            :counter="30">
                                                                                                    </v-text-field>
                                                                                                </v-flex>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md2>
                                                                                                    <v-text-field
                                                                                                            label="Mã dịch vụ"
                                                                                                            v-model='data.code'
                                                                                                            :rules="[v => !!v || 'Nhập mã dịch vụ']"
                                                                                                            name='address'
                                                                                                            v-validate="'required'"
                                                                                                            type="text"
                                                                                                            required>
                                                                                                    </v-text-field>
                                                                                                </v-flex>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md1>
                                                                                                    <v-autocomplete
                                                                                                            v-model='data.category_id'
                                                                                                            label="Loại gói lẻ"
                                                                                                            :items="listCategory"
                                                                                                            item-text="name"
                                                                                                            item-value="id"
                                                                                                            :rules="[v => !!v || 'Nhập loại gói lẻ']"
                                                                                                            name='category_id'
                                                                                                            v-validate="'required'"
                                                                                                    ></v-autocomplete>
                                                                                                </v-flex>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md2>
                                                                                                    <v-text-field
                                                                                                            label="Giá nhập"
                                                                                                            name='cost_price'
                                                                                                            v-model='data.cost_price'
                                                                                                            :rules="[v => !!v || 'Nhập vào giá nhập']"
                                                                                                            v-validate="'required'"
                                                                                                            type="number">
                                                                                                    </v-text-field>
                                                                                                </v-flex>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md1>
                                                                                                    <v-text-field
                                                                                                            label="Giá bán"
                                                                                                            v-model='data.sale_price'
                                                                                                            :rules="[v => !!v || 'Nhập giá bán']"
                                                                                                            v-validate="'required'"
                                                                                                            name='sale_price'
                                                                                                            type="number"

                                                                                                    ></v-text-field>
                                                                                                </v-flex>
                                                                                                <v-flex xs12 sm6 md4
                                                                                                        offset-md2>
                                                                                                    <v-text-field
                                                                                                            label="Giá giảm"
                                                                                                            v-model='data.minus_price'
                                                                                                            :rules="[v => !!v || 'Nhập giá giảm']"
                                                                                                            v-validate="'required'"
                                                                                                            name='minus_price'
                                                                                                            type="number"
                                                                                                    ></v-text-field>
                                                                                                </v-flex>

                                                                                            </v-layout>
                                                                                        </v-container>
                                                                                    </v-card-text>
                                                                                    <v-divider></v-divider>
                                                                                    <v-layout class="pb-1"
                                                                                              justify-center>
                                                                                        <v-flex xs6
                                                                                                class="text-xs-right">
                                                                                            <v-btn
                                                                                                    color="success"
                                                                                                    small
                                                                                                    @click="update(data.id)">
                                                                                                Update
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                        <v-flex xs6>
                                                                                            <v-btn
                                                                                                    color="error"
                                                                                                    small
                                                                                                    @click="$set(dialogNote, c.id, false)">
                                                                                                Hủy bỏ
                                                                                            </v-btn>
                                                                                        </v-flex>
                                                                                    </v-layout>
                                                                                </v-card>
                                                                            </v-form>
                                                                        </v-layout>
                                                                    </template>
                                                                </v-dialog>
                                                            </div>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn title="" class="ma-0" flat icon color="grey"
                                                                           @click='deleteCom(c.id)' v-on="on">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Xóa gói combo</span>
                                                            </v-tooltip>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-flex>
                        </div>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Pagination from "@/views/pagination/pagination.vue"
    import PlainTable from "@/views/combo/CreateCategoryCombo.vue"
    import Url from "@/api/local"

    export default {
        components: {
            Pagination,
            PlainTable
        },
        data() {
            return {
                dialog: false,
                dialogs: false,
                dialogNote: [],
                dialogN: [],
                valid: true,
                dialog: false,
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                activeIndexd: 0,
                offset: 4,
                ids: [],
                data: [],
                data1: [],
                search: "",
                complex: {
                    selected: [],
                    headers: [
                        {
                            text: "Tên gói combo",
                            value: "name",
                            align: 'left',
                            sortable: false
                        },
                        {
                            text: "Mã combo",
                            value: "code",
                            align: 'center',
                            sortable: false
                        },
                        {
                            text: "Giá combo",
                            value: "category_id",
                            align: 'center',
                            sortable: false
                        },
                        {
                            text: "Mô tả",
                            value: "sale_price",
                            align: 'left',
                            sortable: false
                        },
                        {
                            text: "Action",
                            value: "",
                            align: "center",
                            sortable: false
                        }
                    ],
                    items: []
                },
            }
        },
        computed: {
            ...mapGetters(['listCombo', 'listCategory']),
        },
        mounted() {
            this.getLists();
        },
        methods: {
            ...mapActions(['deleteCombo', 'getListCategoryCombo', 'getPaginativeCategory', 'deleteCategory', 'updateCategory']),

            setActived(index) {
                this.activeIndexd = index
            },
            submitSuccess() {
                this.dialogs = false;
                this.getLists();
            },
            viewCategory(id) {

                this.data1 = [];
                var vie = Url.url + '/api/category/';
                return new Promise((resolve, reject) => {
                    axios.get(vie + id)
                        .then(response => {
                            this.data1 = response.data.success;
                        })
                        .catch(error => {
                            return reject(error);
                        })
                })
            },
            update(id) {
                this.updateCategory(this.data1).then(response => {
                    this.$success();
                    this.$set(this.dialogN, id, false);
                    this.getLists();
                }).catch(error => {
                    this.$error('Dữ liệu thêm mới không hợp lệ!');
                })
            },
            deleteSup(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa loại combo!', '')
                    .then(response => {
                        this.deleteCategory(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.getLists();
                                this.data = [];
                            } else {
                                this.$error('Không xóa được!');
                                this.data = [];
                                this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            getLists() {
                this.getPaginativeCategory(1)
                    .then(response => {
                        this.complex.items = response.data.success;
                        this.complex.items.forEach(e => {
                            e.total = 0;
                            e.combos.forEach(k => {
                                k.price ? e.total += parseFloat(k.price) : e.total += 0;
                            });

                        });
                    }).catch(error => {
                    this.$error('Dữ liệu gặp sự cố!');

                })
            },

            deleteCom(id) {
                let ids = {"ids": [id]};
                this.$confirm('Xóa Combo!', '')
                    .then(response => {
                        this.deleteCombo(ids).then(response => {
                            if (response.data.message == 1) {
                                this.$success();
                                this.data = [];
                                this.getLists();
                            } else {
                                this.$error(' Đã có hóa đơn');
                                this.data = [];
                                this.getLists();
                            }
                        }).catch(error => {
                            this.$error('Dữ liệu xóa không hợp lệ!');
                        })
                    }).catch(error => {
                    this.$error('Xóa không thành công!');
                })
            },
            view(id) {
                this.$router.push('/combo/view/' + id);
            },
            edit(id) {

                this.$router.push('/combo/edit/' + id);
            },
            createCom() {
                this.$router.push('/combo/create');
            },

        },
        created() {
            this.getListCategoryCombo();
        }
    }
</script>
<style lang="stylus" scoped>

    .actived {
        font-weight: 700;
        color: black;
        background: #eceaea;
    }

    .titlea {
        font-size: 13px;
        font-weight: 700;
    }

</style>


