<template>
    <v-container class="pt-0" fluid>
        <v-card>
            <v-card-text>
                <!--logo header-->
                <v-layout mt-4 row wrap>
                    <v-flex md1 pl-3 mr-3>
                        <v-list-tile-avatar :size="60">
                            <img style="margin-left: 60px" src="/static/logo.png">
                        </v-list-tile-avatar>
                    </v-flex>
                    <v-flex md10 pl-3>
                        <v-list-tile-content>
                            <div class="font-weight-medium display-1">BOKEH LAH</div>
                        </v-list-tile-content>
                    </v-flex>
                </v-layout>
                <!--category_name-->
                <v-layout md12 row wrap>
                    <v-flex ma-auto pt-2>
                        <div class="text-md-center font-weight-regular font-italic display-3">{{form.category_name}}
                        </div>
                    </v-flex>
                </v-layout>
                <!--combo name-->
                <v-layout row wrap>
                    <v-flex md3 ma-auto pt-2 mb-5>
                        <div class="text-md-center font-weight-regular headline">{{form.name}}</div>
                        <v-divider style="max-height: 5px; height: 3px" color="red"></v-divider>
                    </v-flex>
                </v-layout>
                <!--giá-->
                <v-layout class="mb-3" row wrap>
                    <v-flex md2 mt-4 ml-5 ma-auto pt-2>
                        <div class="font-weight-medium title">Giá</div>
                    </v-flex>
                    <v-flex md8 mt-4 pt-2>
                        <div class="font-weight-medium title red_color">  <p style="text-decoration: line-through;color:red;"> {{ form.cost_price | formatPrice }} đ  </p> {{ form.price | formatPrice}} đ  </div>
                    </v-flex>
                </v-layout>
                <!--Mô tả-->
                <v-divider style="max-height: 1px; height: 3px" color="red"></v-divider>
                <v-layout v-if="form.description" class="mb-3" row wrap>
                    <v-flex md2 mt-2 ml-5 ma-auto pt-2>
                        <div class="font-weight-medium title">Mô tả</div>
                    </v-flex>
                    <v-flex md8 mt-2 pt-2>
                        <div class="font-weight-medium"><pre class="title">{{form.description}}</pre></div>
                    </v-flex>
                </v-layout>
                <!--các dịch vụ-->
                <v-divider style="max-height: 1px; height: 3px" color="red"></v-divider>
                <v-list v-for="(item, key) in form.combo_service" :key="key">
                    <v-layout class="mb-3" row wrap>
                        <v-flex md2 mt-4 ml-5 ma-auto pt-0>
                            <div class="font-weight-medium title">{{key}}</div>
                        </v-flex>
                        <v-flex md8 mt-2 pt-1>
                            <div class="font-weight-medium title pa-1" v-for="e in item" :key="e.service_name">
                              {{e.number}} {{e.service_name}}
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-divider style="max-height: 1px; height: 1px" color="red"></v-divider>
                </v-list>
                <v-layout class="mb-3" row wrap>
                    <v-flex md2 mt-4 ml-5 ma-auto pt-2>
                        <div class="font-weight-medium title">Giới hạn thời gian</div>
                    </v-flex>
                    <v-flex flex md8 mt-4 pt-2 v-if="form.time_shift">
                      <div class="font-weight-medium title">{{form.time_shift.HH}}giờ {{form.time_shift.mm}}phút</div>
                    </v-flex>
                    <v-flex v-else md4 mt-4 pt-2 v-for="(e,i) in form.time_limit" :key="e.name">
                        <div class="font-weight-medium title">{{e.name}}</div>
                        <div style="margin-top: 15px" class="font-weight-medium title">- Từ {{ e.timeBf.HH }} : {{e.timeBf.mm}} - Đến {{e.timeAt.HH}} :{{e.timeAt.mm}}  </div>
                    </v-flex>
                      <button v-shortkey.once="['ctrl', 'shift', 'o']" @shortkey="theAction()"></button>
                      <v-dialog
                        v-model="dialog"
                        max-width="500"
                      >
                        <v-card>
                          <v-card-title class="headline">max sale của combo là : {{form.max_sale | formatPrice}} đồng.</v-card-title>
                          <v-card justify="center" class="text-center">
                            <div class=" text-center pa-2">
                              <v-btn
                                small
                                color="success"
                                text
                                @click="dialog = false"
                              >
                                Xác nhận
                              </v-btn>
                            </div>
                          </v-card>
                        </v-card>
                      </v-dialog>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {
        components: {},
        data: () => ({
            dialog:false,
            menu1: false,
            menu2: false,
            form: [],
            time: [],
        }),

        computed: {},
        methods: {
            ...mapActions(['getCombo']),

            getList() {
                let loader = this.$loading.show({
                          loader: 'dots'
                      });
                this.getCombo(this.$route.params.id).then(response => {
                    this.form = response.data.success;
                    loader.hide();
                    if(this.form.time_shift){
                        this.form.time_shift = JSON.parse(this.form.time_shift);
                    };
                    this.form.time_limit = JSON.parse(this.form.time_limit);
                }).catch(error => {
                    this.$error('Không tải được dữ liệu!');
                    loader.hide();
                })
            },

            theAction (event) {
                this.dialog = true;
            }
        },
        created() {
            this.getList();
        }
    }
</script>