<template>
    <v-card class="elevation-1 pa-3 login-card">
        <v-card-text>
            <div class="layout column align-center mb-2">
                <img src="/static/logo_login.jpg" alt="Vue Material Admin" width="120" height="120"/>
                <!--<h1 class="flex my-4 primary&#45;&#45;text font-weight-medium">Đăng nhập</h1>-->
            </div>
            <v-form @submit.prevent="login">
                <v-text-field
                        append-icon="person"
                        name="login"
                        label="Login"
                        type="text"
                        v-model="model.username"
                ></v-text-field>
                <v-text-field
                        append-icon="lock"
                        name="password"
                        label="Password"
                        id="password"
                        type="password"
                        v-model="model.password"
                ></v-text-field>
                <div v-if="model.has_error && !success">
                    <!-- <p v-if="error == 'login_error'">Validation Errors.</p> -->
                    <p>Tên tài khoản hoặc mật khẩu không đúng!</p>
                </div>
                <div class="login-btn">
                    <v-spacer class="mt-4"></v-spacer>
                    <v-btn type="submit" block color="primary">Đăng nhập</v-btn>
                </div>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>

    export default {
        data: () => ({
            use_id: '',
            project_key: '5601505fb9b69983934ea45adbdce349',
            token_firebase: '',
            model: {
                username: "",
                password: "",
                success: false,
                has_error: false,
                error: ''
            }
        }),

        created() {
            this.messaging.requestPermission()
                .then(() => this.messaging.getToken())
                .then((token) => {
                    this.tokenFirebase(token);
                })
                .catch(function (err) {
                    console.log("Unable to get permission to notify.", err);
                });
        },
        
        mounted (){
            return axios.get('http://localhost:3000/api/test').then((res)=>{
                console.log(res)
            })
        },
        methods: {
            login() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                // get the redirect object
                var app = this;
                 this.$router.push("/dashboard");
                this.$auth.login({
                    data: {
                        email: app.model.username,
                        password: app.model.password,
                    },
                    success: function () {
                        this.postTokenFirebase();
                        // handle redirection
                        this.$success();
                        app.model.success = true;
                        this.$router.push("/dashboard");
                        loader.hide();
                    },
                    error: function (res) {
                        loader.hide();
                        app.model.has_error = true;
                        app.model.error = res.data.error
                    },
                    rememberMe: false,
                    fetchUser: true
                })
            },
            postTokenFirebase() {
                this.user_id = this.$auth.user().id;
                return new Promise((resolve, reject) => {
                    axios.post('https://notify.etstech.vn/api/save-token?user_id='
                        + this.user_id + '&token_firebase=' + this.token_firebase + '&project_key=' + this.project_key)
                        .then(response => {
                        }).catch(error => {
                        this.$error('Đăng ký nhận thông báo không thành công');
                    })
                })
            },

            tokenFirebase(token) {
                this.token_firebase = token;
            }
        }
    }

</script>
<style scoped lang="css"></style>
