<template>
    <v-layout justify-center>
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
        </template>
        <v-card>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Họ và tên"
                                          required
                                          :rules="nameRules"
                                          :counter="30">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Mã khách hàng"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field
                                    label="Địa chỉ"
                                    required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Email"
                                          :rules="emailRules"
                                          :counter="30"
                                          required>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Số điện thoại"
                                          type="number"
                                          required>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field
                                    label="Mã số thuế"
                                    required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Tài khoản ngân hàng" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Lĩnh vực kinh doanh"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field
                                    label="Ngày cưới"></v-text-field>
                        </v-flex>
                        <!-- <v-flex xs12 sm6 md4>
                          <v-text-field label="Ngày sinh" required>
                          </v-text-field>
                            <v-date-picker
                                v-model="date"
                                width="290"
                                class="mt-4"
                              ></v-date-picker>
                        </v-flex> -->
                        <v-flex xs12 sm6 md4>
                            <v-menu
                                    lazy
                                    :close-on-content-click="false"
                                    v-model="menu"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    :nudge-right="40"
                                    max-width="290px"
                                    min-width="290px"
                            >
                                <v-text-field
                                        slot="activator"
                                        label="Ngày sinh"
                                        v-model="date"
                                        prepend-icon="event"
                                        readonly
                                ></v-text-field>
                                <v-date-picker v-model="date" no-title scrollable actions>
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-text-field label="Tuổi"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-textarea
                                    name="input-7-1"
                                    label="Mô tả"
                                    value=""
                                    hint="Hint text"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                </v-container>
                <!-- <small>*indicates required field</small> -->
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text>Close</v-btn>
                <v-btn color="blue darken-1" text>Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-layout>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            nameRules: [
                v => !!v || 'Name is required',
                v => v.length <= 10 || 'Name must be less than 10 characters',
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
            date: null,
            menu: false,
            form: {
                name: '',
                code: '',
                address: '',
                mobile_phone: '',
                email_address: '',
                tax_code: '',
                bank_code: '',
                description: '',
                field_work: '',
                married_date: '',
                children: '',
                date_of_birth: '',
            },
        }),
    }
</script>