<template>
  <v-card class="ml-4 mr-4">
    <v-toolbar card dense color="transparent">
      <v-spacer></v-spacer>
      <v-btn flat icon @click.stop="$set(dialogNote,1, true)" v-if='!selected.length'>
        <i title="Tạo mới tài khoản" class=" icon2 fa fa-plus-circle" aria-hidden="true"></i>
      </v-btn>
      <v-dialog persistent scrollable v-model="dialogNote[1]" width="1200">
        <template v-slot:activator="{ on }"></template>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card>
            <v-card-text>
              <v-layout wrap mb-4>
                <v-flex xs12 sm6 md5 ml-5 offset-md1>
                  <v-text-field label="Họ và tên"
                                v-model='form.name'
                                name='name'

                                :counter="50"
                                v-validate="'required'"
                                :rules="[v => !!v || 'Nhập họ và tên']">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 offset-md1>
                  <v-autocomplete
                    v-model='form.department_id'
                    label="Phòng ban"
                    :items="department"
                    item-text="name"
                    item-value="id"
                    :rules="[v => !!v || 'Nhập phòng ban']"
                    name='department'
                    v-validate="'required'"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6 md5 ml-5 offset-md1>
                  <v-text-field label="Email "
                                v-model='form.email'
                                :rules="emailRules"
                                name='emailRules'
                                type="email"
                                v-validate="'required'">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 offset-md1>
                  <v-text-field label="Số điện thoại"
                                :rules="[v => !!v || 'Nhập số điện thoại']"
                                name="phone_number"
                                mask="## #### #### ####"
                                v-validate="'required'"
                                v-model='form.phone_number'
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 ml-5 offset-md1>
                  <v-text-field label="Mật khẩu" v-if="form.id==0"
                                v-model='form.password'
                                :rules="[v => !!v || 'Nhập password']"
                                v-validate="'required'"
                                type='password'
                                name='password'>
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 offset-md1>
                  <v-text-field label="Lương cơ bản"
                                v-model.lazy='basic_salary'
                                v-money="basic_salary != '' ? money : ''"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 ml-5 offset-md1>
                  <v-text-field label="Nhập lại mật khẩu" v-if="form.id==0"
                                :rules="[v => !!v || 'Nhập lại password']"
                                v-validate="'required'"
                                name='c_password'
                                v-model='form.c_password'
                                type="password">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md5 offset-md1 float-left>
                  <div class="left" :key="k" v-for="(cb,k) in percentage_of_sales_input">
                    <v-flex class="left" md3 pa-1 float-left>
                      <v-text-field label="Từ"
                                    v-model.lazy='cb.from'
                                    v-money="cb.from != '' ? money : ''"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex class="left" md3 pa-1 float-left>
                      <v-text-field label="Đến"
                                    v-model.lazy='cb.to'
                                    v-money="cb.to != '' ? money : ''"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex class="left" md4 pa-1 float-left>
                      <v-text-field label="Tiền thưởng"
                                    v-model.lazy='cb.total'
                                    v-money="cb.total != '' ? money : ''"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex class="left" md2 pa-1 float-left>
                      <v-btn flat icon @click="addRowCombo(0)" v-if="k==0">
                        <i class=" icon2 fa fa-plus-circle" aria-hidden="true"> </i>
                      </v-btn>
                    </v-flex>
                    <v-flex class="left" md2 pt-1 float-left>
                      <v-btn flat icon @click="popDelete(k)" v-if="k!=0">
                        <v-icon dark class=" icon2">remove_circle</v-icon>
                      </v-btn>
                    </v-flex>
                  </div>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
              <v-flex md12 py-2 pl-5><h4><b> Tùy chỉnh quyền </b></h4></v-flex>
              <v-layout wrap pl-5 pr-4>
                <v-flex class="md4 mt-3" :key="index" v-for="(data, index) in roles">
                  <v-data-table
                    :headers="[
                                                    {
                                                        text: data.name,
                                                        value: data.name,
                                                        sortable: false,
                                                        align: 'left',
                                                    },
                                                ]"
                    select-all
                    :items="data.items"
                    checkable
                    hide-actions
                    item-key="id"
                    v-model="data.selected"
                    class="mr-4 elevation-5"
                  >
                    <template slot="items" slot-scope="props">
                      <td style="width: 30px">
                        <v-checkbox style="width: 30px"
                                    primary hide-details
                                    v-model="props.selected"
                        ></v-checkbox>
                      </td>
                      <td class="text-xs-left">{{props.item.permissions}}</td>
                    </template>
                  </v-data-table>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-divider></v-divider>
            <v-layout class="py-3" justify-center>
              <v-flex xs6 class="text-xs-right">
                <v-btn color="success" v-if="form.id==0"
                       small
                       @click="create">
                  Thêm mới
                </v-btn>
                <v-btn color="success" v-else
                       small
                       @click="edit(form.id)">
                  Cập nhật
                </v-btn>
              </v-flex>
              <v-flex xs6>
                <v-btn color="error"
                       small
                       @click="$set(dialogNote, 1, false)">
                  Hủy bỏ
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-form>
      </v-dialog>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table :headers="headers" :items="items" hide-actions class="elevation-0">
          <template slot="items" slot:activator slot-scope="props">
            <tr @click="setActived(props.item.id)" :class="{ 'actived': activeIndexd === props.item.id}">
              <td>
                <v-avatar size="36px">
                  <img :src="props.item.avatar" :alt="props.item.username"/>
                </v-avatar>
              </td>
              <td>{{ props.item.name }}</td>
              <td class="text-xs-left">{{ props.item.phone_number }}</td>
              <td class="text-xs-left">{{ props.item.email }}</td>
              <td class="text-xs-left">{{ props.item.department_name }}</td>
              <v-btn class="ml-5" flat icon @click.stop="$set(dialogN, props.item.id, true)" color="grey">
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-dialog class="ma-2"
                        v-model="dialogN[props.item.id]"
                        width="500"
              >
                <template v-slot:activator="{ on }">
                </template>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-card v-if="props.item.percentage_of_sales">
                    <v-data-table
                      hide-default-footer
                      hide-actions
                      :headers="headersSalary"
                      :items="props.item.percentage_of_sales"
                      class="elevation-1"
                    >
                      <template v-slot:items="props">
                        <td class="text-xs-center red_color">{{ props.item.from | formatPrice}}
                        </td>
                        <td class="text-xs-center red_color">{{ props.item.to | formatPrice }}
                        </td>
                        <td class="text-xs-center red_color">{{ props.item.total | formatPrice
                          }}
                        </td>
                      </template>
                    </v-data-table>
                    <v-divider></v-divider>
                    <v-layout class="py-3" justify-center>
                      <v-flex xs6 class="text-xs-right">
                        <v-btn color="success"
                               small
                               @click="create">
                          Thêm mới
                        </v-btn>
                      </v-flex>
                      <v-flex xs6>
                        <v-btn color="error"
                               small
                               @click="$set(dialogN, props.item.id, false)">
                          Hủy bỏ
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card>
                  <v-card v-else>
                    <v-layout>
                      <v-flex class="pa-5 display-1 text-xs-center" style="color: red">Chưa có mức thưởng</v-flex>
                    </v-layout>
                  </v-card>
                </v-form>
              </v-dialog>
              <td class=" pa-0 text-xs-right">
                <v-btn class="float-left ma-0" flat icon color="grey">
                  <v-icon title="Cấp lại mật khẩu" @click='resetPass(props.item.id)'>replay</v-icon>
                </v-btn>
                <v-btn v-if="props.item.department_name == 'admin'" class="float-left ma-0" flat icon
                       color="grey">
                </v-btn>
                <v-btn v-else class="float-left ma-0" flat icon color="grey" @click.stop="$set(dialogNote, 1, true);viewUser(props.item.id)">
                  <v-icon>edit</v-icon>
                </v-btn>

                <v-btn v-if="props.item.department_name == 'admin'" class="float-left ma-0" flat icon
                       color="grey">
                </v-btn>
                <v-btn v-else class="float-left ma-0" flat icon color="grey">
                  <v-icon style="color: green" title="Khóa tài khoản" v-if="props.item.lock == 0"
                          @click='lockAccount(props.item.id)'>lock
                  </v-icon>
                  <v-icon style="color: red" title="Mở khóa tài khoản" v-else
                          @click='unlockAccount(props.item.id)'>lock_open
                  </v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
    </v-card-text>
    <pagination :pagination="pagination"
                v-on:click.native="getLists(pagination.current_page)"
                :offset="4">
    </pagination>
  </v-card>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import Pagination from "@/views/pagination/pagination.vue"
  import Url from "@/api/local"
  import {VMoney} from 'v-money'

  export default {
    directives: {money: VMoney},
    components: {
      Pagination
    },
    data() {
      return {
        userRoles: [],
        percentage_of_sales_input: [
          {
            from: '',
            to: '',
            total: '',
          }
        ],
        basic_salary: 0,
        money: {},
        //==================================================
        pagination: {
          total: 0,
          per_page: 2,
          from: 1,
          to: 0,
          current_page: 1
        },
        activeIndexd: 0,
        offset: 4,
        id: '',
        roles: [],
        department: [],
        dialogNote: [],
        dialogUsers:[],
        dialogN: [],
        items: [],
        selected: [],
        valid: true,
        nameRules: [
          v => !!v || 'Name is required',
        ],
        emailRules: [
          v => !!v || 'Nhập E-mail ',
          v => /.+@.+/.test(v) || 'Nhập đúng E-mail',
        ],
        menu1: false,
        menu2: false,
        form: {
          id:0,
          name: '',
          username: '',
          email: '',
          password: '',
          c_password: '',
          department_id: '',
          basic_salary: '',
          phone_number: '',
          roles: [],
          percentage_of_sales: [
            {
              from: '',
              to: '',
              total: '',
            }
          ]
        },
        headers: [
          {
            text: "",
            align: "center",
            sortable: false,
            value: "avatar",
          },
          {
            text: "Họ tên",
            align: "left",
            value: "name",
            sortable: false
          },
          {
            text: "Số điện thoại",
            align: "left",
            value: "name",
            sortable: false
          },
          {
            text: "Email",
            align: "left",
            value: "name",
            sortable: false
          },
          {
            text: "Phòng ban",
            align: "left",
            value: "name",
            sortable: false
          },
          {
            text: "Chi tiết lương",
            align: "left",
            value: "name",
            sortable: false
          },
          {
            text: "Hoạt động",
            value: "action",
            align: "center",
            sortable: false
          }
        ],

        headersSalary: [
          {
            text: 'Từ',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Đến',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Lương doanh số',
            align: 'center',
            sortable: false,
          },
        ],
      }
    },
    mounted() {
      this.getLists(this.pagination.current_page);
    },

    methods: {
      ...mapActions(['LockUser', 'Register', 'Reset', 'getPaginativeUser', 'getDetail','editUser']),
      setActived(index) {
        this.activeIndexd = index
      },
      getLists(page) {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        this.getPaginativeUser(page)
          .then(response => {
            this.items = response.data.success.data;
            this.pagination = response.data.success;
            loader.hide();
          }).catch(error => {
          this.$error('Dữ liệu gặp sự cố!');
        })
      },
      popDelete(key) {
        this.percentage_of_sales_input.splice(key, 1);
      },
      addRowCombo(row) {
        this.percentage_of_sales_input.push({})
        this.form.percentage_of_sales.push({})
      },
      lockAccount(id) {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        this.$confirm('Khóa tài khoản!', '')
          .then(response => {
            this.LockUser(id).then(response => {
              this.$success();
              loader.hide();
              this.getLists();
            }).catch(error => {
              this.$error('Khóa tài khoản không hợp lệ!');
            })
          }).catch(error => {
          this.$error('Khóa tài khoản không thành công!');
        })
      },
      resetPass(id) {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        let ids = {"id": id};
        this.$confirm('Cấp lại mật khẩu!', '')
          .then(response => {
            this.Reset(ids).then(response => {
              loader.hide();
              this.$email();
              this.getLists();
            }).catch(error => {
              this.$error('Cấp lại không thành công!');
            })
          }).catch(error => {
          this.$error('Cấp lại không thành công!');
        })
      },
      unlockAccount(id) {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        this.$confirm('Mở khóa tài khoản!', '')
          .then(response => {
            this.LockUser(id).then(response => {
              this.$success();
              loader.hide();
              this.getLists();
            }).catch(error => {
              this.$error('Mở khóa không thành công!');
            })
          }).catch(error => {
          this.$error('Mở khóa không thành công!');
        })
      },
      create() {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        var arrayValueId = [];
        this.roles.forEach((e, i) => {
          if (e.selected.length) {
            arrayValueId[i] = e.selected.map(i => i.id);
          }
        });
        var arrayValueIDConcat = [];
        arrayValueId.forEach(e => {
          arrayValueIDConcat = arrayValueIDConcat.concat(e);
        });
        this.form.roles = arrayValueIDConcat;
        this.form.basic_salary = this.unMaskedNumber(this.basic_salary);
        this.percentage_of_sales_input.forEach((item, key) => {
          this.form.percentage_of_sales[key].from = this.unMaskedNumber(item.from);
          this.form.percentage_of_sales[key].to = this.unMaskedNumber(item.to);
          this.form.percentage_of_sales[key].total = this.unMaskedNumber(item.total);
        });
        this.$validator.validateAll().then((result) => {
          if (!result) {
            this.$warning();
            loader.hide();
          } else {
            if (this.$refs.form.validate()) {
              this.snackbar = true;
              this.Register(this.form).then(response => {
                this.$success();
                this.$set(this.dialogNote, 1, false);
                loader.hide();
                this.getLists();
              }).catch(error => {
                this.$error('Dữ liệu thêm mới không hợp lệ!');
                loader.hide();
              })
            }
          }
        });
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
        this.clearData();
      },
      clearData(){
        this.percentage_of_sales_input=[];
        this.roles.forEach((group, key) => {
          group.selected=[];
        });
      }
      ,
      edit(id) {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        var arrayValueId = [];
        this.roles.forEach((e, i) => {
          if (e.selected.length) {
            arrayValueId[i] = e.selected.map(i => i.id);
          }
        });
        var arrayValueIDConcat = [];
        arrayValueId.forEach(e => {
          arrayValueIDConcat = arrayValueIDConcat.concat(e);
        });
        this.form.roles = arrayValueIDConcat;

        var percentage_of_sales=[];
        this.form.percentage_of_sales=[];
        this.percentage_of_sales_input.forEach((item, key) => {
          percentage_of_sales.push({
            from:item.from,
            to:item.to,
            total:item.total
          })
        });
        this.form.percentage_of_sales=JSON.stringify(percentage_of_sales);
        this.editUser(this.form).then(response => {
          this.$success();
          loader.hide();
          this.$set(this.dialogUsers, id, false);
          this.getLists();

        }).catch(error => {
          this.$error('Cập nhật không thành công!');
        })
        this.clearData();
      },
      viewUser(id){
        let loader = this.$loading.show({
          loader: 'dots'
        });

        this.getDetail(id).then(response => {
          this.clearData();
          this.form = response.data.success;

          //set roles checked
          this.roles.forEach((group, key) => {
              this.form.roles.forEach(item=>{
                  var itemExists=group.items.find(o=>o.id==item);
                  if(itemExists!=undefined){
                    group.selected.push(itemExists);
                  }
              });
          });
          console.log(this.roles);


          //map percent of sales
          this.form.percentage_of_sales.forEach((item, key) => {
            this.percentage_of_sales_input.push({
              from:item.from,
              to:item.to,
              total:item.total
            })
          });
          loader.hide();
        }).catch(error => {
          this.$error('Xảy ra lỗi trong quá trình lấy dữ liệu!');
        })
      },
      getListsRoles() {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        let list = Url.url + '/api/roles';
        return new Promise((resolve, reject) => {
          axios.get(list)
            .then(response => {
              this.roles = response.data.success;
              loader.hide();
            }).catch(error => {
            this.$error('Không tải được danh sách quyền!');
          })
        })
      },
      getListsDepartment() {
        let loader = this.$loading.show({
          loader: 'dots'
        });
        let list = Url.url + '/api/user/department';
        return new Promise((resolve, reject) => {
          axios.get(list)
            .then(response => {
              this.department = response.data.success;
              loader.hide();
            }).catch(error => {
            this.$error('Không tải được danh sách phòng ban!');
          })
        })
      },
    },

    created() {
      this.getListsRoles();
      this.getListsDepartment()
    },
  }
</script>
<style lang="stylus" scoped>
  .add {
    float: left;
    width: 100%;
  }

  .icon2 {
    font-size: 24px;
    color: gray;
  }

  .left {
    float: left;
  }

  .actived {
    font-weight: 700;
    color: black;
    background: #eceaea;
  }

</style>
