<template>
    <v-card>
        <v-flex class="pl-5 pr-5 pt-3 pb-0">
            <v-layout v-for="(cb,k) in form.order_service" :key="k" wrap>
                <v-flex class="rowCombo">
                    <v-divider v-if="k+1 > 1" style="max-height: 5px; height: 1px" color="red"
                               class="mt-5 mb-2"></v-divider>
                    <v-layout wrap v-if="setCheckSingleOrCombo == 1">
                        <v-flex class="overline mb-1 font-weight-black">
                            <a>Combo {{k+1}}</a>
                        </v-flex>
                    </v-layout>
                    <v-layout wrap>
                        <v-flex xs10 sm10 v-if="setCheckSingleOrCombo == 1">
                            <v-layout wrap>
                                <v-flex xs12 sm6 pt-2 pr-5 pb-3>
                                    <v-autocomplete
                                            label="Loại gói chụp"
                                            :items="listCombo"
                                            item-text="name"
                                            item-value="id"
                                            :rules="[v => !!v || 'Item is required']"
                                            name='category_id'
                                            v-model="cb.combo_category_id"
                                            @change="selectionChangedCategory(cb.combo_category_id)"
                                            v-validate="'required'"
                                    ></v-autocomplete>
                                </v-flex>
                                <v-flex xs12 sm6 pt-2 pl-5 pb-3>
                                    <v-autocomplete
                                            label="Tên gói chụp"
                                            :items="comboByCategory"
                                            item-text="name"
                                            item-value="id"
                                            v-model="cb.combo_id"
                                            @change="selectionChangedCombo(cb.combo_id,k)"
                                            :rules="[v => !!v || 'Item is required']"
                                            name='combos'
                                            v-validate="'required'"
                                    ></v-autocomplete>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs2 sm2 pt-2 pl-5 pb-3 v-if="setCheckSingleOrCombo == 1">
                            <v-btn small color="success" v-if="k>0" @click.stop="removeCombo(k)">Xóa combo</v-btn>
                            <v-btn small color="success" @click.stop="cb.dialog=true" v-if="setCheckSingleOrCombo == 1">
                                Thêm dịch vụ
                            </v-btn>
                            <v-btn small color="success" @click="addRowCombo(0)" v-if="setCheckSingleOrCombo == 1">Thêm
                                combo
                            </v-btn>
                            <v-dialog
                                    v-model="cb.dialog"
                                    persistent
                                    max-width="700"
                            >
                                <v-card>
                                    <plain-table :check='cb.dialog'
                                                 @callback='cb.dialog = $event'
                                                 @recheck='cb.dialog = $event'
                                                 @list='cb.add_service = $event'
                                    >
                                    </plain-table>
                                </v-card>
                            </v-dialog>
                        </v-flex>
                        <v-flex xs12 sm12 md12 lg12 v-if="setCheckSingleOrCombo == 0">
                            <plain-table :check='cb.dialog'
                                         @callback='back'
                                         @recheck='sendDataFormParent'
                                         @list='cb.add_service = $event'
                            >
                            </plain-table>
                        </v-flex>
                    </v-layout>
                    <v-layout wrap class="pb-4" v-if="setCheckSingleOrCombo == 1">
                        <v-flex xs10 sm10>
                            <v-card v-if="cb.service_ids[0]"
                                    class="mx-auto"
                                    outlined>
                                <v-card-title class="overline mb-1 font-weight-black pa-2">
                                    Dịch vụ trong Combo
                                </v-card-title>
                                <template>
                                    <v-data-table :headers="headers"
                                                  :items="cb.service_ids"
                                                  hide-actions
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td>{{ props.item.service_name }}</td>
                                            <td class="text-xs-center">
                                                {{ props.item.number }}
                                            </td>
                                            <td class="text-xs-center">
                                                <v-btn icon small @click="popupDelete(props.index,k)">
                                                    <v-icon dark>remove_circle</v-icon>
                                                </v-btn>
                                            </td>
                                        </template>
                                    </v-data-table>
                                </template>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout wrap class="pt- 2 pb-4" v-if="cb.add_service[0] && setCheckSingleOrCombo == 1">
                        <v-flex xs10 sm10>
                            <v-card
                                    class="mx-auto"
                                    outlined
                            >
                                <v-card-title class="overline mb-1 font-weight-black pa-2">
                                    Danh sách dịch vụ thêm
                                </v-card-title>
                                <template>
                                    <v-data-table :headers="headersAddService"
                                                  :items="cb.add_service"
                                                  hide-actions
                                                  class="elevation-0">
                                        <template slot="items" slot-scope="props">
                                            <td>{{ props.item.name }}</td>
                                            <td class="text-xs-right">{{ props.item.sale_price | formatPrice
                                                }}
                                            </td>
                                            <td class="text-xs-center">
                                                {{ props.item.number }}
                                            </td>
                                            <td class="text-xs-center">
                                                <v-btn icon small
                                                       @click="popupDeleteExtraService(props.index,k)">
                                                    <v-icon dark>remove_circle</v-icon>
                                                </v-btn>
                                            </td>
                                        </template>
                                    </v-data-table>
                                </template>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout wrap class="pt-2" v-if="setCheckSingleOrCombo == 1">
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Giá gói chụp" readonly v-model="cb.price_combo"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4" v-if="cb.add_service[0]">
                            <v-text-field label="Giá dịch vụ thêm" readonly
                                          v-model="cb.price_add_service=totalAddService(k)"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4" v-else>
                            <v-text-field label="Giá dịch vụ thêm" readonly></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Tổng giá dịch vụ" readonly
                                          v-model="cb.total_price= cb.price_add_service + cb.price_combo"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Giảm giá" v-model="cb.sale_off"
                                          :rules="[saleOffRule(cb.sale_off,cb.max_sale)]"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2>
                            <v-text-field label="Thành tiền"
                                          :value="cb.total_price - cb.sale_off"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout d-none wrap class="pt-2" v-if="setCheckSingleOrCombo == 0">
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Giá gói chụp" readonly v-model="cb.price_combo"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4" v-if="cb.add_service[0]">
                            <v-text-field label="Giá dịch vụ thêm" readonly
                                          v-model="cb.price_add_service=totalAddService(k)"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4" v-else>
                            <v-text-field label="Giá dịch vụ thêm" readonly></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Tổng giá dịch vụ" readonly
                                          v-model="cb.total_price= cb.price_add_service + cb.price_combo"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2 class="pr-4">
                            <v-text-field label="Giảm giá (%)" v-model="cb.sale_off"
                                          :rules="[saleOffRule(cb.sale_off,cb.max_sale)]"></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm2>
                            <v-text-field label="Thành tiền"
                                          :value="cb.total_price - cb.sale_off"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-flex><v-flex xs12 md12 sm12 v-if="setCheckSingleOrCombo == 1">
            <v-divider></v-divider>
            <v-layout py-4 justify-center>
                <v-flex xs6 class="text-xs-right">
                    <v-btn
                            color="success"
                            small
                            @click="sendDataFormParent()"
                    >
                        Thêm
                    </v-btn>
                </v-flex>
                <v-flex xs6 class="text-xs-left">
                    <v-btn
                            color="error"
                            small
                            @click="back()"
                    >
                        Hủy bỏ
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-card>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import PlainTable from "@/views/combo/checkListService.vue"

    export default {
        props: ['setCheckSingleOrCombo'],
        components: {
            PlainTable,
        },
        data: () => ({
            check: '',
            form: {
                customer_id: '',
                note: '',
                total_price: 0,
                payment_method: 0,
                shooting_location: '',
                vat: 0,
                sale_off: 0,
                order_service: [
                    {
                        price_combo: 0,
                        max_sale: 0,
                        price_add_service: 0,
                        dialog: false,
                        combo_category_id: '',
                        combo_id: '',
                        total_price: 0,
                        sale_off: 0,
                        service_ids: [],
                        add_service: []
                    }
                ]
            },
            headers: [
                {text: "Dịch vụ", align: "left", value: "name"},
                {text: "Số lượng", align: "center", value: "number"},
                {text: "Hành động", align: "center", value: "action"},
            ],
            headersAddService: [
                {text: "Dịch vụ thêm", align: "left", value: "name"},
                {text: "Giá", align: "right", value: "price"},
                {text: "Số lượng", align: "center", value: "number"},
                {text: "Hành động", align: "center", value: "action"},
            ],
        }),
        mounted() {
            this.getListCategoryCombo();
        },
        computed: {
            ...mapGetters(['getListCategory', 'listCombo', 'comboByCategory']),
        },
        watch: {},
        methods: {
            ...mapActions([
                "createOrderNew",
                "getListCategoryCombo",
                "getComboByCategory",
                "getComboToOrder",
                "pushNotification"
            ]),
            back() {
                var out = false;
                this.$emit('callBackCreateDialog', out);
            },
            selectionChangedCategory(category_id) {
                if (category_id != 0) {
                    this.getComboByCategory(category_id);
                }
            },
            saleOffRule(value, check) {
                if (value > check) {
                    return "Số tiền sale off lớn hơn max sale";
                } else {
                    return false;
                }
            },
            totalPriceCombo(key, del = 0) {
                if ((del == 1) && this.form.order_service[key].service_ids) {
                    this.form.order_service[key].price_combo = 0;
                    this.form.order_service[key].service_ids.forEach(e => {
                        this.form.order_service[key].price_combo += parseFloat(e.sale_price * e.number);
                    });
                }
                ;
            },
            selectionChangedCombo(combo_id, key) {
                if (combo_id != 0) {
                    this.getComboToOrder(combo_id).then(response => {
                        this.form.order_service[key].service_ids = [];
                        this.form.order_service[key].service_ids = response.data.success.combo_service;
                        this.form.order_service[key]['price_combo'] = parseFloat(response.data.success.price);
                        this.form.order_service[key].max_sale = parseFloat(response.data.success.max_sale)
                        this.totalPriceCombo(key);
                    }).catch(error => {
                        this.$error('Dữ liệu thêm mới không hợp lệ!');
                    })
                }
            },

            totalAddService(key) {
                var sum = 0;
                if (this.form.order_service[key].add_service) {
                    this.form.order_service[key].add_service.forEach(e => {
                        sum += parseFloat(e.sale_price) * parseFloat(e.number);
                    })
                }
                return sum;
            },

            totalAllPrice() {
                var sum = 0;
                this.form.order_service.forEach(e => {
                    sum += e.total_price - e.sale_off * e.total_price / 100;
                });
                return sum;
            },

            addRowCombo(row) {
                this.form.order_service.push({
                    price_combo: 0,
                    price_add_service: 0,
                    menu1: false,
                    dialog: false,
                    combo_category_id: '',
                    combo_id: '',
                    total_price: 0,
                    sale_off: 0,
                    service_ids: [],
                    add_service: []
                });
            },
            removeCombo(combo_key) {
                var it = this.form.order_service;
                it.splice(combo_key, 1);
            },
            popupDelete(service_key, key) {
                this.$confirm('Xóa dịch vụ trong Combo!', '')
                    .then(response => {
                        this.form.order_service[key].service_ids.splice(service_key, 1);
                        var del = 1;
                        this.totalPriceCombo(key, del);
                    }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },
            popupDeleteExtraService(service_key, key) {
                this.$confirm('Xóa dịch vụ thêm!', '')
                    .then(response => {
                        this.form.order_service[key].add_service.splice(service_key, 1);
                        this.totalAddService(key);
                    }).catch(error => {
                    this.$error('Dữ liệu xóa không hợp lệ!');
                })
            },
            sendDataFormParent() {
                if (this.setCheckSingleOrCombo == 1) {
                    this.form.order_service.forEach((value, key) => {
                        this.listCombo.forEach((item) => {
                            if (value.combo_category_id == item.id) {
                                this.form.order_service[key].combo_category_name = item.name;
                            }
                        });
                        this.comboByCategory.forEach((item) => {
                            if (value.combo_id == item.id) {
                                this.form.order_service[key].combo_name = item.name;
                            }
                        });
                    });
                }
                this.form.checkReturn = this.setCheckSingleOrCombo;
                this.$emit('getDataDialogCreate', this.form);
            },
        },
    }
</script>